  <footer>
    <div class="footer-above">
      <div class="container">
        <div class="row">
          <div class="col-md-4 text-center">
            <h3 class="white">Location</h3>
              <p>213 South Jennings Avenue
              <br>Fort Worth, Texas  76104-1107
              <br>USA
              <br>&nbsp;
              <br><a href="tel:+1-800-478-9473">800-4PTWISE</a>
              <br><a href="tel:+1-817-377-2807">817-377-2807</a>
              </p>
          </div>
  
          <div class="col-md-4 text-center">
            <h3 class="white">Around the Web</h3>
              <div class="rounded-social-buttons">
                <a class="social-button facebook" title="Pointwise on Facebook" href="https://www.facebook.com/pointwise/"></a>
                <a class="social-button twitter" title="Pointwise on Twitter" href="https://twitter.com/pointwise"></a>
                <a class="social-button linkedin" title="Pointwise on LinkedIn" href="https://www.linkedin.com/company/pointwise-inc-/"></a>
                <a class="social-button youtube-play" title="Pointwise on YouTube" href="https://www.youtube.com/user/CFDMeshing"></a>
                <a class="social-button github" title="Pointwise on GitHub" href="http://pointwise.github.io/"></a>
                <a class="social-button instagram" title="Pointwise on Instagram" href="https://www.instagram.com/cfdmeshing/"></a>
              </div>
              <a href="https://ptwi.se/2IPjeEk">
              <img data-src="/images/sboy.png" class="center-block img-fluid" alt="Pointwise Wins Fort Worth Small Business of the Year"/>
            </a>
              <img data-src="/images/working-parents-badge.png" class="center-block img-fluid" alt="Pointwise Best Place for Working Parents in 2020 Badge" />
          </div>
  
          <div class="col-md-4 footer-input text-center">
            <h3 class="white">Join Our Mailing List</h3>
            <!-- CTA -->
              <div class="center-block text-center">
                <!--HubSpot Call-to-Action Code --><span class="hs-cta-wrapper" id="hs-cta-wrapper-181795a3-cd7a-4549-bda9-dc3b8e15dcbe"><span class="hs-cta-node hs-cta-181795a3-cd7a-4549-bda9-dc3b8e15dcbe" id="hs-cta-181795a3-cd7a-4549-bda9-dc3b8e15dcbe"><!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]--><a href="https://cta-redirect.hubspot.com/cta/redirect/3788790/181795a3-cd7a-4549-bda9-dc3b8e15dcbe" ><img class="hs-cta-img" id="hs-cta-img-181795a3-cd7a-4549-bda9-dc3b8e15dcbe" style="border-width:0px;" src="https://no-cache.hubspot.com/cta/default/3788790/181795a3-cd7a-4549-bda9-dc3b8e15dcbe.png"  alt="Sign Up"/></a></span><script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script><script type="text/javascript"> hbspt.cta.load(3788790, '181795a3-cd7a-4549-bda9-dc3b8e15dcbe', {}); </script></span><!-- end HubSpot Call-to-Action Code -->
               </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-below text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-12" class="white">
            Copyright &copy; 1996-<script type="text/javascript">
		          document.write(new Date().getFullYear());
              </script> Pointwise, Inc.
            <br /><a class="white" href="https://www.pointwise.com/legal/index.html">Legal Notices</a>
            <br /><a class="white" href="https://www.pointwise.com/legal/privacy.html">Privacy Policy</a>
            <br /><a class="white" href="mailto:webmaster@pointwise.com">webmaster@pointwise.com</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  
  <!--SWIFTYPE SEARCH -->
  <script type="text/javascript">
    (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
    (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
    e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
    })(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');
  
    _st('install','MqoHzHY_QYgFXPDsngRB','2.0.0');
  </script>
  
  <!--HUBSPOT TRACKING -->
  <!–- Start of HubSpot Embed Code -–>
  <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/3788790.js"></script>
  <!–- End of HubSpot Embed Code -–>

  <script type="text/javascript"> _linkedin_partner_id = "1447876"; window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || []; window._linkedin_data_partner_ids.push(_linkedin_partner_id); </script><script type="text/javascript"> (function(){var s = document.getElementsByTagName("script")[0]; var b = document.createElement("script"); b.type = "text/javascript";b.async = true; b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js"; s.parentNode.insertBefore(b, s);})(); </script> <noscript> <img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=1447876&fmt=gif" /> </noscript>
  
  