<h2>Ask a Question</h2>

<form data-toggle="validator"
      role="form"
      method="post"
      action="/form-support">

    <div class="form-group">
        <label for="customerID" class="control-label">Customer ID <span class="red">*</span><a
                    data-tooltip="Your Customer ID is printed in the Messages window when Pointwise starts."
                    data-tooltip-location="top"> <i class="fa fa-question-circle help-icon"></i></a></label>
        <input type="text" class="form-control" id="customerID" name="customerID" data-error="Please fill out this field." required />
        <div class="help-block with-errors"></div>
    </div>

    <div class="form-group">
        <label for="name" class="control-label">Given Name <span class="red">*</span></label>
        <input type="text" class="form-control" id="name" name="name" data-error="Please fill out this field." placeholder="First Name" required />
        <div class="help-block with-errors"></div>
    </div>

    <div class="form-group">
        <label for="surname" class="control-label">Surname <span class="red">*</span></label>
        <input type="text" class="form-control" id="surname" name="surname" data-error="Please fill out this field." placeholder="Last Name" required />
        <div class="help-block with-errors"></div>
    </div>

    <div class="form-group">
        <label for="emailaddress" class="control-label">E-Mail <span class="red">*</span></label>
        <input type="email" class="form-control" id="emailaddress" name="emailaddress" data-error="Please provide a valid email address." required />
        <div class="help-block with-errors"></div>
    </div>

    <input type="text" id="email" name="email"/>

    <div class="form-group">
        <label class="control-label" for="comments">Use the following space to send us any questions you may have about Pointwise.</label>
        <textarea class="form-control" rows="5" id="comments" name="comments"></textarea>
    </div>

    <div class="form-group">
        <div class="g-recaptcha" data-callback="verifyRecaptchaCallback" data-expired-callback="expiredRecaptchaCallback" data-sitekey="6Lc5PjMUAAAAAPYyLp5pAMZgdwIgFzlww8iLyVWs"></div>
        <input type="hidden" class="form-control" data-recaptcha="true" required>
        <div class="help-block with-errors"></div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
<small>
    Pointwise, Inc. is committed to protecting your privacy. You can review our privacy policy at <a href="../legal/privacy.html">www.pointwise.com/legal/privacy.html</a>.
</small>