<h4>Learn More</h4>
<svg class="nav-lines">
    <line class="nav-blue-social" x1="0" y1="1" x2="120" y2="1"/>
    <line class="nav-grey-social" x1="120" y1="1" x2="275" y2="1"/>
</svg>
<div class="side-nav">
    <p><a href="mailto:support@pointwise.com">Email Us</a></p>
    <p><a href="../gethelp/">Get Help</a></p>
    <p><a href="../licenses/">Request A License</a></p>
    <p><a href="../services/">Consulting Services</a></p>
    <p><a href="../downloads/">Download Pointwise</a></p>
    <p><a href="../training/">Register for Training</a></p>
</div>
<br>