<h4>More Support</h4>
<svg class="nav-lines">
    <line class="nav-blue-social" x1="0" y1="1" x2="140" y2="1"/>
    <line class="nav-grey-social" x1="140" y1="1" x2="275" y2="1"/>
</svg>
<div class="side-nav">
    <p><a href="mailto:support@pointwise.com">Email Support</a></p>
    <p><a href="../gethelp/">Get Help</a></p>
    <p><a href="../downloads/">Downloads</a></p>
    <p><a href="../licenses/">Request a License</a></p>
    <p><a href="../training/">Register for Training</a></p>
    <p><a href="../support/release-notes.html">Release Notes</a></p>
    <p><a href="../glyph/">Glyph Scripting</a></p>
    <p><a href="../plugins/">Plugin SDK</a></p>
    <p><a href="../sales/">International Tech Support</a></p>
    <p><a href="../doc/user-manual/index.html">User Manual</a></p>
</div>