<h4>More About Pointwise</h4>
<svg class="nav-lines">
    <line class="nav-blue-subscribe" x1="0" y1="1" x2="210" y2="1"/>
    <line class="nav-grey-subscribe" x1="200" y1="1" x2="275" y2="1"/>
</svg>
<div class="side-nav">
    <p><a href="../news/">News</a></p>
    <p><a href="../events/">Events</a></p>
    <p><a href="../sales/">Sales Offices</a></p>
    <p><a href="../contact/">Contact Us</a></p>
    <p><a href="../about/travel.html">Visit Us</a></p>
    <p><a href="../about/bicocchi.html">Our Century-Old Building</a></p>
    <p><a href="../careers/">Open Positions</a></p>
    <p><a href="../about/staff.html">Staff</a></p>
    <p><a href="../about/partners.html">Partners</a></p>
</div>