<h4>Products</h4>
<svg class="nav-lines">
    <line class="nav-blue-social" x1="0" y1="1" x2="155" y2="1"/>
    <line class="nav-grey-social" x1="155" y1="1" x2="275" y2="1"/>
</svg>
<div class="side-nav">
    <p><a href="../pointwise/">Pointwise</a></p>
    <p><a href="../training/">Training</a></p>
    <p><a href="../services/">Consulting & Projects</a></p>
    <p><a href="../teaching/">Teaching Partnership</a></p>
    <p><a href="../yplus/">Y+ Calculator</a></p>
</div>