<nav id="mainNav" class="navbar navbar-expand-xl navbar-light navbar-custom fixed-top">

    <div class="container">

        <a class="navbar-brand" href="/"><img src="/images/pw-logo-tagline.svg" alt="Pointwise Company Logo"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navbarSupportedContent" class="collapse navbar-collapse justify-content-end">
            <ul class="nav navbar-nav mr-auto mt-2 mt-lg-0">

                <li class="hidden">
                    <a href="#page-top"></a>
                </li>

                <li class="nav-item">
                    <a href="/products">Products</a>
                </li>

                <li class="nav-item">
                    <a href="/solutions">Solutions</a>
                </li>

                <li class="nav-item">
                    <a href="/events">Events</a>
                </li>

                <li class="nav-item">
                    <a href="/sales">Sales</a>
                </li>

                <li class="nav-item">
                    <a href="/support">Support</a>
                </li>

                <li class="nav-item">
                    <a href="/about">About</a>
                </li>

                <li class="nav-item">
                    <a href="https://blog.pointwise.com">Blog</a>
                </li>

                <li class="nav-item navbar-cta">
                    <!--HubSpot Call-to-Action Code --><span class="hs-cta-wrapper"
                                                             id="hs-cta-wrapper-679b18a5-4048-40af-bb56-25cb03bca7a8"><span
                                class="hs-cta-node hs-cta-679b18a5-4048-40af-bb56-25cb03bca7a8"
                                id="hs-cta-679b18a5-4048-40af-bb56-25cb03bca7a8"><!--[if lte IE 8]>
                            <div id="hs-cta-ie-element"></div><![endif]--><a
                                    href="https://cta-redirect.hubspot.com/cta/redirect/3788790/679b18a5-4048-40af-bb56-25cb03bca7a8"><img
                                        class="hs-cta-img" id="hs-cta-img-679b18a5-4048-40af-bb56-25cb03bca7a8"
                                        style="border-width:0px;"
                                        src="https://no-cache.hubspot.com/cta/default/3788790/679b18a5-4048-40af-bb56-25cb03bca7a8.png"
                                        alt="FREE TRIAL"/></a></span><script charset="utf-8"
                                                                             src="https://js.hscta.net/cta/current.js"></script><script
                                type="text/javascript"> hbspt.cta.load(3788790, '679b18a5-4048-40af-bb56-25cb03bca7a8', {}); </script></span>
                    <!-- end HubSpot Call-to-Action Code -->
                </li>

            </ul>
        </div>
    </div><!--/.nav-collapse -->


</nav>

<noscript>
    <p>
        In order to view this page JavaScript must be enabled in your browser.
    </p>
</noscript>

