<h2>Other Versions</h2>
<p>
    <a href="release-notes.html">Pointwise V18.4 R3</a><br/>
    <a href="release-notes-V184R2.html">Pointwise V18.4 R2</a><br/>
    <a href="release-notes-V183R2.html">Pointwise V18.3 R2</a><br />
    <a href="release-notes-V183R1.html">Pointwise V18.3 R1</a><br />
    <a href="release-notes-V182R2.html">Pointwise V18.2 R2</a><br />
    <a href="release-notes-V182R1.html">Pointwise V18.2 R1</a><br />
    <a href="release-notes-V181R2.html">Pointwise V18.1 R2</a><br />
    <a href="release-notes-V181R1.html">Pointwise V18.1 R1</a><br />
    <a href="release-notes-V18R4.html">Pointwise V18.0 R4</a><br />
    <a href="release-notes-V18R3.html">Pointwise V18.0 R3</a><br />
    <a href="release-notes-V18R2.html">Pointwise V18.0 R2</a><br />
    <a href="release-notes-V18R1.html">Pointwise V18.0 R1</a>
</p>