<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Analytics -->
    <% include ../../partials/ga-includes %>

    <!-- META SETTINGS -->
    <% include ../../partials/meta-settings.ejs %>

	<!-- PAGE TITLE -->
	<title>Pointwise Enables Revolutionary Building Construction</title>
	
  <meta name="robots" content="noindex">

	<!-- CSS FILES -->
	<% include ../../partials/css-includes %>

</head>

<body id="page-top">

	<noscript>
		<p>
			In order to view this page JavaScript must be enabled in your browser.
		</p>
	</noscript>	

	<!-- TOP NAVIGATION -->
	<% include ../../partials/navbar %>

	<div class="container-fluid">
		<div class="row">
			<div class="image-case">
				<img data-src="images/Miami-Pavilion-3840x2160.png" alt="Largest 3D Printed Pavilion in the World" class="img-fluid"/>
				<h1><span class="case-caption">Pointwise Enables Revolutionary Building Construction</span></h1>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-8">

				<h2>
					&ldquo;And now for something completely different&rdquo;
				</h2>

				<p>
					Pointwise&reg; is broadly recognized as a leader in CFD (computational fluid dynamics) meshing but how about as a leader in enabling 3D printing of large-scale structures? Branch Technology recognizes a problem with efficiency, cost, and effectiveness in building construction. They leverage inspiration from nature and large scale robotic additive manufacturing to revolutionize building construction and became the first company to 3D print large-scale structures. Using Pointwise for structured mesh generation enables Branch Technology to increase reliability of their process while simultaneously decreasing the time to generate printer instructions.
				</p>

				<p>
					Branch Technology utilizes a proprietary technology and process to drive robots to 3D print large scale truss structures which included defining a regular grid to drive the robots. Dr. C. Bruce Hilbert reviewed the process of generating the regular grid and quickly recognized that these regular grids were very similar to structured meshes.
				</p>

				<blockquote class="blockquote text-center pw-blue">
					<p class="mb-0">&ldquo;You are making a structured grid. That problem has been solved for thirty years.&rdquo;</p>
					<footer class="blockquote-footer"><cite title="Source Title">Dr. C. Bruce Hilbert, Branch Technology</cite></footer>
				</blockquote>

				<p>
					Monty Python’s Flying Circus made the phrase &ldquo;And now for something completely different&rdquo; famous in the world of humor. Read on further to learn how Dr. Hilbert of Branch Technology made this phrase applicable to CFD Meshing.
				</p>

				<h2>We have a problem</h2>

				<p>
					The building construction industry is highly inefficient with a study from NSF highlighting $30B in wasted materials and $73B in wasted labor annually. The building construction industry is also very costly since every project is custom and incurs significantly higher costs due to customization. This is further compounded by an inability to effectively transfer digital design information to a construction site.
				</p>

				<blockquote class="blockquote text-center pw-blue">
					<p class="mb-0">&ldquo;If you want anything more than a box your cost goes up by an order of magnitude.&rdquo;</p>
					<footer class="blockquote-footer"><cite title="Source Title">Dr. C. Bruce Hilbert, Branch Technology</cite></footer>
				</blockquote>

				<h2>Branch Technology envisions a solution</h2>

				<p>
					Branch Technology set out to enable the same qualities of strength, resilience, beauty, and variety found in nature to be applied to large scale structures. The process started with a recognition that internal mesh like structures were the key to nature’s flexibility and strength. This recognition of the role of structured meshing led Branch Technology to investigate and develop a process to drive large industrial robots. Branch Technology used their own proprietary print technology and large industrial robots to develop a unique process to 3D print large scale structures.
				</p>

				<img data-src="images/Fig1-Additive-Manufacturing-800x450.png" alt="Geometry to Structured Mesh to 3D Print"
					class="img-fluid center-block" />
				<figcaption>
					Large scale robotic additive manufacturing
				</figcaption>

				<h2>Pointwise enables the solution</h2>
				
				<p>
					A regular grid is required to drive the robots. Initially Branch Technology developed a visual computer script to generate the underlying regular grid. Dr. Hilbert quickly recognized that the structured meshing in Pointwise could enable more reliable and efficient generation of the underlying grid across a broader range of geometries to drive the 3D printing process. The new process leveraged Pointwise tools to go from overall geometry to a structured mesh that provided the grid definition to drive the 3D printing by robots.
				</p>

				<img data-src="images/Fig2-Geometry-Structured-Mesh-800x450.png" alt="Large scale robotic additive manufacturing"
					class="img-fluid center-block" />
				<figcaption>
					Geometry to Structured Mesh to 3D Print
				</figcaption>

				<p>
					The improved process of using Pointwise to go from geometry to structured mesh to 3D print rather than the previous scripting method enabled Branch Technology to increase reliability while decreasing the time to generate printer instructions from weeks to hours and increased the breadth of potential designs.
				</p>

				<h2>Branch Technology makes 3D printed large scale structures a reality</h2>

				<p>
					With the design and 3D printing process leveraging Pointwise meshing established, Branch Technology moved on to applying the approach to a wide range of projects including: a structure in Cheekwood Gardens, Design Miami Pavilion, OneC1ty Band Pavilion in Nashville, Tennessee, and many more. Each project brought more and more complex geometries and meshing requirements including the use of transition blocks in Pointwise to handle rapidly changing geometries.
				</p>

				<p>
					The Design Miami Pavilion was a landmark project resulting in the largest 3D printed pavilion in the world. The Design Miami Pavilion has survived at least two hurricanes.
				</p>

				<img data-src="images/Fig3-Miami-Pavilion-800x450.png" alt="Miami Design Pavilion" class="img-fluid center-block" />
				<figcaption>
					Design Miami Pavilion
				</figcaption>

				<p>
					Branch Technology also made a presence in the art world including; a display at the Atlanta Museum of Art, a topological map of the Tennessee river, and the Nature Cloud installed at the Field Museum in Chicago.
				</p>

				<img data-src="images/Fig4-Nature-Clouds-800x450.png" alt="Nature Clouds at the Field Museum" class="img-fluid center-block" />
				<figcaption>
					Nature Clouds at the Field Museum
				</figcaption>

				<p>
					Branch Technology is now actively investigating how to improve the breadth and complexity of the large scale structures that it can print. This investigation includes the development of a printing process that can work from an unstructured grid leveraging the tetrahedral meshing available in Pointwise.
				</p>

				<p>
					For more information about how Branch Technology is leveraging Pointwise meshing to make 3D printing of large scale structures a reality, watch Dr. Hilbert’s presentation outlining the Branch Technology journey.
				</p>

				<div class="cta-space">
					<!--HubSpot Call-to-Action Code --><span class="hs-cta-wrapper"
						id="hs-cta-wrapper-a8de282b-68d3-4a6b-9d6c-8bc96d0432ba"><span
							class="hs-cta-node hs-cta-a8de282b-68d3-4a6b-9d6c-8bc96d0432ba" id="hs-cta-a8de282b-68d3-4a6b-9d6c-8bc96d0432ba">
							<!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]--><a
								href="https://cta-redirect.hubspot.com/cta/redirect/3788790/a8de282b-68d3-4a6b-9d6c-8bc96d0432ba"><img
									class="hs-cta-img" id="hs-cta-img-a8de282b-68d3-4a6b-9d6c-8bc96d0432ba" style="border-width:0px;"
									src="https://no-cache.hubspot.com/cta/default/3788790/a8de282b-68d3-4a6b-9d6c-8bc96d0432ba.png"
									alt="Branch Technology’s Progress Utilizing Structured Grids Created with Pointwise" /></a></span>
						<script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script>
						<script type="text/javascript"> hbspt.cta.load(3788790, 'a8de282b-68d3-4a6b-9d6c-8bc96d0432ba', {}); </script></span>
					<!-- end HubSpot Call-to-Action Code -->
				</div>

				</div>

				<div class="col-lg-1">
				</div>

				<div class="col-lg-3 col-md-3 case-study-nav">
					<h4>Company Profile</h4>
					<p>
						<img data-src="images/Branch-Tech-Logo-400.png"
						alt="" class="img-fluid" />
					</p>

					<h4>Client Since</h4>
					<p>
						2015
					</p>

					<h4>About the Client</h4>
					<p>
						Branch Technology consists of a diverse team of architects programmers, mechanical engineers, mathematicians and industrial designers focused on the common goal of revolutionizing the built environment. They are passionate about translating the strength, beauty, and efficiency of nature into how we build.
					</p>

					<hr />

					<h3>Solution at a Glance</h3>

					<h4>CHALLENGE</h4>
					<p>
						Building construction is problematic in terms of efficiency, cost, and effectiveness with massive wasted materials and labor, very poor transfer of digital designs to the construction site, and high costs due to every project being custom.
					</p>

					<h4>SOLUTION</h4>
					<p>
						Branch Technology, the first company to 3D print large-scale structures, leverages Pointwise structured mesh generation techniques to improve the efficiency and reliability of their large scale robotic additive manufacturing of structures.
					</p>

					<h4>BENEFIT</h4>
					<p>
						Using Pointwise for mesh generation enables Branch Technology to increase reliability while decreasing the time to generate printer instructions from weeks to hours.
					</p>

				</div>

			</div>
		</div>

		<div class="container lets-talk-content">
			<div class="row">
				<div class="col-lg-12">
				<hr />
				<h2 class="text-center">You May Also Like</h2>
			</div>
		</div>

	<div class="row">

				<div class="col-lg-4 col-md-4">
					<div class="card">
						<a href="https://info.pointwise.com/webinar-structured-grid-aneurysm"><img data-src="images/ymal1.png" class="card-img-top img-fluid" alt="structured mesh"></a>
						<div class="card-body">
							<a href="https://info.pointwise.com/webinar-structured-grid-aneurysm"><h3>Structured Grid for an Aneurysm</h3></a>
							<p>
								Beginning with a faceted geometry model of an arterial aneurysm, this webinar demonstrates how to generate a multi-block structured grid with O-H topology quickly and with high quality.
							</p>
							<p>
								<a href="https://info.pointwise.com/webinar-structured-grid-aneurysm" class="btn btn-primary" role="button">More</a>
							</p>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-md-4">
					<div class="card">
						<a href="https://info.pointwise.com/webinar-high-order-mesh-generation-using-pointwise"><img data-src="images/ymal2.png" class="card-img-top img-fluid"  alt="high-order mesh"></a>
						<div class="card-body">
							<a href="https://info.pointwise.com/webinar-high-order-mesh-generation-using-pointwise"><h3>High-Order Mesh Generation Using Pointwise</h3></a>
							<p>
								There are two primary challenges associated with the degree elevation of linear elements: boundary conformance and curving of high aspect ratio cells encountered within the boundary layer region. In this webinar, we address these challenges and show how to improve CFD solution accuracy by generating boundary conforming, high-order meshes.
							</p>
							<p>
								<a href="https://info.pointwise.com/webinar-high-order-mesh-generation-using-pointwise" class="btn btn-primary" role="button">More</a>
							</p>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-md-4">
					<div class="card">
						<a href="https://blog.pointwise.com/2017/04/12/pointwise-visits-branch-tech-for-3-d-printing-fun/)"><img data-src="images/ymal3.jpg" class="card-img-top img-fluid"  alt="Dr. Steve Karman (left) from Pointwise and Dr. Bruce Hilbert from Branch Technology (right) pose near one of Branch’s 3-D printing robots."></a>
						<div class="card-body">
							<a href="https://blog.pointwise.com/2017/04/12/pointwise-visits-branch-tech-for-3-d-printing-fun/)"><h3>Pointwise Visits Branch Tech for 3-D Printing Fun</h3></a>
							<p>
								Dr. Steve Karman from our applied research team recently visited Branch Technology in Chattanooga to see their 3-D printing robots and learn more about their patented freeform, 3-D printing technology called Cellular Fabrication (TM).
							</p>
							<p>
								<a href="https://blog.pointwise.com/2017/04/12/pointwise-visits-branch-tech-for-3-d-printing-fun/)" class="btn btn-primary" role="button">More</a>
							</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	<br>

    <!-- FOOTER -->
    <% include ../../partials/footer %>

	<!-- JAVASCRIPT -->
	<% include ../../partials/js-includes %>
 </body>
 </html>
