<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Google Analytics -->
  <% include ../partials/ga-includes %>

  <!-- META SETTINGS -->
  <% include ../partials/meta-settings.ejs %>

  <!-- PAGE TITLE -->
  <title>Open Positions and Other Opportunities at Pointwise</title>

  <!-- OG TAGS -->
  <meta property="og:url" content="https://www.pointwise.com/careers/index.html" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Open Positions and Other Opportunities at Pointwise" />
  <meta property="og:description" content="Pointwise is an Equal Employment Opportunity employer." />

  <!-- META DATA -->
  <meta name="description" content="Pointwise is an Equal Employment Opportunity employer.">
  <meta name="keywords" content="cfd meshing, mesh generation, grid generation, computational fluid dynamics, mesh generator, cfd software, cfd consultants, mesh software, grid software, fluid dynamics modeling" />

  <!-- CSS FILES -->
  <% include ../partials/css-includes %>

</head>

<body id="page-top">

  <noscript>
    <p>
      In order to view this page JavaScript must be enabled in your browser.
    </p>
  </noscript>	

  <!-- TOP NAVIGATION -->
  <% include ../partials/navbar %>

  <div class="container">
    <div class="row">
      <div class="col-lg-8">

        <h1>Open Positions at Pointwise</h1>

        <p>
          At Pointwise, the world's leading independent computational fluid dynamics meshing software company and winners of the 2018 Fort Worth Small Business of the Year award, we develop and deploy software for engineers and scientists worldwide who use CFD simulation in the design of planes, wind turbines, automobiles, heart pumps, ships, and more. We are seeking dynamic, inquisitive, detail-oriented people with strong communication skills and a passion for helping people solve challenging technical problems to join our team in Fort Worth, Texas.
        </p>

        <!--
        <p>
          Below is a list of the current openings with our company. Click on the job title to learn more about the opening.
        </p>
-->
          <hr>

          <!--
            <h2><a href="https://pointwise.hirecentric.com/jobs/171574-42314.html">Engineering Services Intern</a></h2>
            <p>
              Internship | Engineering Services | Fort Worth, Texas, USA
            </p>
						<p><small>
							In this position, you will be responsible for assisting with quality assurance testing of new features, generation of meshes for benchmarks, and&hellip;
						</small></p>
	
						<div class="cta-space">
							<p>
								<a class="cta text-center" href="https://pointwise.hirecentric.com/jobs/171574-42314.html">Learn More <span class="glyphicon glyphicon-triangle-right"></span></a>
							</p>
						</div>
            <hr>
            -->


        <p>
          Pointwise does not have any open positions at present. However, we are always interested in receiving resumes from  good people. We seek people who have excellent communications skills (including listening, speaking, writing, and presenting), great interpersonal skills, and professional passion and self-motivation. Email your resume and cover letter to us at <a href="mailto:jobs@pointwise.com">jobs@pointwise.com</a>.
        </p>


      </div>

      <!-- Space between -->
      <div class="col-lg-1">
      </div>

      <!-- Column Contents -->
      <div class="col-lg-3">

        <h4>More About Pointwise</h4>
        <svg class="nav-lines">
          <line class="nav-blue-subscribe" x1="0" y1="1" x2="210" y2="1"/>
          <line class="nav-grey-subscribe" x1="200" y1="1" x2="275" y2="1"/>
        </svg>
        <div class="side-nav">
        <p><a href="../news/">News</a></p>
        <p><a href="../events/">Events</a></p>
        <p><a href="../sales/">Sales Offices</a></p>
        <p><a href="../contact/">Contact Us</a></p>
        <p><a href="../about/travel.html">Visit Us</a></p>
        <p><a href="../about/bicocchi.html">Our Century-Old Building</a></p>
        <p><a href="../careers/">Open Positions</a></p>
        <p><a href="../about/staff.html">Staff</a></p>
        <p><a href="../about/partners.html">Partners</a></p>
      </div>

    </div>

  </div>
</div>

<!-- FOOTER -->
<% include ../partials/footer %>

<!-- JAVASCRIPT -->
<% include ../partials/js-includes %>
</body>
</html>
