<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Analytics -->
    <% include ../../partials/ga-includes %>

    <!-- META SETTINGS -->
    <% include ../../partials/meta-settings.ejs %>

  <!-- PAGE TITLE -->
  <title>Pointwise User Group Meeting 2008</title>

  <!-- OG TAGS -->
  <meta property="og:url" content="https://www.pointwise.com/user-meeting/2008/index.html" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Pointwise User Group Meeting 2008" />
  <meta property="og:description" content="The Pointwise User Group Meeting 2008 was held in Fort Worth, Texas on November 5-6, 2008. " />

  <!-- META DATA -->
  <meta name="description" content="The Pointwise User Group Meeting 2008 was held in Fort Worth, Texas on November 5-6, 2008. ">
  <meta name="keywords" content="cfd meshing, mesh generation, grid generation, computational fluid dynamics, mesh generator, cfd software, cfd consultants, mesh software, grid software, fluid dynamics modeling" />

  <!-- CSS FILES -->
  <% include ../../partials/css-includes %>

</head>

<body id="page-top">

	<noscript>
		<p>
			In order to view this page JavaScript must be enabled in your browser.
		</p>
	</noscript>

	<!-- TOP NAVIGATION -->
	<% include ../../partials/navbar %>

  <!-- Page Content -->
  <div class="container">
    <div class="row">

      <div class="col-lg-8">

        <h1>Pointwise User Group Meeting 2008</h1>

        <h2>November 05-06, 2008</h2>

        <p>
          The Pointwise User Group Meeting 2008 was held in Fort Worth, Texas on November 5-6, 2008. Events included special Pointwise and Gridgen training seminars, presentations by Pointwise staff on new product developments, exhibits by our partners, and user presentations.
        </p>


        <h2>CFD Gallery & Exhibits</h2>

        <p>
          Special time will be available during the Pointwise User Group Meeting for you to visit with our exhibiting partners and learn more about how Gridgen and Pointwise complement their products offerings. For more information about our partners, see the Pointwise UGM CFD Gallery page.
        </p>


        <div class="row">
          <div class="col-lg-2">
            <img data-src="images/cd-adapco-logo-100x70.png" alt="CD-adapco logo" class="img-fluid" />
          </div>
          <div class="col-lg-2">
            <img data-src="images/cei-logo-100x70.png" alt="CEI logo" class="img-fluid" />
          </div>
          <div class="col-lg-2">
            <img data-src="images/fieldview-logo-100x70.png" alt="Fieldview logo" class="img-fluid" />
          </div>
          <div class="col-lg-2">
            <img data-src="images/sgi-logo-88x70.png" alt="sgi logo" class="img-fluid" />
          </div>
          <div class="col-lg-2">
            <img data-src="images/tecplot-logo-100x70.png" alt="Tecplot logo" class="img-fluid" />
          </div>
        </div>

        <h2>Special Pointwise and Gridgen Training Sessions</h2>

        <p>
          Training sessions on Wednesday, November 5 will cover the latest features in both Pointwise and Gridgen. The Gridgen session will cover new features that you may not be aware of that can save time meshing. An introductory section for Pointwise will help users new to the software pick up some of the basics of the interface. A Pointwise preview session will allow attendees to see the new features coming in the next release of Pointwise. The training sessions will also include hands-on exercises for attendees to try out firsthand the features discussed.
        </p>

        <h2>Keynote Speaker</h2>

        <p>
          We are pleased to announce that the Pointwise User Group Meeting 2008 keynote presentation will be given by <strong>Mr. Jon Beesley, Director and Chief Test Pilot at Lockheed Martin Aeronautics</strong>. Mr. Beesley is currently the Chief Test Pilot on the F-35 Joint Strike Fighter and made the first flight of that aircraft on 15 December 2006. For his work on the F-35 Mr. Beesley was awarded his second Ivan C. Kincheloe award from the Society of Experimental Test Pilots. His first Kincheloe was awarded based on his contributions to the F-117 stealth fighter program on which he was one of the first pilots. Mr. Beesley has also contributed to the flight test programs of the F-22 Raptor and F-16 Red Eye. For his career achievements as a test pilot, Mr. Beesley was awarded the Chuck Yeager award in 2000 by the Engineers Council of Southern California.  For a detailed biography, click <a href="Jon_Beesley_Bio.pdf">here</a>.
        </p>

        <img data-src="images/jon-beesly-419x200.png" alt="Jon Beesly" class="img-fluid" />

        <h2>Agenda</h2>

        <div class="table-responsive">
          <table class="table">

            <tr>
              <th colspan="4">Wednesday, November 5 - Training</th>
            </tr>
            <tr>
              <th>Beg.</th>
              <th>End</th>
              <th>Event</th>
              <th>Room</th>
            </tr>

            <tr>
              <td>8:00</td>
              <td>8:30</td>
              <td>Registration &amp;<br /> Continental Breakfast</td>
              <td>Synergy Foyer</td>
            </tr>

            <tr>
              <td>8:30</td>
              <td>10:00</td>
              <td>Gridgen New Features</td>
              <td>Synergy II</td>
            </tr>

            <tr>
              <td>10:00</td>
              <td>10:15</td>
              <td>Break</td>
              <td>Synergy Foyer</td>
            </tr>

            <tr>
              <td>10:15</td>
              <td>12:00</td>
              <td>Pointwise New Features, Part 1</td>
              <td>Synergy II</td>
            </tr>

            <tr>
              <td>12:00</td>
              <td>1:30</td>
              <td>Buffet Lunch</td>
              <td>Atrium</td>
            </tr>

            <tr>
              <td>1:30</td>
              <td>2:30</td>
              <td>Pointwise New Features, Part 2</td>
              <td>Synergy II</td>
            </tr>

            <tr>
              <td>2:30</td>
              <td>3:00</td>
              <td>Break with Dessert</td>
              <td>Synergy Foyer</td>
            </tr>

            <tr>
              <td>3:00</td>
              <td>5:00</td>
              <td>Pointwise New Features, Part 3</td>
              <td>Synergy II</td>
            </tr>

            <tr>
              <td>6:30</td>
              <td>8:00</td>
              <td>Welcome Reception &amp;<br /> Partner Exhibits</td>
              <td>Synergy Foyer</td>
            </tr>

            <tr>
              <th colspan="4">Thursday, November 6 - General Session</th>
            </tr>

            <tr>
              <th>Beg.</th>
              <th>End</th>
              <th>Event</th>
              <th>Room</th>
            </tr>

            <tr>
              <td>8:00</td>
              <td>8:30</td>
              <td>Registration,<br />Continental Breakfast, &amp; Vendor Exhibits</td>
              <td>Synergy Foyer</td>
            </tr>

            <tr>
              <td>8:30</td>
              <td>8:45</td>
              <td>Welcome &amp; Introductions</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>8:45</td>
              <td>9:15</td>
              <td><em>Current Status of Pointwise &amp; Gridgen</em>,<br />John Chawner, President, Pointwise</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>9:15</td>
              <td>10:00</td>
              <td>Keynote Presentation,<br />Jon Beesley, Director and Chief Test Pilot, Lockheed Martin Aeronautics</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>10:00</td>
              <td>10:30</td>
              <td>Break &amp; Partner Exhibits</td>
              <td>Synergy Foyer</td>
            </tr>

            <tr>
              <td>10:30</td>
              <td>4:15</td>
              <td>Support Consultations<br />(Sign up at the Registration Desk.)</td>
              <td>Synergy III</td>
            </tr>

            <tr>
              <td>10:30</td>
              <td>11:00</td>
              <td><em>Water Tank and Clearwell Analysis Using Computational Methods</em>,<br />George Shrewsbury, Pointwise</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>11:00</td>
              <td>11:30</td>
              <td><em>Grid Generation Using Pointwise at Ohio Nothern University</em>,<br />Jed E. Marquart, Ohio Northern University</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>11:30</td>
              <td>12:00</td>
              <td>Withdrawn<s><em>JSC Channel Nozzle ArcJet: An Application of Hybrid Topology Gridding</em></s><br /><s>Jeremiah Marichalar, Jacobs Engineering</s></td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>12:00</td>
              <td>1:00</td>
              <td>Lunch</td>
              <td>Atrium</td>
            </tr>

            <tr>
              <td>1:00</td>
              <td>1:30</td>
              <td><em>Customer Support: Underused Features in Gridgen and Pointwise</em>,<br />Richard Matus, Vice President, Sales &amp; Marketing, Pointwise</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>1:30</td>
              <td>2:00</td>
              <td><em>Pointwise/Gridgen at the U.S. Army AMRDEC</em>,<br />Ed Vaughn, U.S. Army Aviation &amp; Missile RDEC</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>2:00</td>
              <td>2:30</td>
              <td><em>Polyhedral Mesh Support and Dynamic Mesh features in OpenFOAM&reg;</em>,<br />Hrvoje Jasak, Wikki Ltd.</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>2:30</td>
              <td>3:30</td>
              <td>CFD Gallery</td>
              <td>Synergy Foyer</td>
            </tr>

            <tr>
              <td>3:30</td>
              <td>4:00</td>
              <td><em>Analysis of Complex Problems with Advanced CFD Models Using Gridgen and Pointwise</em>,<br />Jeremy D. Shipman, Combustion Research and Flow Technology, Inc.</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>4:00</td>
              <td>4:30</td>
              <td><em>Progress Towards Full Aircraft Flight Simulation with Control Surface Deflections</em>,<br />Ken Wurtzler, Cobalt Solutions LLC</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>4:30</td>
              <td>5:00</td>
              <td><em>Gridgen and Frontflow/Blue for Large Scale Computations</em>,<br />Sawa Yoshiyuki, VINAS Co. Ltd.</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>4:00</td>
              <td>5:30</td>
              <td><em>The Future of Pointwise &amp; Gridgen</em>,<br />John Chawner, President, Pointwise</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>6:30</td>
              <td>8:30</td>
              <td>After Party</td>
              <td>Fox &amp; Hound</td>
            </tr>

          </table>
        </div>

      </div>

      <!-- Space between columns -->
      <div class="col-lg-1">
      </div>

      <!-- Column Contents -->
      <div class="col-lg-3">

      <!-- Side Nav -->
      <% include ../../partials/nav-ugm %>
      </div>

    </div>
  </div>

  <!-- FOOTER -->
  <% include ../../partials/footer %>

    <!-- JAVASCRIPT -->
    <% include ../../partials/js-includes %>

</body>
</html>
