<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Analytics -->
    <% include ../../partials/ga-includes %>

    <!-- META SETTINGS -->
    <% include ../../partials/meta-settings.ejs %>

	<!-- PAGE TITLE -->
	<title>Presentations from the Pointwise Meshing Technology Conference</title>

	<meta name="robots" content="noindex">

	<!-- META DATA -->
	<meta name="description" content="Download presentations from the Pointwise Meshing Technology Conference held in Stuttgart on 4-5 December 2017.">
	<meta name="keywords" content="cfd meshing, mesh generation, grid generation, computational fluid dynamics, mesh generator, cfd software, cfd consultants, mesh software, grid software, fluid dynamics modeling" />

	<!-- CSS FILES -->
	<% include ../../partials/css-includes %>

</head>

<body id="page-top">

	<noscript>
		<p>
			In order to view this page JavaScript must be enabled in your browser.
		</p>
	</noscript>

	<!-- TOP NAVIGATION -->
	<% include ../../partials/navbar %>

	<div class="hamburg-workshop-intro">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="intro-message-pw">
						<h1>Presentations from the Pointwise Marine and Wind Energy Workshop</h1>
						<hr class="intro-divider">
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-lg-8">

				<div class="cta-space">
					<p>
						Thank you for your interest in the presentations from the Pointwise Marine and Wind Energy Workshop in Hamburg, Germany on 18 September 2018. The presentations are below. Click on the download button to download the presentations you want.
					</p>
					<p>
						If you would like to explore more about Pointwise marine and wind energy applications, check out You May Also Like on the right side of this page.
					</p>
				</div>

				<!-- ========== Presentation 1 ========== -->
				<h3>Pointwise Technology Overview</h3>

				<!-- CTA -->
					<!--HubSpot Call-to-Action Code --><span class="hs-cta-wrapper" id="hs-cta-wrapper-b88082ad-a139-4b81-b581-2f6ac097859a"><span class="hs-cta-node hs-cta-b88082ad-a139-4b81-b581-2f6ac097859a" id="hs-cta-b88082ad-a139-4b81-b581-2f6ac097859a"><!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]--><a href="https://cta-redirect.hubspot.com/cta/redirect/3788790/b88082ad-a139-4b81-b581-2f6ac097859a" download><img class="hs-cta-img" id="hs-cta-img-b88082ad-a139-4b81-b581-2f6ac097859a" style="border-width:0px;" src="https://no-cache.hubspot.com/cta/default/3788790/b88082ad-a139-4b81-b581-2f6ac097859a.png"  alt="Download"/></a></span><script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script><script type="text/javascript"> hbspt.cta.load(3788790, 'b88082ad-a139-4b81-b581-2f6ac097859a', {}); </script></span><!-- end HubSpot Call-to-Action Code -->

				<hr />

				<!-- ========== Presentation 2 ========== -->
				<h3>Mesh Topology Study for the Potsdam Propeller Test Case</h3>

				<!-- CTA -->
					<!--HubSpot Call-to-Action Code --><span class="hs-cta-wrapper" id="hs-cta-wrapper-2a57a150-19fb-478c-aefd-7613e864f111"><span class="hs-cta-node hs-cta-2a57a150-19fb-478c-aefd-7613e864f111" id="hs-cta-2a57a150-19fb-478c-aefd-7613e864f111"><!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]--><a href="https://cta-redirect.hubspot.com/cta/redirect/3788790/2a57a150-19fb-478c-aefd-7613e864f111" download ><img class="hs-cta-img" id="hs-cta-img-2a57a150-19fb-478c-aefd-7613e864f111" style="border-width:0px;" src="https://no-cache.hubspot.com/cta/default/3788790/2a57a150-19fb-478c-aefd-7613e864f111.png"  alt="Download"/></a></span><script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script><script type="text/javascript"> hbspt.cta.load(3788790, '2a57a150-19fb-478c-aefd-7613e864f111', {}); </script></span><!-- end HubSpot Call-to-Action Code -->

				<hr />

				<!-- ========== Presentation 3 ========== -->
				<h3>Automating Wind Turbine Siting with Glyph Scripting</h3>

				<!-- CTA -->
					<!--HubSpot Call-to-Action Code --><span class="hs-cta-wrapper" id="hs-cta-wrapper-4d7a0461-8369-440f-8d5a-88a11e3b392e"><span class="hs-cta-node hs-cta-4d7a0461-8369-440f-8d5a-88a11e3b392e" id="hs-cta-4d7a0461-8369-440f-8d5a-88a11e3b392e"><!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]--><a href="https://cta-redirect.hubspot.com/cta/redirect/3788790/4d7a0461-8369-440f-8d5a-88a11e3b392e" download><img class="hs-cta-img" id="hs-cta-img-4d7a0461-8369-440f-8d5a-88a11e3b392e" style="border-width:0px;" src="https://no-cache.hubspot.com/cta/default/3788790/4d7a0461-8369-440f-8d5a-88a11e3b392e.png"  alt="Download"/></a></span><script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script><script type="text/javascript"> hbspt.cta.load(3788790, '4d7a0461-8369-440f-8d5a-88a11e3b392e', {}); </script></span><!-- end HubSpot Call-to-Action Code -->

				<hr />

				<!-- ========== Presentation 4 ========== -->
				<h3>High-Fidelity Hybrid Wind Turbine Blade Meshing with T-Rex</h3>

				<!-- CTA -->
					<!--HubSpot Call-to-Action Code --><span class="hs-cta-wrapper" id="hs-cta-wrapper-6fe07043-77a7-4343-b31d-f6f453000a74"><span class="hs-cta-node hs-cta-6fe07043-77a7-4343-b31d-f6f453000a74" id="hs-cta-6fe07043-77a7-4343-b31d-f6f453000a74"><!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]--><a href="https://cta-redirect.hubspot.com/cta/redirect/3788790/6fe07043-77a7-4343-b31d-f6f453000a74"><img class="hs-cta-img" id="hs-cta-img-6fe07043-77a7-4343-b31d-f6f453000a74" style="border-width:0px;" src="https://no-cache.hubspot.com/cta/default/3788790/6fe07043-77a7-4343-b31d-f6f453000a74.png"  alt="Download"/></a></span><script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script><script type="text/javascript"> hbspt.cta.load(3788790, '6fe07043-77a7-4343-b31d-f6f453000a74', {}); </script></span><!-- end HubSpot Call-to-Action Code -->
				<br>
			</div>

			<div class="col-lg-1">
			</div>

			<div class="col-lg-3">

				<div class="conn-nav-home">
					<div class="input-group">
						<label for="search"><h4>Search Events</h4>
						<svg class="nav-lines">
							<line class="nav-blue-search" x1="0" y1="1" x2="130" y2="1"/>
							<line class="nav-grey-search" x1="130" y1="1" x2="275" y2="1"/>
						</svg>
					</label>
						<input type="text" id="search" class="form-control st-default-search-input">
					</div>
				</div>

				<div class="lets-talk-nav">
					<h4>You May Also Like</h4>
					<svg class="nav-lines">
						<line class="nav-blue-ymal" x1="0" y1="1" x2="180" y2="1"/>
						<line class="nav-grey-ymal" x1="180" y1="1" x2="275" y2="1"/>
					</svg>

					<img data-src="images/ymal1.png" class="img-fluid" alt="Meshing Solutions for the Wind Energy Industry" />
					<p>
						<a href="../../wind-energy/">Meshing Solutions for the Wind Energy Industry</a>
					</p>

					<hr />

					<img data-src="images/ymal2.png" class="img-fluid" alt="Meshing Solutions for the Marine Industry" />
					<p>
						<a href="../../marine/">Meshing Solutions for the Marine Industry</a>
					</p>

					<hr />

					<img data-src="images/ymal3.png" class="img-fluid" alt="Unstructured Quad & Hex Meshing Using Pointwise"  />
					<p>
						<a href="https://info.pointwise.com/webinar-unstructured-quad-hex-meshing">Unstructured Quad & Hex Meshing Using Pointwise</a>
					</p>
				</div>

			</div>
		</div>
	</div>

	<!-- FOOTER -->
	<% include ../../partials/footer %>

	<!-- JAVASCRIPT -->
	<% include ../../partials/js-includes %>
</body>
</html>
