<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Analytics -->
    <% include ../../partials/ga-includes %>

    <!-- META SETTINGS -->
    <% include ../../partials/meta-settings.ejs %>

  <!-- PAGE TITLE -->
  <title>Webcast | CAE Preprocessing</title>

  <!-- OG TAGS -->
  <meta property="og:url" content="http://www.pointwise.com/webcasts/2011-07-CAE/CAE-Preprocessing.html" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Webcast | CAE Preprocessing" />
  <meta property="og:description" content="Once your mesh is complete, you can use Pointwise to customize it for your flow solver including boundary and volume conditions." />

  <!-- META DATA -->
  <meta name="description" content="Once your mesh is complete, you can use Pointwise to customize it for your flow solver including boundary and volume conditions."">
  <meta name="keywords" content="cfd meshing, mesh generation, grid generation, computational fluid dynamics, mesh generator, cfd software, cfd consultants, mesh software, grid software, fluid dynamics modeling" />

  <!-- CSS FILES -->
  <% include ../../partials/css-includes %>

</head>

<body id="page-top">

	<noscript>
		<p>
			In order to view this page JavaScript must be enabled in your browser.
		</p>
	</noscript>

	<!-- TOP NAVIGATION -->
	<% include ../../partials/navbar %>

  <div class="container">
    <div class="row">

      <div class="col-lg-8">
        <h1>CAE Preprocessing</h1>

        <!-- 16:9 aspect ratio -->
        <div class="lets-talk-video embed-responsive embed-responsive-16by9">
          <iframe width="560" height="315" title="CAE Preprocessing Video" src="https://www.youtube.com/embed/oycCuZvinVI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>

        <div class="table-responsive">
          <h2>Downloads</h2>
          <table class="table table-striped table-bordered">

            <tr>
              <th>Description</th>
              <th>Format</th>
              <th>File Name</th>
              <th>File Size [MB]</th>
            </tr>

            <tr>
              <td>Webcast Video File</td>
              <td>MP4</td>
              <td><a href="Pointwise-Webcast-CAE-Preprocessing.mp4" download>Pointwise-Webcast-CAE-Preprocessing.mp4</a></td>
              <td>15</td>
            </tr>

          </table>
        </div>

        <p>
          [24 July 2011] Once your mesh is complete, you can use Pointwise to customize it for your flow solver including boundary and volume conditions.
        </p>

        <p>
          <a href="https://www.youtube.com/watch?v=oycCuZvinVI">CAE Preprocessing</a> is also now available on YouTube.
        </p>

        <div class="disqus" id="disqus_thread"></div>
        <script>

        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
        /*
        var disqus_config = function () {
        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };
      */
      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = '//letstalkmeshing.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

</div>


<div class="col-lg-1">
</div>

<div class="col-lg-3">

    <div class="conn-nav-home">
        <div class="input-group">
            <label for="search"><h4>Search Events</h4>
            <svg class="nav-lines">
              <line class="nav-blue-search" x1="0" y1="1" x2="130" y2="1"/>
              <line class="nav-grey-search" x1="130" y1="1" x2="275" y2="1"/>
            </svg>
          </label>
              <input type="text" id="search" class="form-control st-default-search-input">
        </div>
      </div>

  <div class="lets-talk-nav">
    <h4>Share This</h4>
    <svg class="nav-lines">
      <line class="nav-blue-social" x1="0" y1="1" x2="100" y2="1"/>
      <line class="nav-grey-social" x1="100" y1="1" x2="275" y2="1"/>
    </svg>
    <div class="social-share">

      <!-- Facebook Like Button -->
      <a href="http://www.facebook.com/share.php?u=http://pointwise.com/webcasts/2011-07-CAE/CAE-Preprocessing.html&title=Webcast | CAE Preprocessing" target="_blank" rel="noreferrer noopener"><img data-src="../../solutions/images/Round-Facebook-30x30.svg" width="30px" alt="Facebook Icon" class="img-fluid"/></a>

      <!-- Twitter Share Button -->
      <a href="http://twitter.com/intent/tweet?status=Webcast | CAE Preprocessing+http://www.pointwise.com/webcasts/2011-07-CAE/CAE-Preprocessing.html"><img data-src="../../solutions/images/Round-Twitter-30x30.svg" width="30px" alt="Twitter Icon" class="img-fluid"/></a>

      <!-- LinkedIn Share Button -->
      <a href="http://www.linkedin.com/shareArticle?mini=true&url=http://www.pointwise.com/webcasts/2011-07-CAE/CAE-Preprocessing.html&title=Webcast | CAE Preprocessing&source=http://www.pointwise.com"><img data-src="../../solutions/images/Round-LinkedIn-30x30.svg" width="30px" alt="LinkedIn Icon" class="img-fluid"/></a>

      <!-- Share by Email -->
      <script type="text/javascript">
      function shareByEmail() {
        var link = "mailto:"
        + "&subject=" + escape(document.title)
        + "&body=" + escape(window.location) ;
        window.location.href= link;
      }
    </script>
    <a href="mailto:">
      <img data-src="../../solutions/images/Round-Email-30x30.svg" width="30px"
      alt="email icon" class="img-fluid"
      onclick="shareByEmail(); return false"/></a>
    </div>

  </div>

  <div class="lets-talk-nav">
    <h4>You May Also Like</h4>
    <svg class="nav-lines">
      <line class="nav-blue-ymal" x1="0" y1="1" x2="180" y2="1"/>
      <line class="nav-grey-ymal" x1="180" y1="1" x2="275" y2="1"/>
    </svg>

    <img data-src="ymal1.png" class="img-fluid" alt="An Introduction to Pointwise Plugin Development" />
    <p>
      <a href="http://info.pointwise.com/webinar-introduction-pointwise-plugin-development">An Introduction to Pointwise Plugin Development</a>
    </p>

    <hr />

    <img data-src="ymal2.png" class="img-fluid" alt="Mesh Topology Influence on Volute Aerodynamic Performance Computed Using Code Leo"  />
    <p>
      <a href="http://info.pointwise.com/webinar-mesh-influence-aerodynamic-performance">Mesh Topology Influence on Volute Aerodynamic Performance Computed Using Code Leo</a>
    </p>

    <hr />

    <img data-src="ymal3.png" class="img-fluid" alt="Parametric Optimization for Vertical Axis Wind Turbines Using Independent CFD Tools"  />
    <p>
      <a href="http://info.pointwise.com/webinar-parametric-optimization-wind-turbines">Parametric Optimization for Vertical Axis Wind Turbines Using Independent CFD Tools</a>
    </p>
  </div>

</div>
</div>

</div>

<!-- FOOTER -->
<% include ../../partials/footer %>

    <!-- JAVASCRIPT -->
    <% include ../../partials/js-includes %>

</body>
</html>
