<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Analytics -->
    <% include ../../partials/ga-includes %>

    <!-- META SETTINGS -->
    <% include ../../partials/meta-settings.ejs %>

  <!-- PAGE TITLE -->
  <title>Workshop | Efficient Meshing with Pointwise</title>

  <!-- OG TAGS -->
  <meta property="og:url" content="https://www.pointwise.com/workshops/2017-10-Korea/index.html" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Workshop | Efficient Meshing with Pointwise" />
  <meta property="og:description" content="Pointwise brings over 22 years of CFD meshing experience to the table for an information-packed day of discussions and demonstrations." />
  <meta property="og:image" content="https://www.pointwise.com/workshops/2017-12-Germany/Marine-Propeller.png" />

  <!-- META DATA -->
  <meta name="description" content="Pointwise brings over 22 years of CFD meshing experience to the table for an information-packed day of discussions and demonstrations.">
  <meta name="keywords" content="cfd meshing, mesh generation, grid generation, computational fluid dynamics, mesh generator, cfd software, cfd consultants, mesh software, grid software, fluid dynamics modeling" />

  <!-- CSS FILES -->
  <% include ../../partials/css-includes %>

</head>

<body id="page-top">

	<!-- TOP NAVIGATION -->
	<% include ../../partials/navbar %>

  <div class="container">
    <div class="row">

      <div class="col-lg-8">
        <h1>Let's Talk Meshing Workshop: Efficient Meshing with Pointwise</h1>

        <p>
          Pointwise brings over 22 years of CFD meshing experience to the table for an information-packed day of discussions and demonstrations. Our engineers will walk you through how Pointwise can be used in various industries to make CFD analysis faster, more accurate, and more reliable. Attend this free Let's Talk Meshing Workshop and explore the many ways Pointwise has become The Choice for CFD Meshing.
        </p>

        <ul>
          <li>
            See how Pointwise increases the accuracy, speed, and reliability of CFD analysis.
          </li>
          <li>
            Learn how others use Pointwise for demanding CFD applications.
          </li>
          <li>
            Discover how Pointwise can help you easily deal with difficult CAD files, and prepare them for meshing.
          </li>
          <li>
            See future plans for Pointwise to improve CFD analyses even more.
          </li>
          <li>
            Spend time with Pointwise engineers to discuss your CFD meshing needs.
          </li>
        </ul>

        <h2>Date</h2>

        <p>
          Monday, 16 October 2017
        </p>

        <h2>Location</h2>

        <p>
          Hotel Interciti <br />
          Lilac Hall <br />
          545-1 Bongmyeong-dong <br />
          Yuseong-gu, Daejeon, TJ <br />
          South Korea <br />
          <a href="http://www.hotelinterciti.com/e_sub11_5" target="_blank" rel="noreferrer noopener">Hotel Location</a>
        </p>

        <h2>Agenda</h2>

        <div class="table-responsive">
          <table class="table">

            <tr>
              <td>09:30</td>
              <td>Registration/Light Breakfast (included)</td>
            </tr>

            <tr>
              <td>10:00</td>
              <td>Opening Remarks<br />Youngjin Seo, TAEYANG IT Co., Ltd.</td>
            </tr>

            <tr>
              <td>10:10</td>
              <td><em>Pointwise Overview</em> <br />Rick Matus, Pointwise, Inc.</td>
            </tr>

            <tr>
              <td>11:00</td>
              <td>Break</td>
            </tr>

            <tr>
              <td>11:10</td>
              <td><em>Pointwise for Marine Propeller Applications</em> <br />Travis Carrigan, Pointwise, Inc.</td>
            </tr>

            <tr>
              <td>12:00</td>
              <td><em>Pointwise for Aerospace</em> <br />Rick Matus, Pointwise, Inc.</td>
            </tr>

            <tr>
              <td>13:00</td>
              <td>Lunch (included)</td>
            </tr>

            <tr>
              <td>14:00</td>
              <td><em>Mastering Geometry Cleanup in Pointwise</em> <br />Carolyn Woeber, Pointwise, Inc.</td>
            </tr>

            <tr>
              <td>15:00</td>
              <td>Q&amp;A</td>
            </tr>

            <tr>
              <td>15:30</td>
              <td>Closing Remarks</td>
            </tr>

          </table>
        </div>

        <p>
          *Agenda subject to change without notice.
        </p>

        <h2>Syllabus</h2>

        <h3>Pointwise Overview</h3>

        <p>
          We will start with a brief introduction of the Pointwise software. Focus areas will include its unparalleled structured meshing techniques, more recently developed unique capabilities like T-Rex anisotropic extrusion, methods for dealing with CAD and discrete geometry, and ways to automate meshing with Glyph scripts. Finally, we will give a preview of new features in development for future versions of Pointwise and show how they will improve the CFD analysis process.
        </p>

        <h3>Pointwise for Marine Propeller Applications</h3>

        <p>
          This presentation will focus on simulation efficiency and its dependence on the mesh generation process. The aim is to better understand the relative merits and drawbacks of various meshing strategies, using a marine propeller as a model. The considered meshing strategies include hybrid and structured overset, introducing an approach for computing simulation efficiency, and exploring the process for generating each mesh. Best practices are highlighted with an emphasis on mesh quality, and the ease of surface and volumetric refinement. Each mesh is evaluated against the amount of time required to create the mesh, its cell count and quality, the accuracy of the results, and the time needed to run the simulation to a prescribed convergence threshold.
        </p>

        <h3>Pointwise for Aerospace</h3>

        <p>
          Pointwise is widely used in the aerospace industry, providing high quality meshing techniques, precise control over grid point placement, and the ability to automate all or part of the meshing process with the Glyph scripting language. We will demonstrate examples of external aerodynamics and propulsion applications, and discuss how to use Pointwise for more efficient and accurate CFD analysis.
        </p>

        <h3>Mastering Geometry Cleanup in Pointwise</h3>

        <p>
          Using imported CAD geometry as the basis for CFD meshing can be fraught with problems. This presentation demonstrates the suite of tools available in Pointwise to speed the CAD cleanup process. Complex, practical CAD examples will demonstrate how to visualize model tolerances, identify and heal gaps in geometry, apply strategies to identify and recreate missing surfaces, and determine the suitability of your CAD models prior to meshing.
        </p>


        <div class="disqus" id="disqus_thread"></div>
        <script>

        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
        /*
        var disqus_config = function () {
        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };
      */
      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = '//letstalkmeshing.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

</div>


<div class="col-lg-1">
</div>

<div class="col-lg-3">

  <div class="conn-nav-home">
    <div class="input-group">
      <label for="search"><h4>Search Events</h4>
      <svg class="nav-lines">
        <line class="nav-blue-search" x1="0" y1="1" x2="130" y2="1"/>
        <line class="nav-grey-search" x1="130" y1="1" x2="275" y2="1"/>
      </svg>
    </label>
      <input type="text" id="search" class="form-control st-default-search-input">
    </div>
  </div>

  <div class="lets-talk-nav">
    <h4>Share This</h4>
    <svg class="nav-lines">
      <line class="nav-blue-social" x1="0" y1="1" x2="100" y2="1"/>
      <line class="nav-grey-social" x1="100" y1="1" x2="275" y2="1"/>
    </svg>
    <div class="social-share">

      <!-- Facebook Like Button -->
      <a href="http://www.facebook.com/share.php?u=http://pointwise.com/workshops/2017-10-Korea/index.html&title=Efficient Meshing with Pointwise" target="_blank"><img src="../../solutions/images/Round-Facebook-30x30.svg" width="30px" alt="Facebook Icon" /></a>

      <!-- Twitter Share Button -->
      <a href="http://twitter.com/intent/tweet?status=Efficient Meshing with Pointwise+http://www.pointwise.com/workshops/2017-10-Korea/index.html"><img src="../../solutions/images/Round-Twitter-30x30.svg" width="30px" alt="Twitter Icon"/></a>

      <!-- LinkedIn Share Button -->
      <a href="http://www.linkedin.com/shareArticle?mini=true&url=http://www.pointwise.com/workshops/2017-10-Korea/index.html&title=Efficient Meshing with Pointwise&source=http://www.pointwise.com"><img src="../../solutions/images/Round-LinkedIn-30x30.svg" width="30px" alt="LinkedIn Icon"/></a>

      <!-- Share by Email -->
      <script type="text/javascript">
      function shareByEmail() {
        var link = "mailto:"
        + "&subject=" + escape(document.title)
        + "&body=" + escape(window.location) ;
        window.location.href= link;
      }
    </script>
    <a href="mailto:">
      <img src="../../solutions/images/Round-Email-30x30.svg" width="30px"
      alt="Email Icon"
      onclick="shareByEmail(); return false"/></a>
    </div>

  </div>

</div>
</div>

</div>

<!-- FOOTER -->
<% include ../../partials/footer %>

    <!-- JAVASCRIPT -->
    <% include ../../partials/js-includes %>

</body>
</html>
