<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Analytics -->
    <% include ../../partials/ga-includes %>

    <!-- META SETTINGS -->
    <% include ../../partials/meta-settings.ejs %>

  <!-- PAGE TITLE -->
  <title>Pointwise User Group Meeting 2014</title>

  <!-- OG TAGS -->
  <meta property="og:url" content="https://www.pointwise.com/user-meeting/2014/index.html" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Pointwise User Group Meeting 2014" />
  <meta property="og:description" content="Pointwise celebrated its 20th anniversary in 2014, and we topped off the festivities with a special edition of our Pointwise User Group Meeting on 29-30 October 2014 in Anaheim, California." />

  <!-- META DATA -->
  <meta name="description" content="Pointwise celebrated its 20th anniversary in 2014, and we topped off the festivities with a special edition of our Pointwise User Group Meeting on 29-30 October 2014 in Anaheim, California.">
  <meta name="keywords" content="cfd meshing, mesh generation, grid generation, computational fluid dynamics, mesh generator, cfd software, cfd consultants, mesh software, grid software, fluid dynamics modeling" />

  <!-- CSS FILES -->
  <% include ../../partials/css-includes %>

</head>

<body id="page-top">

	<!-- TOP NAVIGATION -->
	<% include ../../partials/navbar %>

  <!-- Page Content -->
  <div class="container">
    <div class="row">

      <div class="col-lg-8">

        <img data-src="images/ugm2014-masthead-800x203.png" alt="Pointwise User Group 2014 Logo" class="img-fluid center-block" />

        <h1>Celebrate 20 Years of Reliable CFD Meshing</h1>

        <p>
          Pointwise celebrated its 20th anniversary in 2014, and we topped off the festivities with a special edition of our Pointwise User Group Meeting on 29-30 October 2014 in Anaheim, California.
        </p>

        <p>
          Photos from the event can be seen in an <a href="https://www.facebook.com/media/set/?set=a.10152870341127418.1073741863.360943992417&type=1&l=a76236f194" target="_blank" rel="noreferrer noopener">album on Facebook</a>.
        </p>

        <h2>Exhibiting Partners</h2>
        <div class="row">
          <div class="col-lg-3">
            <img data-src="images/ads-logo-100x70.png" alt="ADS" class="img-fluid" />
          </div>
          <div class="col-lg-3">
            <img data-src="images/applied-ccm-logo-100x70.png" alt="Applied CCM" class="img-fluid" />
          </div>
          <div class="col-lg-3">
            <img data-src="images/cei-logo-100x70.png" alt="CEI" class="img-fluid" />
          </div>
          <div class="col-lg-3">
            <img data-src="images/engys-logo-100x20.png" alt="ENGYS" class="img-fluid" />
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <img data-src="images/intelligent-light-logo-100x70.png" alt="Intelligent Light" class="img-fluid" />
          </div>
          <div class="col-lg-3">
            <img data-src="images/metacomp-logo-100x48.png" alt="Metacomp Technologies" class="img-fluid" />
          </div>
          <div class="col-lg-3">
            <img data-src="images/tecplot-logo-100x65.png" alt="Tecplot" class="img-fluid" />
          </div>
        </div>

        <h2>The Meshy Award</h2>

        <p>
          Prof. Rickard Bensow of Chalmers University of Technology has been named recipient of the Pointwise Meshy Award for his grids relating to how cavitation on a ship propeller is affected by the installation upstream of energy efficiency improving stator blades that change the propeller inflow.
        </p>

        <img data-src="images/meshy-winner-800x526.png" alt="Meshy Award Winner for 2014" class="img-fluid center-block" />

        <p>
          All of this year's entries can be seen in a <a href="https://www.facebook.com/media/set/?set=a.10152504824942418.1073741856.360943992417&type=1&l=ca10fdeb6b" target="_blank" rel="noreferrer noopener">Facebook photo album</a>.
        </p>

        <h2>Agenda</h2>

        <div class="table-responsive">
          <table class="table">

            <tr>
              <th colspan="4">Wednesday, 29 October - Training</th>
            </tr>

            <tr>
              <th>Time</th>
              <th>Event</th>
              <th>Room</th>
            </tr>

            <tr>
              <td>8:00</td>
              <td>Registration</td>
              <td>Foyer</td>
            </tr>

            <tr>
              <td>&nbsp;</td>
              <td>Continental Breakfast</td>
              <td>Ballroom B</td>
            </tr>

            <tr>
              <td>8:30</td>
              <td>Overset Meshing Introduction</td>
              <td>Ballroom A</td>
            </tr>

            <tr>
              <td>10:00</td>
              <td>Break</td>
              <td>Ballroom B</td>
            </tr>

            <tr>
              <td>10:15</td>
              <td>Overset Assembly and Diagnostic Tools</td>
              <td>Ballroom A</td>
            </tr>

            <tr>
              <td>12:00</td>
              <td>Lunch</td>
              <td>Atrium</td>
            </tr>

            <tr>
              <td>1:00</td>
              <td>Pointwise's Latest New Features</td>
              <td>Ballroom A</td>
            </tr>

            <tr>
              <td>2:00</td>
              <td>Break</td>
              <td>Ballroom B</td>
            </tr>

            <tr>
              <td>2:30</td>
              <td>Prism and Hexahedral T-Rex Meshing</td>
              <td>Ballroom A</td>
            </tr>

            <tr>
              <td>3:45</td>
              <td>Break</td>
              <td>Ballroom B</td>
            </tr>

            <tr>
              <td>4:00</td>
              <td>Advanced Structured Gridding</td>
              <td>Ballroom A</td>
            </tr>

            <tr>
              <td>5:00</td>
              <td>Break</td>
              <td>&nbsp;</td>
            </tr>

            <tr>
              <td>6:30-8:00</td>
              <td>Welcome Reception / Partner Exhibits / Meshy Award Presentation</td>
              <td>Ballroom B</td>
            </tr>

            <tr>
              <th colspan="4">Thursday, 30 October - General Session</th>
            </tr>

            <tr>
              <th>Time</th>
              <th>Event</th>
              <th>Room</th>
            </tr>

            <tr>
              <td>8:00</td>
              <td>Registration / Continental Breakfast / Partner Exhibits</td>
              <td>Ballroom B</td>
            </tr>

            <tr>
              <td>8:30</td>
              <td><em>Welcome &amp; Introduction</em><br />Rick Matus, Ph.D. <br />Vice President, Sales &amp; Marketing, Pointwise</td>
              <td>Ballroom A</td>
            </tr>

            <tr>
              <td>8:45</td>
              <td><em>Current Status of Pointwise </em><br />John Chawner <br />President, Pointwise</td>
              <td>Ballroom A</td>
            </tr>

            <tr>
              <td>9:15</td>
              <td><em>CFD Studies of Heat Transfer at Structured Surface</em> <br />Michael B&ouml;ttcher</a>, Ph.D. <br />Karlsruhe Institute of Technology</td>
              <td>Ballroom A</td>
            </tr>

            <tr>
              <td>9:45</td>
              <td>Break/Partner Exhibits</td>
              <td>Ballroom B</td>
            </tr>

            <tr>
              <td>10:15-4:15</td>
              <td>Support Consultations<br /> (Sign up at the registration desk)</td>
              <td>Teak/Ebony</td>
            </tr>

            <tr>
              <td>10:15</td>
              <td><em>Comparison of Three Mesh Topologies Using a Simple Volute</em> <br />Michael Ni<br />AeroDynamic Solutions</td>
              <td>Ballroom A</td>
            </tr>

            <tr>
              <td>10:45</td>
              <td><em>Computational Simulation of the Fan and Low-Pressure Compressor Stages of the Energy Efficient Engine</em> <br />Bruce Hilbert<br />SimCenter: National Center for Computational Engineering <br />The University of Tennessee at Chattanooga</td>
              <td>Ballroom A</td>
            </tr>

            <tr>
              <td>11:15</td>
              <td><em>Using CFD to Break the Land Speed Record</em> <br />Andy Luo<br />TotalSim LLC</td>
              <td>Ballroom A</td>
            </tr>

            <tr>
              <td>11:45</td>
              <td><em>Overset Meshing with Pointwise</em><br />Nick Wyman<br />Pointwise</td>
              <td>Ballroom A</td>
            </tr>

            <tr>
              <td>12:15</td>
              <td>Lunch</td>
              <td>Atrium</td>
            </tr>

            <tr>
              <td>1:00</td>
              <td><em>Vision 2030 CFD Study: Future Requirements and Focus Areas in Computational Geometry and Mesh Generation</em><br />Jeff Slotnick <br />Boeing Research &amp; Technology</td>
              <td>Ballroom A</td>
            </tr>

            <tr>
              <td>1:30</td>
              <td><em>OpenVSP Parametric Modeling to Viscous CFD</em> <br />Rob McDonald, Ph.D.<br />California Polytechnic State University &amp;<br />Travis Carrigan<br />Pointwise</td>
              <td>Ballroom A</td>
            </tr>

            <tr>
              <td>2:15</td>
              <td>Exhibitor Presentations<br />CFD Gallery<br />Partner Exhibits</td>
              <td>Ballroom B</td>
            </tr>

            <tr>
              <td>3:15</td>
              <td><em>Computational Aeroacoustic Analysis for Military Aircraft Applications</em> <br />Jeremy Shipman<br />CRAFT Tech</td>
              <td>Ballroom A</td>
            </tr>

            <tr>
              <td>3:45</td>
              <td><em>Investigation of CFD Simulation Methods on the Performance of a High-Lift Wing</em> <br />Kyle Graham<br />Northrop Grumman Systems Corp.</td>
              <td>Ballroom A</td>
            </tr>

            <tr>
              <td>4:15</td>
              <td><em>Large-scale Aircraft Design Using SU2 and Pointwise</em> <br />
                Thomas Economon<br />
                Stanford University</td>
                <td>Ballroom A</td>
            </tr>

            <tr>
              <td>4:45</td>
              <td><em>Simulation of the Interaction of a Supersonic Crossflow with a Lateral Jet Injected from the Side of a Generic Missile</em></a> <br />Amar Potturi, Ph.D.<br />Metacomp Technologies</td>
              <td>Ballroom A</td>
            </tr>

            <tr>
              <td>5:15</td>
              <td><em>Conjugate Heat Transfer Analysis of Optimized Flat Plate Film-Cooling Configurations</em><br />William Humber<br />AeroDynamic Solutions</td>
              <td>Ballroom A</td>
            </tr>

            <tr>
              <td>5:45</td>
              <td><em>The Future of Pointwise </em><br />John Chawner<br />President, Pointwise</td>
              <td>Ballroom A</td>
            </tr>

            <tr>
              <td>6:30</td>
              <td>Pointwise User Group Meeting After Party</td>
              <td>TBD</td>
            </tr>

            </table>
          </div>

        </div>

        <!-- Space between columns -->
        <div class="col-lg-1">
        </div>

      <!-- Column Contents -->
      <div class="col-lg-3">

      <!-- Side Nav -->
      <% include ../../partials/nav-ugm %>
      </div>

    </div>
  </div>

    <!-- FOOTER -->
    <% include ../../partials/footer %>

    <!-- JAVASCRIPT -->
    <% include ../../partials/js-includes %>

</body>
</html>
