<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Analytics -->
    <% include ../../partials/ga-includes %>

    <!-- META SETTINGS -->
    <% include ../../partials/meta-settings.ejs %>

    <!-- PAGE TITLE -->
    <title>Automatic Unstructured Mesh Generation with Geometry Attribution</title>

    <meta name="robots" content="noindex">

    <!-- CSS FILES -->
    <% include ../../partials/css-includes %>

</head>

<body id="page-top">

  <noscript>
    <p>
      In order to view this page JavaScript must be enabled in your browser.
    </p>
  </noscript>

    <!-- TOP NAVIGATION -->
    <% include ../../partials/navbar %>

    <div class="container confirmation-body">
      <div class="row">

        <div class="col-lg-8">

          <h1>Thank you!</h1>

          <p>
            To download the technical paper, &ldquo;Automatic Unstructured Mesh Generation with Geometry Attribution,&rdquo; right click and select &ldquo;Save Link As.&rdquo;
          </p>

          <p>
            <!--HubSpot Call-to-Action Code --><span class="hs-cta-wrapper" id="hs-cta-wrapper-570cc249-5736-4523-ba88-34ba59126089"><span class="hs-cta-node hs-cta-570cc249-5736-4523-ba88-34ba59126089" id="hs-cta-570cc249-5736-4523-ba88-34ba59126089"><!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]--><a href="https://cta-redirect.hubspot.com/cta/redirect/3788790/570cc249-5736-4523-ba88-34ba59126089" ><img class="hs-cta-img" id="hs-cta-img-570cc249-5736-4523-ba88-34ba59126089" style="border-width:0px;" src="https://no-cache.hubspot.com/cta/default/3788790/570cc249-5736-4523-ba88-34ba59126089.png"  alt="Download"/></a></span><script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script><script type="text/javascript"> hbspt.cta.load(3788790, '570cc249-5736-4523-ba88-34ba59126089', {}); </script></span><!-- end HubSpot Call-to-Action Code -->
          </p>

          <p class="social-share">
              If you feel others might find our guide useful, please share

              <!-- Facebook Like Button -->
              <a href="http://www.facebook.com/share.php?u=https://info.pointwise.com/technical-paper-automatic-unstructured-mesh-generation-geometry-attribution" target="_blank"><img data-src="../images/Round-Facebook-30x30.svg" width="30px" alt="Facebook Icon" title="Share on Facebook" class="img-fluid"/></a>

              <!-- Twitter Share Button -->
              <a href="http://twitter.com/intent/tweet?status=Automatic Unstructured Mesh Generation with Geometry Attribution+https://info.pointwise.com/technical-paper-automatic-unstructured-mesh-generation-geometry-attribution"><img data-src="../images/Round-Twitter-30x30.svg" width="30px" alt="Twitter Icon" title="Share on Twitter" class="img-fluid"/></a>

              <!-- LinkedIn Share Button -->
              <a href="http://www.linkedin.com/shareArticle?mini=true&url=https://info.pointwise.com/technical-paper-automatic-unstructured-mesh-generation-geometry-attribution&title=Automatic Unstructured Mesh Generation with Geometry Attribution&source=http://www.pointwise.com"><img data-src="../images/Round-LinkedIn-30x30.svg" width="30px" alt="LinkedIn Icon" title="Share on LinkedIn" class="img-fluid"/></a>

              <!-- Share by Email -->
              <a href="mailto:?subject=Automatic Unstructured Mesh Generation with Geometry Attribution&amp;body=https://info.pointwise.com/technical-paper-automatic-unstructured-mesh-generation-geometry-attribution" title="Share by Email"><img data-src="../images/Round-Email-30x30.svg" width="30px" alt="email icon" onclick="shareByEmail(); return false" title="Share by Email" class="img-fluid"/></a>

          </p>

          <hr>

          <div class="row">

              <h2>Watch a presentation given on the subject at the Pointwise User Group Meeting.</h2>
              <div class="col-lg-6">
                  <img data-src="Karman-410x310.jpg" alt="Dr. Karman presenting at the 2018 Pointwise User Group Meeting" class="img-fluid">
              </div>

              <div class="col-lg-6">
                  <p class="cta-space">
                    This presentation explains how Glyph scripts reduced meshing time by up to 90 percent and manual input from hours to minutes.
                  </p>
                  <p>
                    <!--HubSpot Call-to-Action Code --><span class="hs-cta-wrapper" id="hs-cta-wrapper-b7829789-c0e4-4fce-a756-6a3f4a2f80e7"><span class="hs-cta-node hs-cta-b7829789-c0e4-4fce-a756-6a3f4a2f80e7" id="hs-cta-b7829789-c0e4-4fce-a756-6a3f4a2f80e7"><!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]--><a href="https://cta-redirect.hubspot.com/cta/redirect/3788790/b7829789-c0e4-4fce-a756-6a3f4a2f80e7" ><img class="hs-cta-img" id="hs-cta-img-b7829789-c0e4-4fce-a756-6a3f4a2f80e7" style="border-width:0px;" src="https://no-cache.hubspot.com/cta/default/3788790/b7829789-c0e4-4fce-a756-6a3f4a2f80e7.png"  alt="Watch Now"/></a></span><script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script><script type="text/javascript"> hbspt.cta.load(3788790, 'b7829789-c0e4-4fce-a756-6a3f4a2f80e7', {}); </script></span><!-- end HubSpot Call-to-Action Code -->
                  </p>
              </div>
          </div>

      </div>

      <div class="col-lg-1">
      </div>

      <!--Right column-->
      <div class="col-lg-3">

      <div class="lets-talk-nav">
      <h4>You May Also Like</h4>
      <svg class="nav-lines">
          <line class="nav-blue-ymal" x1="0" y1="1" x2="180" y2="1"/>
          <line class="nav-grey-ymal" x1="180" y1="1" x2="275" y2="1"/>
      </svg>
  
      <img data-src="ymal2.png" class="img-fluid" alt="Glyph Scripting with Python in Pointwise" />
      <p>
        <a href="https://info.pointwise.com/webinar-glyph-scripting-python-pointwise">Glyph Scripting with Python in Pointwise</a>
      </p>
  
      <hr />
  
      <img data-src="ymal1.png" class="img-fluid" alt="Using Automated Meshing for Analysis in Conceptual Design" />
      <p>
        <a href="https://info.pointwise.com/webinar-automated-meshing-conceptual-design">Using Automated Meshing for Analysis in Conceptual Design</a>
      </p>

      <hr />
  
      <img data-src="ymal3.png" class="img-fluid" alt="This Is How I Glyph – Automatic Grid Refinement" />
      <p>
        <a href="https://blog.pointwise.com/2016/05/05/this-is-how-i-glyph-automatic-grid-refinement/">This Is How I Glyph – Automatic Grid Refinement</a>
      </p>
      </div>

  </div>
</div>

</div>

<!-- FOOTER -->
<% include ../../partials/footer %>

  <!-- JAVASCRIPT -->
  <% include ../../partials/js-includes %>

</body>
</html>
