<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Analytics -->
    <% include ../../partials/ga-includes %>

    <!-- META SETTINGS -->
    <% include ../../partials/meta-settings.ejs %>

  <!-- PAGE TITLE -->
  <title>Gridgen User Group Meeting 2004</title>

  <!-- OG TAGS -->
  <meta property="og:url" content="https://www.pointwise.com/user-meeting/2004/index.html" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Gridgen User Group Meeting 2005" />
  <meta property="og:description" content="Pointwise's inaugural Gridgen User Group Meeting was held on April 5-6, 2004 at the Renaissance Worthington Hotel here in our hometown of Fort Worth, Texas." />

  <!-- META DATA -->
  <meta name="description" content="Pointwise's inaugural Gridgen User Group Meeting was held on April 5-6, 2004 at the Renaissance Worthington Hotel here in our hometown of Fort Worth, Texas.">
  <meta name="keywords" content="cfd meshing, mesh generation, grid generation, computational fluid dynamics, mesh generator, cfd software, cfd consultants, mesh software, grid software, fluid dynamics modeling" />

  <!-- CSS FILES -->
  <% include ../../partials/css-includes %>

</head>

<body id="page-top">

	<noscript>
		<p>
			In order to view this page JavaScript must be enabled in your browser.
		</p>
	</noscript>

	<!-- TOP NAVIGATION -->
	<% include ../../partials/navbar %>

  <!-- Page Content -->
  <div class="container">
    <div class="row">

      <div class="col-lg-8">

        <h1>Gridgen User Group Meeting 2004</h1>

        <p>
          Pointwise's innaugural Gridgen User Group Meeting was held on April 5-6, 2004 at the Renaissance Worthington Hotel here in our hometown of Fort Worth, Texas. It was a great success and brought together our customers, our partners, and our staff for two days of intense sharing of meshing expertise. Our keynote speaker was Prof. David Whitfield from the University of Tennessee at Chattanooga. Dr. Whitfield is Director of the Graduate School of Computational Engineering at the University of Tennessee (UT) at Chattanooga (UTC) and also Director of the UT SimCenter at Chattanooga. He obtained his undergraduate degree in Mechanical Engineering from Oklahoma State University and obtained both his Master's and Ph.D. degrees in Aerospace Engineering from the University of Tennessee.
        </p>

        <h2>CFD Gallery & Exhibits</h2>

        <div class="row">
          <div class="col-lg-3">
            <img data-src="images/fluent-logo-100x70.png"
            alt="Fluent Logo" class="img-fluid" />
          </div>
          <div class="col-lg-3">
            <img data-src="images/fieldview-logo-100x70.png"
            alt="FIELDVIEW Logo" class="img-fluid" />
          </div>
          <div class="col-lg-3">
            <img data-src="images/cd-adapco-logo-50x70.png"
            alt="STAR-CD Logo" class="img-fluid" />
          </div>
          <div class="col-lg-3">
            <img data-src="images/advantage-logo-100x70.png"
            alt="Advantage CFD Logo" class="img-fluid" />
          </div>
        </div>

        <h2>Agenda</h2>

        <div class="table-responsive">
          <table class="table">

            <tr>
              <th>Day</th>
              <th>Time</th>
              <th>Event</th>
              <th>Room</th>
            </tr>
            <tr>
              <td>Mon, April 5</td>
              <td>&nbsp;8:00 - &nbsp;8:30</td>
              <td>Registration &amp;<br /> Continental Breakfast</td>
              <td>West Fork I</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;8:30 - 10:00</td>
              <td>Gridgen Training Seminar #1<br />Gridgen V15 New Features</td>
              <td>Trinity Central</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>10:00 - 10:15</td>
              <td>Break</td>
              <td>West Fork I</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>10:15 - 12:00</td>
              <td>Gridgen Training Seminar #1<br />continued</td>
              <td>Trinity Central</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>12:00 - &nbsp;1:30</td>
              <td>Buffet Lunch</td>
              <td>West Fork I</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;1:30 - &nbsp;3:00</td>
              <td>Gridgen Training Seminar #2 <br /> Gridgen Tips and Tricks</td>
              <td>Trinity Central</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;3:00 - &nbsp;3:15</td>
              <td>Break for Dessert</td>
              <td>West Fork I</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;3:15 - &nbsp;5:00</td>
              <td>Gridgen Training Seminar #2<br />Continued</td>
              <td>Trinity Central</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;6:30 - &nbsp;8:00</td>
              <td>Welcome Reception &amp;<br /> Vendor Exhibits</td>
              <td>Foyer</td>
            </tr>

            <tr>
              <td>Tue, April 6</td>
              <td>&nbsp;8:00 - &nbsp;8:30</td>
              <td>Registration,<br />Continental Breakfast, &amp;<br />Vendor Exhibits</td>
              <td>Foyer</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;8:30 - &nbsp;8:45</td>
              <td>Welcome &amp; Introductions</td>
              <td>Trinity Central</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;8:45 - &nbsp;9:30</td>
              <td>Current Status of Gridgen</td>
              <td>Trinity Central</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;9:30 - 10:00</td>
              <td>&quot;Multi-Element Approach for High-Fidelity, Efficient Simulations&quot;<br />Jeremy Shipman, Combustion Research and Flow Technology, Inc.</td>
              <td>Trinity Central</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>10:00 - 10:30</td>
              <td>Break &amp; Vendor Exhibits</td>
              <td>Foyer</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>10:30 - 11:00</td>
              <td>&quot;Grid Generation Using Gridgen for Radar Cross-Section (RCS) Predictions&quot;<br />Brian E. McGrath, Johns Hopkins University Applied Physics Laboratory</td>
              <td>Trinity Central</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>11:00 - 11:30</td>
              <td>&quot;A New Rear Wing for Le Mans in Six Weeks&quot;<br />Dan Jestico, Advantage CFD</td>
              <td>Trinity Central</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>11:30 - 12:00</td>
              <td>&quot;Overlapped Grids Generated with Gridgen&quot;<br />Dr. Shuh-yi Chern, Lockheed Martin Space Systems</td>
              <td>Trinity Central</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>12:00 - &nbsp;1:30</td>
              <td>Buffet Lunch &amp;<br />Keynote Presentation - &quot;Grid Generation and Flow Solvers&quot;<br />Prof. David Whitfield, University of Tennessee at Chattanooga</td>
              <td>West Fork I</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;1:30 - &nbsp;2:00</td>
              <td>&quot;Spectral Element Mesh Generation Using Gridgen for Bioflows&quot;<br />Igor Pivkin, Brown University</td>
              <td>Trinity Central</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;2:00 - &nbsp;2:30</td>
              <td>&quot;Semi-Automated Two-Dimensional Block Structured Grid Generation Via Glyph&quot;<br />John R. Dannenhoffer, III, ScD., Syracuse University</td>
              <td>Trinity Central</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;2:30 - &nbsp;3:30</td>
              <td>CFD Gallery</td>
              <td>Foyer</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;3:30 - &nbsp;4:00</td>
              <td>&quot;Gridgen and AMI Software: CFD Solutions in the Design Environment&quot;<br />Cyrille Br&eacute;ard, Analytical Methods, Inc.</td>
              <td>Trinity Central</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;4:00 - &nbsp;4:30</td>
              <td>&quot;Gridgen Usage at the University of Tennessee SimCenter at Chattanooga&quot;<br />Steve Karman, Ph.D., University of Tennessee at Chattanooga</td>
              <td>Trinity Central</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;4:30 - &nbsp;5:00</td>
              <td>&quot;Unstructured Grids for a Circulation-Control Hydrofoil&quot;<br />Roderick M. Coleman, Naval Surface Warfare Center Carderock Dvi.</td>
              <td>Trinity Central</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;5:00 - &nbsp;5:30</td>
              <td>The Future of Gridgen</td>
              <td>Trinity Central</td>
            </tr>
          </table>
        </div>

      </div>

      <!-- Space between columns -->
      <div class="col-lg-1">
      </div>

      <!-- Column Contents -->
      <div class="col-lg-3">
          <!-- Side Nav -->
          <% include ../../partials/nav-ugm %>
      </div>

    </div>
  </div>

  <!-- FOOTER -->
  <% include ../../partials/footer %>

    <!-- JAVASCRIPT -->
    <% include ../../partials/js-includes %>

</body>
</html>
