<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Analytics -->
    <% include ../../partials/ga-includes %>

    <!-- META SETTINGS -->
    <% include ../../partials/meta-settings.ejs %>

  <!-- PAGE TITLE -->
  <title>Pointwise User Group Meeting 2018 - Training Preparation</title>

  <meta name="robots" content="noindex">

    <!-- CSS FILES -->
    <% include ../../partials/css-includes %>

</head>

<body id="page-top">

	<!-- TOP NAVIGATION -->
	<% include ../../partials/navbar %>

  <!-- Page Content -->
  <div class="container">
    <div class="row">

      <div class="col-lg-8">

        <h1>Pointwise User Group Meeting 2018</h1>

        <h2>Training Preparation</h2>

        <p>
          The Pointwise User Group Meeting training course is coming up soon! To make the course as productive as possible, please prepare your laptop prior to attending by following the steps below to download and install your license, Pointwise, and all exercise files.
        </p>

        <h3>1.Download Your Training License File.</h3>

        <p>
          Click on the file below to save your training license file to a temporary location that will be easy to find:
        </p>

        <p>
          <a href="https://pointwiseenterprise.sharefile.com/d-s19a9d7d55254777b" target="_blank" rel="noreferrer noopener">PUGM_Training_License.lic</a>
        </p>

      <h3>2.	Download Pointwise.</h3>
      <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <th colspan='3'>The current production release is Pointwise V18.2.</th>
        <tr>
          <td><strong>Platform</strong></td>
          <td><strong>(Right click, Save Link As…)</strong></td>
          <td><strong>Size (MB)</strong></td>
        </tr>
        <tr>
          <td>Windows 64-bit</td>
          <td><a href="ftp://ftp.pointwise.com/dload/pw-V18.2R1-win64-jre.exe" download>pw-V18.2R1-win64-jre.exe</a></td>
          <td>656</td>
        </tr>
        <tr>
          <td>Linux 64-bit</td>
          <td><a href="ftp://ftp.pointwise.com/dload/pw-V18.2R1-linux_x86_64-jre.sh" download>pw-V18.2R1-linux_x86_64-jre.sh</a></td>
          <td>640</td>
        </tr>
        <tr>
          <td>macOS 64-bit</td>
          <td><a href="ftp://ftp.pointwise.com/dload/pw-V18.2R1-macosx.dmg" download>pw-V18.2R1-macosx.dmg </a></td>
          <td>709</td>
        </tr>
      </table>
      </div>

      <p>
        Please review the <a href="https://www.pointwise.com/pointwise/index.html?hsCtaTracking=a918e3d2-1d05-4b93-afdb-97b04996215e%7C70e78902-63eb-412c-a7ce-b12a044b8823#platforms">minimum requirements</a> for your platform before installation.
      </p>

      <h3>3. Install Pointwise.</h3>

      <ol>
        <li>
          Run the Pointwise installer.
        </li>
        <ol type="a">
          <li>
            <strong>IMPORTANT:</strong> Install Pointwise as Administrator/root on Windows machines.
          </li>
        </ol>
        <li>
          Accept the Right-to-Use license and use all defaults for the installation.
        </li>
        <li>
          Pointwise should launch after you click <em>Finish</em>.
        </li>
        <ol type="a">
          <li>
            The <em>Pointwise License Wizard</em> will appear when Pointwise is unable to find a license server.
          </li>
          <li>
            Select &ldquo;Specify a License File&rdquo; then click <em>Next</em>.
          </li>
          <li>
            Navigate to the folder containing the training license downloaded in Step 1. Select the license file and click <em>Open</em>.
          </li>
          <li>
            Click <em>Next</em> then <em>Finish</em>.
          </li>
        </ol>
      </ol>

      <h3>4. Download Training Example Files.</h3>

      <p>
        Click on the link below to download the example files you will use for the hands-on exercises in the training course. Save and unzip these files to a location you can easily find during the course.
      </p>

      <p><a href="PUGM2018_Training.zip">PUGM2018_Training.zip</a></p>

    <div class="image-inline">
      <a href="https://engys.com/" target="_blank" rel="noreferrer noopener"><img data-src="../2018/images/engys-logo-400x200.png" class="img-fluid" alt="Engys Logo"/></a>
      <a href="http://www.ilight.com/en/" target="_blank" rel="noreferrer noopener"><img data-src="../2018/images/intelligent-light-logo-400x116.png" class="img-fluid" alt="Intelligent Light Logo"/></a>
      <a href="http://www.metacomptech.com/" target="_blank" rel="noreferrer noopener"><img data-src="../2018/images/metacomp-logo-400x141.png" class="img-fluid" alt="Metacomp Logo"/></a>
      <a href="https://www.tecplot.com/" target="_blank" rel="noreferrer noopener"><img data-src="../2018/images/tecplot-logo-400x164.png" class="img-fluid" alt="Tecplot logo"/></a>
    </div>

    </div>

      <!-- Space between columns -->
      <div class="col-lg-1">
      </div>

      <!-- Column Contents -->
      <div class="col-lg-3">
        <p class="cta-space"></p>
        <h4>User Group Meeting</h4>
        <svg class="nav-lines">
          <line class="nav-blue-subscribe" x1="0" y1="1" x2="210" y2="1"/>
          <line class="nav-grey-subscribe" x1="200" y1="1" x2="275" y2="1"/>
        </svg>
        <div class="side-nav">
          <p><a href="../index.html">Main</a></p>
          <p><a href="../agenda.html">Agenda</a></p>
          <p><a href="../presenters.html">Presenters</a></p>
          <p><a href="../training.html">Training Courses</a></p>
          <p><a href="../exhibitor-registration.html">Exhibitors</a></p>
          <p><a href="../cfd-gallery.html">CFD Gallery</a></p>
          <p><a href="../hotel.html">Hotel and Travel</a></p>
          <p><a href="../meshy-award.html">Meshy Award Contest</a></p>
        </div>

        <p class="cta-space"></p>
        <h4>Previous Years</h4>
        <svg class="nav-lines">
          <line class="nav-blue-subscribe" x1="0" y1="1" x2="160" y2="1"/>
          <line class="nav-grey-subscribe" x1="160" y1="1" x2="275" y2="1"/>
        </svg>
        <p><a class="drop collapsed help-items" data-toggle="collapse" data-target="#years">Archive</a></p>
        <div id="years" class="collapse side-nav">
          <p><a href="../archive.html">Main</a></p>
          <p><a href="../2016/index.html">2016</a></p>
          <p><a href="../2014/index.html">2014</a></p>
          <p><a href="../2013/index.html">2013</a></p>
          <p><a href="../2011/index.html">2011</a></p>
          <p><a href="../2010/index.html">2010</a></p>
          <p><a href="../2008/index.html">2008</a></p>
          <p><a href="../2006/index.html">2006</a></p>
          <p><a href="../2005/index.html">2005</a></p>
          <p><a href="../2004/index.html">2004</a></p>
        </div>
      </div>

    </div>
  </div>

  <!-- FOOTER -->
  <% include ../../partials/footer %>

    <!-- JAVASCRIPT -->
    <% include ../../partials/js-includes %>

</body>
</html>
