<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Analytics -->
    <% include ../../partials/ga-includes %>

    <!-- META SETTINGS -->
    <% include ../../partials/meta-settings.ejs %>

  <!-- PAGE TITLE -->
  <title>Pointwise User Group Meeting 2013</title>

  <!-- OG TAGS -->
  <meta property="og:url" content="https://www.pointwise.com/user-meeting/2013/index.html" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Pointwise User Group Meeting 2013" />
  <meta property="og:description" content="The Pointwise User Group Meeting was held 19-20 March 2013 in Fort Worth, Texas." />

  <!-- META DATA -->
  <meta name="description" content="The Pointwise User Group Meeting was held 19-20 March 2013 in Fort Worth, Texas.">
  <meta name="keywords" content="cfd meshing, mesh generation, grid generation, computational fluid dynamics, mesh generator, cfd software, cfd consultants, mesh software, grid software, fluid dynamics modeling" />

  <!-- CSS FILES -->
  <% include ../../partials/css-includes %>

</head>

<body id="page-top">

	<noscript>
		<p>
			In order to view this page JavaScript must be enabled in your browser.
		</p>
	</noscript>

	<!-- TOP NAVIGATION -->
	<% include ../../partials/navbar %>

  <!-- Page Content -->
  <div class="container">
    <div class="row">

      <div class="col-lg-8">

        <img data-src="images/ugm-2013-masthead-800x370.png" alt="Pointwise User Group 2013 Logo" class="img-fluid center-block" />

        <h1>Pointwise User Group Meeting 2013</h1>

        <p>
          The Pointwise User Group Meeting 2013 was held in Fort Worth, Texas on 19-20 March. The meeting featured hands-on training in the Pointwise software, presentations from customers from around the world, a user-chosen short-course titled &ldquo;Meshing Forensics,&rdquo; and the presentation of the Meshy Award.
        </p>

        <p>
          Photos from the event can be seen in an <a href="https://www.facebook.com/media/set/?set=a.10151488079662418.1073741826.360943992417&type=3" target="_blank" rel="noreferrer noopener">album on Facebook</a>.
        </p>

        <h2>Exhibiting Partners</h2>

        <p>
          We are pleased to have had several of our partners participate in the CFD Gallery at this year's user group meeting. Our attendees benefited from time spent with our partners discussing how their solutions complement Pointwise.
        </p>

        <div class="row">
          <div class="col-lg-2">
            <img data-src="images/ansys-logo-100x70.png" alt="ANSYS" class="img-fluid" />
          </div>
          <div class="col-lg-2">
            <img data-src="images/cei-logo-100x70.png" alt="CEI" class="img-fluid" />
          </div>
          <div class="col-lg-2">
            <img data-src="images/cradle-logo-100x70.png" alt="Cradle" class="img-fluid" />
          </div>
          <div class="col-lg-2">
            <img data-src="images/metacomp-logo-100x48.png" alt="Metacomp Technologies" class="img-fluid" />
          </div>
          <div class="col-lg-2">
            <img data-src="images/tecplot-logo-100x65.png" alt="Tecplot" class="img-fluid" />
          </div>
          <div class="col-lg-2">
            <img data-src="images/tetra-logo-100x70.png" alt="Tetra Research" class="img-fluid" />
          </div>
        </div>

        <h2>The Meshy Award</h2>

        <p>
          A team of engineers from CRAFT Tech was awarded this year's Meshy Award, an award that recognizes a mesh for its visual appeal, originality, and uniqueness. Dr. John Steinbrenner, Pointwise vice president of research and development, presented the award to Jeremy Shipman who accepted on behalf of his co-workers Vineet Ahuja, James Chenoweth, Don Kenzakowski, and Zisen Liu. The CRAFT Tech mesh was featured on a T-shirt that was distributed at the user group meeting. The award winning meshes are available for viewing along with the other entries in our <a href="https://www.facebook.com/media/set/?set=a.10151260250262418.488988.360943992417&type=1&l=23e8a84c0b" target="_blank" rel="noreferrer noopener">Meshy Award 2013</a> photo album on Facebook.
        </p>

        <img data-src="images/meshy-winner-2013.png" alt="Meshy Award Winner for 2013" class="img-fluid center-block" />

        <img data-src="images/meshy-winner.jpg" alt="Meshy Award Winner CRAFT Tech" class="img-fluid center-block" />

        <h2>Agenda</h2>

        <div class="table-responsive">
          <table class="table">

            <tr>
              <th colspan="4">Tuesday, 19 March - Training</th>
            </tr>

            <tr>
              <th class="col-lg-2">Time</th>
              <th>Event</th>
              <th>Room</th>
            </tr>

            <tr>
              <td>8:00 a.m.</td>
              <td>Registration / Continental Breakfast</td>
              <td>Synergy Foyer</td>
            </tr>

            <tr>
              <td>8:30 a.m.</td>
              <td>Tips and Expert Tricks for Structured Meshing</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>10:00 a.m.</td>
              <td>Break</td>
              <td>Synergy Foyer</td>
            </tr>

            <tr>
              <td>10:15 a.m.</td>
              <td>Smoothing Structured Meshes</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>12:00 p.m.</td>
              <td>Buffet Lunch</td>
              <td>Atrium</td>
            </tr>

            <tr>
              <td>1:00 p.m.</td>
              <td>Using Plugins to Streamline Your Process</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>2:00 p.m.</td>
              <td>Break</td>
              <td>Synergy Foyer</td>
            </tr>

            <tr>
              <td>2:30 p.m.</td>
              <td>Pointwise's New Features</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>3:45 p.m.</td>
              <td>Break</td>
              <td>Synergy Foyer</td>
            </tr>

            <tr>
              <td>4:00 p.m.</td>
              <td>Special Short Course: Meshing Forensics</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>5:00 p.m.</td>
              <td>Break</td>
              <td>&nbsp;</td>
            </tr>

            <tr>
              <td>6:30 p.m.<br />- 8:00 p.m.</td>
              <td>Welcome Reception / Partner Exhibits</td>
              <td>Synergy Foyer</td>
            </tr>

            <tr>
              <th colspan="4">Wednesday, 20 March - General Session</th>
            </tr>

            <tr>
              <th>Time</th>
              <th>Event</th>
              <th>Room</th>
            </tr>

            <tr>
              <td>8:00 a.m.</td>
              <td>Registration / Continental Breakfast / Partner Exhibits</td>
              <td>Synergy Foyer</td>
            </tr>

            <tr>
              <td>8:30 a.m.</td>
              <td><em>Welcome &amp; Introduction</em><br />Rick Matus, Vice President, Sales &amp; Marketing, Pointwise</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>8:45 a.m.</td>
              <td><em>Current Status of Pointwise &amp; Gridgen</em><br />John Chawner, President, Pointwise</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>9:15 a.m.</td>
              <td><em>Numerical Simulation of LBE Rod Bundle Flow</em><br />Michael B&ouml;ttcher, Ph.D., Karlsruher Institut fuer Technologie (KIT)</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>9:45 a.m.</td>
              <td>Break/Partner Exhibits</td>
              <td>Synergy Foyer</td>
            </tr>

            <tr>
              <td>10:15 a.m. <br /> 4:15 p.m.</td>
              <td>Support Consultations (Sign up at the registration desk)</td>
              <td>Synergy III</td>
            </tr>

            <tr>
              <td>10:15 a.m.</td>
              <td><em>Application of T-REX for Complex Internal Flows Using Pointwise and CRUNCH CFD</em><br />Jeremy Shipman, CRAFT Tech</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>10:45 a.m.</td>
              <td><em>Large Eddy Simulation for Exhaust Nozzle Design</em><br />Umesh Paliath, Ph.D., GE Corporation</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>11:15 a.m.</td>
              <td><em>Kaplan Turbine Runners - Block Structured CFD Grids Using Pointwise</em><br />Barbara Schoenborn, Voith Hydro Holding GmbH &amp; Co.</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>11:45 a.m.</td>
              <td><em>Structured Grid Cell Remediation for Overset Meshes</em><br />John Steinbrenner, Ph.D., Pointwise</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>12:15 p.m.</td>
              <td>Lunch</td>
              <td>Atrium</td>
            </tr>

            <tr>
              <td>1:00 p.m.</td>
              <td><em>Automation of Simulation for North American Eagle Landspeed Car</em><br />Kevin Colburn, CEI, Inc.</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>1:30 p.m.</td>
              <td><em>Stability of Boundary Layers</em><br />Eduardo Perez, Texas A&amp;M University</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>2:00 p.m.</td>
              <td>Meshy Award</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>2:15 p.m.</td>
              <td>Exhibitor Presentations</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>2:30 p.m.</td>
              <td>CFD Gallery</td>
              <td>Synergy Foyer</td>
            </tr>

            <tr>
              <td>3:30 p.m.</td>
              <td><em>Use of the New Pointwise OGA Interface with Suggar++</em><br />Ralph Noack, Ph.D., Celeritas Simulation Technology, LLC</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>4:00 p.m.</td>
              <td><em>Innovative and Efficient Shape Design Using Sculptor's Latest New Features and Capabilities in Optimization, Morphing, Shape Matching, Back2CAD with Pointwise/Gridgen File Format</em><br />Mark Landon, Ph.D., Optimal Solutions Software, LLC</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>4:30 p.m.</td>
              <td><em>Hierarchical Grid Adaptation Utilizing Pointwise Surface Meshing</em><br />Bruce Hilbert, University of Tennessee at Chattanooga</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>5:00 p.m.</td>
              <td><em>The Future of Pointwise &amp; Gridgen</em><br />John Chawner, President, Pointwise</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>6:30 p.m.</td>
              <td>Pointwise User Group Meeting After Party</td>
              <td>Fox and Hound</td>

            </table>
          </div>

        </div>

        <!-- Space between columns -->
        <div class="col-lg-1">
        </div>

      <!-- Column Contents -->
      <div class="col-lg-3">

      <!-- Side Nav -->
      <% include ../../partials/nav-ugm %>
      </div>

    </div>
  </div>

    <!-- FOOTER -->
    <% include ../../partials/footer %>

    <!-- JAVASCRIPT -->
    <% include ../../partials/js-includes %>

</body>
</html>
