<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Analytics -->
    <% include ../../partials/ga-includes %>

    <!-- META SETTINGS -->
    <% include ../../partials/meta-settings.ejs %>

  <!-- PAGE TITLE -->
  <title>Pointwise User Group Meeting 2016</title>

  <!-- OG TAGS -->
  <meta property="og:url" content="https://www.pointwise.com/user-meeting/2016/index.html" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Pointwise User Group Meeting 2016" />
  <meta property="og:description" content="The Pointwise User Group Meeting was held 21-22 September 2016 in Fort Worth, Texas." />

  <!-- META DATA -->
  <meta name="description" content="The Pointwise User Group Meeting was held 21-22 September 2016 in Fort Worth, Texas.">
  <meta name="keywords" content="cfd meshing, mesh generation, grid generation, computational fluid dynamics, mesh generator, cfd software, cfd consultants, mesh software, grid software, fluid dynamics modeling" />

  <!-- CSS FILES -->
  <% include ../../partials/css-includes %>

</head>

<body id="page-top">

	<!-- TOP NAVIGATION -->
	<% include ../../partials/navbar %>

  <!-- Page Content -->
  <div class="container">
    <div class="row">

      <div class="col-lg-8">

        <img data-src="images/ugm-2016-masthead-800x182.png" alt="Pointwise User Group 2016 Logo" class="img-fluid center-block" />

        <h1>Pointwise User Group Meeting 2016</h1>

        <p>
          The Pointwise User Group Meeting 2016 held in Fort Worth, Texas on 21-22 September drew attendees from around the world and included technical presentations on subjects ranging from aircraft and race car aerodynamics to construction of 3-D printed sculptures. The meeting also featured hands-on Pointwise V18 training, a short-course entitled “Advanced Geometry Cleanup,” and the presentation of the Meshy Award.
        </p>

        <p>
          Photos from the event can be seen in an <a href="https://www.facebook.com/media/set/?set=a.10154515309242418.1073741888.360943992417&type=3" target="_blank" rel="noreferrer noopener">album on Facebook</a>.
        </p>

        <h2>Exhibiting Partners</h2>
        <div class="row">
          <div class="col-lg-2">
            <img data-src="images/engys-logo-100x20.png" alt="ENGYS" class="img-fluid" />
          </div>
          <div class="col-lg-2">
            <img data-src="images/intelligent-light-100x20.png" alt="Intelligent Light" class="img-fluid" />
          </div>
          <div class="col-lg-2">
            <img data-src="images/metacomp-logo-100x48.png" alt="Metacomp Technologies" class="img-fluid" />
          </div>
          <div class="col-lg-2">
            <img data-src="images/optimal-solutions-logo-200x70.png" alt="Optimal Solutions" class="img-fluid" />
          </div>
          <div class="col-lg-2">
            <img data-src="images/tecplot-logo-100x65.png" alt="Tecplot" class="img-fluid" />
          </div>
        </div>

        <h2>The Meshy Award</h2>

        <p>
          This year's winners of the Pointwise Meshy Award Contest were C. Bruce Hilbert, Ph.D. and Melody Rees of Branch Technology. The winning 3-D structured Pointwise grid was used for the purpose of printing a 3-D pavilion on view at Cheekwood Gardens in Nashville, Tennessee.
        </p>

        <img data-src="images/meshy-winner-800x474.jpg" alt="Meshy Award Winner for 2018" class="img-fluid center-block" />

        <p>
          All of this year's entries can be seen in a <a href="https://www.facebook.com/media/set/?set=a.10154185264342418.1073741884.360943992417&type=1&l=1a8c37ffea" target="_blank" rel="noreferrer noopener">Facebook photo album</a>.
        </p>

        <h2>Agenda</h2>

        <div class="table-responsive">
          <table class="table">

            <tr>
              <th colspan="4">Wednesday, 21 September - Pointwise V18 Training</th>
            </tr>

            <tr>
              <th>Time</th>
              <th>Event</th>
              <th>Room</th>
            </tr>

            <tr>
              <td>8:00 a.m.</td>
              <td>Registration/Continental Breakfast</td>
              <td>Synergy Foyer</td>
            </tr>

            <tr>
              <td>8:30 a.m.</td>
              <td>Quad Dominant Surface Meshing</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>10:00 a.m.</td>
              <td>Break</td>
              <td>Synergy Foyer</td>
            </tr>

            <tr>
              <td>10:15 a.m.</td>
              <td>Unstructured Hexahedra and Mixed Cell Blocks</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>12:00 p.m.</td>
              <td>Lunch</td>
              <td>Atrium</td>
            </tr>

            <tr>
              <td>1:00 p.m.</td>
              <td>Cell Size Control with Shapes and Sources</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>2:00 p.m.</td>
              <td>Break</td>
              <td>Synergy Foyer</td>
            </tr>

            <tr>
              <td>2:30 p.m.</td>
              <td>New Productivity Enhancers</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>3:45 p.m.</td>
              <td>Break</td>
              <td>Synergy Foyer</td>
            </tr>

            <tr>
              <td>4:00 p.m.</td>
              <td>Mastering Geometry Cleanup Tasks in Pointwise</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>5:00 p.m.</td>
              <td>Break</td>
              <td>&nbsp;</td>
            </tr>

            <tr>
              <td>6:30 p.m. - 8:00 p.m.</td>
              <td>Welcome Reception/Partner Exhibits</td>
              <td>Synergy Foyer</td>
            </tr>

            <tr>
              <th colspan="4">Thursday, 22 September - User and Pointwise Presentations</th>
            </tr>

            <tr>
              <th>Time</th>
              <th>Event</th>
              <th>Room</th>
            </tr>

            <tr>
              <td>8:00 a.m.</td>
              <td>Registration/Continental Breakfast</td>
              <td>Synergy Foyer</td>
            </tr>

            <tr>
              <td>8:30 a.m.</td>
              <td><em>Welcome &amp; Introduction</em><br /> Rick Matus, Ph.D., Pointwise, Inc.</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>8:45 a.m.</td>
              <td><em>Current Status of Pointwise</em><br />John Chawner, Pointwise, Inc.</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>9:15 a.m.</td>
              <td><em>Design Optimization of Big Wave Surfboards Using Pointwise and CRUNCH CFD</em><br />Jeremy D. Shipman, Combustion Research and Flow Technology, Inc.</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>9:45 a.m.</td>
              <td>Break/Partner Exhibits</td>
              <td>Synergy Foyer</td>
            </tr>

            <tr>
              <td>10:15 a.m. <br />- 4:15 p.m.</td>
              <td>Support Consultations (Sign up at the registration desk)</td>
              <td>Synergy II &amp; III</td>
            </tr>

            <tr>
              <td>10:15 a.m.</td>
              <td><em>The Automation of Domain Assembly Tedium in Pointwise by the Application of &nbsp;<br />Glyph Scripting</em><br />Ethan Alan Hereth, SimCenter at the University of Tennessee at Chattanooga</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>10:45 a.m.</td>
              <td><em>Results from HPCMP Create<sup>TM</sup>-AV COFFE for Tasks 1-3 for DPW6</em><br />Ryan Glasby, Ph.D., University of Tennessee</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>11:15 a.m.</td>
              <td><em>Innovative Freeform Extrusion Utilizing Grids Created with Pointwise</em><br />C. Bruce Hilbert, Ph.D., Branch Technology, Inc.</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>11:45 a.m.</td>
              <td><em>Pyglyph - A Python Binding for the Pointwise Glyph Scripting Language</em><br />Raymond Maple, Ph.D., Textron Aviation</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>12:15 p.m.</td>
              <td>Lunch</td>
              <td>Atrium</td>
            </tr>

            <tr>
              <td>1:00 p.m.</td>
              <td><em>V8 Supercar Design with CFD</em><br />Scott Burch, Garry Rogers Motorsport</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>1:30 p.m.</td>
              <td><em>Rapid Aerodynamics for Realistic Aircraft Geometries Using FlightStream and Pointwise</em><br />Roy J. Hartfield Jr., Ph.D., Research in Flight</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>2:00 p.m.</td>
              <td>Meshy Award Ceremony and Exhibitor Presentations</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>2:30 p.m.</td>
              <td>CFD Gallery</td>
              <td>Synergy Foyer</td>
            </tr>

            <tr>
              <td>3:30 p.m.</td>
              <td><em>Numerical Study of the Impact of Basebleed on Aerospike Nozzle Performance</em><br />Andrea Papi, Firefly Space Systems</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>4:00 p.m.</td>
              <td><em>Meshing Overview & S-Duct Results Using FUN3D from the 3rd Propulsion<br /> Aerodynamics Workshop</em><br />Zach Davis, Pointwise, Inc.</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>4:30 p.m.</td>
              <td><em>Combining SU2 and Pointwise for High-Order Mesh Generation Around Complex Geometries</em><br />Thomas D. Economon, Ph.D., Stanford University</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>5:00 p.m.</td>
              <td><em>The Future of Pointwise</em><br />John Chawner, Pointwise, Inc.</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>6:30 p.m.</td>
              <td>Pointwise User Group Meeting After Party</td>
              <td>Frankie's Sports Bar</td>
            </tr>
          </table>
        </div>

      </div>

      <!-- Space between columns -->
      <div class="col-lg-1">
      </div>

      <!-- Column Contents -->
      <div class="col-lg-3">

      <!-- Side Nav -->
      <% include ../../partials/nav-ugm %>

      </div>
    </div>
  </div>
  <!-- FOOTER -->
  <% include ../../partials/footer %>

    <!-- JAVASCRIPT -->
    <% include ../../partials/js-includes %>

</body>
</html>
