<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Analytics -->
    <% include ../../partials/ga-includes %>

    <!-- META SETTINGS -->
    <% include ../../partials/meta-settings.ejs %>


	<!-- PAGE TITLE -->
	<title>Pointwise delivers fast, accurate results for Garry Rogers Motorsport</title>

	<meta name="robots" content="noindex">

	<!-- CSS FILES -->
	<% include ../../partials/css-includes %>

</head>

<body id="page-top">

	<noscript>
		<p>
			In order to view this page JavaScript must be enabled in your browser.
		</p>
	</noscript>	

	<!-- TOP NAVIGATION -->
	<% include ../../partials/navbar %>

	<section id="title-section">
	<div class="container-fluid">
		<div class="row">
			<div class="image-case">
				<img data-src="images/GRM-Volvo-V8-Supercar-3840x1200.jpg" alt="Pointwise delivers fast, accurate results for Garry Rogers Motorsport" class="img-fluid"/>
				<h1><span class="case-caption">Pointwise delivers fast, accurate results for <br />Garry Rogers Motorsport</span></h1>
			</div>
		</div>
	</div>
	</section>

	<section id="article">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-8">

				<p>
					Australia’s V8 Supercars Championship is one of the most popular touring car series in the country. As the name suggests, these custom-built cars are based on V8 production cars manufactured for open roads and highways. The Garry Rogers Motorsport (GRM) racing team has been a leader in Australian touring car racing for more than 50 years. Since joining the V8 Supercars Championship series in 1996, the team has introduced several legendary drivers and claimed major championships such as the Bathurst 1000 and Bathurst 24 Hour. For GRM, the automotive CFD meshing capabilities provided by Pointwise played an integral part in building the Supercars that could help get them to the finish line first.
				</p>

				<h2>V8 Supercar of the Future</h2>

				<p>
					The year 2010 brought major changes to the sport when plans for the &ldquo;Car of the Future&rdquo; were unveiled by the V8 Supercars governing body. The plans were well-received and promised to reduce the cost of the car by 50 to 60 percent, improve safety, make the race more exciting, and attract new automotive manufacturers, among other benefits.
				</p>

				<img data-src="images/Fig1-Mesh-Rear-Diffuser.png"
				alt="Pointwise meshing for rear diffuser of GRM’s Volvo V8 Supercar" class="img-fluid center-block" />
				<figcaption>
					Pointwise meshing for rear diffuser of GRM’s Volvo V8 Supercar. For most automotive CFD solutions, the quality of the mesh is critical to generating accurate solutions, especially for viscous flows over the complex geometries.
				</figcaption>

				<p>
					The plans specified that the next generation V8 Supercars have a fixed chassis design, be dimensionally identical, and produce near identical downforce and drag numbers to create parity between all V8 cars. Because of parity, human skills are what wins races, making it more exciting for fans and a more interesting challenge for the teams and drivers.
				</p>

				<h2>High-quality meshing in less time saves money</h2>

				<p>
					Partnering with Volvo, GRM’s priority was to build its V8 Supercar with speed and accuracy without exceeding budget. Because wind tunnels are against regulations, the team relies on CFD solutions to evaluate and adjust a car’s aerodynamics. For most automotive CFD solutions, the quality of the mesh is critical to generating accurate solutions, especially for viscous flows over the complex geometries of a race car. It takes a lot of time to generate quality meshes without automating the process, however, and that’s where Pointwise comes in handy.
				</p>

				<img data-src="images/Fig2-Visualization-rear-diffuser.png"
				alt="CFD visualization of viscous flow over the V8 Supercar’s rear diffuser." class="img-fluid center-block" />
				<figcaption>
					CFD visualization of viscous flow over the V8 Supercar’s rear diffuser.
				</figcaption>

				<p>
					&ldquo;Since moving the CFD meshing operation to Pointwise, the hours invested in mesh generation have been significantly reduced while also having a great deal of confidence with the results we obtain.&rdquo; said Garry Rogers, GRM founder and owner.
				</p>

				<p>
					Pointwise's features include the anisotropic tetrahedral extrusion method (T-Rex), which can capture the highly detailed boundary layer as it develops around a complex geometry. For GRM, this is critical to accurately predicting the downforce on the wing elements and diffusers near the ground. New features such as point-matched structured and unstructured blocks and quad-dominant meshing also make it possible to increase geometric complexity without increasing computational costs.
				</p>

				<img data-src="images/Fig3-Mesh-wing.png"
				alt="Pointwise mesh of V8 Supercar’s rear wing." class="img-fluid center-block" />
				<figcaption>
					Pointwise mesh of V8 Supercar’s rear wing.
				</figcaption>

				<p>
					&ldquo;The fact that some manufacturers have had to re-homologate  their cars represent a large — and what should have been an unnecessary — expenditure in time, money and personnel,&rdquo; added Rogers. &ldquo;We have managed to avoid these expenditures by demonstrating the savings achievable from utilizing Pointwise for meshing.&rdquo;
				</p>

				<p>
					Pointwise offers highly sophisticated levels of automation that enable users to rapidly mesh the complex shapes needed to quickly generate accurate CFD solutions. On the other end of the spectrum, Pointwise users can make detailed changes manually, including moving grid points one at a time. This provides users with high levels of automation for greater speed and high levels of control for extremely accurate results and is typically not found in other preprocessing products.
				</p>

				<div class="cta-space text-center">
					<!--HubSpot Call-to-Action Code --><span class="hs-cta-wrapper" id="hs-cta-wrapper-932a8cb6-6fc2-4747-8e4f-99938b6982a9"><span class="hs-cta-node hs-cta-932a8cb6-6fc2-4747-8e4f-99938b6982a9" id="hs-cta-932a8cb6-6fc2-4747-8e4f-99938b6982a9"><!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]--><a href="https://cta-redirect.hubspot.com/cta/redirect/3788790/932a8cb6-6fc2-4747-8e4f-99938b6982a9" ><img class="hs-cta-img" id="hs-cta-img-932a8cb6-6fc2-4747-8e4f-99938b6982a9" style="border-width:0px;" src="https://no-cache.hubspot.com/cta/default/3788790/932a8cb6-6fc2-4747-8e4f-99938b6982a9.png"  alt="Get a Free Trial"/></a></span><script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script><script type="text/javascript"> hbspt.cta.load(3788790, '932a8cb6-6fc2-4747-8e4f-99938b6982a9', {}); </script></span><!-- end HubSpot Call-to-Action Code -->
				</div>

				<p>
					When it comes to automotive CFD meshing, Pointwise users do not need to choose between speed and accuracy. They get the best of both worlds.
				</p>

				<!-- 16:9 aspect ratio -->
				<div class="lets-talk-video embed-responsive embed-responsive-16by9">
					<video controls>
						<source src="Adelaide-2014-R2-Last-Lap.mp4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
						</video>
					</div>
					<figcaption>
						Watch as GRM Driver Scott McLaughlin takes the final lap in Race 2 of the 2014 Adelaide Clipsal 500. McLaughlin drives a blue Volvo. The automotive CFD meshing capabilities provided by Pointwise gave GRM the ability to rapidly mesh complex shapes while quickly generating accurate CFD solutions.
					</figcaption>

				</div>

				<div class="col-lg-1">
				</div>

				<div class="col-lg-3 col-md-3 case-study-nav">
					<h4>Company Profile</h4>
					<p>
						Garry Rogers Motorsport
						<img data-src="images/GRM-logo-200.png"
						alt="Garry Rogers Motorsport Logo" class="img-fluid" />
					</p>

					<h4>Client Since</h4>
					<p>
						2012
					</p>

					<h4>About the Client</h4>
					<p>
						Garry Rogers Motorsport, is an Australian motor racing team owned by retired racing driver Garry Rogers. Based in Melbourne, the team has competed in a variety of touring car series in Australia. In 2013 the team celebrated its 50th year in racing since Rogers made his debut.
					</p>

					<hr />

					<h3>Solution at a Glance</h3>

					<h4>CHALLENGE</h4>
					<p>
						Due to governing body rule changes, Garry Rogers Motorsport needed to design and build a completely new V8 Supercar without blowing their budget and schedule.
					</p>

					<h4>SOLUTION</h4>
					<p>
						By moving their CFD meshing to Pointwise, Garry Rogers Motorsport was able to significantly reduce their hours spent generating meshes while also having a great deal of confidence in the results.
					</p>

					<h4>BENEFIT</h4>
					<p>
						Using Pointwise, they avoided the time and money spent by other teams on recertification.
					</p>

				</div>

			</div>
		</div>
	</section>

	<section id="ymal">
	<div class="container lets-talk-content">
		<div class="row">
			<div class="col-lg-12">
				<hr />
				<h2 class="text-center">You May Also Like</h2>
			</div>
		</div>

		<div class="row">

				<div class="col-lg-4 col-md-4">
					<div class="card">
						<a href="http://info.pointwise.com/webinar-automotive-design-optimization"><img data-src="images/Webinar-Automotive-Design-Optimization-DrivAer-400x240.png" class="card-img-top img-fluid" alt="Automotive Design Optimization using Pointwise, Sculptor, and OpenFOAM"></a>
						<div class="card-body">
							<a href="http://info.pointwise.com/webinar-automotive-design-optimization"><h3>Automotive Design Optimization using Pointwise, Sculptor, and OpenFOAM&reg;</h3></a>
							<p class="card-text">
								When coupled with a high-quality mesh generator, mesh morphing promises to allow rapid design space exploration by eliminating the need to remesh. Using the DrivAer geometry as an example, we use Pointwise, OpenFOAM, and Sculptor to simulate design variations.
							</p>
							<p>
								<a href="http://info.pointwise.com/webinar-automotive-design-optimization" class="btn btn-primary" role="button">More</a>
							</p>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-md-4">
					<div class="card">
						<a href="http://info.pointwise.com/webinar-localized-remeshing-strategies-parametric-models"><img data-src="images/webcast-DrivAer-Components-400x240.png" class="card-img-top img-fluid"  alt="Localized Remeshing Strategies for Parametric Models in Pointwise"></a>
						<div class="card-body">
							<a href="http://info.pointwise.com/webinar-localized-remeshing-strategies-parametric-models"><h3>Localized Remeshing Strategies for Parametric Models in Pointwise</h3></a>
							<p class="card-text">
								This video demonstrates the flexibility you will gain from Pointwise’s ability to limit remeshing to regions where geometry changes during your design cycle. Included are techniques for remeshing on geometry model import, merging adjacent meshes, and more.
							</p>
							<p>
								<a href="http://info.pointwise.com/webinar-localized-remeshing-strategies-parametric-models" class="btn btn-primary" role="button">More</a>
							</p>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-md-4">
					<div class="card">
						<a href="../../theconnector/2016-Q3/Stanford-Solar-Car-Projects-Race-for-Aerodynamic-Efficiency.html"><img data-src="images/solar-400x240.png" class="card-img-top img-fluid"  alt="The Stanford Solar Car Project's Race for Aerodynamic Efficiency"></a>
						<div class="card-body">
							<a href="../../theconnector/2016-Q3/Stanford-Solar-Car-Projects-Race-for-Aerodynamic-Efficiency.html"><h3>The Stanford Solar Car Project's Race for Aerodynamic Efficiency</h3></a>
							<p class="card-text">
								Chasing the Sun 3000 km across the Australian Outback is a challenge. And doing it in a solar powered vehicle is an even bigger challenge. But every two years the Stanford Solar Car Project, a student-run organization, arrives in Australia with a new design ready to take on the Bridgestone World Solar Challenge.
							</p>
							<p>
								<a href="../../theconnector/2016-Q3/Stanford-Solar-Car-Projects-Race-for-Aerodynamic-Efficiency.html" class="btn btn-primary" role="button">More</a>
							</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
<br>
		<!-- FOOTER -->
		<% include ../../partials/footer %>

	<!-- JAVASCRIPT -->
	<% include ../../partials/js-includes %>
	</body>
	</html>
