<!DOCTYPE html>
<html lang="en">
<head>

    <!-- META SETTINGS -->
    <% include ../../partials/meta-settings.ejs %>

    <!-- PAGE TITLE -->
    <title>Edit an Admin Entry</title>

    <!-- CSS FILES -->
    <% include ../../partials/css-includes %>

</head>

<body id="page-top">

<!-- TOP NAVIGATION -->
<% include ../../partials/navbar %>

<div class="container">
    <div class="row">

        <div class="col-lg-8">

            <h1>Edit an Admin Entry</h1>

            <form action="../../admin/page/<%= admin._id %>?_method=PUT" method="POST">

                <div class="form-group">
                    <label for="sectionName" class="control-label">Section Name</label>
                    <input name="admin[sectionName]" type="text" class="form-control" id="sectionName" value="<%= admin.sectionName %>" required>
                </div>

                <div class="form-group">
                    <label for="sectionNew" class="control-label">Section New Link</label>
                    <input name="admin[sectionNew]" type="text" class="form-control" id="sectionName" value="<%= admin.sectionNew %>" required>
                </div>

                <div class="form-group">
                    <label for="sectionEdit" class="control-label">Section Edit Link</label>
                    <input name="admin[sectionEdit]" type="text" class="form-control" id="[sectionEdit" value="<%= admin.sectionEdit %>" required>
                </div>

                <button class="btn btn-primary" type="submit">Submit</button>

            </form>
        </div>

        <div class="col-lg-1">
        </div>

        <div class="col-lg-3">
            <a href="../page/edit" class="btn btn-primary" role="button">Return to Edit Page</a>
        </div>
    </div>
</div>

<!-- FOOTER -->
<% include ../../partials/footer %>

<!-- JAVASCRIPT -->
<% include ../../partials/js-includes %>

</body>
</html>
