<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Analytics -->
    <% include ../../partials/ga-includes %>

    <!-- META SETTINGS -->
    <% include ../../partials/meta-settings.ejs %>

  <!-- PAGE TITLE -->
  <title>Pointwise User Group Meeting 2011</title>

  <!-- OG TAGS -->
  <meta property="og:url" content="https://www.pointwise.com/user-meeting/2011/index.html" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Pointwise User Group Meeting 2011" />
  <meta property="og:description" content="The Pointwise User Group Meeting 2011 held in Fort Worth, Texas on 8-9 November drew the largest attendance in the history of the company's user conference." />

  <!-- META DATA -->
  <meta name="description" content="The Pointwise User Group Meeting 2011 held in Fort Worth, Texas on 8-9 November drew the largest attendance in the history of the company's user conference.">
  <meta name="keywords" content="cfd meshing, mesh generation, grid generation, computational fluid dynamics, mesh generator, cfd software, cfd consultants, mesh software, grid software, fluid dynamics modeling" />

  <!-- CSS FILES -->
  <% include ../../partials/css-includes %>

</head>

<body id="page-top">

	<noscript>
		<p>
			In order to view this page JavaScript must be enabled in your browser.
		</p>
	</noscript>

	<!-- TOP NAVIGATION -->
	<% include ../../partials/navbar %>

  <!-- Page Content -->
  <div class="container">
    <div class="row">

      <div class="col-lg-8">

        <img data-src="images/ugm-2011-masthead-800x267.png" alt="Pointwise User Group 2011 Logo" class="img-fluid center-block" />

        <h1>Pointwise User Group Meeting 2011</h1>

        <p>
          The Pointwise User Group Meeting 2011 held in Fort Worth, Texas on 8-9 November drew the largest attendance in the history of the company's user conference. The meeting featured hands-on training in Pointwise V17, presentations from customers from around the world, a short-course entitled &ldquo;T-Rex in the Real World,&rdquo; and the presentation of the Meshy Award.
        </p>

        <p>
          Photos from the event are available on Pointwise's Facebook page.
        </p>

        <ul>

          <li><a href="https://www.facebook.com/media/set/?set=a.10150391471332418.379446.360943992417&type=3&l=452b753ca6" target="_blank" rel="noreferrer noopener">Software Training and Short Course</a></li>

          <li><a href="https://www.facebook.com/media/set/?set=a.10150394750907418.379761.360943992417&type=3&l=e1695f86ad" target="_blank" rel="noreferrer noopener">Opening Reception</a></li>

          <li><a href="https://www.facebook.com/media/set/?set=a.10150394863697418.379793.360943992417&type=3&l=b78db81053" target="_blank" rel="noreferrer noopener">Presentations</a></li>

        </ul>

        <h2>Exhibiting Partners</h2>

        <p>
          We are pleased to have had several of our partners participate in the CFD Gallery at this year's user group meeting. Our attendees benefited from time spent with our partners discussing how their solutions complement Pointwise.
        </p>

        <div class="row">
          <div class="col-lg-2">
            <img data-src="images/cd-adapco-logo-100x70.png" alt="CD-adapco" class="img-fluid" />
          </div>
          <div class="col-lg-2">
            <img data-src="images/cei-logo-100x70.png" alt="CEI" class="img-fluid" />
          </div>
          <div class="col-lg-2">
            <img data-src="images/craft-logo-100x70.png" alt="CRAFT Tech" class="img-fluid" />
          </div>
          <div class="col-lg-2">
            <img data-src="images/fieldview-logo-100x70.png" alt="FIELDVIEW" class="img-fluid" />
          </div>
          <div class="col-lg-2">
            <img data-src="images/metacomp-logo-100x48.png" alt="Metacomp Technologies" class="img-fluid" />
          </div>
          <div class="col-lg-2">
            <img data-src="images/tecplot-logo-100x65.png" alt="Tecplot" class="img-fluid" />
          </div>
        </div>

        <h2>Meshy Award Contest</h2>

        <p>
          Dr. Michael B&ouml;ttcher of Karlsruher Institut fuer Technologie was presented the first Meshy Award, given for a Pointwise/Gridgen mesh that is technically excellent and aesthetically beautiful. Dr. John Steinbrenner, Pointwise vice president of research and development, presented the award. Dr. B&ouml;ttcher's work was featured on a T-shirt that was distributed at the user group meeting. Dr. B&ouml;ttcher's award winning meshes are available for viewing along with the other entries in our <a href="https://www.facebook.com/media/set/?set=a.10150293932927418.359518.360943992417&type=3&l=df902fe368" target="_blank" rel="noreferrer noopener">Meshy Award 2011</a> photo album on Facebook.
        </p>

        <img data-src="images/meshy-winner-grid-800x486.png" alt="Meshy Award Winner for 2011" class="img-fluid center-block" />

        <img data-src="images/meshy-winner-2011.jpg" alt="Meshy Award Winner Dr. Michael B&ouml;ttcher " class="img-fluid center-block" />

        <h2>Agenda</h2>

        <div class="table-responsive">
          <table class="table">

            <tr>
              <th colspan="4">Tuesday, 8 November - Training</th>
            </tr>

            <tr>
              <th>Beg.</th>
              <th>End</th>
              <th>Event</th>
              <th>Room</th>
            </tr>

            <tr>
              <td>8:00</td>
              <td>8:30</td>
              <td>Registration &amp;<br /> Continental Breakfast</td>
              <td>Synergy Foyer</td>
            </tr>

            <tr>
              <td>8:30</td>
              <td>10:15</td>
              <td>Training<br /><em>T-Rex Volume Meshing</em></td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>10:15</td>
              <td>10:30</td>
              <td>Break</td>
              <td>Synergy Foyer</td>
            </tr>

            <tr>
              <td>10:30</td>
              <td>12:00</td>
              <td>Training<br /><em>Native CAD Import and Database Tools</em></td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>12:00</td>
              <td>1:30</td>
              <td>Buffet Lunch</td>
              <td>Atrium</td>
            </tr>

            <tr>
              <td>1:30</td>
              <td>3:00</td>
              <td>Training<br /><em>Enhanced Solver and Distribution Tools</em></td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>3:00</td>
              <td>3:30</td>
              <td>Break</td>
              <td>Synergy Foyer</td>
            </tr>

            <tr>
              <td>3:00</td>
              <td>5:00</td>
              <td>Training<br /><em>Groups and Other New Features</em></td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>5:00</td>
              <td>5:30</td>
              <td>Break</td>
              <td>Synergy Foyer</td>
            </tr>

            <tr>
              <td>5:30</td>
              <td>6:30</td>
              <td>Training<br /><em>Special Short Course - T-Rex</em></td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>6:30</td>
              <td>8:00</td>
              <td>Welcome Reception &amp;<br /> Partner Exhibits</td>
              <td>Synergy Foyer</td>
            </tr>

            <tr>
              <th colspan="4">Wednesday, 9 November - General Session</th>
            </tr>

            <tr>
              <th>Beg.</th>
              <th>End</th>
              <th>Event</th>
              <th>Room</th>
            </tr>

            <tr>
              <td>8:00</td>
              <td>8:30</td>
              <td>Registration,<br />Continental Breakfast &amp; Partner Exhibits</td>
              <td>Synergy Foyer</td>
            </tr>

            <tr>
              <td>8:30</td>
              <td>8:45</td>
              <td><em>Welcome &amp; Introductions</em><br />Rick Matus, Ph.D., Vice President, Sales &amp; Marketing, Pointwise</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>8:45</td>
              <td>9:15</td>
              <td><em>Current Status of Pointwise &amp; Gridgen</em><br />John Chawner, President, Pointwise</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>9:15</td>
              <td>9:45</td>
              <td><em>An End-to-End High Fidelity Numerical Simulation of the LE-X Engine - Grid Generation Challenge for Full-Scale Rocket Engine Simulation</em><br />Nobuhiro Yamanishi, Ph.D., Japan Aerospace Exploration Agency<br />Naoki Tani, Ph.D., Japan Aerospace Exploration Agency</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>9:45</td>
              <td>10:15</td>
              <td>Break &amp; Partner Exhibits</td>
              <td>Synergy Foyer</td>
            </tr>

            <tr>
              <td>10:15</td>
              <td>4:15</td>
              <td>Support Consultations<br />(Sign up at the registration desk)</td>
              <td>Synergy III</td>
            </tr>

            <tr>
              <td>10:15</td>
              <td>10:45</td>
              <td><em>Boundary Layer Separation Control on a Circular Cylinder Using Embedded Heaters</em><br />Derick Endicott, Ohio Northern University</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>10:45</td>
              <td>11:15</td>
              <td><em>Automated Finite Element Mesh Generation for Centrifugal Impeller Blades Using Pointwise</em><br />Mikhail Grigoriev, Ph.D., Cameron, Compression Systems</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>11:15</td>
              <td>11:45</td>
              <td><em>Developments in Low Speed Aerodynamics for the 2012 Formula SAE Car</em><br />Aaron Long, University of Texas at Arlington</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>11:45</td>
              <td>12:15</td>
              <td><em>A Brief Introduction to Overset/Chimera Grid Technology</em><br />Ralph Noack, Ph.D., Celeritas Simulation Technology, LLC</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>12:15</td>
              <td>1:00</td>
              <td>Lunch</td>
              <td>Atrium</td>
            </tr>

            <tr>
              <td>1:00</td>
              <td>1:30</td>
              <td><em>Advanced Unstructured Grid Generation Using Gridgen and Pointwise, Part 2</em><br />Perry Wooden, Lockheed Martin Aeronautics Company <br />T.J. Hoverman, Lockheed Martin Aeronautics Company <br /></td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>1:30</td>
              <td>2:00</td>
              <td><em>Multi-Physics Analyses of Large Scale Systems Using Pointwise and CRUNCH CFD</em><br />Jeremy Shipman, CRAFT Tech</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>2:00</td>
              <td>2:30</td>
              <td><em>Hybrid Adaptive Meshing Using Pointwise and Vmesh</em><br />Steve Karman, Ph.D., University of Tennessee at Chattanooga</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>2:30</td>
              <td>3:30</td>
              <td>CFD Gallery</td>
              <td>Synergy Foyer</td>
            </tr>

            <tr>
              <td>3:30</td>
              <td>4:00</td>
              <td><em>Jet Flow Simulation Using Structured Multi-Block Mesh</em><br />Swati Saxena, Pennsylvania State University</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>4:00</td>
              <td>4:30</td>
              <td><em>Improved Thermal Signature Analysis Through Coupling of ShipIR and CFD</em><br />David A. Vaitekunas, W.R. Davis Engineering Ltd.</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>4:30</td>
              <td>5:00</td>
              <td><em>Stability of Hypersonic Flows</em><br />Eduardo Perez, Texas A&amp;M University</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>5:00</td>
              <td>5:30</td>
              <td><em>Generating Billion Cell Grids Using Pointwise and Gridgen</em><br />Andy Luo, Swift Engineering</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>5:30</td>
              <td>6:00</td>
              <td><em>The Future of Pointwise &amp; Gridgen</em>,<br />John Chawner, President, Pointwise</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>6:30</td>
              <td>8:30</td>
              <td>Pointwise User Group Meeting After Party</td>
              <td>Fox and Hound</td>
            </tr>

          </table>
        </div>

      </div>

      <!-- Space between columns -->
      <div class="col-lg-1">
      </div>

      <!-- Column Contents -->
      <div class="col-lg-3">

      <!-- Side Nav -->
      <% include ../../partials/nav-ugm %>
      </div>

    </div>
  </div>

  <!-- FOOTER -->
  <% include ../../partials/footer %>

    <!-- JAVASCRIPT -->
    <% include ../../partials/js-includes %>

</body>
</html>
