<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Analytics -->
    <% include ../partials/ga-includes %>

    <!-- META SETTINGS -->
    <% include ../partials/meta-settings.ejs %>

  <!-- PAGE TITLE -->
  <title>Pointwise's Right To Use License</title>

  <!-- OG TAGS -->
  <meta property="og:url" content="https://www.pointwise.com/licenses/rtu.html" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Pointwise's Right To Use License" />
  <meta property="og:description" content="The terms of the agreement under which you may acquire the right to use the software include the Right To Use License License Agreement attached hereto or accompanying the software." />

  <!-- META DATA -->
  <meta name="description" content="The terms of the agreement under which you may acquire the right to use the software include the Right To Use License License Agreement attached hereto or accompanying the software.">
  <meta name="keywords" content="cfd meshing, mesh generation, grid generation, computational fluid dynamics, mesh generator, cfd software, cfd consultants, mesh software, grid software, fluid dynamics modeling" />

  <!-- CSS FILES -->
  <% include ../partials/css-includes %>

</head>

<body id="page-top">

  <noscript>
    <p>
      In order to view this page JavaScript must be enabled in your browser.
    </p>
  </noscript>
        
  <!-- TOP NAVIGATION -->
  <% include ../partials/navbar %>

  <div class="container">
    <div class="row">

      <div class="col-lg-8">

        <h1>Right To Use License Agreement</h1>

        <p>
          Notice: The terms of the license under which you are acquiring the right to use Pointwise’s intellectual property, including software and related items, are documented in the “Right To Use License Agreement” (RTULA). Your license, receipt, or use of the software constitutes acceptance of the entire RTULA. The full text of the RTULA is here - <a href="Pointwise-Right-To-Use-License-2020-06-02.pdf">Right To Use License</a> (Updated June 2020)
          <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
        </p>

      </div>

      <!-- Space Between Columns -->
      <div class="col-lg-1">
      </div>

      <!--Right column-->
      <div class="col-lg-3">

          <h4>Learn More</h4>
          <svg class="nav-lines">
            <line class="nav-blue-social" x1="0" y1="1" x2="120" y2="1"/>
            <line class="nav-grey-social" x1="120" y1="1" x2="275" y2="1"/>
          </svg>
          <div class="side-nav">
          <p><a href="mailto:support@pointwise.com">Email Us</a></p>
          <p><a href="../gethelp/">Get Help</a></p>
          <p><a href="../licenses/">Request A License</a></p>
          <p><a href="../services/">Consulting Services</a></p>
          <p><a href="../downloads/">Download Pointwise</a></p>
          <p><a href="../training/">Register for Training</a></p>
          <p><a href="../solutions/">Solution Areas</a></p>
        </div>

      </div>

    </div>
  </div>

  <!-- FOOTER -->
  <% include ../partials/footer %>

  <!-- JAVASCRIPT -->
  <% include ../partials/js-includes %>
</body>
</html>
