<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Analytics -->
    <% include ../partials/ga-includes %>

    <!-- META SETTINGS -->
    <% include ../partials/meta-settings.ejs %>

  <!-- PAGE TITLE -->
  <title>Latest Release Candidate for Pointwise with no JRE</title>

  <!-- META DATA -->
  <meta name="description" content="The current release candidate for Pointwise mesh generation software with no JRE.">
  <meta name="keywords" content="cfd meshing, mesh generation, grid generation, computational fluid dynamics, mesh generator, cfd software, cfd consultants, mesh software, grid software, fluid dynamics modeling" />

  <!-- CSS FILES -->
  <% include ../partials/css-includes %>

  <!-- RECAPTCHA -->
  <script src='https://www.google.com/recaptcha/api.js'></script>

</head>

<body id="page-top">
    
  <!-- TOP NAVIGATION -->
  <% include ../partials/navbar %>

  <!-- ARTICLE -->
  <div class="container support-body">
    <div class="row">
      <div class="col-lg-8">
        <h1>Installing Pointwise</h1>

        <p>
          Customers who do not have RLM will need to obtain a <a href="../licenses/index.html">license</a> and perform a complete download and install. For more information, or to see answers to the most common installation questions, please see our <a href="../gethelp/index.html">Get Help</a> page.
        </p>

        <p>
          Information on what issues were resolved in this release of Pointwise can be found in the <a href="../support/pre-release-notes.html">Pre-Release Notes</a>.
        </p>

        <h2>1. Download Pointwise.</h2>

        <p>
          Important: These installers do not include the Java Runtime Environment (JRE). For the installers including the JRE go to <a href="pointwise-rc.html"> www.pointwise.com/downloads/pointwise-rc.html</a>.
        </p>

        <table class="table table-bordered table-striped">

          <tr>
            <th colspan="3">The current release candidate is Pointwise V18.4 R3C3.</th>
          </tr>

          <tr>
            <th>Platform</th>
            <th>(Right click, Save Link As&hellip;)</th>
            <th>Size (MB)</th>
          </tr>
          <!-- DONT FORGET TO CHANGE URL BACK TO DLOAD_RC -->
          <tr>
            <td> Windows 64-bit </td>
            <td><a href="../downloads/pw-V18.4R3-win64-nojre.exe" download>pw-V18.4R3-win64-nojre.exe</a></td>
            <td>260</td>
          </tr>

          <tr>
            <td> Linux 64-bit</td>
            <td><a href="../downloads/pw-V18.4R3-linux_x86_64-nojre.sh" download>pw-V18.4R3-linux_x86_64-nojre.sh</a></td>
            <td>255</td>
          </tr>

          <tr>
            <td> macOS 64-bit</td>
            <td><a href="../downloads/pw-V18.4R3-macosx.dmg" download>pw-V18.4R3-macosx.dmg</a></td>
            <td>323</td>
          </tr>

        </table>

        <h2>2. Install Pointwise.</h2>

        <ol>
          <li>
            Run the Pointwise installer.
          </li>
          <ol type="a">
            <li>
              <strong>IMPORTANT:</strong> Install Pointwise as Administrator/root on Windows machines.
            </li>
          </ol>
          <li>
            Accept the Right-to-Use license and use all defaults for the installation.
          </li>
          <li>
            Pointwise should launch after you click <em>Finish</em>.
          </li>
          <ol type="a">
            <li>
              If Pointwise cannot find an RLM license server, the <em>Pointwise License Wizard</em> will appear.
            </li>
            <li>
              If you have an Activation Key, select <em>Specify an Activation Key</em> and enter your Key.
            </li>
            <li>
              If you would like to use an existing license server, select <em>Specify a License Server</em> and enter the name of your server.
            </li>
          </ol>
        </ol>

        <h2>3. Have Questions?</h2>

        <ul>
          <li>
            Check our <a href="../gethelp/index.html">Get Help</a> webpage for answers to common questions, troubleshooting tips, and installation help.
          </li>
          <li>
            Verify that your platform is <a href="../pointwise/index.html">supported by Pointwise</a>.
          </li>
          <li>
            Contact Pointwise's technical support team at <a href="mailto:support@pointwise.com">support@pointwise.com</a> and 800-4PT-WISE.
          </li>
        </ul>

        <p>
          The terms of the agreement under which you may acquire the right to use the software include the &quot;Right To Use License&quot; attached hereto or accompanying the software. Your purchase, license, receipt, or use of the software constitutes your acceptance of all the &quot;Right To Use License&quot;. <strong>Please read</strong> the <a href="../licenses/rtu.html">Right To Use License</a>.
        </p>

      </div>

      <!-- THIS STARTS THE RIGHT HAND COLUMN -->

      <!-- Space between columns -->
      <div class="col-lg-1">
      </div>

      <!-- Get Help Form -->
      <div class="col-lg-3">
        <h2>Ask a Question</h2>

        <form data-toggle="validator"
        role="form"
        method="post"
        action="/downloads">

        <div class="form-group">
          <label for="customerID" class="control-label">Customer ID <span class="red">*</span><a
            data-tooltip="Your Customer ID is printed in the Messages window when Pointwise starts."
            data-tooltip-location="top"> <i class="fa fa-question-circle help-icon"></i></a></label>
          <input type="text" class="form-control" id="customerID" name="customerID" data-error="Please fill out this field." required>
          <div class="help-block with-errors"></div>
        </div>

        <div class="form-group">
          <label for="name" class="control-label">Given Name <span class="red">*</span></label>
          <input type="text" class="form-control" id="name" name="name" data-error="Please fill out this field." placeholder="First Name" required>
          <div class="help-block with-errors"></div>
        </div>

        <div class="form-group">
          <label for="surname" class="control-label">Surname <span class="red">*</span></label>
          <input type="text" class="form-control" id="surname" name="surname" data-error="Please fill out this field." placeholder="Last Name" required>
          <div class="help-block with-errors"></div>
        </div>

        <div class="form-group">
          <label for="emailaddress" class="control-label">E-Mail <span class="red">*</span></label>
          <input type="email" class="form-control" id="emailaddress" name="emailaddress" data-error="Please provide a valid email address." required>
          <div class="help-block with-errors"></div>
        </div>

        <input type="text" id="email" name="email"/>

        <div class="form-group">
          <label class="control-label" for="comments">Use the following space to send us any questions you may have about Pointwise.</label>
          <textarea class="form-control" rows="5" id="comments" name="comments"></textarea>
        </div>

        <div class="form-group">
          <div class="g-recaptcha" data-callback="verifyRecaptchaCallback" data-expired-callback="expiredRecaptchaCallback" data-sitekey="6Lc5PjMUAAAAAPYyLp5pAMZgdwIgFzlww8iLyVWs"></div>
          <input type="hidden" class="form-control" data-recaptcha="true" required>
          <div class="help-block with-errors"></div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>

      <br />

      <div class="support-nav">
        <h4>More Support</h4>
        <svg class="nav-lines">
          <line class="nav-blue-social" x1="0" y1="1" x2="140" y2="1"/>
          <line class="nav-grey-social" x1="140" y1="1" x2="275" y2="1"/>
        </svg>
        <div class="side-nav">
          <p><a href="mailto:support@pointwise.com">Email Support</a></p>
          <p><a href="../gethelp/">Get Help</a></p>
          <p><a href="../downloads/">Downloads</a></p>
          <p><a href="../licenses/">Request a License</a></p>
          <p><a href="../training/">Register for Training</a></p>
          <p><a href="../support/release-notes.html">Release Notes</a></p>
          <p><a href="../glyph/">Glyph Scripting</a></p>
          <p><a href="../plugins/">Plugin SDK</a></p>
          <p><a href="../distributors/">International Tech Support</a></p>
      </div>

    </div>
  </div>
</div>
</div>

<!-- FOOTER -->
<% include ../partials/footer %>

  <!-- JAVASCRIPT -->
  <% include ../partials/js-includes %>

</body>
</html>
