<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Analytics -->
    <% include ../../partials/ga-includes %>

    <!-- META SETTINGS -->
    <% include ../../partials/meta-settings.ejs %>

  <!-- PAGE TITLE -->
  <title>Gridgen User Group Meeting 2006</title>

  <!-- OG TAGS -->
  <meta property="og:url" content="https://www.pointwise.com/user-meeting/2006/index.html" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Pointwise User Group Meeting 2006" />
  <meta property="og:description" content="The third annual Gridgen User Group Meeting was held at the Sheraton Grand Hotel at Dallas/Fort Worth Airport in Irving, Texas on April 24-25, 2006." />

  <!-- META DATA -->
  <meta name="description" content="The third annual Gridgen User Group Meeting was held at the Sheraton Grand Hotel at Dallas/Fort Worth Airport in Irving, Texas on April 24-25, 2006.">
  <meta name="keywords" content="cfd meshing, mesh generation, grid generation, computational fluid dynamics, mesh generator, cfd software, cfd consultants, mesh software, grid software, fluid dynamics modeling" />

  <!-- CSS FILES -->
  <% include ../../partials/css-includes %>

</head>

<body id="page-top">

	<noscript>
		<p>
			In order to view this page JavaScript must be enabled in your browser.
		</p>
	</noscript>

	<!-- TOP NAVIGATION -->
	<% include ../../partials/navbar %>

  <!-- Page Content -->
  <div class="container">
    <div class="row">

      <div class="col-lg-8">

        <h1>Gridgen User Group Meeting 2006</h1>

        <h2>April 24-25, 2006</h2>

        <p>
          The third annual Gridgen User Group Meeting was held at the Sheraton Grand Hotel at Dallas/Fort Worth Airport in Irving, Texas on April 24-25, 2006. The meeting included special Gridgen training seminars, presentations by Pointwise staff on new Gridgen developments, exhibits by our partners, and user presentations. This year, attendees also had an opportunity to &quot;kick the tires&quot; of our next generation meshing software at the V16 Test Drive.
        </p>

        <h2>CFD Gallery & Exhibits</h2>

        <div class="row">
          <div class="col-lg-2">
            <img data-src="images/amd-logo-100x70.png" alt="AMD Opteron Logo" class="img-fluid" />
          </div>
          <div class="col-lg-2">
            <img data-src="images/cd-adapco-logo-100x70.png" alt="CD-adapco Logo" class="img-fluid" />
          </div>
          <div class="col-lg-2">
            <img data-src="images/fluent-logo-100x70.png" alt="Fluent Logo" class="img-fluid" />
          </div>
          <div class="col-lg-2">
            <img data-src="images/fieldview-logo-100x70.png" alt="FIELDVIEW Logo" class="img-fluid" />
          </div>
          <div class="col-lg-2">
            <img data-src="images/optimal-logo-100x95.png" alt="Optimal Solutions Logo" class="img-fluid" />
          </div>
          <div class="col-lg-2">
            <img data-src="images/sgi-logo-88x70.png" alt="sgi Logo" class="img-fluid" />
          </div>
        </div>

        <h2>Hybrid Meshing Seminars</h2>

        <p>
          Users interested in learning more about the hands-on use of Gridgen are invited to the Gridgen Seminars on Monday, April 24. The topic of both seminars will be Gridgen's hybrid meshing capability. The first seminar will provide an introduction to the basics of hybrid meshing for the new user. The second seminar delves deeper into the topic including advanced features and tricks to get the most out of the hybrid meshing.
        </p>

        <h2>Keynote Speaker</h2>

        <p>
          The Gridgen User Group Meeting 2006 keynote presentation was given by Dr. Bill Clark. Dr. Clark is the Director of Engineering Software Business Unit at CD-adapco, a leading Computational Fluid Dynamics software and solutions provider. He is responsible for directing CD-adapco's American business operations including software sale and support. Dr. Clark received his undergraduate degree in aerospace engineering from Purdue University. Dr. Clark later went on to obtain a Masters and Ph.D. from Duke University where his research focused on the numerical simulation of unsteady aerodynamics and aeroelasticity of rotating machinery. Dr. Clark has worked both in industry - Allison Gas Turbine and Rolls Royce and academia - Research Professor Duke University - prior to joining CD-adapco in 2000. He is a member of the ASME and the AIAA and has CFD related publications in journals, conference proceedings and trade magazines.
        </p>

        <h2>V16 Test Drive</h2>

        <p>
          Gridgen User Group Meeting attendees had the opportunity to experience our next-generation meshing software during the V16 Test Drive on Tuesday afternoon. After Pointwise's presentation about The Future of Gridgen, workstations were available for attendees to use and comment on a pre-release version of V16.
        </p>

        <h2>Agenda</h2>

        <div class="table-responsive">
          <table class="table">

            <tr>
              <th colspan="4">Monday, April 24</th>
            </tr>

            <tr>
              <th>Beg.</th>
              <th>End</th>
              <th>Event</th>
              <th>Room</th>
            </tr>

            <tr>
              <td>8:00</td>
              <td>8:30</td>
              <td>Registration &amp;<br /> Continental Breakfast</td>
              <td>Galleria Foyer</td>
            </tr>

            <tr>
              <td>8:30</td>
              <td>10:00</td>
              <td>Gridgen Training</td>
              <td>Galleria 4</td>
            </tr>

            <tr>
              <td>10:00</td>
              <td>10:15</td>
              <td>Break</td>
              <td>Galleria Foyer</td>
            </tr>

            <tr>
              <td>10:15</td>
              <td>12:00</td>
              <td>Gridgen Training</td>
              <td>Galleria 4</td>
            </tr>

            <tr>
              <td>12:00</td>
              <td>1:30</td>
              <td>Buffet Lunch</td>
              <td>Galleria Foyer</td>
            </tr>

            <tr>
              <td>1:30</td>
              <td>2:30</td>
              <td>Gridgen Training</td>
              <td>Galleria 4</td>
            </tr>

            <tr>
              <td>2:30</td>
              <td>3:00</td>
              <td>Dessert Break</td>
              <td>Galleria Foyer</td>
            </tr>

            <tr>
              <td>3:00</td>
              <td>6:30</td>
              <td>One-on-One Sessions</td>
              <td>Galleria 4</td>
            </tr>

            <tr>
              <td>5:30</td>
              <td>6:30</td>
              <td>V16 Advisory Team Meeting</td>
              <td>Estates Boardroom</td>
            </tr>

            <tr>
              <td>6:30</td>
              <td>8:00</td>
              <td>Welcome Reception &amp;<br /> Vendor Exhibits</td>
              <td>Galleria Foyer</td>
            </tr>

            <tr>
              <th colspan="4">Tuesday, April 25</th>
            </tr>

            <tr>
              <th>Beg.</th>
              <th>End</th>
              <th>Event</th>
              <th>Room</th>
            </tr>

            <tr>
              <td>8:00</td>
              <td>8:30</td>
              <td>Registration,<br />Continental Breakfast, &amp; Vendor Exhibits</td>
              <td>Galleria Foyer</td>
            </tr>

            <tr>
              <td>8:30</td>
              <td>9:15</td>
              <td>Welcome, Introductions, Current Status of Gridgen</td>
              <td>Galleria 3 &amp; 4</td>
            </tr>

            <tr>
              <td>9:15</td>
              <td>10:00</td>
              <td>
                Keynote Presentation<br />Bill Clark, Director of Engineering Software Business Unit, CD-adapco
              </td>
              <td>Galleria 3 &amp; 4</td>
            </tr>

            <tr>
              <td>10:00</td>
              <td>10:30</td>
              <td>Break &amp; Vendor Exhibits</td>
              <td>Galleria Foyer</td>
            </tr>

            <tr>
              <td>10:30</td>
              <td>11:00</td>
              <td>
                <em>Physics Tailored Grids for Complex Problems Using Gridgen</em>, Jeremy Shipman, CRAFT, Inc.</td>
                <td>Galleria 3 &amp; 4</td>
              </tr>

              <tr>
                <td>11:00</td>
                <td>11:30</td>
                <td>
                  <em>Gridgen's Role in Rapid Aerodynamic Analysis on the JSF Program</em>,  Perry Wooden, Lockheed Martin Aeronautics Co.
                </td>
                <td>Galleria 3 &amp; 4</td>
              </tr>

              <tr>
                <td>11:30</td>
                <td>12:00</td>
                <td>
                  <em>A Framework for Automated Grid Generation</em>, Nick Wyman, Manager, Product Development, Pointwise
                </td>
                <td>Galleria 3 &amp; 4</td>
              </tr>

              <tr>
                <td>12:00</td>
                <td>1:00</td>
                <td>Plated Lunch</td>
                <td>Grand Atrium</td>
              </tr>

              <tr>
                <td>1:00</td>
                <td>1:30</td>
                <td>
                  <em>Customer Support: Helping You Use Gridgen More Efficiently</em>, Richard Matus, Vice President, Sales &amp; Marketing, Pointwise
                </td>
                <td>Galleria 3 &amp; 4</td>
              </tr>

              <tr>
                <td>1:30</td>
                <td>2:00</td>
                <td>
                  <em>Gridgen in Naval Applications</em>, Minyee Jiang, Naval Surface Warfare Center, Carderock Div.
                </td>
                <td>Galleria 3 &amp; 4</td>
              </tr>

              <tr>
                <td>2:00</td>
                <td>2:30</td>
                <td>
                  <em>Scripted Hybrid Mesh Adaptation for High Incidence RANS Flows About Axisymmetric Shapes</em>, George Watt, Defence R&amp;D Canada - Atlantic
                </td>
                <td>Galleria 3 &amp; 4</td>
              </tr>

              <tr>
                <td>2:30</td>
                <td>3:30</td>
                <td>CFD Gallery</td>
                <td>Galleria Foyer</td>
              </tr>

              <tr>
                <td>3:30</td>
                <td>4:00</td>
                <td>
                  <em>Applying Gridgen to Turbomachinery Applications at Barber Nichols, Inc.</em>, Jeff Noall, Barber Nichols, Inc.
                </td>
                <td>Galleria 3 &amp; 4</td>
              </tr>

              <tr>
                <td>4:00</td>
                <td>4:30</td>
                <td>
                  <em>Computational Fluid Dynamics Analyses of the GBU-12 B/B off Station 2 on the Joint Strike Fighter CV-Variant (JSF-F35C)</em>, Darren Grove, NAVAIR AIR
                </td>
                <td>Galleria 3 &amp; 4</td>
              </tr>

              <tr>
                <td>4:30</td>
                <td>5:00</td>
                <td>The Future of Gridgen</td>
                <td>Galleria 3 &amp; 4</td>
              </tr>

              <tr>
                <td>5:00</td>
                <td>6:30</td>
                <td>V16 Test Drive</td>
                <td>Chagall</td>
              </tr>

              <tr>
                <td>6:30</td>
                <td>8:30</td>
                <td>After Party</td>
                <td>Allstars Sports Bar</td>
              </tr>

            </table>
          </div>

        </div>

        <!-- Space between columns -->
        <div class="col-lg-1">
        </div>

      <!-- Column Contents -->
      <div class="col-lg-3">
        <!-- Side Nav -->
        <% include ../../partials/nav-ugm %>
      </div>

    </div>
  </div>

    <!-- FOOTER -->
    <% include ../../partials/footer %>

    <!-- JAVASCRIPT -->
    <% include ../../partials/js-includes %>

</body>
</html>
