<!DOCTYPE html>
<html lang="en">
<head>
  
    <!-- Google Analytics -->
    <% include ../../partials/ga-includes %>

    <!-- META SETTINGS -->
    <% include ../../partials/meta-settings.ejs %>
  
  <meta name="robots" content="noindex">

  <!-- PAGE TITLE -->
  <title>Thank you for your interests!</title>

  <!-- CSS FILES -->
  <% include ../../partials/css-includes %>

</head>

<body id="page-top">

  <noscript>
    <p>
      In order to view this page JavaScript must be enabled in your browser.
    </p>
  </noscript>	

  <!-- TOP NAVIGATION -->
  <% include ../../partials/navbar %>

<section id="title-section">
  <div class="discretization-intro">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="intro-message-pw">
            <h1>Thank you for your interest!</h1>
            <hr class="intro-divider">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="article">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">

        <div class="cta-space">
          <p>
            Click on the download buttons to download the presentation and papers providing more details about mesh adaption with Pointwise.
          </p>
          <p>
            If you would like to explore more about this topic, check out the You May Also Like links on the right side of this page.
          </p>
        </div>

        <!-- ========== Presentation 1 ========== -->
        <p>Davis, Z. S., Carrigan, T. J., Wyman, N., and McMullen, M., &ldquo;Reducing the Cost of Viscous Mesh Adaptation,&rdquo; 23rd AIAA Computational Fluid Dynamics Conference, AIAA-Paper 2017–3109, Denver, CO, June, 2017.</p>

        <!-- CTA -->
        <!--HubSpot Call-to-Action Code --><span class="hs-cta-wrapper" id="hs-cta-wrapper-100dd06f-14e1-4cc4-adaf-b8dde164ab97"><span class="hs-cta-node hs-cta-100dd06f-14e1-4cc4-adaf-b8dde164ab97" id="hs-cta-100dd06f-14e1-4cc4-adaf-b8dde164ab97"><!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]--><a href="https://cta-redirect.hubspot.com/cta/redirect/3788790/100dd06f-14e1-4cc4-adaf-b8dde164ab97" ><img class="hs-cta-img" id="hs-cta-img-100dd06f-14e1-4cc4-adaf-b8dde164ab97" style="border-width:0px;" src="https://no-cache.hubspot.com/cta/default/3788790/100dd06f-14e1-4cc4-adaf-b8dde164ab97.png"  alt="Download Presentation"/></a></span><script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script><script type="text/javascript"> hbspt.cta.load(3788790, '100dd06f-14e1-4cc4-adaf-b8dde164ab97', {}); </script></span><!-- end HubSpot Call-to-Action Code -->

        <!--HubSpot Call-to-Action Code --><span class="hs-cta-wrapper" id="hs-cta-wrapper-65ebdc64-65bb-4704-8dda-a5d52121acf5"><span class="hs-cta-node hs-cta-65ebdc64-65bb-4704-8dda-a5d52121acf5" id="hs-cta-65ebdc64-65bb-4704-8dda-a5d52121acf5"><!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]--><a href="https://cta-redirect.hubspot.com/cta/redirect/3788790/65ebdc64-65bb-4704-8dda-a5d52121acf5" ><img class="hs-cta-img" id="hs-cta-img-65ebdc64-65bb-4704-8dda-a5d52121acf5" style="border-width:0px;" src="https://no-cache.hubspot.com/cta/default/3788790/65ebdc64-65bb-4704-8dda-a5d52121acf5.png"  alt="Download Paper"/></a></span><script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script><script type="text/javascript"> hbspt.cta.load(3788790, '65ebdc64-65bb-4704-8dda-a5d52121acf5', {}); </script></span><!-- end HubSpot Call-to-Action Code -->

        <hr />

        <!-- ========== Presentation 2 ========== -->
        <p>Davis, Z. S. and Park, M. A., “IFCPT S-Duct Grid-Adapted FUN3D Computations for the Third Propulsion Aerodynamics Workshop,” 53rd AIAA/SAE/ASEE Joint Propulsion Conference, AIAA-Paper 2017–4835, Atlanta, GA, July 2017.</p>

        <!--HubSpot Call-to-Action Code --><span class="hs-cta-wrapper" id="hs-cta-wrapper-1d1d026d-e686-4594-b191-cce1e420c496"><span class="hs-cta-node hs-cta-1d1d026d-e686-4594-b191-cce1e420c496" id="hs-cta-1d1d026d-e686-4594-b191-cce1e420c496"><!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]--><a href="https://cta-redirect.hubspot.com/cta/redirect/3788790/1d1d026d-e686-4594-b191-cce1e420c496" ><img class="hs-cta-img" id="hs-cta-img-1d1d026d-e686-4594-b191-cce1e420c496" style="border-width:0px;" src="https://no-cache.hubspot.com/cta/default/3788790/1d1d026d-e686-4594-b191-cce1e420c496.png"  alt="Download Paper"/></a></span><script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script><script type="text/javascript"> hbspt.cta.load(3788790, '1d1d026d-e686-4594-b191-cce1e420c496', {}); </script></span><!-- end HubSpot Call-to-Action Code -->

        <!-- CTA -->

      </div>

      <div class="col-lg-1">
      </div>

      <div class="col-lg-3">

        <div class="lets-talk-nav">

          <div class="input-group">
          <label for="search"><h4>Search Events</h4>
          <svg class="nav-lines">
            <line class="nav-blue-search" x1="0" y1="1" x2="130" y2="1"/>
            <line class="nav-grey-search" x1="130" y1="1" x2="275" y2="1"/>
          </svg>
        </label>
            <input type="text" id="search" class="form-control st-default-search-input">
          </div>
        </div>

        <div class="lets-talk-nav">
          <h4>You May Also Like</h4>
          <svg class="nav-lines">
            <line class="nav-blue-ymal" x1="0" y1="1" x2="180" y2="1"/>
            <line class="nav-grey-ymal" x1="180" y1="1" x2="275" y2="1"/>
          </svg>

          <img data-src="images/ymal1.png" class="img-fluid" alt="Introduction to Scripting in Pointwise" />
          <p>
            <a href="../../webcasts/2015-02/Introduction-Scripting-in-Pointwise.html">Introduction to Scripting in Pointwise</a>
          </p>

          <hr />

          <img data-src="images/ymal2.png" class="img-fluid" alt="Revisiting Output-Based Mesh Adaptation" />
          <p>
            <a href="../../theconnector/2016-Q1/Revisiting-Output-Based-Mesh-Adaptation.html">Revisiting Output-Based Mesh Adaptation</a>
          </p>

          <hr />

          <img data-src="images/ymal3.png" class="img-fluid" alt="Meshing Overview from the 3rd Propulsion Aerodynamics Workshop"  />
          <p>
            <a href="../../theconnector/2016-Q3/Meshing-Overview-and-S-Duct-Results-from-Propulsion-Aerodynamics-Workshop.html">Meshing Overview from the 3rd Propulsion Aerodynamics Workshop</a>
          </p>
        </div>

      </div>
    </div>
  </div>
</div>
</section>

<!-- FOOTER -->
<% include ../../partials/footer %>

  <!-- JAVASCRIPT -->
  <% include ../../partials/js-includes %>
</body>
</html>
