<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Analytics -->
    <% include ../../partials/ga-includes %>

    <!-- META SETTINGS -->
    <% include ../../partials/meta-settings.ejs %>

  <!-- PAGE TITLE -->
  <title>Pointwise User Group Meeting 2018</title>

  <!-- OG TAGS -->
  <meta property="og:url" content="https://www.pointwise.com/user-meeting/2018/index.html" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Pointwise User Group Meeting 2018" />
  <meta property="og:description" content="The Pointwise User Group Meeting was held 14-15 November 2018 in Fort Worth, Texas." />

  <!-- META DATA -->
  <meta name="description" content="The Pointwise User Group Meeting was held 14-15 November 2018 in Fort Worth, Texas.">
  <meta name="keywords" content="cfd meshing, mesh generation, grid generation, computational fluid dynamics, mesh generator, cfd software, cfd consultants, mesh software, grid software, fluid dynamics modeling" />

  <!-- CSS FILES -->
  <% include ../../partials/css-includes %>

</head>

<body id="page-top">

	<!-- TOP NAVIGATION -->
	<% include ../../partials/navbar %>

  <!-- Page Content -->
  <div class="container">
    <div class="row">

      <div class="col-lg-8">

        <img data-src="images/ugm-2018-logo-300w.svg" alt="Pointwise User Group 2018 Logo" class="img-fluid center-block" />

        <h1 class="is-hidden">Pointwise User Group Meeting 2018</h1>

        <p>
          The Pointwise User Group Meeting 2018 held in Fort Worth, Texas, on 14-15 November drew mesh generation experts from around the world. The two-day event included hands-on training in Pointwise, best practices discussions with our meshing experts, presentations on leading-edge applications of meshing and CFD from practitioners, conversations with CFD software providers whose products complement Pointwise, and the presentation of the Meshy Award.
        </p>

        <p>
          Photos from the event can be seen in an <a href="https://www.facebook.com/media/set/?vanity=pointwise&set=a.10156983307607418" target="_blank" rel="noreferrer noopener">album on Facebook</a>.
        </p>

        <h2>Exhibiting Partners</h2>
        <div class="row">
          <div class="col-lg-3">
            <img data-src="images/engys-logo-400x200.png" alt="ENGYS" class="img-fluid" />
          </div>
          <div class="col-lg-3">
            <img data-src="images/intelligent-light-logo-400x116.png" alt="Intelligent Light" class="img-fluid" />
          </div>
          <div class="col-lg-3">
            <img data-src="images/metacomp-logo-400x141.png" alt="Metacomp Technologies" class="img-fluid" />
          </div>
          <div class="col-lg-3">
            <img data-src="images/tecplot-logo-400x164.png" alt="Tecplot" class="img-fluid" />
          </div>
        </div>

        <h2>The Meshy Award</h2>

        <p>
          This year's winner of the Pointwise Meshy Award Contest was Tim Weathers of Combustion Research and Flow Technology, Inc. The winning mixed-element unstructured grid was constructed for CFD simulations of a compressor test loop as part of a study to develop an advanced real-fluid numerical framework for modeling supercritical CO2 based power cycles for advanced power systems.
        </p>

        <img data-src="images/MeshyWinner.png" alt="Meshy Award Winner for 2016" class="img-fluid center-block" />

        <h2>Agenda</h2>

        <h2>Wednesday, 14 November - Training</h2>

        <div class="table-responsive">
          <table class="table">

            <tr>
              <td>8:00 a.m. </td>
              <td>Registration <br />Continental Breakfast </td>
              <td>Synergy Foyer <br />Synergy Foyer  </td>
            </tr>

            <tr>
              <td>8:30 a.m. </td>
              <td>User Experience and Meshing Productivity Enhancements</td>
              <td>Synergy I </td>
            </tr>

            <tr>
              <td>9:30 a.m. </td>
              <td>Break </td>
              <td>Synergy Foyer </td>
            </tr>

            <tr>
              <td>9:45 a.m. </td>
              <td>User Experience and Meshing Productivity Enhancements</td>
              <td>Synergy I </td>
            </tr>

            <tr>
              <td>10:45 a.m. </td>
              <td>Break </td>
              <td>Synergy Foyer </td>
            </tr>

            <tr>
              <td>11:00 a.m. </td>
              <td>Advanced Tools for Viscous and High Order Meshing </td>
              <td>Synergy I </td>
            </tr>

            <tr>
              <td>12:15 p.m. </td>
              <td>Lunch </td>
              <td>Atrium </td>
            </tr>

            <tr>
              <td>1:15 p.m. </td>
              <td>Local Coordinates, Instancing, and Top-Down Meshing</td>
              <td>Synergy I </td>
            </tr>

            <tr>
              <td>3:00 p.m. </td>
              <td>Break </td>
              <td>Synergy Foyer </td>
            </tr>

            <tr>
              <td>3:15 p.m. </td>
              <td>Advanced Mesh Diagnostics and Refinement</td>
              <td>Synergy I  </td>
            </tr>

            <tr>
              <td>5:00 p.m. </td>
              <td>Break </td>
              <td>Synergy Foyer </td>
            </tr>

            <tr>
              <td>6:30 p.m. </td>
              <td>Welcome Reception/Partner Exhibits </td>
              <td>Synergy Foyer</td>
            </tr>

          </table>
        </div>

        <h2>Thursday, 15 November - General Session</h2>

        <div class="table-responsive">
          <table class="table">

            <tr>
              <td>8:00 a.m. </td>
              <td>Registration <br />Continental Breakfast/Partner Exhibits </td>
              <td>Synergy Foyer  </td>
            </tr>

            <tr>
              <td>8:30 a.m. </td>
              <td><em>Welcome & Introduction</em> <br />Rick Matus, Ph.D., Pointwise, Inc. </td>
              <td>Synergy I </td>
            </tr>

            <tr>
              <td>8:45 a.m. </td>
              <td><em><a id="bottcher" class="anchor"></a>Development of a CFD Wrapped Wire Rod Bundle Model in Sodium Flow</em> <br /><a href="https://info.pointwise.com/development-cfd-wrapped-wire-rod-bundle-sodium-flow">Michael B&#246;ttcher, Ph.D.</a>, Karlsruhe Institute for Technology (KIT)  </td>
              <td>Synergy I </td>
            </tr>

            <tr>
              <td>9:15 a.m. </td>
              <td><em><a id="glasby" class="anchor"></a>HPCMP CREATE(TM)-AV Kestrel Higher-Order CFD Solutions Generated with Pointwise Meshes</em> <br /><a href="https://info.pointwise.com/high-order-results-from-dod-hpcmp-create-av-kestrel">Ryan Glasby, Ph.D.</a>, National Aerospace Solutions  </td>
              <td>Synergy I </td>
            </tr>

            <tr>
              <td>9:45  a.m. </td>
              <td>Break/Partner Exhibits</td>
              <td>Synergy Foyer </td>
            </tr>

            <tr>
              <td>10:15 a.m. - 4:15 p.m.</td>
              <td>Support Consultations (signup at the registration desk) </td>
              <td>Synergy II & III </td>
            </tr>

            <tr>
              <td>10:15 a.m. </td>
              <td><em><a id="combest" class="anchor"></a>Topology Optimization with Pointwise and HELYX-Adjoint</em> <br /><a href="https://info.pointwise.com/topology-optimization-pointwise-helyx-adjoint">Daniel P. Combest, Ph.D.</a>, ENGYS LLC</td>
              <td>Synergy I </td>
            </tr>

            <tr>
              <td>10:45 a.m. </td>
              <td><em><a id="bagheri" class="anchor"></a>Aircraft Aerodynamic Design Using Pointwise</em> <br />Faranggis Bagheri, neptech </td>
              <td>Synergy I </td>
            </tr>

            <tr>
              <td>11:15 a.m. </td>
              <td><em><a id="eggers" class="anchor"></a>Design of a High Quality Boundary Layer Mesh to Predict the Flow Around Low Drag Vehicles</em> <br />Arne Eggers, KU Leuven </td>
              <td>Synergy I </td>
            </tr>

            <tr>
              <td>11:45 a.m. </td>
              <td><em><a id="shipman" class="anchor"></a>Simulation of Real-Fluid Thermodynamics for Application to Supercritical CO2 Power Cycles </em> <br /><a href="https://info.pointwise.com/simulation-real-fluid-thermodynamics-supercritical-co2-power-cycles">Jeremy Shipman</a>, CRAFT Tech </td>
              <td>Synergy I </td>
            </tr>

            <tr>
              <td>12:15 p.m. </td>
              <td>Lunch </td>
              <td>Atrium </td>
            </tr>

            <tr>
              <td>1:00 p.m. </td>
              <td><em><a id="haimes" class="anchor"></a>The Engineering Sketch Pad</em> <br />Bob Haimes, Massachusetts Institute of Technology </td>
              <td>Synergy I </td>
            </tr>

            <tr>
              <td>1:30 p.m. </td>
              <td><em><a id="karman" class="anchor"></a>Automatic Unstructured Mesh Generation with Geometry Attribution</em> <br /><a href="https://info.pointwise.com/presentation-automatic-unstructured-mesh-generation-geometry-attribution">Steve Karman, Ph.D.</a>, Pointwise, Inc. </td>
              <td>Synergy I </td>
            </tr>

            <tr>
              <td>2:00 p.m. </td>
              <td>Meshy Award Winner Announced /Exhibitor Presentations</td>
              <td>Synergy I </td>
            </tr>

            <tr>
              <td>2:30 p.m. </td>
              <td>CFD Gallery</td>
              <td>Synergy Foyer </td>
            </tr>

            <tr>
              <td>3:00 p.m. </td>
              <td><em><a id="hilbert" class="anchor"></a>An Update on Branch Technology’s Progress Utilizing Structured Grids Created with Pointwise </em> <br /><a href="https://info.pointwise.com/branch-technology-progress-utilizing-structured-grids-created-with-pointwise">C. Bruce Hilbert, Ph.D.</a>, Branch Technology, Inc. </td>
              <td>Synergy I </td>
            </tr>

            <tr>
              <td>3:30 p.m. </td>
              <td><em><a id="wurtzler" class="anchor"></a>Overset Grid Analyses using Pointwise and Cobalt </em> <br />Ken Wurtzler, Cobalt Solutions, LLC. </td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>4:00 p.m. </td>
              <td><em><a id="dannenhoffer" class="anchor"></a>Converting Cloud of Points to a Boundary Representation (SLUGS)</em> <br /><a href="https://info.pointwise.com/converting-clouds-pointwise-boundary-representation">John F. Dannenhoffer, III, Sc.D.</a>, Syracuse University </td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>4:30 p.m. </td>
              <td><em><a id="wyman" class="anchor"></a>Recent Developments in Pointwise Applied Research </em> <br /><a href="https://info.pointwise.com/recent-developments-pointwise-applied-research">Nick Wyman</a>, Pointwise, Inc. </td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>5:00 p.m. </td>
              <td><em>The Future of Pointwise</em> <br />John Chawner, Pointwise, Inc. </td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>6:30 p.m. </td>
              <td>Pointwise User Group Meeting After Party </td>
              <td>T&P Tavern</td>
            </tr>

          </table>
        </div>

      </div>

      <!-- Space between columns -->
      <div class="col-lg-1">
      </div>

      <!-- Column Contents -->
      <div class="col-lg-3">

      <!-- Side Nav -->
      <% include ../../partials/nav-ugm %>

    </div>
  </div>
  </div>
  <!-- FOOTER -->
  <% include ../../partials/footer %>

    <!-- JAVASCRIPT -->
    <% include ../../partials/js-includes %>

</body>
</html>
