<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Analytics -->
    <% include ../partials/ga-includes %>

    <!-- META SETTINGS -->
    <% include ../partials/meta-settings.ejs %>

  <!-- PAGE TITLE -->
  <title>Pointwise Pre-Release Notes</title>

  <!-- META DATA -->
  <meta name="description" content="The resolved issues listed below are for our pre-release build that will be included in our next major release of Pointwise.">
  <meta name="keywords" content="cfd meshing, mesh generation, grid generation, computational fluid dynamics, mesh generator, cfd software, cfd consultants, mesh software, grid software, fluid dynamics modeling" />

  <!-- CSS FILES -->
  <% include ../partials/css-includes %>

</head>

<body id="page-top">

	<!-- TOP NAVIGATION -->
	<% include ../partials/navbar %>

  <!-- Page Content -->
  <div class="container">
      <div class="row">
  
        <div class="col-lg-8">
          <h1>Pointwise Pre-Release Notes</h1>
  
          <ul class="list-unstyled">
            <li><a href="#overview" class="page-scroll">Overview</a></li>
            <li><a href="#resolved-issues" class="page-scroll">Resolved Issues</a></li>
            <li><a href="#previous" class="page-scroll">Previous Versions</a></li>
          </ul>
  
          <section id="overview">
            <h2>Overview</h2>
  
            <p>
              The resolved issues listed below are for our pre-release build that will be included in our next major release of <em>Pointwise V18.4 R4</em>. These builds are referred to as &ldquo;release candidates&rdquo; and are provided to you because you reported a problem which they may resolve.
            </p>
  
            <p>
              Please note that you may see new features in some of these release candidates. You are welcome to use those new features but note that these builds have <span class="underline">not</span> been documented nor have they gone through our extensive release testing process. It is possible you may encounter new issues while using them.
            </p>
          </section>
  
          <section id="resolved-issues">
  
            <h2>Resolved Issues</h2>

              <h3>Release 4 Candidate 1</h3>

              <p>
                  Release Date: TBD
              </p>

              <div class="table-responsive">
                  <table class="table table-bordered table-striped">

                      <tr>
                          <th>SPR</th>
                          <th>Description</th>
                      </tr>

                      <tr>
                          <td class="no-wrap"></td>
                          <td></td>
                      </tr>

                  </table>
              </div>



          </section>
  
          <section id="previous">
            <h2>Previous Versions</h2>
            <p>
              <a href="release-notes.html">Pointwise V18.4 R3</a><br/>
              <a href="release-notes-V184R2.html">Pointwise V18.4 R2</a><br/>
              <a href="release-notes-V183R2.html">Pointwise V18.3 R2</a><br/>
              <a href="release-notes-V183R1.html">Pointwise V18.3 R1</a><br/>
              <a href="release-notes-V182R2.html">Pointwise V18.2 R2</a><br/>
              <a href="release-notes-V182R1.html">Pointwise V18.2 R1</a><br/>
              <a href="release-notes-V181R2.html">Pointwise V18.1 R2</a><br/>
              <a href="release-notes-V181R1.html">Pointwise V18.1 R1</a><br/>
              <a href="release-notes-V18R4.html">Pointwise V18.0 R4</a><br/>
              <a href="release-notes-V18R3.html">Pointwise V18.0 R3</a><br/>
              <a href="release-notes-V18R2.html">Pointwise V18.0 R2</a><br/>
              <a href="release-notes-V18R1.html">Pointwise V18.0 R1</a>
            </p>
          </section>
  
        </div>
        
      <!-- Space between columns -->
      <div class="col-lg-1">
      </div>

      <!-- Column Contents -->
      <div class="col-lg-3">
        <div class="page-nav">
          <h4>More Support</h4>
          <svg class="nav-lines">
            <line class="nav-blue-social" x1="0" y1="1" x2="140" y2="1"/>
            <line class="nav-grey-social" x1="140" y1="1" x2="275" y2="1"/>
          </svg>
          <div class="side-nav">
            <p><a href="mailto:support@pointwise.com">Email Support</a></p>

            <p><a href="../gethelp/">Get Help</a></p>

            <p><a href="../downloads/">Downloads</a></p>

            <p><a href="../licenses/">Request a License</a></p>

            <p><a href="../training/">Register for Training</a></p>

            <p><a href="../support/release-notes.html">Release Notes</a></p>

            <p><a href="../glyph/">Glyph Scripting</a></p>

            <p><a href="../plugins/">Plugin SDK</a></p>

            <p><a href="../sales/">International Tech Support</a></p>

            <p><a href="../doc/user-manual/index.html">User Manual</a></p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- FOOTER -->
  <% include ../partials/footer %>

    <!-- JAVASCRIPT -->
    <% include ../partials/js-includes %>
</body>
</html>
