<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Analytics -->
    <% include ../partials/ga-includes %>

    <!-- META SETTINGS -->
    <% include ../partials/meta-settings.ejs %>

  <!-- PAGE TITLE -->
  <title>Release Notes Pointwise V18.3 R2</title>

  <!-- OG TAGS -->
  <meta property="og:url" content="https://www.pointwise.com/support/release-notes.html" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Release Notes Pointwise V18.3 R2" />
  <meta property="og:description" content="These release notes are provided as a reference for the new features included in the latest version of Pointwise as well as any known issues that were resolved." />

  <!-- META DATA -->
  <meta name="description" content="These release notes are provided as a reference for the new features included in the latest version of Pointwise as well as any known issues that were resolved.">
  <meta name="keywords" content="cfd meshing, mesh generation, grid generation, computational fluid dynamics, mesh generator, cfd software, cfd consultants, mesh software, grid software, fluid dynamics modeling" />

  <!-- CSS FILES -->
  <% include ../partials/css-includes %>

</head>

<body id="page-top">

	<!-- TOP NAVIGATION -->
	<% include ../partials/navbar %>

  <!-- Page Content -->
  <div class="container">
      <div class="row">
  
        <div class="col-lg-8">
          <h1>Pointwise Release Notes</h1>
  
          <ul class="list-unstyled">
            <li>Version: Pointwise V18.3 R2</li>
            <li>Release Date: July 2020</li>
            <li>News Release: <a href="../news/2020/Latest-Pointwise-Release-Includes-5X-Faster-Surface-Meshing.html">www.pointwise.com/news/2020/Latest-Pointwise-Release-Includes-5X-Faster-Surface-Meshing.html</a></li>
          </ul>
  
          <ul class="list-unstyled release-nav">
            <li><a href="#overview" class="page-scroll">Overview</a></li>
            <li><a href="#new-features" class="page-scroll">New Features</a></li>
            <li><a href="#resolved-issues" class="page-scroll">Resolved Issues</a></li>
            <li><a href="#platform-support" class="page-scroll">Platform Support</a></li>
            <li><a href="#previous-versions" class="page-scroll">Previous Versions</a></li>
          </ul>
  
          <section id="overview">
            <h2 class="rn-head">Overview</h2>
  
            <p>
              Pointwise is our leading mesh generation software product for CFD, encompassing nearly three decades of technology development. The product features a modern software framework and workflow and provides tools like 64-bit support, multi-threading, and Windows/Linux/Mac portability.
            </p>
  
            <p>
              These release notes are provided as a reference for the new features included in the latest version of Pointwise as well as any known issues that were resolved.
            </p>
          </section>
  
          <section id="new-features">
  
            <h2>New Features</h2>
  
            <ul>
              <li>
                Voxel blocks can now be created with Symmetry planes. The voxel ability will imprint on the symmetry plane thus creating hexagonal cells that connect to the symmetry plane. This ability is present for existing blocks as well as blocks made in Create, Build Farfield, Voxel.
              </li>
  
              <li>
                Control Volume quality metrics have been added to the Examine menu. These are especially useful for NASA FUN3D and Ansys CFX users.
              </li>

              <li>
                ASCII Plot3D export using double precision is now 16 digits.
              </li>

              <li>
                Multi-threading has now been incorporated when initializing multiple domains. This also applies to the On Database Entities operation.
              </li>

              <li>
                Coons Patches now have manual side definition.
              </li>

              <li>
                Quadrilateral surface cells can now be exported in STL format.
              </li>

              <li>
                Boundary and Volume Conditions can now be imported from Grid files.
              </li>

              <li>
                Higher Order Meshes can now handle periodic domains.
              </li>

              <li>
                When in the CAE, Set BC menu, the layer of a selected domain is now highlighted.
              </li>

            </ul>
  
          </section>
  
          <section id="resolved-issues">
  
            <h2>Resolved Issues</h2>
  
            <div class="table-responsive">
              <table class="table table-bordered table-striped">
  
                <tr>
                  <th>SPR</th>
                  <th>Description</th>
                </tr>
  
                <tr>
                  <td class="no-wrap">PW-20403</td>
                  <td>Block initialization took longer than previous versions.</td>
                </tr>
  
                <tr>
                  <td>PW-20440</td>
                  <td>Changing a connector’s distribution resulted in large changes to the connector.</td>
                </tr>

                <tr>
                  <td>PW-20885</td>
                  <td>Copy/Mirror introduced faceted surface in geometry.</td>
                </tr>

                <tr>
                  <td>PW-21545</td>
                  <td>Periodic domains can now be used for higher order meshes. </td>
                </tr>

                <tr>
                  <td>PW-21151</td>
                  <td>An extrusion could not be completed. </td>
                </tr>

                <tr>
                  <td>PW-21702</td>
                  <td>Command line execution could not process a file name with more than one period/dot. </td>
                </tr>

                <tr>
                  <td>PW-21798</td>
                  <td>A Parasolid file was not being imported correctly</td>
                </tr>

                <tr>
                  <td>PW-22110</td>
                  <td>Area Ratio was reporting extremely high (and incorrect) values. </td>
                </tr>

                <tr>
                  <td>PW-22138</td>
                  <td>Linear projection was taking longer than anticipated. </td>
                </tr>

                <tr>
                  <td>PW-22139</td>
                  <td>The elliptic solver stopped prematurely for domains with interior floating BC’s. </td>
                </tr>

                <tr>
                  <td>PW-22144</td>
                  <td>An isotropic block took longer to initialize in 18.3R1 than in 18.2R2</td>
                </tr>

                <tr>
                  <td>PW-22145</td>
                  <td>The XML Unstructured example plugin included with the Plugin SDK failed to export correctly. </td>
                </tr>

                <tr>
                  <td>PW-22150</td>
                  <td>The Manual Side Definition failed to create a database patch</td>
                </tr>

                <tr>
                  <td>PW-22151</td>
                  <td>A distorted database patch is created using Create, Patch. </td>
                </tr>

                <tr>
                  <td>PW-22153</td>
                  <td>An OpenFOAM file failed to import.</td>
                </tr>

                <tr>
                  <td>PW-22154</td>
                  <td>The FUN3D exporter has been improved to be faster.</td>
                </tr>

                <tr>
                  <td>PW-22158</td>
                  <td>A block initialized with an unusable grid.</td>
                </tr>

                <tr>
                  <td>PW-22166</td>
                  <td>A concave domain was initializing incorrectly.</td>
                </tr>

                <tr>
                  <td>PW-22184</td>
                  <td>Copy/Mirror caused a connector to deform unexpectedly.</td>
                </tr>

                <tr>
                  <td>PW-22189</td>
                  <td>Quad Max Warp Angle was able to be set to a invalid value in the Defaults panel. </td>
                </tr>

                <tr>
                  <td>PW-22190</td>
                  <td>Copy/Mirror changed the render triangle density of quilts.</td>
                </tr>

                <tr>
                  <td>PW-22191</td>
                  <td>File, Export, CAE could cause an unexpected exit with the Exodus exporter. </td>
                </tr>

                <tr>
                  <td>PW-22240</td>
                  <td>A .pw file could not be saved.</td>
                </tr>

                <tr>
                  <td>PW-22244</td>
                  <td>T-Rex growth profile was not performing as expected on a symmetry domain. </td>
                </tr>

                <tr>
                  <td>PW-22276</td>
                  <td>A VRML file was not importing correctly.</td>
                </tr>

                <tr>
                  <td>PW-22306</td>
                  <td>A block was able to initialize with the Delaunay algorithm but not the Voxel algorithm. </td>
                </tr>

                <tr>
                  <td>PW-22313</td>
                  <td>T-Rex was growing unidirectionally off of a sphere. </td>
                </tr>

                <tr>
                  <td>PW-22318</td>
                  <td>Re-extrude lead to an unexpected exit. </td>
                </tr>

                <tr>
                  <td>PW-22333</td>
                  <td>Structured grids created previously were not maintaining orthogonality as well as in 18.2 R2. </td>
                </tr>

                <tr>
                  <td>PW-22337</td>
                  <td>A CGNS file could not be imported. </td>
                </tr>

                <tr>
                  <td>PW-22370</td>
                  <td>An unexpected exit occurred when multiple accelerators were used in rapid succession</td>
                </tr>

                <tr>
                  <td>PW-22381</td>
                  <td>A glyph function to select entities interactively was not working correctly. </td>
                </tr>

                <tr>
                  <td>PW-22387</td>
                  <td>Checking or un-checking Initialize Interior in the Defualts panel had no effect.</td>
                </tr>

                <tr>
                  <td>PW-22410</td>
                  <td>A Fluent .cas file was not imported correctly.</td>
                </tr>

                <tr>
                  <td>PW-22415</td>
                  <td>Path extrusion failed in a direction but not its mirror. </td>
                </tr>

                <tr>
                  <td>PW-22424</td>
                  <td>The shift+MMB zoom functionality was not behaving as expected. </td>
                </tr>

                <tr>
                  <td>PW-22442</td>
                  <td>Model Size was impacting 2D T-Rex layer growth unintentionally. </td>
                </tr>

                <tr>
                  <td>PW-22457</td>
                  <td>Revised the user manual entry for periodic domains to make it clearer. </td>
                </tr>

                <tr>
                  <td>PW-22482</td>
                  <td>Pointwise intermittently lost contact with RLM due to an error. </td>
                </tr>

                <tr>
                  <td>PW-22494</td>
                  <td>An unstructured block initialized with a negative volume cell.</td>
                </tr>

                <tr>
                  <td>PW-22496</td>
                  <td>2D T-Rex used on a baffle was preventing a block from exporting. </td>
                </tr>

                <tr>
                  <td>PW-22530</td>
                  <td>Pointwise could not open a file. </td>
                </tr>

                <tr>
                  <td>PW-22542</td>
                  <td>The getLinkages command in glyph was returning incorrect information for the Python Glyph api. </td>
                </tr>

                <tr>
                  <td>PW-22604</td>
                  <td>The out of date icon appears incorrectly next to a block. </td>
                </tr>

                <tr>
                  <td>PW-22643</td>
                  <td>Projecting a Bezier curve incorrectly changed the type to Akima. </td>
                </tr>

                <tr>
                  <td>PW-22648</td>
                  <td>Pushing Cancel in Edit/Orient took an inordinate amount of time. </td>
                </tr>

                <tr>
                  <td>PW-22649</td>
                  <td>Switching between Isolate and All On in the Layers tab took progressively longer for each action. </td>
                </tr>

                <tr>
                  <td>PW-22662</td>
                  <td>Pointwise was writing prisms incorrectly for SU2 export. </td>
                </tr>

                <tr>
                  <td>PW-22690</td>
                  <td>A script occasionally failed to complete. </td>
                </tr>

                <tr>
                  <td>PW-22696</td>
                  <td>Without a volume condition set, the CART3D exporter was assigning a large integer. </td>
                </tr>

                <tr>
                  <td>PW-22718</td>
                  <td>Examine, Wall Orthogonality for empty, structured blocks failed to render correctly. </td>
                </tr>

                <tr>
                  <td>PW-22719</td>
                  <td>Domain initialization was not being journaled properly in the RC. </td>
                </tr>

                <tr>
                  <td>PW-22720</td>
                  <td>A Conic loses it shape after being split. </td>
                </tr>

                <tr>
                  <td>PW-22738</td>
                  <td>Sync Spacings was causing connectors to become over-refined. </td>
                </tr>

                <tr>
                  <td>PW-22800</td>
                  <td>Sync Spacings caused an unexpected exit. </td>
                </tr>

                <tr>
                  <td>PW-22825</td>
                  <td>Add/Remove faces menu quits responding. </td>
                </tr>

                <tr>
                  <td>PW-22841</td>
                  <td>Initialization of a convex domain caused an unexpected exit. </td>
                </tr>
  
              </table>
            </div>
          </section>
  
          <section id="platform-support">
            <h2>Platform Support</h2>
  
            <p>
              Minimum Requirements for All Platforms:
            </p>
  
            <ul>
              <li>2 GB RAM (8 GB recommended)</li>
              <li>2 GB disk space</li>
              <li>Ethernet card</li>
              <li>OpenGL capable color display monitor</li>
              <li>1280x1024 screen resolution (4K monitor support now included)</li>
              <li>Graphics adapter supporting 3D hardware-accelerated OpenGL and 24-bit RGB double-buffering</li>
              <li>Up-to-date graphics accelerator drivers</li>
            </ul>
  
            <p>
              <strong>Note:</strong>  Pointwise V18.0 R1 and later will not be supported on 32-bit platforms.
            </p>

              <div class="table-responsive">
  
                <table class="table">
  
                  <tr>
                    <th>&nbsp;</th>
                    <th>Hardware</th>
                    <th>64-bit</th>
                  </tr>
  
                  <tr>
                    <td>
                      <img data-src="images/windows-icon-48x48.png" alt="Microsoft Windows" class="release-notes-img img-fluid"/>
                      <br />
                      Microsoft Windows
                    </td>
  
                    <td>
                      Intel
                      <br />
                      AMD
                    </td>
  
                    <td>
                      <span class="fa fa-check"></span>
                    </td>
                  </tr>
  
                  <tr>
                    <td>
                      <img data-src="images/linux-icon-48x48.png" alt="Linux" class="release-notes-img img-fluid" />
                      <br />
                      Linux
                    </td>
  
                    <td>
                      Intel
                      <br />
                      AMD
                    </td>
  
                    <td>
                      <span class="fa fa-check"></span>
                    </td>
                  </tr>
  
                  <tr>
                    <td>
                      <img data-src="images/mac-icon-48x48.png" alt="macOS" class="release-notes-img img-fluid" />
                      <br />
                      macOS
                    </td>
  
                    <td>
                      Intel
                    </td>
  
                    <td>
                      <span class="fa fa-check"></span>
                    </td>
                  </tr>
  
                </table>
              </div>
  
            <h2>Requirements for All Platforms</h2>
  
            <p>
              Minimum Requirements:
            </p>
  
            <ul>
              <li>2 GB RAM (8 GB recommended)</li>
              <li>2 GB disk space</li>
              <li>Ethernet card</li>
              <li>OpenGL capable color display monitor</li>
              <li>1280x1024 screen resolution (4K monitor support now included) </li>
              <li>Graphics adapter supporting 3D hardware-accelerated OpenGL and 24-bit RGB double-buffering</li>
              <li>Up-to-date graphics accelerator drivers</li>
            </ul>
  
            <p>
              Important Notes:
            </p>
  
            <ul>
              <li>
                Pointwise does not support 32-bit platforms.
              </li>
              <li>
                Pointwise does not support remote execution. However, <a href="../gethelp/">a FAQ with remote execution workarounds</a> is avaiable.
              </li>
            </ul>
  
            <h2>Microsoft Windows</h2>

              <div class="table-responsive">
                <table class="table">
  
                  <tr>
                    <th>Operating System</th>
                    <th>64-bit</th>
                    <th>&nbsp;</th>
                  </tr>
  
                  <tr>
                    <td>Windows 8.1</td>
                    <td>
                      <span class="fa fa-check"></span>
                    </td>
                    <td>
                      <img data-src="images/EN_W8_Comp_Blk_1_rgb.png" class="release-notes-img img-fluid" alt="Windows 8 Compatible" />
                    </td>
                  </tr>
  
                  <tr>
                    <td>Windows 10</td>
                    <td>
                      <span class="fa fa-check"></span>
                    </td>
                    <td>
                      <img data-src="images/badge_w10.png" alt="Windows 10 Compatible" class="release-notes-img img-fluid" width="60px;"/>
                    </td>
                  </tr>
  
                </table>
              </div>
  
            <p>
              <small>*There is a <a href="http://en.community.dell.com/support-forums/software-os/f/3526/t/19634253">known incompatibility</a> on Microsoft Windows between Dell Backup &amp; Recovery software and Pointwise V18. If you experience problems opening or saving a file from Pointwise, Dell Backup &amp; Recovery software should be disabled or uninstalled.</small>
            </p>
  
            <h2>Linux</h2>

              <div class="table-responsive">
                <table class="table">
  
                  <tr>
                    <th>Operating System</th>
                    <th>Version</th>
                    <th>64-bit</th>
                  </tr>
  
                  <tr>
                    <td>CentOS</td>
                    <td>6</td>
                    <td>
                      <span class="fa fa-check"></span>
                    </td>
                  </tr>
  
                  <tr>
                    <td>Red Hat Enterprise Linux</td>
                    <td>6</td>
                    <td>
                      <span class="fa fa-check"></span>
                    </td>
                  </tr>
  
                  <tr>
                    <td>SUSE Enterprise Linux Desktop</td>
                    <td>12 SP1</td>
                    <td>
                      <span class="fa fa-check"></span>
                    </td>
                  </tr>
  
                  <tr>
                    <td>Ubuntu Desktop</td>
                    <td>14.04</td>
                    <td>
                      <span class="fa fa-check"></span>
                    </td>
                  </tr>
  
                </table>
              </div>
  
            <h3>Linux Library Dependencies</h3>
  
            <p>
              Listed below are the specific versions of library packages that we have on our test machines where we know Pointwise works. Other dependences (e.g. libGL) are not explicitly listed below as they should be part of any standard install that includes the packages listed below.
            </p>
  
            <h3>CentOS 6.4</h3>
  
            <p>
              expat-2.0.1-11.el6_2<br />
              fontconfig-2.8.0-3.el6<br />
              freetype-2.3.11-14.el6_3.1<br />
              libgcc-4.4.7-4.el6<br />
              libstdc++-4.4.7-3.el6<br />
              libX11-1.5.0-4.el6<br />
              libXau-1.0.6-4.el6<br />
              libxcb-1.8.1-1.el6<br />
              libXext-1.3.1-2.el6<br />
              libXft-2.3.1-2.el6<br />
              libXrender-0.9.7-2.el6<br />
              zlib-1.2.3-29.el6
            </p>
  
            <h3>Red Hat Enterprise Linux 6</h3>
  
            <p>
              expat-2.0.1-11.el6_2<br />
              fontconfig-2.8.0-5.el6<br />
              freetype-2.3.11-15.el6_6.1<br />
              libgcc-4.4.7-16.el6<br />
              libstdc++-4.4.7-16.el6<br />
              libX11-1.6.0-6.el6<br />
              libXau-1.0.6-4.el6<br />
              libxcb-1.9.1-3.el6<br />
              libXext-1.3.2-2.1.el6<br />
              libXft-2.3.1-2.el6<br />
              libXrender-0.9.8-2.1.el6<br />
              zlib-1.2.3-29.el6
            </p>
  
            <h3>SUSE Enterprise Linux Desktop 12 SP1</h3>
  
            <div class="row">
              <div class="col-lg-6">
                <p>
                  fontconfig<br />
                  libbz2-1<br />
                  libexpat1<br />
                  libffi4<br />
                  libfreetype6<br />
                  libgcc_s1<br />
                  libglib-2_0-0<br />
                  libGLU1<br />
                  libgobject-2_0-0<br />
                  libgthread-2_0-0<br />
                  libpcre1<br />
                  libstdc++6<br />
                  libX11-6<br />
                  libXau6<br />
                  libxcb1<br />
                  libXext6<br />
                  libXft2<br />
                  libXrender1<br />
                  libz1<br />
                </p>
              </div>
  
              <div class="col-lg-6">
                <p>
                  2.11.0-4.19<br />
                  1.0.6-29.2<br />
                  2.1.0-17.1<br />
                  5.3.1+r233831-9.1<br />
                  2.5.5-7.5.1<br />
                  5.3.1+r233831-9.1<br />
                  2.38.2-5.12<br />
                  9.0.0-15.1<br />
                  2.38.2-5.12<br />
                  2.38.2-5.12<br />
                  8.33-3.314<br />
                  1.6.8-11.1<br />
                  5.3.1+r233831-9.1<br />
                  1.6.2-4.12<br />
                  1.0.8-4.58<br />
                  1.10-3.1<br />
                  1.3.2-3.61<br />
                  2.3.1-9.32<br />
                  0.9.8-3.56<br />
                  1.2.8-5.1
                </p>
              </div>
            </div>
  
  
            <h3>Ubuntu 14.04</h3>
  
            <div class="row">
              <div class="col-lg-6">
                <p>
                  libexpat1<br />
                  libffi6<br />
                  libfontconfig1<br />
                  libfreetype6<br />
                  libgcc1<br />
                  libpcre3<br />
                  libstdc++6<br />
                  libx11-6<br />
                  libxau6<br />
                  libxcb1<br />
                  libxdmcp6<br />
                  libxext6<br />
                  libxft2<br />
                  libxrender1<br />
                  zlib1g
                </p>
              </div>
  
              <div class="col-lg-6">
                <p>
                  2.1.0-4ubuntu1.1<br />
                  3.1~rc1+r3.0.13-12<br />
                  2.11.0-0ubuntu4.1<br />
                  2.5.2-1ubuntu2.5<br />
                  1:4.9.1-0ubuntu1<br />
                  1:8.31-2ubuntu2<br />
                  1.2.50-1ubuntu2.14.04.1<br />
                  4.8.4-2ubuntu1~14.04.1<br />
                  2:1.6.2-1ubuntu2<br />
                  1:1.0.8-1<br />
                  1.10-2ubuntu1<br />
                  1:1.1.1-1<br />
                  2:1.3.2-1<br />
                  2.3.1-2<br />
                  1:0.9.8-1<br />
                  1:1.2.8.dfsg-1ubuntu1
                </p>
              </div>
            </div>
  
  
            <h2>macOS</h2>

              <div class="table-responsive">
                <table class="table">
  
                  <tr>
                    <th>Operating System</th>
                    <th>Version</th>
                    <th>64-bit</th>
                  </tr>
  
                  <tr>
                    <td>El Capitan</td>
                    <td>10.11</td>
                    <td>
                      <span class="fa fa-check"></span>
                    </td>
                  </tr>
  
                  <tr>
                    <td>Sierra</td>
                    <td>10.12</td>
                    <td>
                      <span class="fa fa-check"></span>
                    </td>
                  </tr>
  
                  <tr>
                    <td>High Sierra</td>
                    <td>10.13</td>
                    <td>
                      <span class="fa fa-check"></span>
                    </td>
                  </tr>
  
                </table>
              </div>
  
            <p>
              <strong>Important:</strong> Pointwise V18.1 R1 will not support macOS versions older than 10.10.
            </p>
  
          </section>
  
          <section id="previous-versions">
            <h2>Previous Versions</h2>
  
            <p>
              <a href="release-notes-V183R1.html">Pointwise V18.3 R1</a><br />
              <a href="release-notes-V182R2.html">Pointwise V18.2 R2</a><br />
              <a href="release-notes-V182R1.html">Pointwise V18.2 R1</a><br />
              <a href="release-notes-V181R2.html">Pointwise V18.1 R2</a><br />
              <a href="release-notes-V181R1.html">Pointwise V18.1 R1</a><br />
              <a href="release-notes-V18R4.html">Pointwise V18.0 R4</a><br />
              <a href="release-notes-V18R3.html">Pointwise V18.0 R3</a><br />
              <a href="release-notes-V18R2.html">Pointwise V18.0 R2</a><br />
              <a href="release-notes-V18R1.html">Pointwise V18.0 R1</a>
            </p>
  
          </section>
  
        </div>

      <!-- Space between columns -->
      <div class="col-lg-1">
      </div>

      <!-- Column Contents -->
      <div class="col-lg-3">
        <div class="page-nav">
          <h4>More Support</h4>
          <svg class="nav-lines">
            <line class="nav-blue-social" x1="0" y1="1" x2="140" y2="1"/>
            <line class="nav-grey-social" x1="140" y1="1" x2="275" y2="1"/>
          </svg>
          <div class="side-nav">
            <p><a href="mailto:support@pointwise.com">Email Support</a></p>

            <p><a href="../gethelp/">Get Help</a></p>

            <p><a href="../downloads/">Downloads</a></p>

            <p><a href="../licenses/">Request a License</a></p>

            <p><a href="../training/">Register for Training</a></p>

            <p><a href="../support/release-notes.html">Release Notes</a></p>

            <p><a href="../glyph/">Glyph Scripting</a></p>

            <p><a href="../plugins/">Plugin SDK</a></p>

            <p><a href="../sales/">International Tech Support</a></p>

            <p><a href="../doc/user-manual/index.html">User Manual</a></p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- FOOTER -->
  <% include ../partials/footer %>

    <!-- JAVASCRIPT -->
    <% include ../partials/js-includes %>
</body>
</html>
