<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Analytics -->
    <% include ../partials/ga-includes %>

    <!-- META SETTINGS -->
    <% include ../partials/meta-settings.ejs %>

	<!-- PAGE TITLE -->
	<title>Release Notes Pointwise V18.0 R4</title>

	<!-- OG TAGS -->
	<meta property="og:url" content="https://www.pointwise.com/support/release-notes-V18R4.html" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Release Notes Pointwise V18.0 R4" />
	<meta property="og:description" content="These release notes are provided as a reference for the new features included in the latest version of Pointwise as well as any known issues that were resolved." />

	<!-- META DATA -->
	<meta name="description" content="These release notes are provided as a reference for the new features included in the latest version of Pointwise as well as any known issues that were resolved.">
	<meta name="keywords" content="cfd meshing, mesh generation, grid generation, computational fluid dynamics, mesh generator, cfd software, cfd consultants, mesh software, grid software, fluid dynamics modeling" />

	<!-- CSS FILES -->
	<% include ../partials/css-includes %>

</head>

<body id="page-top">

	<noscript>
		<p>
			In order to view this page JavaScript must be enabled in your browser.
		</p>
	</noscript>

	<!-- TOP NAVIGATION -->
	<% include ../partials/navbar %>

	<!-- Page Content -->
	<div class="container">
		<div class="row">

			<div class="col-lg-8">
				<h1>Pointwise Release Notes</h1>

				<ul class="list-unstyled">
					<li>Version: V18.0 Release 4</li>
					<li>Release Date: September 2017</li>
					<li>News Release: <a href="../news/2017/Latest-Pointwise-Meshing-Software-Facilitates-Scripting-Customization.html">www.pointwise.com/news/2017/Latest-Pointwise-Meshing-Software-Facilitates-Scripting-Customization.html</a></li>
				</ul>

				<ul class="list-unstyled release-nav">
					<li><a href="#overview" class="page-scroll">Overview</a></li>
					<li><a href="#new-features" class="page-scroll">New Features</a></li>
					<li><a href="#resolved-issues" class="page-scroll">Resolved Issues</a></li>
					<li><a href="#platform-support" class="page-scroll">Platform Support</a></li>
					<li><a href="#previous-versions" class="page-scroll">Previous Versions</a></li>
				</ul>

				<section id="overview">
					<h2 class="rn-head">Overview</h2>

					<p>
						Pointwise is our leading mesh generation software product for CFD, encompassing nearly three decades of technology development. The product features a modern software framework and workflow and provides tools like 64-bit support, multi-threading, and Windows/Linux/Mac portability.
					</p>

					<p>
						These release notes are provided as a reference for the new features included in the latest version of Pointwise as well as any known issues that were resolved.
					</p>
				</section>

				<section id="new-features">

					<h2>New Features</h2>

					<ul>
						<li>
							Environment variables can now be set to define the starting location for Glyph, File Open, Export CAE, and Export Grid.
						</li>

						<li>
							Toolbar buttons have been added for all show commands (domains, connectors, etc.).
						</li>
						<li>
							Columns have been added to the T-Rex Boundary Conditions table as well as the CAE Set Boundary Conditions table to show the total number of tris and quads assigned to each condition.
						</li>
						<li>
							The CAE Set Volume Conditions table now shows the total number of different types of cells (hexes, tets, prisms and pyramids) assigned to each condition.
						</li>
						<li>
							CGNS can now export to ADF and HDF5 file formats. The format to be exported is set in the CAE Set Solver Attributes panel.
						</li>
						<li>
							The CFD++ plugin now accepts volume conditions to assign cell sets.
						</li>
						<li>
							Scripts can now be assigned to buttons on the toolbar. The icon for the script can be selected from an assortment of options.
						</li>
						<li>
							Plot3D export to SUGGAR++ has been updated to use user-created BC names.
						</li>
					</ul>

				</section>


				<section id="resolved-issues">

					<h2>Resolved Issues</h2>

					<div class="table-responsive">
						<table class="table table-bordered table-striped">

							<tr>
								<th>SPR</th>
								<th>Description</th>
							</tr>

							<tr>
								<td class="no-wrap">PW-19174</td>
								<td>Initialization of an unstructured block failed with an error message related to tetrahedral import.</td>
							</tr>

							<tr>
								<td>PW-20270</td>
								<td>Export of a 1 billion cell mesh to Exodus II CAE solver failed with an error about the z coordinate array.</td>
							</tr>

							<tr>
								<td>PW-20352</td>
								<td>The structured solver adjusted the position of a shared floating node after the Apply button was pushed.</td>
							</tr>

							<tr>
								<td>PW-20370</td>
								<td>Modifying the dimensions of any of the connectors on a domain caused highly skewed cells to form within the domain. </td>
							</tr>

							<tr>
								<td>PW-20418</td>
								<td>A Nastran file was not importing correctly. </td>
							</tr>

							<tr>
								<td>PW-20430</td>
								<td>A complicated CFX grid was taking a long time to export. </td>
							</tr>

							<tr>
								<td>PW-20434</td>
								<td>Database entities from a Parasolid file could be scaled in Pointwise V17.2R5 but not in Pointwise V18. </td>
							</tr>

							<tr>
								<td>PW-20450</td>
								<td>Setting a value in the donor_quality field and deleting it was causing overset cases to not be able to run.</td>
							</tr>

							<tr>
								<td>PW-20458</td>
								<td>Journaling was not recording the change to an overset case name. </td>
							</tr>

							<tr>
								<td>PW-20470</td>
								<td>A multi-segment database curve did not transform properly during a rotate operation.</td>
							</tr>

							<tr>
								<td>PW-20471</td>
								<td>Pointwise unexpectedly exited during the initialization of an unstructured block.</td>
							</tr>

							<tr>
								<td>PW-20476</td>
								<td>An unstructured domain could be initialized in Pointwise V18.0R2 but not in Pointwise V18.0R3.</td>
							</tr>

							<tr>
								<td>PW-20491</td>
								<td>USM3D filed could be written that were larger than the FORTRAN file based format allowed. </td>
							</tr>

							<tr>
								<td>PW-20499</td>
								<td>The Zoom to Selection command did not work for selected database boundaries. </td>
							</tr>

							<tr>
								<td>PW-20509</td>
								<td>T-Rex layers in a domain created on a database surface appeared &ldquo;scalloped.&rdquo;</td>
							</tr>

							<tr>
								<td>PW-20510</td>
								<td>Exporting an unstructured grid which contained a T-Rex block and a prism block failed and resulted in errors related to incompatible BC types and non-manifold connectivity. </td>
							</tr>

							<tr>
								<td>PW-20515</td>
								<td>The default number of database surfaces used for a projection was different in the Grid, Solve panel after initialization of a domain. </td>
							</tr>

							<tr>
								<td>PW-20519</td>
								<td>Adjusting a parameter to solve a block unnecessarily updated domains. </td>
							</tr>

							<tr>
								<td>PW-20523</td>
								<td>A domain was not being properly projected to its boundary. </td>
							</tr>

							<tr>
								<td>PW-20533</td>
								<td>Export to the WIND CAE failed if the number of blocks exceeded 64.</td>
							</tr>

							<tr>
								<td>PW-20535</td>
								<td>A grid with a cell type unsupported by Ketrel was exported to Kestrel. </td>
							</tr>

							<tr>
								<td>PW-20545</td>
								<td>Initializing an unstructured domain resulted in a very coarse discretization of the domain. Refining the domain corrected it. </td>
							</tr>

							<tr>
								<td>PW-20549</td>
								<td>Periodic domains, used in separate blocks, were not being properly updated when using the T-Rex block solver. </td>
							</tr>

							<tr>
								<td>PW-20561</td>
								<td>Flipping a block’s face orientation in the Edit, Orient command was not journaled correctly. </td>
							</tr>

							<tr>
								<td>PW-20573</td>
								<td>The Examine, Volume Ratio metric reported an incorrect maximum value after a block was copied and pasted. </td>
							</tr>

							<tr>
								<td>PW-20582</td>
								<td>Create, Domains on Database Entities was unable to create unstructured domains on two quilts in a geometry file. </td>
							</tr>

							<tr>
								<td>PW-20621</td>
								<td>Exporting multi-domain extruded block files to a face based solver was taking longer than in previous versions of Pointwise.  </td>
							</tr>

							<tr>
								<td>PW-20680</td>
								<td>Pointwise exited unexpectedly when a database was copied. </td>
							</tr>

							<tr>
								<td>PW-20681</td>
								<td>The structured block solver continued to run for several iterations after the Stop button was pressed. </td>
							</tr>

							<tr>
								<td>PW-20698</td>
								<td>Large files could not be exported to Kestrel due to improper handling. </td>
							</tr>

							<tr>
								<td>PW-20702</td>
								<td>Corrected an inconsistency when using Glyph and the ShapeConstraint parameter. </td>
							</tr>

						</table>
					</div>

				</section>

				<section id="platform-support">
					<h2>Platform Support</h2>

					<p>
						Minimum Requirements for All Platforms:
					</p>

					<ul>
						<li>2 GB RAM (8 GB recommended)</li>
						<li>2 GB disk space</li>
						<li>Ethernet card</li>
						<li>OpenGL capable color display monitor</li>
						<li>1280x1024 screen resolution (4K monitor support now included)</li>
						<li>Graphics adapter supporting 3D hardware-accelerated OpenGL and 24-bit RGB double-buffering</li>
						<li>Up-to-date graphics accelerator drivers</li>
					</ul>

					<p>
						<strong>Note:</strong>  Pointwise V18.0R1 and later will not be supported on 32-bit platforms.
					</p>
					
						<div class="table-responsive">
							<table class="table">

								<tr>
									<th>&nbsp;</th>
									<th>Hardware</th>
									<th>64-bit</th>
								</tr>

								<tr>
									<td>
										<img data-src="images/windows-icon-48x48.png" alt="Microsoft Windows" class="release-notes-img img-fluid"/>
										<br />
										Microsoft Windows
									</td>

									<td>
										Intel
										<br />
										AMD
									</td>

									<td>
										<span class="fa fa-check"></span>
									</td>

								</tr>

								<tr>
									<td>
										<img data-src="images/linux-icon-48x48.png" alt="Linux" class="release-notes-img img-fluid"/>
										<br />
										Linux
									</td>

									<td>
										Intel
										<br />
										AMD
									</td>

									<td>
										<span class="fa fa-check"></span>
									</td>

								</tr>

								<tr>
									<td>
										<img data-src="images/mac-icon-48x48.png" alt="Mac OS X" class="release-notes-img img-fluid"/>
										<br />
										Mac OS X
									</td>

									<td>
										Intel
									</td>

									<td>
										<span class="fa fa-check"></span>
									</td>

								</tr>

							</table>
						</div>

					<h2>Requirements for All Platforms</h2>

					<p>
						Minimum Requirements:
					</p>

					<ul>
						<li>2 GB RAM (8 GB recommended)</li>
						<li>2 GB disk space</li>
						<li>Ethernet card</li>
						<li>OpenGL capable color display monitor</li>
						<li>1280x1024 screen resolution (4K monitor support now included) </li>
						<li>Graphics adapter supporting 3D hardware-accelerated OpenGL and 24-bit RGB double-buffering</li>
						<li>Up-to-date graphics accelerator drivers</li>
					</ul>

					<p>
						Important Notes:
					</p>

					<ul>
						<li>
							Pointwise does not support 32-bit platforms.
						</li>
						<li>
							Pointwise does not support remote execution. However, <a href="../gethelp/">a FAQ with remote execution workarounds</a> is avaiable.
						</li>
					</ul>

					<h2>Microsoft Windows</h2>

						<div class="table-responsive">
							<table class="table">

								<tr>
									<th>Operating System</th>
									<th>64-bit</th>
									<th>&nbsp;</th>
								</tr>

								<tr>

									<td>Windows 7</td>
									<td>
										<span class="fa fa-check"></span>
									</td>
									<td>
										<img data-src="images/EN-w7-comp_rgb_S.png" alt="Windows 7 Compatible" class="release-notes-img img-fluid"/>
									</td>
								</tr>

								<tr>
									<td>Windows 8.1</td>
									<td>
										<span class="fa fa-check"></span>
									</td>
									<td>
										<img data-src="images/EN_W8_Comp_Blk_1_rgb.png" alt="Windows 8.1 Compatible" class="release-notes-img img-fluid"/>
									</td>
								</tr>

								<tr>
									<td>Windows 10</td>
									<td>
										<span class="fa fa-check"></span>
									</td>
									<td>
										<img data-src="images/badge_w10.png" width="60px;" alt="Windows 10 Compatible" class="release-notes-img img-fluid"/>
									</td>
								</tr>

							</table>
						</div>

					<p><small>
						*There is a <a href="http://en.community.dell.com/support-forums/software-os/f/3526/t/19634253" target="_blank" rel="noreferrer noopener">known incompatibility</a> on Microsoft Windows between Dell Backup &amp; Recovery software and Pointwise V18. If you experience problems opening or saving a file from Pointwise, Dell Backup &amp; Recovery software should be disabled or uninstalled.
					</small></p>

					<h2>Linux</h2>

						<div class="table-responsive">
							<table class="table">

								<tr>
									<th>Operating System</th>
									<th>Version</th>
									<th>64-bit</th>
								</tr>

								<tr>
									<td>CentOS</td>
									<td>6</td>
									<td>
										<span class="fa fa-check"></span>
									</td>
								</tr>

								<tr>
									<td>Red Hat Enterprise Linux</td>
									<td>6</td>
									<td>
										<span class="fa fa-check"></span>
									</td>
								</tr>

								<tr>
									<td>SUSE Enterprise Linux Desktop</td>
									<td>12 SP1</td>
									<td>
										<span class="fa fa-check"></span>
									</td>
								</tr>

								<tr>
									<td>Ubuntu Desktop</td>
									<td>14.04</td>
									<td>
										<span class="fa fa-check"></span>
									</td>
								</tr>

							</table>
						</div>

					<h3>Linux Library Dependencies</h3>

					<p>
						Listed below are the specific versions of library packages that we have on our test machines where we know Pointwise works. Other dependences (e.g. libGL) are not explicitly listed below as they should be part of any standard install that includes the packages listed below.
					</p>

					<h3>CentOS 6.4</h3>

					<p>
						expat-2.0.1-11.el6_2<br />
						fontconfig-2.8.0-3.el6<br />
						freetype-2.3.11-14.el6_3.1<br />
						libgcc-4.4.7-4.el6<br />
						libstdc++-4.4.7-3.el6<br />
						libX11-1.5.0-4.el6<br />
						libXau-1.0.6-4.el6<br />
						libxcb-1.8.1-1.el6<br />
						libXext-1.3.1-2.el6<br />
						libXft-2.3.1-2.el6<br />
						libXrender-0.9.7-2.el6<br />
						zlib-1.2.3-29.el6
					</p>

					<h3>Red Hat Enterprise Linux 6</h3>

					<p>
						expat-2.0.1-11.el6_2<br />
						fontconfig-2.8.0-5.el6<br />
						freetype-2.3.11-15.el6_6.1<br />
						libgcc-4.4.7-16.el6<br />
						libstdc++-4.4.7-16.el6<br />
						libX11-1.6.0-6.el6<br />
						libXau-1.0.6-4.el6<br />
						libxcb-1.9.1-3.el6<br />
						libXext-1.3.2-2.1.el6<br />
						libXft-2.3.1-2.el6<br />
						libXrender-0.9.8-2.1.el6<br />
						zlib-1.2.3-29.el6
					</p>

					<h3>SUSE Enterprise Linux Desktop 12 SP1</h3>

					<div class="row">
						<div class="col-lg-6">
							<p>
								fontconfig<br />
								libbz2-1<br />
								libexpat1<br />
								libffi4<br />
								libfreetype6<br />
								libgcc_s1<br />
								libglib-2_0-0<br />
								libGLU1<br />
								libgobject-2_0-0<br />
								libgthread-2_0-0<br />
								libpcre1<br />
								libpng16-16<br />
								libstdc++6<br />
								libX11-6<br />
								libXau6<br />
								libxcb1<br />
								libXext6<br />
								libXft2<br />
								libXrender1<br />
								libz1<br />
							</p>
						</div>

						<div class="col-lg-6">
							<p>
								2.11.0-4.19<br />
								1.0.6-29.2<br />
								2.1.0-17.1<br />
								5.3.1+r233831-9.1<br />
								2.5.5-7.5.1<br />
								5.3.1+r233831-9.1<br />
								2.38.2-5.12<br />
								9.0.0-15.1<br />
								2.38.2-5.12<br />
								2.38.2-5.12<br />
								8.33-3.314<br />
								1.6.8-11.1<br />
								5.3.1+r233831-9.1<br />
								1.6.2-4.12<br />
								1.0.8-4.58<br />
								1.10-3.1<br />
								1.3.2-3.61<br />
								2.3.1-9.32<br />
								0.9.8-3.56<br />
								1.2.8-5.1
							</p>
						</div>
					</div>


					<h3>Ubuntu 14.04</h3>

					<div class="row">
						<div class="col-lg-6">
							<p>
								libexpat1<br />
								libffi6<br />
								libfontconfig1<br />
								libfreetype6<br />
								libgcc1<br />
								libpcre3<br />
								libpng12-0<br />
								libstdc++6<br />
								libx11-6<br />
								libxau6<br />
								libxcb1<br />
								libxdmcp6<br />
								libxext6<br />
								libxft2<br />
								libxrender1<br />
								zlib1g
							</p>
						</div>

						<div class="col-lg-6">
							<p>
								2.1.0-4ubuntu1.1<br />
								3.1~rc1+r3.0.13-12<br />
								2.11.0-0ubuntu4.1<br />
								2.5.2-1ubuntu2.5<br />
								1:4.9.1-0ubuntu1<br />
								1:8.31-2ubuntu2<br />
								1.2.50-1ubuntu2.14.04.1<br />
								4.8.4-2ubuntu1~14.04.1<br />
								2:1.6.2-1ubuntu2<br />
								1:1.0.8-1<br />
								1.10-2ubuntu1<br />
								1:1.1.1-1<br />
								2:1.3.2-1<br />
								2.3.1-2<br />
								1:0.9.8-1<br />
								1:1.2.8.dfsg-1ubuntu1
							</p>
						</div>
					</div>


					<h2>Mac OS X</h2>

					<div class="row">
						<div class="col-lg-8">
							<table class="table table-responsive">

								<tr>
									<th>Operating System</th>
									<th>Version</th>
									<th>64-bit</th>
								</tr>

								<tr>
									<td>Mountain Lion</td>
									<td>10.8</td>
									<td>
										<span class="fa fa-check"></span>
									</td>
								</tr>

								<tr>
									<td>Mavericks</td>
									<td>10.9</td>
									<td>
										<span class="fa fa-check"></span>
									</td>
								</tr>

								<tr>
									<td>Yosemite</td>
									<td>10.10</td>
									<td>
										<span class="fa fa-check"></span>
									</td>
								</tr>

								<tr>
									<td>El Capitan</td>
									<td>10.11</td>
									<td>
										<span class="fa fa-check"></span>
									</td>
								</tr>

							</table>
						</div>
					</div>

					<p>
						<strong>Important:</strong> Pointwise V18.1 R1 will not support Mac OS X versions older than 10.10.
					</p>

				</section>

				<section id="previous-versions">
					<h2>Previous Versions</h2>

					<p>
						<a href="release-notes-V18R3.html">Pointwise V18.0 R3</a><br />
						<a href="release-notes-V18R2.html">Pointwise V18.0 R2</a><br />
						<a href="release-notes-V18R1.html">Pointwise V18.0 R1</a>
					</p>

				</section>

			</div>

			<!-- Space between columns -->
			<div class="col-lg-1">
			</div>

			<!-- Column Contents -->
			<div class="col-lg-3">
				<div class="page-nav">
					<h4>More Support</h4>
					<svg class="nav-lines">
						<line class="nav-blue-social" x1="0" y1="1" x2="140" y2="1"/>
						<line class="nav-grey-social" x1="140" y1="1" x2="275" y2="1"/>
					</svg>
					<div class="side-nav">
						<p><a href="mailto:support@pointwise.com">Email Support</a></p>

						<p><a href="../gethelp/">Get Help</a></p>

						<p><a href="../downloads/">Downloads</a></p>

						<p><a href="../licenses/">Request a License</a></p>

						<p><a href="../training/">Register for Training</a></p>

						<p><a href="../support/release-notes.html">Release Notes</a></p>

						<p><a href="../glyph/">Glyph Scripting</a></p>

						<p><a href="../plugins/">Plugin SDK</a></p>

						<p><a href="../sales/">International Tech Support</a></p>

						<p><a href="../doc/user-manual/index.html">User Manual</a></p>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- FOOTER -->
	<% include ../partials/footer %>

	<!-- JAVASCRIPT -->
	<% include ../partials/js-includes %>
</body>
</html>
