<!DOCTYPE html>
<html lang="en">
<head>

	<!-- Google Analytics -->
	<% include ../../partials/ga-includes %>

	<!-- META SETTINGS -->
	<% include ../../partials/meta-settings.ejs %>

	<!-- PAGE TITLE -->
	<title>Case Study |  Accurate Performance Predictions for Marine Propellers</title>
	
  <meta name="robots" content="noindex">

	<!-- CSS FILES -->
	<% include ../../partials/css-includes %>

</head>

<body id="page-top">

	<noscript>
		<p>
			In order to view this page JavaScript must be enabled in your browser.
		</p>
	</noscript>	

	<!-- TOP NAVIGATION -->
	<% include ../../partials/navbar %>

	<div class="container-fluid">
		<div class="row">
			<div class="image-case">
				<img data-src="images/Propeller-3840x1200.png" alt="The potsdam propeller in its actual form" class="img-fluid"/>
				<h1><span class="case-caption">Accurate Performance Predictions for Marine Propellers</span></h1>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-8">

				<p>
					This report presents the benchmark validation of CFD simulation results of the <a href="https://www.sva-potsdam.de/en/potsdam-propeller-test-case-pptc/">Potsdam Propeller Test Case (PPTC)</a> using TCFD® with a Pointwise® mesh. PPTC is a marine propulsor that was extensively measured by <a href="https://www.sva-potsdam.de/">SVA Potsdam</a>, and related data were published [<a href="#ref1" class="page-scroll">1</a>] [<a href="#ref2" class="page-scroll">2</a>] [<a href="#ref3" class="page-scroll">3</a>]. The aim of this benchmark was to evaluate the TCFD, computational fluid dynamics (CFD) software, on the mesh created in Pointwise mesh generation software, and to compare the results with the measurement data available. The particular goal of this benchmark is to compare the propeller efficiency, torque coefficient, and thrust coefficient vs. advance coefficient with the real experimental measurement of <a href="https://www.sva-potsdam.de/">SVA Potsdam Laboratory</a>.
				</p>


				<img data-src="images/Fig1-Potsdam-Propeller-800x240.png" alt="Figure 1: The potsdam propeller in its actual form as well as its computational rendering"
					 class="img-fluid center-block" />
				<figcaption>
					Figure 1: The potsdam propeller in its actual form as well as its computational rendering
				</figcaption>


				<h2>Benchmark Parameters</h2>

				<div class="row">
					<div class="col-lg-6 col-md-6">
						<ul>
							<li>Mean flow speed: 4 m/s </li>
							<li>Rotation speed: 900 RPM</li>
							<li>Flow model: incompressible </li>
							<li>Mesh size: 4.1 M cells</li>
							<li>Medium: water</li>
							<li>Speedlines: 1</li>
							<li>Simulation points: 11</li>
							<li>Fluid: Water</li>
							<li>Reference pressure: 1 atm</li>
						</ul>
					</div>
					<div class="col-lg-6 col-md-6">
						<ul>
							<li>Reference density: 997.71 kg/m<sup>3</sup></li>
							<li>Dynamic viscosity: 9.559 × 10<sup>-4</sup> Pa⋅s</li>
							<li>CPU Time: 30 core.hours/point</li>
							<li>Turbulence: RANS</li>
							<li>Turbulence model:  kOmegaSST</li>
							<li>Simulation type: Propeller</li>
							<li>Time management: steady-state</li>
							<li>Number of components: 2</li>
							<li>Wall treatment: Wall functions</li>
						</ul>
					</div>
				</div>

				<h2>Potsdam Propeller CFD Benchmark Description</h2>

				<p>
					The high demand for improving the accuracy, quality, and credibility of CFD simulation results, should be assessed by providing a qualitative and intensive comparison with experimental measurement data.
				</p>

				<p>
					The purpose of this benchmark is the validation of CFD simulation software TCFD with a mesh created in Pointwise and to compare the results with the measurement data available. PPTC is a marine propulsor that was extensively measured by SVA Potsdam, and related data were published in [<a href="#ref1" class="page-scroll">1</a>], [<a href="#ref2" class="page-scroll">2</a>], and [<a href="#ref3" class="page-scroll">3</a>].
				</p>

				<p>
					The particular goal of this benchmark is to compare the propeller efficiency, torque coefficient, and thrust coefficient vs. advance coefficient with the experimental measurements of SVA Potsdam Laboratory. The experimental investigation includes open water test and velocity field measurements at different operating conditions. A detailed description of the open water tests conducted at the towing tank of the SVA is presented in the SVA report [<a href="#ref1" class="page-scroll">1</a>], which can be found on the SVA website (<a href="https://www.sva-potsdam.de/">sva-potsdam.de</a>).
				</p>

				<img data-src="images/Fig2-Experimental-Propeller-800x315.png" alt="Figure 2: The propeller used for experimental measurements."
					 class="img-fluid center-block" />
				<figcaption>
					Figure 2: The propeller used for experimental measurements.
				</figcaption>

				<p>
					For propeller analysis, there are a few important dimensionless numbers. Those are advance coefficient, thrust coefficient, torque coefficient, and efficiency. They are defined as (respectively):
				</p>

				<img data-src="images/propeller-equation-800x86.png" alt="Advance coefficient, thrust coefficient, torque coefficient, and efficiency"
					 class="img-fluid center-block" />
				<figcaption>
				</figcaption>

				<p>
					Where Va is the advance speed [m/s], n is the speed of rotation [1/s], D is propeller diameter [m], T is thrust [N], ϱ is water density [kg/m3], Q is torque [Nm]. The measurement results are available for advance coefficients from J = 0.5 to 1.6 and the simulation points are chosen accordingly. Altogether, 11 advance coefficient modes were simulated.
				</p>

				<h2>Mesh</h2>

				<p>
					An unstructured viscous computational mesh was constructed with Pointwise on the Potsdam propeller geometry as part of this TCFD validation benchmark. Pointwise has previously worked with variants of the geometry for other studies. For an in-depth discussion of Pointwise technology and how it can be used for this particular geometry, please consult Carrigan and Bagheri’s NAFEMS World Congress 2017 paper [<a href="#ref4" class="page-scroll">4</a>].
				</p>

				<p>
					A combination of anisotropic and isotropic triangles was used in the surface mesh discretization. Areas of high curvature, such as the leading edge, trailing edge, and the tip, were resolved by utilizing Pointwise’s T-Rex algorithm. This tool grows anisotropically stretched, right-angle triangles layered in the normal direction to a boundary [<a href="#ref5" class="page-scroll">5</a>], as shown below. Using this, areas of high curvature are able to be resolved without the need to isotropically refine the area. The result is an accurate adherence to the surface and a reduction in the point count. The interior of the surface mesh was resolved with isotropic triangles created using a modified Delaunay algorithm.
				</p>

				<img data-src="images/Fig3-Propeller-Blade-800x479.png" alt="The surface mesh on one blade of the propeller."
					 class="img-fluid center-block" />
				<figcaption>
					Figure 3: The surface mesh on one blade of the propeller. You can see the anisotropic layers generated near the blade's edge as well as the isotropic triangles near the center of the blade.
				</figcaption>

				<p>
					After meshing the geometry, the outer boundary of the moving reference frame (MRF) as well as the outer boundary of the computational domain were meshed utilizing isotropic triangles and the Delaunay algorithm. The MRF is cylindrical domain approximately 4.8 D long (4.8x the propeller diameter) and 1.5 D in diameter. It starts just upstream of the propeller and extends downstream into the wake. A farfield block was generated outside of the MRF corresponding to 10 D and 2.6 D.
				</p>

				<img data-src="images/Fig4-Domains-800x226.png" alt="The computational domains based upon the diameter of the propeller."
					 class="img-fluid center-block" />
				<figcaption>
					Figure 4: The computational domains based upon the diameter of the propeller.
				</figcaption>

				<p>
					The volume mesh is a combination of a prismatic near wall cells surrounded by isotropic tetrahedral cells. The prismatic portions of the grid were initialized using T-Rex. Starting from the surface mesh, anisotropic tetrahedral cells were grown until reaching a desired stop criteria, colliding with another front, or violating quality criteria. If an element stops advancing this does not prevent adjacent elements from continuing. After the tetrahedral layers are grown, the cells are combined to form prisms (or hexahedras if the surface mesh is made up of quadrilateral cells). This reduces the total cell count of the mesh without sacrificing quality. Once the near-wall viscous mesh was generated, the remainder of the volume was populated with isotropic tetrahedral cells. The total cell count was just below 4.1 million cells. The average maximum included angle was 101 degrees, and the maximum was 170. The average volume ratio was 1.8 with a maximum of 28.
				</p>

				<img data-src="images/Fig5-Volume-Mesh-800x479.png" alt="The computational domains based upon the diameter of the propeller."
					 class="img-fluid center-block" />
				<figcaption>
					Figure 5: A slice of the volume mesh around a blade. The blue cells are tetrahedra, the green are prisms, and the yellow are pyramids. The prism cells adjacent to boundaries are a result of the T-Rex algorithm. The surface mesh of the blade and hub can also be seen.
				</figcaption>

				<p>
					The data for the mesh is included in the table.
				</p>

				<table class="table table-bordered">
					<thead class="thead-dark">
					<tr>
						<th scope="col">Mesh Elements</th>
						<th scope="col">points</th>
						<th scope="col">faces</th>
						<th scope="col">internal faces</th>
						<th scope="col">faces per cell</th>
						<th scope="col">hexahedra</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<th scope="row">#</th>
						<td>1018546</td>
						<td>8753113</td>
						<td>8434441</td>
						<td>4.203379</td>
						<td>2052</td>
					</tr>
					</tbody>
					<thead class="thead-dark">
					<tr>
						<th scope="col">Mesh Elements</th>
						<th scope="col">prisms</th>
						<th scope="col">pyramids</th>
						<th scope="col">tetrahedra wedges</th>
						<th scope="col">polyhedra</th>
						<th scope="col">cells</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<th scope="row">#</th>
						<td>788137</td>
						<td>39373</td>
						<td>0</td>
						<td>0</td>
						<td><strong>4,088,985</strong></td>
					</tr>
					</tbody>
				</table>

				<h2>TCFD Simulation Setup</h2>

				<p>
					The simulation run in TCFD is quite straightforward. The external mesh, created in Pointwise, is simply loaded and the simulation parameters are set. The simulation type is the propeller. Time management is steady-state. The fluid flow model is incompressible. The mesh has two components (the water tunnel and the cylinder with propeller inside) of total 4.1<i>M</i> cells. The inlet flow velocity defines the advance coefficient, and the velocity varies from 1.7 to 5.9 m/s in 11 points. The outlet boundary condition is static pressure. For turbulence modeling, the RANS modeling approach has been used with the k-omega SST turbulence model with the wall functions. The fluid properties of water are selected. The density of 997.71 kg/m3. Dynamic viscosity of 9.559e-4 Pa·s.
				</p>

				<img data-src="images/Fig6-Pressure-Calculations-800x446.png" alt="The computational domains based upon the diameter of the propeller."
					 class="img-fluid center-block" />
				<figcaption>
					Figure 6: Pressure calculations on the propeller taken from the TCFD post-processor.
				</figcaption>

				<img data-src="images/Fig7-GUI-800x415.png" alt="The computational domains based upon the diameter of the propeller."
					 class="img-fluid center-block" />
				<figcaption>
					Figure 7: The GUI for TCFD depicting results of one simulation.
				</figcaption>

				<h2>TCFD Simulation Post-processing</h2>

				<p>
					TCFD includes a built-in post-processing module that automatically evaluates the required total quantities, such as propeller efficiency, thrust coefficient, torque coefficient, forces, force coefficients, flow rates, and much more. All these quantities are evaluated throughout the simulation run, and all the important data is summarized in tabled .csv files as well as in the HTML report, which can be updated anytime during the simulation for every run. Furthermore, visual post-processing of the volume fields can be done with ParaView.
				</p>

				<h2>Efficiency, Thrust & Torque Coefficient vs. Advance Coefficient</h2>

				<p>
					A propeller is the most common propulsor on ships, imparting momentum to a fluid causing a force to act on the ship. The most comprehensive propeller performance information is provided by displaying all the key characteristics into one graph.
				</p>

				<img data-src="images/Graph-800x480.png" alt="Graph"
					 class="img-fluid center-block" />
				<figcaption>
				</figcaption>

				<h2>Conclusion</h2>

				<p>
					The CFD analysis of the PPTC was performed successfully. It has been shown that the TCFD in connection with Pointwise provides very accurate results that are in perfect agreement with the measurement data.
				</p>

				<p>
					All the simulation and measurement data are freely available. Potential questions about TCFD are to be sent to <a href="mailto:info@cfdsupport.com">info@cfdsupport.com</a>. Questions about Pointwise are to be sent to <a href="mailto:letstalk@pointwise.com">letstalk@pointwise.com</a>.
				</p>

				<h3>References</h3>

				<ol>
					<li>
						<a id="ref1" class="anchor"></a>
						Barkmann, U., Potsdam Propeller Test Case (PPTC) - Open Water Tests with the Model Propeller VP1304, Report 3752, SchiffbauVersuchsanstalt Potsdam, April 2011
					</li>
					<li>
						<a id="ref2" class="anchor"></a>
						Barkmann, U., Heinke, H.-J., Potsdam Propeller Test Case (PPTC) Test Case Description, Second International Symposium on Marine Propulsors smp’11, Hamburg, Germany, June 2011, Workshop: Propeller performance
					</li>
					<li>
						<a id="ref3" class="anchor"></a>
						Heinke, H.-J., Potsdam Propeller Test Case (PPTC), Cavitation Tests with the Model Propeller VP1304, Report 3753, SchiffbauVersuchsanstalt Potsdam, April 2011
					</li>
					<li>
						<a id="ref4" class="anchor"></a>
						Carrigan, T., Bagheri, B., “A Study of the Influence of Meshing Strategies on CFD Simulation Efficiency,” NAFEMS World Congress 2017, NWC17-466, 2017.
					</li>
					<li>
						<a id="ref5" class="anchor"></a>
						Steinbrenner, J. P. and Abelanet, J.P., "Anisotropic Tetrahedral Meshing Based on Surface Deformation Techniques," AIAA-20060554, AIAA 45th Aerospace Sciences Meeting, Reno, NV.
					</li>
				</ol>


			</div>

				<div class="col-lg-1">
				</div>

				<div class="col-lg-3 col-md-3 case-study-nav">
					<h4>Company Profile</h4>
					<p>
						<img data-src="images/CFDSupport-Logo-400x141.png"
						alt="CFD Support Logo" class="img-fluid" />
					</p>

					<h4>About the Client</h4>
					<p>
						CFD SUPPORT is a private engineering company dealing mainly with engineering simulations. CFD SUPPORT was established in 2009 as a decision of two engineers and PhD graduates during their research fellowship at the prestigious Von Karman Institute for Fluid Dynamics to deal with CFD on professional basis. The company is located in Prague, Czech Republic.
					</p>
					<p>
						CFD is a very complex science which transcends several fields – physics, mathematics and software engineering. CFD SUPPORT has therefore built up a flexible team of young engineers, mathematicians and programmers with excellent education, because the cooperation of our top experts gives us the opportunity to cover fully all the needs of this demanding industry.
					</p>
					<p>
						CFD SUPPORT deals primarily with the CFD and FEA simulations, software development, mathematical modeling, numerical methods, algorithms, visualization techniques, scripting, automation, optimization and many other activities related to numerical simulations of physical phenomena.
					</p>


					<hr />

					<h3>Solution at a Glance</h3>

					<h4>CHALLENGE</h4>
					<p>
						The high demand for improving the accuracy, quality, and credibility of the CFD simulation results, should be assessed by providing a qualitative and intensive comparison with experimental measurement data. The purpose of this benchmark is the validation of CFD simulation software TCFD® with the mesh created in the meshing software Pointwise® and to compare the results with the measurement data available. The thrust coefficient, torque coefficient, and efficiency were compared to the advance coefficient over eleven operating conditions.
					</p>

					<h4>SOLUTION</h4>
					<p>
						The final mesh consisted of 4.1 million cells. The simulated predictions for each of the coefficients as well as the efficiency were very close to experimental results across the full range of operating conditions. All simulations and post-processing were performed using TCFD; visual post-processing of volume fields can be done with ParaView.
					</p>

					<h4>BENEFIT</h4>
					<p>
						The Potsdam propeller was accurately modeled across a broad range of operating conditions using a mesh created by Pointwise and the simulation package TCFD.
					</p>

				</div>

			</div>
		</div>

		<div class="container lets-talk-content">
			<div class="row">
				<div class="col-lg-12">
					<hr />
					<h2 class="text-center">You May Also Like</h2>
				</div>
			</div>

			<div class="row">

				<div class="col-lg-4 col-md-4">
					<div class="card">
						<a href="https://info.pointwise.com/webinar_best_mesh_strategy_ondemand"><img data-src="images/ymal1.png" alt="" class="card-img-top img-fluid"></a>
						<div class="card-body">
							<a href="https://info.pointwise.com/webinar_best_mesh_strategy_ondemand"><h3>The Influence of Meshing Strategies on Simulation Efficiency</h3></a>
							<p class="card-text">
								Watch this on-demand webinar that will help you determine the best type of mesh to use for the fastest and most accurate CFD simulations.
							</p>
							<p>
								<a href="https://info.pointwise.com/webinar_best_mesh_strategy_ondemand" class="btn btn-primary" role="button">More</a>
							</p>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-md-4">
					<div class="card">
						<a href="../../theconnector/2014-May/Simulation-Unsteady-Propeller-Blade-Loads-Using-OpenFOAM.html"><img data-src="images/ymal2.png" alt="" class="card-img-top img-fluid"></a>
						<div class="card-body">
							<a href="../../theconnector/2014-May/Simulation-Unsteady-Propeller-Blade-Loads-Using-OpenFOAM.html"><h3>Simulation of Unsteady Propeller Blade Loads Using OpenFOAM®</h3></a>
							<p class="card-text">
								Researchers at the University of Chalmers used Pointwise and OpenFOAM® to analyze unsteady propeller blade loads on ships that cause noise and vibration. Initial results are good and are being extended to include cavitation and pre-swirl stators.
							</p>
							<p>
								<a href="../../theconnector/2014-May/Simulation-Unsteady-Propeller-Blade-Loads-Using-OpenFOAM.html" class="btn btn-primary" role="button">More</a>
							</p>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-md-4">
					<div class="card">
						<a href="https://info.pointwise.com/simulation-in-flight-icing-uavs"><img data-src="images/ymal3.png" alt="Simulation of in-flight icing on UAVs" class="card-img-top img-fluid"></a>
						<div class="card-body">
							<a href="https://info.pointwise.com/simulation-in-flight-icing-uavs"><h3>Simulation of in-flight icing on UAVs</h3></a>
							<p class="card-text">
								In-flight icing is a severe hazard to all aircraft and has been a point of concern for manned aviation for many years. UAVs are a new technology, and icing only recently has been addressed as a key limitation to UAV operations. Watch a webinar on how to use icing simulations on unmanned aerial vehicles to develop ice protection systems.
							</p>
							<p>
								<a href="https://info.pointwise.com/simulation-in-flight-icing-uavs" class="btn btn-primary" role="button">More</a>
							</p>
						</div>
					</div>
				</div>

			</div>
		</div>

	<br>

    <!-- FOOTER -->
    <% include ../../partials/footer %>

	<!-- JAVASCRIPT -->
	<% include ../../partials/js-includes %>
 </body>
 </html>

