<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Analytics -->
    <% include ../partials/ga-includes %>

    <!-- META SETTINGS -->
    <% include ../partials/meta-settings.ejs %>

	<!-- PAGE TITLE -->
	<title>Pointwise's Headquarters | Fort Worth's Historic Bicocchi Building</title>

	<!-- OG TAGS -->
	<meta property="og:url" content="https://www.pointwise.com/about/bicocchi.html" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Pointwise's Headquarters | Fort Worth's Historic Bicocchi Building" />
	<meta property="og:description" content="Pointwise, Inc. has participated in the grassroots effort to bring new life to Fort Worth's Near Southside." />

	<!-- META DATA -->
	<meta name="description" content="Pointwise, Inc. has participated in the grassroots effort to bring new life to Fort Worth's Near Southside.">
	<meta name="keywords" content="cfd meshing, mesh generation, grid generation, computational fluid dynamics, mesh generator, cfd software, cfd consultants, mesh software, grid software, fluid dynamics modeling" />

	<!-- CSS FILES -->
	<% include ../partials/css-includes %>

</head>

<body id="page-top">
		
	<!-- TOP NAVIGATION -->
	<% include ../partials/navbar %>

	<!-- Page Content -->
	<div class="container">
		<div class="row">

			<div class="col-lg-8">

				<h1>Pointwise Supports the Grassroots Revitalization of an Historic Fort Worth Neighborhood</h1>

				<p>
					Pointwise, Inc. has participated in the grassroots effort to bring new life to Fort Worth's Near Southside, a historic neighborhood just south of downtown that is flourishing as a vibrant, creative center of urban life in fast-growing Tarrant County.
				</p>

				<p>
					In 2001, we moved our headquarters to this historic neighborhood &ndash;proximity to facilities for hosting visiting customers from around the world, availability of public transportation and a variety of popular restaurants that have been patronized by our staff and visitors.
				</p>

				<img data-src="images/bicocchi-then-and-now.jpg"
				alt="Bicocchi Building Fort Worth" class="img-fluid mx-auto"/>
				<figcaption>
					The renovated storefront of the Bicocchi Building with the backdrop of downtown Fort Worth illustrates the concept of blending the historic with the new on the Near Southside. Compare this to the building as it appeared circa 1910.
				</figcaption>

				<p>
					&ldquo;The exciting thing about the Pointwise decision to locate their business on the Near South Side of the city is that it reaffirms our belief that high tech, non-medical businesses, and the intellectual talent that accompanies them, can flourish in a mixed-use, central city location,&rdquo; said Don Scott, then-president of Fort Worth South, Inc.
				</p>

				<p>
					<strong>The property we chose for our corporate home has character.</strong> The historic Bicocchi building was built by Louis Bicocchi. The building is brick with decorative cast stone trim, including triangular corner parapets inscribed with the letter &ldquo;B&rdquo;. The store front facing South Jennings Street is thought to feature the face of Bicocchi's daughter, Sarah Clothilde Bicocchi Jenkins, in cast stone above the name &ldquo;Bicocchi&rdquo;.
				</p>

				<img data-src="images/bicocchi-B-art-nouveau-detail.jpg"
				alt="The Bococchi building includes art nouveaux architectural details" class="img-fluid mx-auto"/>
				<figcaption>
					The building includes art nouveaux architectural details such as corner parapets with the letter &ldquo;B&rdquo; and a casting of the builder's daughter.
				</figcaption>

				<p>
					Bicocchi was a prominent grocer and a forward-thinker. His Bread and Ice Depot at 7th and Burnett streets was the first store in Fort Worth to have electric lights and a cash register. Together with Giovanni Battista Laneri in 1899 he founded O.B. Macaroni, the 13th oldest organization in Tarrant County.
				</p>

				<p>
					The Bicocchi Building was used for various enterprises, including ground-floor storefronts and apartments on the second floor, an original example of the <a href="http://en.wikipedia.org/wiki/Mixed-use_development" target="_blank" rel="noreferrer noopener">mixed-use</a> plan that underlies the City of Fort Worth's comprehensive plan.
				</p>

				<p>
					The two-story brick building was renovated in the 1980s to enhance its original architectural details with a skylighted atrium and a second-story conference room with a view overlooking downtown Fort Worth. We particularly liked the ambiance of exposed interior brick walls and original wooden doors, frames and transom windows, which give our offices a sense of historical significance. Our developer and technical support teams have offices with original 10-foot embossed tin ceilings and plate glass store-front windows, as well. Our off-street entrance is through an atrium that features a brick wall that once was the exterior of the building and which reflects part of the property's history in signage weathered over time.
				</p>

				<img data-src="images/bicocchi-interior-updates.jpg"
				alt="renovated office spaces" class="img-fluid mx-auto"/>
				<figcaption>
					The renovated office spaces feature high ceilings and exposed brick (left), the conference room offers a skyline view of downtown Fort Worth through greenhouse-type windows (center), and renovations retained much of the original framing and transoms.
				</figcaption>

				<p>
					&ldquo;There are challenges associated with turning a building more than 100 years old into a modern office space, but we believe the advantages of location and atmosphere are worth it,&rdquo; said John Chawner, president of Pointwise. &ldquo;Fort Worth is a city that appreciates historical context. We are happy that we are able to repurpose a beautiful work of architecture with historical significance to the city.&ldquo;
				</p>

				<img data-src="images/bicocchi-details.jpg"
				alt="renovated office spaces" class="img-fluid mx-auto"/>
				<figcaption>
					Decorative brick on the buildings exterior lends charm characteristic of the Near Southside. Original tinwork ceilings enhance the 10-foot ceilings in the offices of Pointwise's Support and Development teams.
				</figcaption>

				<p>
					<strong>The warmth of the old and the energy of the new</strong> in this building are characteristic of the Near Southside as a whole. The redevelopment of Fort Worth's historic neighborhoods has been thoughtfully undertaken by the city to accommodate the projected population growth, protect and preserve historical architecture like the Bicocchi Building and offer a dynamic urban mixed-use environment for those who prefer to live and work in the heart of the city.
				</p>

				<p>
					The renewal of the area has been spearheaded by Near Southside, Inc., a non-profit grassroots organization started in 1995 by area residents and business owners who believed in investing in their community. Because of their efforts, the area has retained its authentic historical character while becoming home to an eclectic community of shops, public parks, restaurants, residencies and businesses.
				</p>

				<p>
					As testimony to its dynamic business climate, the Near Southside is the second largest employment center in Tarrant County, with more than 30,000 jobs, including a variety of employment opportunities in the city's Medical District. <a href="http://techfortworth.org/" target="_blank" rel="noreferrer noopener">TECH Fort Worth</a> is one of a number of nonprofit organizations in the area. TECH is a business incubator that helps entrepreneurs bring to market innovative technologies that benefit the community and environment.
				</p>

				<p>
					<strong>Attention to enhancing the community environment</strong> led to building Watts Park, the first new central city public park to be built in decades, and bike- and pedestrian-friendly areas that lend themselves to the outdoor events throughout the year that draw thousands of participants. The district boasts award-winning restorations of apartments and bungalows and received 62 Fort Worth Weekly Best of 2011 awards to businesses, events and community leaders.
				</p>

				<p>
					Among the attractions (as profiled in <a href="http://www.texasmonthly.com/travel/trip-guide-fort-worth-near-southside/" target="_blank" rel="noreferrer noopener">Texas Monthly magazine, January 2017 issue)</a> on the Near Southside are Magnolia Avenue &ldquo;restaurant row&rdquo;, featuring mobile food trucks, cuisine ranging from gourmet to casual, nightlife and special events. The landmark <a href="http://www.pariscoffeeshop.net/" target="_blank" rel="noreferrer noopener">Paris Coffee Shop</a> was featured on Duff Goldman's Food Network program Sugar High and restaurants such as <a href="http://www.ellerbefinefoods.com/" target="_blank" rel="noreferrer noopener">Ellerbe Fine Foods</a>, <a href="http://www.nonnatata.com/" target="_blank" rel="noreferrer noopener">Nonna Tata</a>, and <a href="http://www.catcitygrill.com/" target="_blank" rel="noreferrer noopener">Cat City Grill</a> regularly receive accolades for interesting and diverse cuisine.
				</p>

				<img data-src="images/bicocchi-fswi-magnolia.jpg"
				alt="Magnolia Avenue, the Near Southside's restaurant row" class="img-fluid mx-auto"/>
				<figcaption>
					Food, fun and friends characterize the upbeat atmosphere of the Near Southside's restaurant row on Magnolia Avenue. From landmark eateries to pubs and elegant dining venues, the historic district has a wealth of locally-owned restaurants that draw attention from the likes of the Food Network's Ace of Cakes Duff Goldman. Photo courtesy of Fort Worth South, Inc.
				</figcaption>

				<p>
					Galleries and performance venues, including <a href="http://sinaca.org/" target="_blank" rel="noreferrer noopener">SiNaCa Studios</a>, a nationally recognized glass art school and gallery.
				</p>

				<p>
					Community events attended by thousands, including ArtsGoggle, a grassroots gallery crawl that turns more than 60 businesses into art galleries two Saturday nights a year; bike rallies; 5 and 10K races that draw thousands of runners and free concerts.
				</p>

				<img data-src="images/bicocchi-fwsi-openstreets.jpg"
				alt="Open Streets" class="img-fluid mx-auto"/>
				<figcaption>
					Open Streets, an event presented by Fort Worth South and the City of Fort Worth, allowed the community to come together on Magnolia Avenue for food, fun and people-powered wheels of all kinds. Photo courtesy of Fort Worth South, Inc.
				</figcaption>

				<p>
					Our neighbors include <a  href="http://www.lonestarbannersandflags.com/" target="_blank" rel="noreferrer noopener">Lone Star Banners and Flags</a>, well-known clothing manufacturer <a href="http://www.dickies.com/" target="_blank" rel="noreferrer noopener">Williamson-Dickie</a>, and <a href="https://www.justinboots.com/en-US" target="_blank" rel="noreferrer noopener">Justin Brands</a>.
				</p>

				<img data-src="images/bicocchi-fwsi-markeen.jpg"
				alt="Markeen Apartments" class="img-fluid mx-auto d-block"/>
				<figcaption>
					Our next-door neighbor, The Markeen Apartments, is among the historic renovations that offer Near Southside residents dynamic urban living without sacrificing charm. There are townhomes, apartments, mixed-use buildings and appealing single-family bungalows just south of downtown. Photo courtesy of Fort Worth South, Inc.
				</figcaption>

				<p>
					Pointwise is pleased to be one of many who support the on-going renewal of this historic neighborhood. We believe preservation and renovation build strong communities and link the roots of the past to the promise of the future.
				</p>

				<p>
					If you'd like to know more about why we support our neighborhood, check out Fort Worth South's <a  href="https://www.nearsouthsidefw.org/southside-guide" target="_blank" rel="noreferrer noopener">Southside Guide</a> page.
				</p>

			</div>

			<!-- Space between columns -->
			<div class="col-lg-1">
			</div>

			<!-- Column Contents -->
			<div class="col-lg-3">

					<h4>More About Pointwise</h4>
					<svg class="nav-lines">
						<line class="nav-blue-subscribe" x1="0" y1="1" x2="210" y2="1"/>
						<line class="nav-grey-subscribe" x1="200" y1="1" x2="275" y2="1"/>
					</svg>
				<div class="side-nav">
					<p><a href="index.html">Background</a></p>
					<p><a href="../news/">News</a></p>
					<p><a href="../events/">Events</a></p>
					<p><a href="../sales/">Sales Offices</a></p>
					<p><a href="../contact/">Contact Us</a></p>
					<p><a href="travel.html">Visit Us</a></p>
					<p><a href="bicocchi.html">Our Century-Old Building</a></p>
					<p><a href="../careers/">Open Positions</a></p>
					<p><a href="staff.html">Staff</a></p>
					<p><a href="partners.html">Partners</a></p>
				</div>

			</div>

		</div>
	</div>

	<!-- FOOTER -->
	<% include ../partials/footer %>

	<!-- JAVASCRIPT -->
	<% include ../partials/js-includes %>
</body>
</html>
