<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Analytics -->
    <% include ../partials/ga-includes %>

    <!-- META SETTINGS -->
    <% include ../partials/meta-settings.ejs %>

	<!-- PAGE TITLE -->
	<title>Pointwise's Affiliations and Partnerships for Reliable CFD Meshing</title>

	<!-- OG TAGS -->
	<meta property="og:url" content="https://www.pointwise.com/about/partners.html" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Pointwise's Affiliations and Partnerships for Reliable CFD Meshing" />
	<meta property="og:description" content="Pointwise's CFD and CAE Partners." />

	<!-- META DATA -->
	<meta name="description" content="Pointwise's CFD and CAE Partners.">
	<meta name="keywords" content="cfd meshing, mesh generation, grid generation, computational fluid dynamics, mesh generator, cfd software, cfd consultants, mesh software, grid software, fluid dynamics modeling" />

	<!-- CSS FILES -->
	<% include ../partials/css-includes %>

</head>

<body id="page-top">

	<noscript>
		<p>
			In order to view this page JavaScript must be enabled in your browser.
		</p>
	</noscript>	

	<!-- TOP NAVIGATION -->
	<% include ../partials/navbar %>

	<!-- Page Content -->
	<div class="container">
		<div class="row">

			<div class="col-lg-8">

				<h1>Pointwise's CFD and CAE Partners</h1>

				<p>
					<a href="#3dconnexion" class="page-scroll">3Dconnexion</a> |
					<a href="#ads" class="page-scroll">ADS</a> |
					<a href="#aiaa" class="page-scroll">AIAA</a> |
					<a href="#ami" class="page-scroll">AMI Aero, LLC</a> |
					<a href="#ansys" class="page-scroll">ANSYS</a> |
					<a href="#apple" class="page-scroll">Apple</a> |
					<a href="#accm" class="page-scroll">Applied CCM</a> |
					<a href="#azore" class="page-scroll">Azore CFD</a> |
					<a href="#celsian" class="page-scroll">CelSian</a> |
					<a href="#cfturbo" class="page-scroll">CFTurbo</a> |
					<a href="#cfd-online" class="page-scroll">CFD Online</a> |
					<a href="#cfdreview" class="page-scroll">CFD Review</a> |
					<a href="#craft" class="page-scroll">CRAFT Tech</a> |
					<a href="#dreese" class="page-scroll">DreeseCode Software</a> |
					<a href="#engys" class="page-scroll">ENGYS</a> |
                    <a href="#flexcompute" class="page-scroll">Flexcompute</a> |
					<a href="#friendship" class="page-scroll">Friendship Systems</a> |
					<a href="#intel" class="page-scroll">Intel</a> |
					<a href="#ilight" class="page-scroll">Intelligent Light</a> |
					<a href="#metacomp" class="page-scroll">Metacomp Technologies</a> |
					<a href="#microsoft" class="page-scroll">Microsoft</a> |
					<a href="#optimal" class="page-scroll">Optimal Solutions</a> |
					<a href="#tecplot" class="page-scroll">Tecplot</a>
				</p>

				<hr />

				<a id="3dconnexion" class="anchor"></a>
				<div class="row">
					<div class="col-lg-2">
						<img class="img-fluid" data-src="images/logo_3Dconnexion_200x125.png" alt="Pointwise supports 3Dconnexion's 3D mice." />
					</div>
					<div class="col-lg-10">
						<p>
							3Dconnexion, a Logitech company, designs, manufactures and markets an award-winning line of navigation input devices (also called "motion controllers") for accelerating user productivity. As the worldwide leader in navigation input devices, 3Dconnexion serves the distinct needs of a diverse set of industries and creative professionals including those in Product Design (CAD/CAM/CAE), Animation, Modeling and Digital Content Creation. Any design professional using 2D or 3D software can revolutionize the way they work with a navigation input device from 3Dconnexion. <a href="http://www.3dconnexion.com/" target="_blank" rel="noreferrer noopener">www.3dconnexion.com</a>
						</p>
					</div>
				</div>

				<hr />

				<a id="ads" class="anchor"></a>
				<div class="row">
					<div class="col-lg-2">
						<img class="img-fluid" data-src="images/logo-ads-128x37.png" alt="AeroDynamic Solutions" />
					</div>
					<div class="col-lg-10">
						<p>
							ADS is a provider of design and analysis software for the turbomachinery industry. Our software suite is built around the aerospace-class CFD solver, Code LEO. Organizations trust ADS in the design of their radial and axial compressors and turbines when high fidelity and fast turnaround time are required. ADS is turbomachinery CFD you can count on. <a href="http://www.adscfd.com/" target="_blank" rel="noreferrer noopener">www.adscfd.com</a>
						</p>
					</div>
				</div>

				<hr />

				<a id="aiaa" class="anchor"></a>
				<div class="row">
					<div class="col-lg-2">
						<img class="img-fluid" data-src="images/logo_aiaa_corp_150.png" alt="Pointwise is a corporate member of AIAA." />
					</div>
					<div class="col-lg-10">
						<p>
							For over 75 years, the American Institute of Aeronautics and Astronautics (AIAA) has been the principal voice and technical society devoted to global leadership in the aerospace community. AIAA's mission is to advance the arts, sciences, and technology of  aeronautics and astronautics, and to promote the professionalism of those engaged in these pursuits. <a href="http://www.aiaa.org/" target="_blank" rel="noreferrer noopener">www.aiaa.org</a>
						</p>
					</div>
				</div>

				<hr />

				<a id="ami" class="anchor"></a>
				<div class="row">
					<div class="col-lg-2">
						<img class="img-fluid" data-src="images/logo-ami-128x43.jpg" alt="Pointwise and Gridgen are compatible with AMI's CFD software." />
					</div>
					<div class="col-lg-10">
						<p>
							AMI Aero, LLC carries on the legacy of Analytical Methods, Inc. which was formed in 1971 to provide engineering services and software products in the field of aerodynamics. Our company has built a reputation of applying state-of-the-art computational methods to solve challenging design problems. The software products of AMI Aero, such as VSAERO and VLAERO, have left a positive imprint on the aerospace industry worldwide. Our customers span the breadth of the aerospace and defense industry from small businesses to the largest aircraft builders as well as government agencies. Our highly skilled engineering team can take on projects involving modifications to aircraft; commercial, defense related, fixed wing and rotorcraft. We can provide an extensive range of support from software tools to engineering expertise focused on analysis and aerodynamic shape design. <a href="http://amiaerollc.com" target="_blank" rel="noreferrer noopener">http://amiaerollc.com</a>
						</p>
					</div>
				</div>

				<hr />

				<a id="ansys" class="anchor"></a>
				<div class="row">
					<div class="col-lg-2">
						<img class="img-fluid" data-src="images/ugm13-logo-ansys-100x36.png" alt="Pointwise is compatible with ANSYS Fluent and CFX." />
					</div>
					<div class="col-lg-10">
						<p>
							Pointwise is compatible with the CFD products from ANSYS: ANSYS CFX and ANSYS Fluent. ANSY develops markets and supports engineering simulation software used to foresee how product designs will behave in real world environments. <a href="http://www.ansys.com/" target="_blank" rel="noreferrer noopener">www.ansys.com</a>
						</p>
					</div>
				</div>

				<hr />

				<a id="apple" class="anchor"></a>
				<div class="row">
					<div class="col-lg-2">
						<img class="img-fluid" data-src="images/logo_mac_65x88.png" alt="Pointwise supports computers running Apple's macOS." />
					</div>
					<div class="col-lg-10">
						<p>
							Apple ignited the personal computer revolution in the 1970s with the Apple II and reinvented the personal computer in the 1980s with the Macintosh. Today, Apple continues to lead the industry in innovation with its award-winning desktop and notebook computers, macOS operating system, and iLife and professional applications. Apple is also spearheading the digital music revolution with its iPod portable music players and iTunes online music store. <a href="http://www.apple.com/" target="_blank" rel="noreferrer noopener">www.apple.com</a>
						</p>
					</div>
				</div>

				<hr />

				<a id="accm" class="anchor"></a>
				<div class="row">
					<div class="col-lg-2">
						<img class="img-fluid" data-src="images/logo-accm-150x45.png" alt="Applied CCM" />
					</div>
					<div class="col-lg-10">
						<p>
							Applied CCM is an engineering software development company delivering innovative, cost effective computational continuum mechanics (CCM) solutions. They also develop and maintain the open source product Caelus (<a href="http://www.caelus-cml.com/">www.caelus-cml.com</a>). Along with development, training and support services, the company offers a subscription service which includes access to an industrial strength suite of solvers and applications derived from the OpenFOAM&reg; library. Applied CCM provides a variety of solvers including a fast, highly scalable transient solver for both incompressible and compressible flows as well as a time-symmetry preserving semi-discrete surface-based adjoint solver, among others. In addition to providing high-quality CCM solutions, Applied CCM is a distributor for Pointwise. <a href="http://www.appliedccm.com.au/" target="_blank" rel="noreferrer noopener">www.appliedccm.com.au</a>
						</p>
					</div>
				</div>

				<hr />

				<a id="azore" class="anchor"></a>
				<div class="row">
					<div class="col-lg-2">
						<img class="img-fluid" data-src="images/Azore-cfd-logo.png" alt="Azore CFD Logo" />
					</div>
					<div class="col-lg-10">
						<p>
							Azore® is a Computational Fluid Dynamics (CFD) software tool for analyzing fluid flow and heat transfer. CFD provides engineers and scientists a method for analyzing a wide array of fluid mechanic, thermal, and chemical problems numerically on a computer. Many different types of fluid dynamic situations can be simulated using Azore, including air, gas, liquid, or particulate-laden flows. For liquid systems, modeling the flow of water through a piping system or evaluating water velocity profiles around submerged objects are common uses of Azore. The flow of air or gases can also be analyzed such as simulating the ambient air velocity profiles of wind as it passes around buildings or investigating the flow and heat transfer inside a room, duct system, mechanical equipment, or industrial process. <a href="https://www.azorecfd.com/" target="_blank" rel="noreferrer noopener">www.azorecfd.com</a>
						</p>
					</div>
				</div>

				<hr />

				<a id="celsian" class="anchor"></a>
				<div class="row">
					<div class="col-lg-2">
						<img class="img-fluid" data-src="images/logo-celsian-150x60.png" alt="CelSian Logo" />
					</div>
					<div class="col-lg-10">
						<p>
							CelSian is an engineering company dedicated to the global glass industry. As part of our service we develop, run and sell CFD software. Our GTM-x software is well known by engineers and scientists and seen as the best solution available in the glass industry. We optimize the design of glass furnaces when these are up for rebuild, or help supporting our customers increasing their pull, improve yield or reduce emissions during the furnace campaigns. We have worked on more than 30% of all glass furnaces worldwide. CelSian is employee owned, our highly trained, multi-disciplinary team is based in Eindhoven, The Netherlands. <a href="https://www.celsian.nl/" target="_blank" rel="noreferrer noopener">www.celsian.nl</a>
						</p>
					</div>
				</div>

				<hr />

				<a id="cfturbo" class="anchor"></a>
				<div class="row">
					<div class="col-lg-2">
						<img class="img-fluid" data-src="images/logo-cfturbo-100x76.png" alt="Pointwise is compatible with turbo design solutions from CFTurbo." />
					</div>
					<div class="col-lg-10">
						<p>
							CFturbo Software &amp; Engineering GmbH is an engineering company offering CAE services and software development focusing on fluid dynamics/turbomachinery.  Their range of consultancy covers the whole turbomachinery development process - from consulting service, conceptual design and simulation up to construction, prototyping and measurement. <a href="http://www.cfturbo.de/" target="_blank" rel="noreferrer noopener">www.cfturbo.de</a>
						</p>
					</div>
				</div>

				<hr />

				<a id="cfd-online" class="anchor"></a>
				<div class="row">
					<div class="col-lg-2">
						<img class="img-fluid" data-src="images/logo_cfdonline_150x22.png" alt="Pointwise is proud sponsor of CFD Online." />
					</div>
					<div class="col-lg-10">
						<p>
							CFD Online is an online center for Computational Fluid Dynamics. Services include several discussion forums, a jobs database, a news and announcement forum, a books guide, an events calendar, and a comprehensive annotated link section with pointers to CFD resources around the world. In addition, a new <a href="http://www.cfd-online.com/Wiki">CFD-Wiki</a> was recently opened with the vision to create the ultimate free CFD reference. CFD Online's goal is to offer high-quality web services to the CFD community. <a href="http://www.cfd-online.com/" target="_blank" rel="noreferrer noopener">www.cfd-online.com</a>
						</p>
					</div>
				</div>

				<hr />

				<a id="cfdreview" class="anchor"></a>
				<div class="row">
					<div class="col-lg-2">
						<img class="img-fluid" data-src="images/logo_cfdreview_150x26.png" alt="Pointwise is a proud sponsor of CFD Review." />
					</div>
					<div class="col-lg-10">
						<p>
							CFD Review is a news/support/information clearinghouse for the computational fluid dynamics (CFD) community. It is a place where the CFD community can learn about the latest developments in CFD technology, read about interesting applications, post questions, and generally help each other out. <a href="http://www.cfdreview.com/" target="_blank" rel="noreferrer noopener">www.cfdreview.com</a>
						</p>
					</div>
				</div>

				<hr />

				<a id="craft" class="anchor"></a>
				<div class="row">
					<div class="col-lg-2">
						<img class="img-fluid" data-src="images/logo_craft_tech_150x52.png" alt="Pointwise and Gridgen are compatible with CRAFT Tech's CFD software." />
					</div>
					<div class="col-lg-10">
						<p>
							CRAFT Tech's specialty is the high-fidelity computational simulation of complex fluid dynamic and combustive problems on large-scale, parallel architecture computers. Technology sectors supported by CRAFT Tech include missiles, aircraft/rotorcraft, propulsion/turbomachinery, weapon systems and effects, and industrial problems. They also perform fundamental research in CFD, grid adaptation, aeroacoustics, turbulence, combustion and multi-phase flow. <a href="http://www.craft-tech.com/" target="_blank" rel="noreferrer noopener">www.craft-tech.com</a>
						</p>
					</div>
				</div>

				<hr />

				<a id="dreese" class="anchor"></a>
				<div class="row">
					<div class="col-lg-2">
						<img class="img-fluid" data-src="images/DesignFOIL_logo.jpg" alt="Pointwise and Gridgen are compatible with the DesignFOIL wing and design software." />
					</div>
					<div class="col-lg-10">
						<p>
							DesignFOIL from DreeseCode Software LLC is an airfoil generation, analysis, and export application for the Windows platform. Release 6 of DesignFOIL was developed over three years with the main goals of user-experience, utility, accuracy, work-flow and affordability. Utilizing many of the original NACA formulas, DesignFOIL quickly generates airfoils to your specifications and point concentrations. It also allows you to import airfoil coordinate files, manipulate them (camber, etc...), analyze them, put them in a simulated wing, export them to your favorite 3D CAD software directly or send them to Gridgen and use the Glyph-based grid-automation scripts. <a href="http://www.dreesecode.com/" target="_blank" rel="noreferrer noopener">www.dreesecode.com</a>
						</p>
					</div>
				</div>

				<hr />

				<a id="engys" class="anchor"></a>
				<div class="row">
					<div class="col-lg-2">
						<img class="img-fluid" data-src="images/logo-engys-128x25.png" alt="ENGYS" />
					</div>
					<div class="col-lg-10">
						<p>
							ENGYS develops, supports and delivers best-in-class CAE software solutions based on proven open-source technologies, offering a variety of expert engineering simulation products and services focused around the OPENFOAM<sup>&reg;</sup> library for CFD and DAKOTA for MDO. ENGYS' personnel have been involved with FOAM and OPENFOAM since 1999, providing unparalleled knowledge and experience in the development and support of this platform to create and deliver our own comprehensive range of professional open-source based CFD products, featuring HELYX<sup>&reg;</sup>, HELYX-OS and ELEMENTS. The company operates globally through a network of offices in the UK, Germany, Italy, USA and Australia, and local distributors in several countries worldwide. <a href="http://www.engys.com/" target="_blank" rel="noreferrer noopener">www.engys.com</a>
						</p>
					</div>
				</div>

				<hr />

                <a id="flexcompute" class="anchor"></a>
                <div class="row">
                    <div class="col-lg-2">
                        <img class="img-fluid" data-src="images/logo-flexcompute-150.png" alt="Flexcompute" />
                    </div>
                    <div class="col-lg-10">
                        <p>
                            Flexcompute Inc. develops next-generation solver technology using a software-hardware co-design approach. It builds integrated technology stacks that are customized for solving different physics problems.  The hardware, and numerical algorithms are optimized together for fastest execution. This new approach results in unprecedented simulation speed. For a compressible flow problem with 100 million unknowns, Flexcompute solves Navier-Stokes equation with a turbulence model within 300 seconds. Such a problem would normally take 10 hours for a conventional flow solver running on a 1000-core cluster. This revolutionary speed opens a new dimension for engineering. Extensive product optimization and performance databases can be built within a day instead of weeks. Flexcompute's solver technology is trusted and already used for production by leaders in the urban air mobility and semiconductor industries. <a href="https://www.flexcompute.com/" target="_blank" rel="noreferrer noopener">www.flexcompute.com</a>
                        </p>
                    </div>
                </div>

                <hr />

				<a id="friendship" class="anchor"></a>
				<div class="row">
					<div class="col-lg-2">
						<img class="img-fluid" data-src="images/logo-caeses-200x27.png" alt="Friendship Systems" />
					</div>
					<div class="col-lg-10">
						<p>
							FRIENDSHIP SYSTEMS is a leader in CFD-driven shape optimization of complex free-form geometries. Our flagship product CAESES is an integration and automation platform that includes simulation-ready variable CAD, optimization algorithms, and post-processing. Customers use CAESES together with their simulation tool (most often CFD) to design and develop better products, faster, and at lower cost. Typical areas of interest include turbomachines, ducts and manifolds, engine components, aerodynamic bodies, ship hulls, amongst others. <a href="http://www.friendship-systems.com/" target="_blank" rel="noreferrer noopener">www.friendship-systems.com</a>
						</p>
					</div>
				</div>

				<hr />

				<a id="intel" class="anchor"></a>
				<div class="row">
					<div class="col-lg-2">
						<img class="img-fluid" data-src="images/Intel_SWP_Logo_100x91.png" alt="Pointwise and Gridgen run on computers with Intel inside." />
					</div>
					<div class="col-lg-10">
						<p>
							As an Intel<sup>&reg;</sup> Software Partner program member, we gain insight into leading technologies and cutting-edge industry trends. Access to a robust portfolio of technical resources means we can develop and bring solutions to market with speed and efficiency. The result? Leading-edge customer solutions. <a href="http://www.intel.com/" target="_blank" rel="noreferrer noopener">www.intel.com</a>
						</p>
					</div>
				</div>

				<hr />

				<a id="ilight" class="anchor"></a>
				<div class="row">
					<div class="col-lg-2">
						<img class="img-fluid" data-src="images/logo-ilight-150x23.png" alt="Pointwise and Gridgen are compatible with the FIELDVIEW CFD postprocessing sofwtare" />
					</div>
					<div class="col-lg-10">
						<p>
							FieldView from Intelligent Light set the standard for advanced CFD post-processing and visualization. With unprecedented speed, performance, and productivity right out of the box, FieldView 13 raises the bar even higher. Featuring a completely new graphics core, an intuitive and customizable GUI, and a host of interactive tools, FieldView represents a game-changing approach to managing the CFD workflow. <a href="http://www.ilight.com/" target="_blank" rel="noreferrer noopener">www.ilight.com</a>
						</p>
					</div>
				</div>

				<hr />

				<a id="metacomp" class="anchor"></a>
				<div class="row">
					<div class="col-lg-2">
						<img class="img-fluid" data-src="images/ugm13-logo-metacomp-100x48.png" alt="Metacomp Technologies" />
					</div>
					<div class="col-lg-10">
						<p>
							Founded in 1994, Metacomp Technologies is at the forefront of cutting edge technology in Computational Fluid Dynamics (CFD), Computational Aero-Acoustics, Structural Analysis and Mesh Generation with its products in widespread global use. Metacomp's activities include R&amp;D, software development, dissemination and support, in the areas of fluid dynamics, structural analysis, numerical algorithms, turbulence &amp; combustion modeling, acoustics, geometry modeling, mesh generation. Metacomp Technologies' software products are setting the pace in the CFD marketplace with their unique combination of Accuracy, Reliability and Performance. Metacomp Technologies is a leading provider of software tools for major aerospace, defense, and automobile manufacturers, many US government labs and research organizations as well as other companies that require complex modeling during research and development. <a href="http://www.metacomptech.com/" target="_blank" rel="noreferrer noopener">www.metacomptech.com</a>
						</p>
					</div>
				</div>

				<hr />

				<a id="microsoft" class="anchor"></a>
				<div class="row">
					<div class="col-lg-2">
						<img class="img-fluid" data-src="images/MSCertifiedPartner-175x107.png" alt="Pointwise is a Microsoft Certified Partner." />
					</div>
					<div class="col-lg-10">
						<p>
							Microsoft Certified Partners are independent companies that can provide you with the highest levels of technical expertise, strategic thinking, and hands-on skills. Microsoft Certified Partners encompass a broad range of expertise and vendor affiliations and their real world perspective can help you prioritize and effectively deliver your technology solutions. <a href="http://www.microsoft.com/" target="_blank" rel="noreferrer noopener">www.microsoft.com</a>
						</p>
					</div>
				</div>

				<hr />

				<a id="optimal" class="anchor"></a>
				<div class="row">
					<div class="col-lg-2">
						<img class="img-fluid" data-src="images/logo_optimal_100x94.png" alt="Optimal Solutions' Sculptor complements Pointwise's CFD meshing software." />
					</div>
					<div class="col-lg-10">
						<p>
							Optimal Solutions Software, LLC, offers Sculptor a CFD design program that provides the ability to parameterize CFD models and perform real-time shape deformation without the need to revisit the CAD model. When coupled with design optimization algorithms, Sculptor performs automatic CFD shape optimization. These tools help eliminate the numerous iterations inherent in the design process were one modifies the CAD model, remeshes, and then completes the CFD analysis. Optimal Solutions' Arbitrary Shape Deformation (ASD) technology used by Sculptor automatically, in real-time, alters shapes that are typically very complex and hard to manipulate into designs that improve performance - without having to remesh. The deformations are smooth and volumetric to maintain cell quality for the CFD calculations. When coupled with Pointwise's reliable CFD meshing, Sculptor helps find more accurate designs in less time, resulting in appreciable amounts of time and money being saved. <a href="http://www.gosculptor.com" target="_blank" rel="noreferrer noopener">www.gosculptor.com</a>
						</p>
					</div>
				</div>

				<hr />

				<a id="tecplot" class="anchor"></a>
				<div class="row">
					<div class="col-lg-2">
						<img class="img-fluid" data-src="images/tecplot-logo-175x82.png" alt="Pointwise and Gridgen are compatible with Tecplot's CFD postprocessing software." />
					</div>
					<div class="col-lg-10">
						<p>
							Founded in 1981, Tecplot delivers visualization software for engineers and scientists who need to analyze, discover, and communicate results. The company's flagship product, Tecplot 360, is a CFD visualization software tool that allows you to analyze complex data, arrange multiple layouts, and communicate results with professional images and animations. Other products include Tecplot RS, a reservoir simulation and analysis tool for the oil and gas industry, and Tecplot Focus, an engineering plotting software tool. With more than 45,000 users worldwide, Tecplot has become the trusted name in data visualization. <a href="http://www.tecplot.com/" target="_blank" rel="noreferrer noopener">www.tecplot.com</a>
						</p>
					</div>
				</div>

			</div>
			<!-- Space between columns -->
			<div class="col-lg-1">
			</div>

			<!-- Column Contents -->
			<div class="col-lg-3">

					<h4>More About Pointwise</h4>
					<svg class="nav-lines">
						<line class="nav-blue-subscribe" x1="0" y1="1" x2="210" y2="1"/>
						<line class="nav-grey-subscribe" x1="200" y1="1" x2="275" y2="1"/>
					</svg>
				<div class="side-nav">
					<p><a href="index.html">Background</a></p>
					<p><a href="../news/">News</a></p>
					<p><a href="../events/">Events</a></p>
					<p><a href="../sales/">Sales Offices</a></p>
					<p><a href="../contact/">Contact Us</a></p>
					<p><a href="travel.html">Visit Us</a></p>
					<p><a href="bicocchi.html">Our Century-Old Building</a></p>
					<p><a href="../careers/">Open Positions</a></p>
					<p><a href="staff.html">Staff</a></p>
					<p><a href="partners.html">Partners</a></p>
				</div>

			</div>

		</div>
	</div>

	<!-- FOOTER -->
	<% include ../partials/footer %>

	<!-- JAVASCRIPT -->
	<% include ../partials/js-includes %>
</body>
</html>
