<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Analytics -->
    <% include ../partials/ga-includes %>

    <!-- META SETTINGS -->
    <% include ../partials/meta-settings.ejs %>

  <!-- PAGE TITLE -->
  <title>Meet the Team Behind Pointwise</title>

  <!-- OG TAGS -->
  <meta property="og:url" content="https://www.pointwise.com/about/staff.html" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Meet the Team Behind Pointwise" />
  <meta property="og:description" content="Meet the team behind Pointwise CFD meshing software." />

  <!-- META DATA -->
  <meta name="description" content="Meet the team behind Pointwise CFD meshing software.">
  <meta name="keywords" content="cfd meshing, mesh generation, grid generation, computational fluid dynamics, mesh generator, cfd software, cfd consultants, mesh software, grid software, fluid dynamics modeling" />

  <!-- CSS FILES -->
  <% include ../partials/css-includes %>

</head>

<body id="page-top">

  <!-- TOP NAVIGATION -->
  <% include ../partials/navbar %>

  <!-- Page Content -->
  <div class="container">
      <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
              <h1 class="text-center">Meet the Team Behind Pointwise</h1>
              <hr />
              <h3 class="text-center">Our Mission: Working with Great People to Enable Innovation</h3>

              <img class="img-fluid" data-src="images/pointwise-people1-2450x1100.jpg" alt="Pointwise employee collage" />
          </div>
      </div>

      <div class="spacer"></div>
      <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
              <img src="images/pw-values-1170x613.svg" alt="Pointwise value statement">
          </div>
      </div>

      <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
              <img class="img-fluid" data-src="images/pointwise-people2-2450x1100.jpg" alt="Pointwise Employees enjoying activities" />

              <h2 class="staff-head text-center">Come Work with Us</h2>
              <hr />
              <p>Working in a small and growing company is not for the lackadaisical. Every person is needed, valued, and appreciated for their contributions. Do you love a good challenge and want your efforts to be noticed? Are you crazy and enthusiastic about our core values too? Do you think Fort Worth, Texas might be the coolest place in the U.S.A.? If you answered yes to all of these, then visit our  <a href="../careers/index.html">Careers</a> page to see a list of current open positions.</p>

              <img class="img-fluid staff-img" data-src="images/staff-main.jpg">
          </div>
      </div>

      <div class="spacer"></div>
      <hr />
      <section id="executive-team">
          <h2 class="staff-head text-center">The Pointwise Executive Team</h2>
          <hr />

          <div class="row justify-content-center">

              <div class="col-lg-4 col-md-8 col-sm-8">
                  <a id="chawner" class="anchor"></a>

                  <div class="staff-member">
                      <div class="staff-img">
                          <img data-src="./images/chawner-800x1000.jpg" alt="Photograph of John R. Chawner" class="img-fluid staff-img">

                          <div class="staff-hover">
                              <div class="staff-bio">
                                  <p>Mr. Chawner has a B.S. in mechanical/aerospace engineering (Syracuse Univ., 1984) and an M.S. in aerospace engineering (Univ. of Texas at Arlington, 1990). He is an associate fellow of the American Institute of Aeronautics and Astronautics, former chair of their Meshing, Visualization & Computational Environments technical committee, secretary of the CFD 2030 Integration Committee's steering committee, and a member of an engineering advisory board at Syracuse Univ.</p>

                                  <p><a href="https://blog.pointwise.com/2016/04/28/im-john-chawner-and-this-is-how-i-mesh/" target="_blank" rel="noreferrer noopener" class="white"> Read more in This is How I Mesh</a>.</p>


                                  <div class="staff-social">
                                      <a href="https://www.linkedin.com/in/jchawner/" target="_blank" rel="noreferrer noopener"><i class="fa fa-linkedin"></i></a>

                                      <a href="https://twitter.com/jchawner" target="_blank" rel="noreferrer noopener"><i class="fa fa-twitter"></i></a>

                                  </div>

                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="staff-name">
                      <h5 class="text-center">John R. Chawner<br /><small>President</small></h5>
                  </div>
              </div>

              <div class="col-lg-4 col-md-8 col-sm-8">
                  <a id="steinbrenner" class="anchor"></a>

                  <div class="staff-member">
                      <div class="staff-img">
                          <img data-src="./images/steinbrenner-800x1000.jpg" alt="Photograph of John P. Steinbrenner, Ph.D." class="img-fluid staff-img">

                          <div class="staff-hover">
                              <div class="staff-bio">
                                  <p>Co-founder John Steinbrenner initiated Gridgen's development in 1984 after joining the nascent CFD Group at General Dynamics Fort Worth Division, and has been leading development of Gridgen and Pointwise since. He earned degrees in aerospace engineering from the University of Cincinnati (BS 1982), Iowa State University (MS 1984), and the University of Texas at Arlington (PhD 1995), and is an associate fellow of the American Institute of Aeronautics and Astronautics.</p>

                                  <p><a href="https://blog.pointwise.com/2016/04/14/im-john-steinbrenner-and-this-is-how-i-mesh/" target="_blank" rel="noreferrer noopener" class="white"> Read more in This is How I Mesh</a>.</p>


                                  <div class="staff-social">
                                      <a href="https://www.linkedin.com/in/john-steinbrenner-75a3264/" target="_blank" rel="noreferrer noopener"><i class="fa fa-linkedin"></i></a>
                                  </div>

                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="staff-name">
                      <h5 class="text-center">John P. Steinbrenner, Ph.D.<br /><small>Executive Vice President</small></h5>
                  </div>
              </div>

              <div class="col-lg-4 col-md-8 col-sm-8">
                  <a id="matus" class="anchor"></a>

                  <div class="staff-member">
                      <div class="staff-img">
                          <img data-src="./images/matus-800x1000.jpg" alt="Photograph of Richard J. Matus, Ph.D." class="img-fluid staff-img">

                          <div class="staff-hover">
                              <div class="staff-bio">
                                  <p>Rick Matus joined Pointwise during its first year of operation, and he leads sales, marketing, and engineering services activities. Dr. Matus earned a B.S. in aerospace engineering from Texas A&M University in 1980, an M.S. in aerospace engineering from Texas A&M in 1981, and a Ph.D. in aerospace engineering from the University of Texas at Arlington in 1986.</p>

                                  <p><a href="https://blog.pointwise.com/2016/03/31/im-rick-matus-and-this-is-how-i-mesh/" target="_blank" rel="noreferrer noopener" class="white"> Read more in This is How I Mesh</a>.</p>

                                  <div class="staff-social">
                                      <a href="https://www.linkedin.com/in/rick-matus/" target="_blank" rel="noreferrer noopener"><i class="fa fa-linkedin"></i></a>
                                  </div>

                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="staff-name">
                      <h5 class="text-center">Richard J. Matus, Ph.D.<br /><small>Executive Vice President</small></h5>
                  </div>
              </div>

          </div>
      </section>

      <br>
      <hr />
      <section id="applied-research-team">
          <h2 class="staff-head text-center">The Applied Research Team</h2>
          <hr />

          <div class="row justify-content-center">

              <div class="col-lg-4 col-md-8 col-sm-8">
                  <a id="wyman" class="anchor"></a>

                  <div class="staff-member">
                      <div class="staff-img">
                          <img data-src="./images/wyman-800x1000.jpg" alt="Photograph of Nick Wyman" class="img-fluid staff-img">

                          <div class="staff-hover">
                              <div class="staff-bio">
                                  <p>Nick Wyman directs Pointwise's research efforts, focusing contracted software development on solving problems faced by our customers. He joined Pointwise in 1998 as a Gridgen developer and became manager of the entire Development Team. He received a B.S. in aerospace engineering and an M.S. in mechanical engineering from Texas A&M University in 1992 and 1994. Before joining Pointwise, he worked for Advanced Scientific Computing (later AEA Technology). Mr. Wyman is an associate fellow of the American Institute of Aeronautics and Astronautics.</p>

                                  <p><a href="https://blog.pointwise.com/2015/04/02/im-nick-wyman-and-this-is-how-i-mesh/" target="_blank" rel="noreferrer noopener" class="white"> Read more in This is How I Mesh</a>.</p>

                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="staff-name">
                      <h5 class="text-center">Nick Wyman<br /><small>Director</small></h5>
                  </div>
              </div>

              <div class="col-lg-4 col-md-8 col-sm-8">
                  <a id="karman" class="anchor"></a>

                  <div class="staff-member">
                      <div class="staff-img">
                          <img data-src="./images/karman-800x1000.jpg" alt="Photograph of Steve L. Karman, Jr., Ph.D." class="img-fluid staff-img">

                          <div class="staff-hover">
                              <div class="staff-bio">
                                  <p>Steve Karman joined Pointwise's Applied Research Team in 2014. He was a professor in Computational Engineering at UT Chattanooga. Dr. Karman is an Associate Fellow of AIAA. He served as chairman of the MVCE TC and was a member of the Applied Aerodynamics and Fluid Dynamics TCs. He earned B.S. and M.Eng. degrees in aerospace engineering from Texas A&M University and a Ph.D. in aerospace engineering from the UT Arlington.</p>

                                  <p><a href="https://blog.pointwise.com/2016/02/04/im-steve-karman-and-this-is-how-i-mesh/" target="_blank" rel="noreferrer noopener" class="white"> Read more in This is How I Mesh</a>.</p>

                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="staff-name">
                      <h5 class="text-center">Steve L. Karman, Jr., Ph.D.<br /><small>Senior Staff Research Engineer</small></h5>
                  </div>
              </div>

          </div>
      </section>

      <br>
      <hr />
      <section id="product-development-team">
          <h2 class="staff-head text-center">The Product Development Team</h2>
          <hr />

          <div class="row justify-content-center">
              <div class="col-lg-4 col-md-8 col-sm-8">
                  <a id="baker" class="anchor"></a>

                  <div class="staff-member">
                      <div class="staff-img">
                          <img data-src="./images/baker-800x1000.jpg" alt="Photograph of Pat Baker" class="img-fluid staff-img">

                          <div class="staff-hover">
                              <div class="staff-bio">
                                  <p>Pat Baker has decades of experience in software design and development for both scientific and business applications, including consulting on the port of Gridgen to Windows and work at Sabre, Hewlett-Packard, and Convex. Immediately prior to joining Pointwise, he was the principal developer at Softsmiths of a suite of applications for the electric industry. Mr. Baker earned a B.S. in aerospace engineering with a minor in computer science from the Univ. of Missouri.</p>

                                  <p><a href="https://blog.pointwise.com/2016/03/17/im-patrick-baker-and-this-is-how-i-mesh/" target="_blank" rel="noreferrer noopener" class="white"> Read more in This is How I Mesh</a>.</p>

                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="staff-name">
                      <h5 class="text-center">Pat Baker<br /><small>Director</small></h5>
                  </div>
              </div>

              <div class="col-lg-4 col-md-8 col-sm-8">
                  <a id="fouts" class="anchor"></a>

                  <div class="staff-member">
                      <div class="staff-img">
                          <img data-src="./images/fouts-800x1000.jpg" alt="Photograph of Chris Fouts" class="img-fluid staff-img">

                          <div class="staff-hover">
                              <div class="staff-bio">
                                  <p>Chris Fouts was one of the three original Gridgen developers and worked in the CFD group at General Dynamics Fort Worth Division (now Lockheed Martin Aeronautics). Prior to joining Pointwise, Mr. Fouts was a software developer at SGI, where he worked on Cosmo Player, Inventor, and related technology and a systems engineer in SGI's Dallas office. He earned a B.A.E. (Bachelors of Aerospace Engineering) and an M.S. in aerospace engineering at Georgia Institute of Tech.</p>

                                  <p><a href="https://blog.pointwise.com/2016/01/21/im-chris-fouts-and-this-is-how-i-mesh/" target="_blank" rel="noreferrer noopener" class="white"> Read more in This is How I Mesh</a>.</p>

                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="staff-name">
                      <h5 class="text-center">Chris Fouts<br /><small>Pointwise Fellow,<br /> Principal Software Engineer</small></h5>
                  </div>
              </div>

              <div class="col-lg-4 col-md-8 col-sm-8">
                  <a id="garlisch" class="anchor"></a>

                  <div class="staff-member">
                      <div class="staff-img">
                          <img data-src="./images/garlisch-800x1000.jpg" alt="Photograph of David Garlisch" class="img-fluid staff-img">

                          <div class="staff-hover">
                              <div class="staff-bio">
                                  <p>David Garlisch brings more than 35 years of software development experience to our product development team. Prior to joining Pointwise, he spent 10 years with CADSoft Solutions and Punch! Software, where he co-developed Concepts 3D and ViaCAD, a cross-platform, ACIS-based, hybrid solid and surface modeling CAD system. He earned a B.S. in aeronautical and astronautical engineering from the University of Illinois at Urbana-Champaign in 1984.</p>

                                  <p><a href="https://blog.pointwise.com/2015/09/17/im-david-garlisch-and-this-is-how-i-mesh/" target="_blank" rel="noreferrer noopener" class="white"> Read more in This is How I Mesh</a>.</p>


                                  <div class="staff-social">
                                      <a href="https://www.linkedin.com/in/davidgarlisch/" target="_blank" rel="noreferrer noopener"><i class="fa fa-linkedin"></i></a>
                                  </div>

                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="staff-name">
                      <h5 class="text-center">David Garlisch<br /><small>Senior Staff Software Engineer</small></h5>
                  </div>
              </div>

          </div>

          <div class="row justify-content-center">

              <div class="col-lg-4 col-md-8 col-sm-8">
                  <a id="mirsky" class="anchor"></a>

                  <div class="staff-member">
                      <div class="staff-img">
                          <img data-src="./images/mirsky-800x1000.jpg" alt="Photograph of Michael Mirsky" class="img-fluid staff-img">

                          <div class="staff-hover">
                              <div class="staff-bio">
                                  <p>Michael Mirsky joined Pointwise in August 2012 after graduating summa cum laude from the University of Texas at Dallas where he earned a B.S. in computer science. His focuses include computer graphics and user interface design.</p>

                                  <p><a href="https://blog.pointwise.com/2015/08/06/im-michael-mirsky-and-this-is-how-i-mesh/" target="_blank" rel="noreferrer noopener" class="white"> Read more in This is How I Mesh</a>.</p>


                                  <div class="staff-social">
                                      <a href="https://www.linkedin.com/in/michael-mirsky-a38a3651/" target="_blank" rel="noreferrer noopener"><i class="fa fa-linkedin"></i></a>
                                  </div>

                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="staff-name">
                      <h5 class="text-center">Michael Mirsky<br /><small>Staff Software Engineer</small></h5>
                  </div>
              </div>
              <div class="col-lg-4 col-md-8 col-sm-8">
                  <a id="subramanian" class="anchor"></a>

                  <div class="staff-member">
                      <div class="staff-img">
                          <img data-src="./images/subramanian-800x1000.jpg" alt="Photograph of Sai Ganesh Subramanian" class="img-fluid staff-img">

                          <div class="staff-hover">
                              <div class="staff-bio">
                                  <p>Sai Ganesh joined the Product Development team at Pointwise in January 2021 after completing his Master’s degree in Mechanical Engineering from Texas A&M University. His research at A&M involved developing computational geometric algorithms aimed towards creating space-filling geometries using 2D and 3D Voronoi diagrams. He is eagerly looking forward to making a difference at Pointwise.</p>

                                  <div class="staff-social">
                                      <a href="https://www.linkedin.com/in/sai-ganesh-subramanian-571888120/" target="_blank" rel="noreferrer noopener"><i class="fa fa-linkedin"></i></a>
                                      <a href="https://twitter.com/SaiGaneshSubra?s=09" target="_blank" rel="noreferrer noopener"><i class="fa fa-twitter"></i></a>
                                      <a href="https://scholar.google.com/citations?user=NmihdosAAAAJ&hl=en" target="_blank" rel="noreferrer noopener"><i class="fa fa-google"></i></a>
                                  </div>

                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="staff-name">
                      <h5 class="text-center">Sai Ganesh Subramanian<br /><small>Software Engineer I</small></h5>
                  </div>
              </div>
          </div>

      </section>

      <br>
      <hr />
      <section id="engineering-services-team">
          <h2 class="staff-head text-center">The Engineering Services Team</h2>
          <hr />

          <div class="row justify-content-center">
              <div class="col-lg-4 col-md-8 col-sm-8">
                  <a id="woeber" class="anchor"></a>

                  <div class="staff-member">
                      <div class="staff-img">
                          <img data-src="./images/woeber-800x1000.jpg" alt="Photograph of Carolyn Dear Woeber" class="img-fluid staff-img">

                          <div class="staff-hover">
                              <div class="staff-bio">
                                  <p>Carolyn joined Pointwise in 2002 after earning a B.S. and M.S. in aerospace engineering from Mississippi State University. She is an associate fellow of the American Institute of Aeronautics and Astronautics, vice chair of their Meshing, Visualization, and Computational Environments (MVCE) technical committee, vice chair of the MVCE Meshing Subcommittee, and chair of the 3rd AIAA Geometry and Mesh Generation Workshop.</p>

                                  <p><a href="https://blog.pointwise.com/2015/12/10/im-carolyn-woeber-and-this-is-how-i-mesh/" target="_blank" rel="noreferrer noopener" class="white"> Read more in This is How I Mesh</a>.</p>


                                  <div class="staff-social">
                                      <a href="https://www.linkedin.com/in/carolyndear/" target="_blank" rel="noreferrer noopener"><i class="fa fa-linkedin"></i></a>

                                      <a href="https://twitter.com/FTW_Caro" target="_blank" rel="noreferrer noopener"><i class="fa fa-twitter"></i></a>

                                  </div>

                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="staff-name">
                      <h5 class="text-center">Carolyn Dear Woeber<br /><small>Director</small></h5>
                  </div>
              </div>

              <div class="col-lg-4 col-md-8 col-sm-8">
                  <a id="gantt" class="anchor"></a>

                  <div class="staff-member">
                      <div class="staff-img">
                          <img data-src="./images/gantt-800x1000.jpg" alt="Photograph of Erick Gantt" class="img-fluid staff-img">

                          <div class="staff-hover">
                              <div class="staff-bio">
                                  <p>Erick earned a Bachelor of aerospace engineering degree from the Georgia Institute of Technology in 1987. Afterward he joined General Dynamics, Fort Worth Division (now Lockheed Martin Aeronautics), where he spent time performing CFD analysis on various programs including the National Aerospace Plane Project (NASP), advanced F-16 concept projects, the F-22 program, and eventually the Joint Strike Fighter (JSF) program prior to joining Pointwise in 1997.</p>

                                  <p><a href="https://blog.pointwise.com/2015/05/14/im-erick-gantt-and-this-is-how-i-mesh/" target="_blank" rel="noreferrer noopener" class="white"> Read more in This is How I Mesh</a>.</p>

                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="staff-name">
                      <h5 class="text-center">Erick Gantt<br /><small>Senior Staff Applications Engineer</small></h5>
                  </div>
              </div>

              <div class="col-lg-4 col-md-8 col-sm-8">
                  <a id="pita" class="anchor"></a>

                  <div class="staff-member">
                      <div class="staff-img">
                          <img data-src="./images/pita-800x1000.jpg" alt="Photograph of Claudio Pita, Ph.D." class="img-fluid staff-img">

                          <div class="staff-hover">
                              <div class="staff-bio">
                                  <p>Dr. Pita joined Pointwise as a senior engineer on the Applied Research Team in September 2010 after completing a year-long term as Postdoctoral Fellow at MIT. In 2013, he joined the Engineering Services Team. Dr. Pita earned a B.S. and an M.S. in nuclear engineering from the Instituto Balseiro in Argentina and a Ph.D. in mechanical engineering from Mississippi State University. His Ph.D. research involved &ldquo;Modeling of oxide bifilms in aluminum castings using the Immersed Element-Free Galerkin Method.&rdquo;</p>

                                  <p><a href="https://blog.pointwise.com/2015/03/19/im-claudio-pita-and-this-is-how-i-mesh/" target="_blank" rel="noreferrer noopener" class="white"> Read more in This is How I Mesh</a>.</p>

                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="staff-name">
                      <h5 class="text-center">Claudio Pita, Ph.D.<br /><small>Staff Applications Engineer</small></h5>
                  </div>
              </div>
          </div>

          <div class="row justify-content-center">
              <div class="col-lg-4 col-md-8 col-sm-8">
                  <a id="dreese" class="anchor"></a>

                  <div class="staff-member">
                      <div class="staff-img">
                          <img data-src="./images/dreese-800x1000.jpg" alt="Photograph of John Dreese" class="img-fluid staff-img">

                          <div class="staff-hover">
                              <div class="staff-bio">
                                  <p>John Dreese joined Pointwise in 2012 as a member of our Engineering Services Team. Prior to Pointwise, Mr. Dreese worked for 10 years at Lockheed Martin Aeronautics in the field of weapon separation analysis including simulation and wind tunnel and flight testing. Mr. Dreese earned a B.S. and an M.S. in aeronautical and astronautical engineering from The Ohio State University in 1996 and 1999, respectively.</p>

                                  <p><a href="https://blog.pointwise.com/2015/10/01/im-john-dreese-and-this-is-how-i-mesh/" target="_blank" rel="noreferrer noopener" class="white"> Read more in This is How I Mesh</a>.</p>

                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="staff-name">
                      <h5 class="text-center">John Dreese<br /><small>Senior Applications Engineer</small></h5>
                  </div>
              </div>

              <div class="col-lg-4 col-md-8 col-sm-8">
                  <a id="lacroix" class="anchor"></a>

                  <div class="staff-member">
                      <div class="staff-img">
                          <img data-src="./images/lacroix-800x1000.jpg" alt="Photograph of Daniel LaCroix, Ph.D." class="img-fluid staff-img">

                          <div class="staff-hover">
                              <div class="staff-bio">
                                  <p>Daniel LaCroix joined the Engineering Services Team at Pointwise in January 2013 after completing a Ph.D. in mechanical engineering at Texas A&M University, where he also taught for three semesters. He graduated from Trinity University in 2005, where he was a 4-year letterman on the football team. He often describes himself as “A people-person in a things-person job,” enjoys watching nearly any sport, playing with his family, and also practices Brazilian Jiu-jitsu.</p>

                                  <p><a href="https://blog.pointwise.com/2015/08/20/im-daniel-lacroix-and-this-is-how-i-mesh/" target="_blank" rel="noreferrer noopener" class="white"> Read more in This is How I Mesh</a>.</p>

                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="staff-name">
                      <h5 class="text-center">Daniel LaCroix, Ph.D.<br /><small>Senior Applications Engineer</small></h5>
                  </div>
              </div>

              <div class="col-lg-4 col-md-8 col-sm-8">
                  <a id="shoemake" class="anchor"></a>

                  <div class="staff-member">
                      <div class="staff-img">
                          <img data-src="./images/shoemake-800x1000.jpg" alt="Photograph of Kristen Karman-Shoemake, Ph.D." class="img-fluid staff-img">

                          <div class="staff-hover">
                              <div class="staff-bio">
                                  <p>Kristen Karman-Shoemake joined the Engineering Services team at Pointwise in July 2019. Prior to Pointwise, Dr. Karman-Shoemake worked at EndoVantage as a Computational Geometry Engineer. Dr. Karman-Shoemake earned a B.S. in mathematics from the University of Tennessee at Knoxville in 2011 and an M.S. and Ph.D. in computational engineering from the University of Tennessee at Chattanooga in 2013 and 2017, respectively.</p>

                                  <p><a href="https://blog.pointwise.com/2019/11/07/im-kristen-karman-shoemake-and-this-is-how-i-mesh/" target="_blank" rel="noreferrer noopener" class="white"> Read more in This is How I Mesh</a>.</p>

                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="staff-name">
                      <h5 class="text-center">Kristen Karman-Shoemake, Ph.D.<br /><small>Applications Engineer II</small></h5>
                  </div>
              </div>

          </div>
      </section>
      <br>
      <hr />
      <section id="marketing-team">
          <h2 class="staff-head text-center">The Marketing & Partner Relations Team</h2>
          <hr />

          <div class="row justify-content-center">

              <div class="col-lg-4 col-md-8 col-sm-8">
                  <a id="mccoy" class="anchor"></a>

                  <div class="staff-member">
                      <div class="staff-img">
                          <img data-src="./images/mccoy-800x1000.jpg" alt="Photograph of Heather McCoy" class="img-fluid staff-img">

                          <div class="staff-hover">
                              <div class="staff-bio">
                                  <p>Heather McCoy joined Pointwise in 1999 as its third employee. She has worn many hats at Pointwise over the years, helping the company to grow and thrive, and is currently the manager of marketing and partner relations. Heather continues to play an integral part in helping Pointwise build long-lasting relationships with its customers and distributors. Ms. McCoy is a 1991 graduate of Trinity University, San Antonio, Texas.</p>

                                  <p><a href="https://blog.pointwise.com/2015/04/16/im-heather-mccoy-and-this-is-how-i-mesh/" target="_blank" rel="noreferrer noopener" class="white"> Read more in This is How I Mesh</a>.</p>

                                  <div class="staff-social">
                                      <a href="https://www.linkedin.com/in/heatherlmccoy/" target="_blank" rel="noreferrer noopener"><i class="fa fa-linkedin"></i></a>

                                      <a href="https://twitter.com/HeatherMcCoy" target="_blank" rel="noreferrer noopener"><i class="fa fa-twitter"></i></a>

                                  </div>

                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="staff-name">
                      <h5 class="text-center">Heather McCoy<br /><small>Manager</small></h5>
                  </div>
              </div>

              <div class="col-lg-4 col-md-8 col-sm-8">
                  <a id="alvarado" class="anchor"></a>

                  <div class="staff-member">
                      <div class="staff-img">
                          <img data-src="./images/alvarado-800x1000.jpg" alt="Photograph of Andrea Alvarado" class="img-fluid staff-img">

                          <div class="staff-hover">
                              <div class="staff-bio">
                                  <p>Andrea Alvarado has more than 10 years of sales and marketing experience, which includes marketing analysis, competitive analysis and project management of webinars, promotions and events. Prior to joining Pointwise in 2009, Ms. Alvarado worked for Levin Consulting and as an independent marketing consultant. She earned her B.B.A. in finance from Texas Christian University.</p>

                                  <p><a href="https://blog.pointwise.com/2015/10/15/im-andrea-alvarado-and-this-is-how-i-mesh/" target="_blank" rel="noreferrer noopener" class="white"> Read more in This is How I Mesh</a>.</p>

                                  <div class="staff-social">
                                      <a href="https://www.linkedin.com/in/andreaalvarado/" target="_blank" rel="noreferrer noopener"><i class="fa fa-linkedin"></i></a>
                                  </div>

                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="staff-name">
                      <h5 class="text-center">Andrea Alvarado<br /><small>Senior Marketing Coordinator</small></h5>
                  </div>
              </div>

          </div>
      </section>
      <br>
      <hr />
      <section id="business-development-team">
          <h2 class="staff-head text-center">The Business Development Team</h2>
          <hr />

          <div class="row justify-content-center">

              <div class="col-lg-4 col-md-8 col-sm-8">
                  <a id="carrigan" class="anchor"></a>

                  <div class="staff-member">
                      <div class="staff-img">
                          <img data-src="./images/carrigan-800x1000.jpg" alt="Photograph of Travis Carrigan" class="img-fluid staff-img">

                          <div class="staff-hover">
                              <div class="staff-bio">
                                  <p>Travis Carrigan joined Pointwise as a senior engineer after completing his M.S. in aerospace engineering at The University of Texas at Arlington in May 2011 where his graduate research involved aerodynamic design optimization and GPU-based computing. As Manager of Business Development, Mr. Carrigan works with clients and software partners to demonstrate best practices in grid generation and develop interactive and automated meshing solutions using Pointwise.</p>

                                  <p><a href="https://blog.pointwise.com/2015/06/11/im-travis-carrigan-and-this-is-how-i-mesh/" target="_blank" rel="noreferrer noopener" class="white"> Read more in This is How I Mesh</a>.</p>

                                  <div class="staff-social">
                                      <a href="https://www.linkedin.com/in/traviscarrigan" target="_blank" rel="noreferrer noopener"><i class="fa fa-linkedin"></i></a>
                                  </div>

                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="staff-name">
                      <h5 class="text-center">Travis Carrigan<br /><small>Manager</small></h5>
                  </div>
              </div>

              <div class="col-lg-4 col-md-8 col-sm-8">
                  <a id="dawson" class="anchor"></a>

                  <div class="staff-member">
                      <div class="staff-img">
                          <img data-src="./images/dawson-800x1000.jpg" alt="Photograph of Joshua Dawson" class="img-fluid staff-img">

                          <div class="staff-hover">
                              <div class="staff-bio">
                                  <p>Joshua Dawson joined our Business Development Team in January of 2019. Prior to Pointwise, he worked for 2 years as a Department of Defense Contractor with Applied Research Associates in simulating extreme thermal environments following high explosive detonations. He earned a B.S. in psychology from Texas A&M University in 2004, and in 2015 earned an M.S. in aerospace engineering from University of Texas at Arlington.</p>

                                  <p><a href="https://blog.pointwise.com/2019/04/04/im-josh-dawson-and-this-is-how-i-mesh/" target="_blank" rel="noreferrer noopener" class="white"> Read more in This is How I Mesh</a>.</p>

                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="staff-name">
                      <h5 class="text-center">Joshua Dawson<br /><small>Senior Applications Engineer</small></h5>
                  </div>
              </div>

          </div>
      </section>
      <br>
      <hr />
      <section id="information-technology-team">
          <h2 class="staff-head text-center">The Information Technology Team</h2>
          <hr />

          <div class="row justify-content-center">

              <div class="col-lg-4 col-md-8 col-sm-8">
                  <a id="spencer" class="anchor"></a>

                  <div class="staff-member">
                      <div class="staff-img">
                          <img data-src="./images/spencer-800x1000.jpg" alt="Photograph of Randy Spencer" class="img-fluid staff-img">

                          <div class="staff-hover">
                              <div class="staff-bio">
                                  <p>Randy Spencer served in the U.S. Marine Corps, completing tours in Kuwait and Iraq. After returning home, he earned a B.S. in information systems from the University of Texas at Arlington graduating summa cum laude. Mr. Spencer has earned the MCSE: Cloud Platform and Infrastructure and MSCA: Server 2012 from Microsoft as well as the A+, Linux+, and Security+ certifications from CompTIA. At Pointwise, Mr. Spencer designs, builds, and maintains the IT infrastructure.</p>

                                  <p><a href="https://blog.pointwise.com/2015/04/30/im-randy-spencer-and-this-is-how-i-mesh/" target="_blank" rel="noreferrer noopener" class="white"> Read more in This is How I Mesh</a>.</p>

                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="staff-name">
                      <h5 class="text-center">Randy Spencer<br /><small>Manager</small></h5>
                  </div>
              </div>

              <div class="col-lg-4 col-md-8 col-sm-8">
                  <a id="jobe" class="anchor"></a>

                  <div class="staff-member">
                      <div class="staff-img">
                          <img data-src="./images/jobe-800x1000.jpg" alt="Photograph of Christopher Jobe" class="img-fluid staff-img">

                          <div class="staff-hover">
                              <div class="staff-bio">
                                  <p>Christopher Jobe helps maintain the IT systems at Pointwise as well as Salesforce administrator and developer. He has more than 20 years professional experience and over 30 years personal experience with technology in several different industries. Mr. Jobe’s experience in a wide range of technologies allows him to provide unique IT solutions and advancements to meet ever changing demands.</p>

                                  <p><a href="https://blog.pointwise.com/2015/09/03/im-chris-jobe-and-this-is-how-i-mesh/" target="_blank" rel="noreferrer noopener" class="white"> Read more in This is How I Mesh</a>.</p>

                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="staff-name">
                      <h5 class="text-center">Christopher Jobe<br /><small>Senior Systems Administrator</small></h5>
                  </div>
              </div>

              <div class="col-lg-4 col-md-8 col-sm-8">
                  <a id="thompson" class="anchor"></a>

                  <div class="staff-member">
                      <div class="staff-img">
                          <img data-src="./images/thompson-800x1000.jpg" alt="Photograph of Stephanie Thompson" class="img-fluid staff-img">

                          <div class="staff-hover">
                              <div class="staff-bio">
                                  <p>Stephanie Thompson joined Pointwise in 2015 as the company web programmer. In 2019 she was promoted to the position of Senior Full Stack Web Developer under which she maintains all aspects of the Pointwise website. In 2020 she earned a B.S. in Computer Science from Southern New Hampshire University. She began volunteering for the DFW chapter of Women Who Code in 2019 as a mentor for under-represented coders to assist them in being successful in their technology careers.</p>

                                  <p><a href="https://blog.pointwise.com/2015/11/26/im-stephanie-moyes-and-this-is-how-i-mesh/" target="_blank" rel="noreferrer noopener" class="white"> Read more in This is How I Mesh</a>.</p>

                                  <div class="staff-social">
                                      <a href="https://www.linkedin.com/in/thompson-steph/" target="_blank" rel="noreferrer noopener"><i class="fa fa-linkedin"></i></a>

                                      <a href="https://twitter.com/Rocklobster1984" target="_blank" rel="noreferrer noopener"><i class="fa fa-twitter"></i></a>

                                  </div>

                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="staff-name">
                      <h5 class="text-center">Stephanie Thompson<br /><small>Senior Full Stack Web Developer</small></h5>
                  </div>
              </div>

          </div>
      </section>
      <br>
      <hr />
      <section id="business-operations-team">
          <h2 class="staff-head text-center">The Business Operations Team</h2>
          <hr />

          <div class="row justify-content-center">

              <div class="col-lg-4 col-md-8 col-sm-8">
                  <a id="cjefferies" class="anchor"></a>

                  <div class="staff-member">
                      <div class="staff-img">
                          <img data-src="./images/jefferiesc-800x1000.jpg" alt="Photograph of Carrie Jefferies" class="img-fluid staff-img">

                          <div class="staff-hover">
                              <div class="staff-bio">
                                  <p>Carrie Jefferies earned a B.S. in accountancy from Arizona State University in 1999. She joined Pointwise in 2012 and manages the Business Operations Team’s activities which includes accounting, human resources, general office operations, and administrative support for the other Pointwise teams.</p>

                                  <p><a href="https://blog.pointwise.com/2015/11/12/im-carrie-jefferies-and-this-is-how-i-mesh/" target="_blank" rel="noreferrer noopener" class="white"> Read more in This is How I Mesh</a>.</p>

                                  <div class="staff-social">
                                      <a href="https://www.linkedin.com/in/carrie-jefferies/" target="_blank" rel="noreferrer noopener"><i class="fa fa-linkedin"></i></a>
                                  </div>

                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="staff-name">
                      <h5 class="text-center">Carrie Jefferies<br /><small>Manager</small></h5>
                  </div>
              </div>

              <div class="col-lg-4 col-md-8 col-sm-8">
                  <a id="harris" class="anchor"></a>

                  <div class="staff-member">
                      <div class="staff-img">
                          <img data-src="./images/harris-800x1000.jpg" alt="Photograph of Amy Harris" class="img-fluid staff-img">

                          <div class="staff-hover">
                              <div class="staff-bio">
                                  <p>Amy Harris joined the Pointwise team in 2017 and in 2019 she was promoted to the position of Senior Administrative Coordinator. Amy has over 15 years of experience in business and office management and a B.A. in english. As a member of the Business Operations team, she oversees and is responsible for sales order processing and bookkeeping.</p>

                                  <p><a href="https://blog.pointwise.com/2017/11/02/im-amy-harris-and-this-is-how-i-mesh/" target="_blank" rel="noreferrer noopener" class="white"> Read more in This is How I Mesh</a>.</p>

                                  <div class="staff-social">
                                      <a href="https://www.linkedin.com/in/amy-leigh-harris/" target="_blank" rel="noreferrer noopener"><i class="fa fa-linkedin"></i></a>

                                      <a href="https://twitter.com/HarrisAmyLeigh1" target="_blank" rel="noreferrer noopener"><i class="fa fa-twitter"></i></a>
                                  </div>

                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="staff-name">
                      <h5 class="text-center">Amy Harris<br /><small>Senior Business Coordinator</small></h5>
                  </div>
              </div>

              <div class="col-lg-4 col-md-8 col-sm-8">
                  <a id="quirarte" class="anchor"></a>

                  <div class="staff-member">
                      <div class="staff-img">
                          <img data-src="./images/quirarte-800x1000.jpg" alt="Photograph of Jennifer Quirarte" class="img-fluid staff-img">

                          <div class="staff-hover">
                              <div class="staff-bio">
                                  <p>In 2018, Jennifer Quirarte graduated with a B.A. in Business Management & Spanish from the University of North Texas. She joined the Business Operations Team of Pointwise in October 2018. You can find her in the reception area answering phones and welcoming people. Jenn enjoys working at Pointwise because she has the opportunity to work with multiple teams and absorb more about the administrative, marketing, and sales departments.</p>

                                  <p><a href="https://blog.pointwise.com/2019/01/03/im-jennifer-quirarte-and-this-is-how-i-mesh/" target="_blank" rel="noreferrer noopener" class="white"> Read more in This is How I Mesh</a>.</p>

                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="staff-name">
                      <h5 class="text-center">Jennifer Quirarte<br /><small>Operations Coordinator</small></h5>
                  </div>
              </div>
          </div>
      </section>
      <br>

  </div>


  <!-- FOOTER -->
  <% include ../partials/footer %>

  <!-- JAVASCRIPT -->
  <% include ../partials/js-includes %>

</body>
</html>
