<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Analytics -->
    <% include ../partials/ga-includes %>

    <!-- META SETTINGS -->
    <% include ../partials/meta-settings.ejs %>

	<!-- PAGE TITLE -->
	<title>Travel to Pointwise</title>

	<!-- OG TAGS -->
	<meta property="og:url" content="https://www.pointwise.com/about/travel.html" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Travel to Pointwise" />
	<meta property="og:description" content="Pointwise is located in the Dallas - Fort Worth Metroplex, approximately 30 minutes from Dallas-Fort Worth (DFW) International Airport and 45 minutes from Dallas Love Field." />

	<!-- META DATA -->
	<meta name="description" content="Pointwise is located in the Dallas - Fort Worth Metroplex, approximately 30 minutes from Dallas-Fort Worth (DFW) International Airport and 45 minutes from Dallas Love Field.">
	<meta name="keywords" content="cfd meshing, mesh generation, grid generation, computational fluid dynamics, mesh generator, cfd software, cfd consultants, mesh software, grid software, fluid dynamics modeling" />

    <!-- CSS FILES -->
    <% include ../partials/css-includes %>

</head>

<body id="page-top">

	<!-- TOP NAVIGATION -->
	<% include ../partials/navbar %>

	<!-- Page Content -->
	<div class="container">
		<div class="row">

			<div class="col-lg-8">

				<h1>Travel to Pointwise</h1>

				<p>
					Pointwise is located in the <a href="https://www.visitdallas.com/" target="_blank" rel="noreferrer noopener">Dallas</a> - <a href="http://www.fortworth.com/" target="_blank" rel="noreferrer noopener">Fort Worth</a> Metroplex, approximately 30 minutes from <a href="http://www.dfwairport.com" target="_blank" rel="noreferrer noopener">Dallas-Fort Worth (DFW) International Airport</a> and 45 minutes from <a href="http://www.dallas-lovefield.com/" target="_blank" rel="noreferrer noopener">Dallas Love Field</a>.
				</p>

				<div class="col-lg-6">
					<h3>
						213 South Jennings Avenue<br />
						Fort Worth, Texas 76104
					</h3>
				</div>
				<div class="col-lg-6">
					<div id="map-travel"></div>
				</div>

				<h2>From DFW Airport</h2>

				<ol>

					<li>Take the South Airport Exit.</li>

					<li>Follow signs to Texas Highway 121 and take Hwy 121 toward Fort Worth.</li>

					<li>Exit Hwy 121 onto I-35W southbound.</li>

					<li>From I-35W, take the Rosedale Street Exit and turn right (west).</li>

					<li>Turn right on South Jennings Avenue and head north towards the downtown Fort Worth skyline.</li>

					<li>Pointwise is located on the right side of the street at the corner of South Jennings Avenue and West Daggett Street.</li>

					<li>Turn right on West Daggett Street and take an immediate left into the parking lot to the rear of the building.</li>

					<li>Park in any available parking space.</li>

					<li>Enter through the double glass doors and take the staircase to your left.</li>

					<li>Pointwise is on the second floor.</li>

				</ol>

				<h2>From Love Field</h2>

				<ol>

					<li>Take I-30 west towards Fort Worth.</li>

					<li>Take the Lancaster exit (the exit immediately after the I-35 southbound exit ramp).</li>

					<li>Turn left on South Jennings Avenue.</li>

					<li>Pointwise is located on the left side of the street at the corner of South Jennings Avenue and West Daggett Street.</li>

					<li>Turn left on West Daggett Street and take an immediate left into the parking lot to the rear of the building.</li>

					<li>Park in any available parking space.</li>

					<li>Enter through the double glass doors and take the staircase to your left.</li>

					<li>Pointwise is on the second floor.</li>

				</ol>

				<h2>From West Fort Worth</h2>

				<ol>

					<li>Take I-30 east toward Downtown Fort Worth.</li>

					<li>Take the Lancaster exit.</li>

					<li>Turn right on South Jennings Avenue.</li>

					<li>Pointwise is located on the left side of the street at the corner of South Jennings Avenue and West Daggett Street.</li>

					<li>Turn left on West Daggett Street and take an immediate left into the parking lot to the rear of the building.</li>

					<li>Park in any available parking space.</li>

					<li>Enter through the double glass doors and take the staircase to your left.</li>

					<li>Pointwise is on the second floor.</li>

				</ol>

				<h2>Hotels, Downtown Area <br />(1 mile from Pointwise)</h2>

				<p><strong><a href="http://embassysuites.hilton.com/en/es/hotels/index.jhtml?ctyhocn=FTWESES" target="_blank" rel="noreferrer noopener">Embassy Suites Fort Worth - Downtown</a></strong>
					<br />600 Commerce Street, Fort Worth, TX 76102
					<br />817-332-6900
				</p>

				<p><strong><a href="http://hamptoninn3.hilton.com/en/hotels/texas/hampton-inn-and-suites-fort-worth-downtown-FTWDTHX/index.html" target="_blank" rel="noreferrer noopener">Hampton Inn & Suites - Downtown</a></strong>
					<br />1001 Commerce St. Fort Worth, TX 76102
					<br />817-332-5300
				</p>

				<p><strong><a href="http://www1.hilton.com/en_US/hi/hotel/FTWFWHF-Hilton-Fort-Worth-Texas/index.do" target="_blank" rel="noreferrer noopener">Hilton Fort Worth</a></strong>
					<br />815 Main Street, Fort Worth, TX 76102
					<br />817-870-2100
				</p>

				<p><strong><a href="https://www.ihg.com/holidayinnexpress/hotels/us/en/fort-worth/ftwla/hoteldetail" target="_blank" rel="noreferrer noopener">Holiday Inn Express Fort Worth Downtown</a></strong>
					<br />1111 W. Lancaster Avenue, Fort Worth, TX 76102
					<br />817-698-9595
				</p>

				<p><strong><a href="http://www.marriott.com/hotels/travel/dfwms-courtyard-fort-worth-downtown-blackstone/?scid=bb1a189a-fec3-4d19-a255-54ba596febe2" target="_blank" rel="noreferrer noopener">Marriott Courtyard Fort Worth Downtown/Blackstone</a></strong>
					<br />601 Main Street, Fort Worth, TX 76102
					<br />817-885-8700
				</p>

				<p><strong><a href="https://www.omnihotels.com/hotels/fort-worth?gclid=CjwKCAiA4vbSBRBNEiwAMorERw-GEWlutchfetoI7AXGAmXrlh2VQkDt5CzyjKvLr1xQuAa76bjS2RoCLZcQAvD_BwE&gclsrc=aw.ds" target="_blank" rel="noreferrer noopener">Omni Hotel of Fort Worth - Downtown</a></strong>
					<br />1300 Houston St, Fort Worth, TX 76102
					<br />817-535-6664
				</p>

				<p><strong><a  href="https://www.marriott.com/hotels/travel/dfwdt-the-worthington-renaissance-fort-worth-hotel/" target="_blank" rel="noreferrer noopener">Renaissance Worthington Hotel Fort Worth</a></strong>
					<br />200 Main Street, Fort Worth, TX 76102
					<br />817-870-1000
				</p>

				<p><strong><a href="http://www.starwoodhotels.com/sheraton/property/overview/index.html?propertyID=1784" target="_blank" rel="noreferrer noopener">Sheraton Fort Worth Hotel and Spa</a></strong>
					<br />1701 Commerce Street, Fort Worth, TX 76102
					<br />817-335-7000
				</p>

				<p><strong><a href="http://www.theashtonhotel.com/en-us" target="_blank" rel="noreferrer noopener">The Ashton Hotel - Downtown</a></strong>
					<br />610 Main St. Fort Worth, TX 76102
					<br />817-332-0100
				</p>

				<h2>Hotels, Fort Worth South Area <br />(2 miles from Pointwise)</h2>

				<p><strong><a href="http://www.texaswhitehouse.com" target="_blank" rel="noreferrer noopener">The Texas White House Bed &amp; Breakfast</a></strong>
					<br />1417 Eighth Avenue, Fort Worth, TX 76104
					<br />817-923-3597
				</p>

				<p><strong><a href="http://hiltongardeninn3.hilton.com/en/hotels/texas/hilton-garden-inn-fort-worth-medical-center-FTWMDGI/index.html" target="_blank" rel="noreferrer noopener">Hilton Garden Inn</a></strong>
					<br />912 Northton Street, Fort Worth, TX 76104
					<br />817-927-0788
				</p>

				<p><strong><a href="http://www.fortworthmedicalcenter.homewoodsuites.com" target="_blank" rel="noreferrer noopener">Homewood Suites - Fort Worth/Medical Center</a></strong>
					<br />2200 Charlie Lane, Fort Worth, TX 76104
					<br />817-921-0202
				</p>

				<h2>Hotels, University Avenue Area <br />(3 miles from Pointwise)</h2>

				<p><strong><a  href="http://marriott.com/hotels/travel/dfwun-fairfield-inn-fort-worth-university-drive/" target="_blank" rel="noreferrer noopener">Fairfield Inn Fort Worth University Drive</a></strong>
					<br />1505 S. University Drive, Fort Worth, TX 76017
					<br />817-335-2000
				</p>

				<p><strong><a  href="http://www.ResidenceInn.com/dpp/PropertyPage.asp?MarshaCode=DFWRP" target="_blank" rel="noreferrer noopener">Marriott Residence Inn Fort Worth University</a></strong>
					<br />1701 South University Drive, Fort Worth, TX 76107
					<br />817-870-1011
				</p>

				<h2>Hotels, The Historic Fort Worth Stockyards Area <br />(4 miles from Pointwise)</h2>

				<p><strong><a href="https://stockyards.place.hyatt.com/en/hotel/home.html" target="_blank" rel="noreferrer noopener">Hyatt Place Fort Worth - Stockyards</a></strong>
					<br />132 E. Exchange Ave. Fort Worth, TX 76164
					<br />817-626-6000
				</p>

				<p><strong><a href="http://www.stockyardshotel.com/" target="_blank" rel="noreferrer noopener">The Stockyards Hotel</a></strong>
					<br />109 E. Exchange Ave. Fort Worth, TX 76164
					<br />817-625-6427
				</p>

				<h2>Fort Worth Visitor Information</h2>

				<ul>

					<li><a href="http://www.cartermuseum.org" target="_blank" rel="noreferrer noopener">Amon Carter Museum</a></li>

					<li><a href="http://www.basshall.com" target="_blank" rel="noreferrer noopener">Bass Performance Hall</a></li>

					<li><a href="http://www.billybobstexas.com" target="_blank" rel="noreferrer noopener">Billy Bob's Texas</a></li>

					<li><a href="http://www.fortworthgov.org/" target="_blank" rel="noreferrer noopener">Fort Worth, City of</a></li>

					<li><a href="http://www.fwmuseum.org" target="_blank" rel="noreferrer noopener">Fort Worth Museum of Science and History</a></li>

					<li><a href="http://www.fortworthsouth.org" target="_blank" rel="noreferrer noopener">Near Southside</a></li>

					<li><a href="http://www.fortworthstockyards.org" target="_blank" rel="noreferrer noopener">Fort Worth Stockyards National Historic District</a></li>

					<li><a href="http://www.fortworthzoo.org" target="_blank" rel="noreferrer noopener">Fort Worth Zoo</a></li>

					<li><a href="http://www.kimbellart.org" target="_blank" rel="noreferrer noopener">Kimbell Art Museum</a></li>

					<li><a href="http://www.themodern.org" target="_blank" rel="noreferrer noopener">Modern Art Museum of Fort Worth</a></li>

					<li><a href="http://www.sundancesquare.com" target="_blank" rel="noreferrer noopener">Sundance Square</a></li>

					<li><a href="http://west-7th.com/" target="_blank" rel="noreferrer noopener">Crockett Row at West 7th</a></li>

					<li><a href="https://www.sidrichardsonmuseum.org/index.php" target="_blank" rel="noreferrer noopener">Sid Richardson Museum</a></li>

				</ul>
			</div>

			<!-- Space between columns -->
			<div class="col-lg-1">
			</div>

			<!-- Column Contents -->
			<div class="col-lg-3">

					<h4>More About Pointwise</h4>
					<svg class="nav-lines">
						<line class="nav-blue-subscribe" x1="0" y1="1" x2="210" y2="1"/>
						<line class="nav-grey-subscribe" x1="200" y1="1" x2="275" y2="1"/>
					</svg>
                <div class="side-nav">
					<p><a href="index.html">Background</a></p>
					<p><a href="../news/">News</a></p>
					<p><a href="../events/">Events</a></p>
					<p><a href="../sales/">Sales Offices</a></p>
					<p><a href="../contact/">Contact Us</a></p>
					<p><a href="travel.html">Visit Us</a></p>
					<p><a href="bicocchi.html">Our Century-Old Building</a></p>
					<p><a href="../careers/">Open Positions</a></p>
					<p><a href="staff.html">Staff</a></p>
					<p><a href="partners.html">Partners</a></p>
				</div>

			</div>

		</div>
	</div>

	<!-- FOOTER -->
	<% include ../partials/footer %>

    <!-- JAVASCRIPT -->
    <% include ../partials/js-includes %>
	
	<!-- Google Maps Dependency -->
	<script> function initMap() {
		var uluru = {lat: 32.742359, lng: -97.329758};
		var map = new google.maps.Map(document.getElementById('map-travel'), {
			zoom: 13,
			center: uluru
		});
		var marker = new google.maps.Marker({
			position: uluru,
			map: map
		});
	}</script>
	<script async defer
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJXBK3i835tJEf2h_KlB7IOzP8AyA4HfE&callback=initMap">
</script>
</body>
</html>
