<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Analytics -->
    <% include ../../partials/ga-includes %>

    <!-- META SETTINGS -->
    <% include ../../partials/meta-settings.ejs %>

	<!-- PAGE TITLE -->
	<title>The Ultimate Guide to Writing Import and Export Plugins</title>

	<meta name="robots" content="noindex">

	<!-- CSS FILES -->
	<% include ../../partials/css-includes %>

</head>

<body id="page-top">

	<noscript>
			<p>
					In order to view this page JavaScript must be enabled in your browser.
			</p>
	</noscript>

	<!-- TOP NAVIGATION -->
	<% include ../../partials/navbar %>

	<div class="container confirmation-body">
		<div class="row">

			<div class="col-lg-8">

				<h1>Thank you for your interest!</h1>

				<p>
					Right click and select "Save Link As" below to download "The Ultimate Guide to Writing Import and Export Plugins"
				</p>

				<p>
					We hope you find this guide helpful in showing how easy it is to fully integrate Pointwise into your workflow by customizing it to use your file formats using import and export plugins.
				</p>

				<p>
					<!--HubSpot Call-to-Action Code --><span class="hs-cta-wrapper" id="hs-cta-wrapper-1c1338d0-d54d-4ae8-b725-80bf27a42799"><span class="hs-cta-node hs-cta-1c1338d0-d54d-4ae8-b725-80bf27a42799" id="hs-cta-1c1338d0-d54d-4ae8-b725-80bf27a42799"><!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]--><a href="https://cta-redirect.hubspot.com/cta/redirect/3788790/1c1338d0-d54d-4ae8-b725-80bf27a42799" ><img class="hs-cta-img" id="hs-cta-img-1c1338d0-d54d-4ae8-b725-80bf27a42799" style="border-width:0px;" src="https://no-cache.hubspot.com/cta/default/3788790/1c1338d0-d54d-4ae8-b725-80bf27a42799.png"  alt="Download"/></a></span><script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script><script type="text/javascript"> hbspt.cta.load(3788790, '1c1338d0-d54d-4ae8-b725-80bf27a42799', {}); </script></span><!-- end HubSpot Call-to-Action Code -->
				</p>

				<p class="social-share">
					If you feel others might find our guide useful, please share

							<!-- Facebook Like Button -->
							<a href="http://www.facebook.com/share.php?u=http://info.pointwise.com/white-paper-ultimate-guide-writing-import-export-plugins&title=The Ultimate Guide to Writing Import and Export Plugins" target="_blank"><img data-src="../images/Round-Facebook-30x30.svg" width="30px" alt="Facebook Icon" title="Share on Facebook" class="img-fluid"/></a>

							<!-- Twitter Share Button -->
							<a href="http://twitter.com/intent/tweet?status=The Ultimate Guide to Writing Import and Export Plugins+http://info.pointwise.com/white-paper-ultimate-guide-writing-import-export-plugins"><img data-src="../images/Round-Twitter-30x30.svg" width="30px" alt="Twitter Icon" title="Share on Twitter" class="img-fluid"/></a>

							<!-- LinkedIn Share Button -->
							<a href="http://www.linkedin.com/shareArticle?mini=true&url=http://info.pointwise.com/white-paper-ultimate-guide-writing-import-export-plugins&title=The Ultimate Guide to Writing Import and Export Plugins&source=http://www.pointwise.com"><img data-src="../images/Round-LinkedIn-30x30.svg" width="30px" alt="LinkedIn Icon" title="Share on LinkedIn" class="img-fluid"/></a>

							<!-- Share by Email -->
						<a href="mailto:?subject=The Ultimate Guide to Writing Import and Export Plugins&amp;body=http://info.pointwise.com/white-paper-ultimate-guide-writing-import-export-plugins" title="Share by Email"><img data-src="../images/Round-Email-30x30.svg" width="30px" alt="Email Icon" title="Share by Email" onclick="shareByEmail(); return false" class="img-fluid"/></a>

				</p>

				<hr>

				<div class="row">

					<h2>Pointwise V18.1 offers so much more than just import and export plugins</h2>
					<div class="col-lg-6">
						<img data-src="v181-Propeller-400x240.png" alt="Pointwise V18.1" class="img-fluid">
					</div>

					<div class="col-lg-6">
						<p class="cta-space">
							Please watch the webinar, &ldquo;Meshing Automation and Adaptability in Pointwise V18.1&rdquo; for an in-depth look at all the new features added to Pointwise.
						</p>
						<p>
							<!--HubSpot Call-to-Action Code --><span class="hs-cta-wrapper" id="hs-cta-wrapper-c6fab6c8-9b3d-4ec3-8672-6e3c71e88828"><span class="hs-cta-node hs-cta-c6fab6c8-9b3d-4ec3-8672-6e3c71e88828" id="hs-cta-c6fab6c8-9b3d-4ec3-8672-6e3c71e88828"><!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]--><a href="https://cta-redirect.hubspot.com/cta/redirect/3788790/c6fab6c8-9b3d-4ec3-8672-6e3c71e88828" ><img class="hs-cta-img" id="hs-cta-img-c6fab6c8-9b3d-4ec3-8672-6e3c71e88828" style="border-width:0px;" src="https://no-cache.hubspot.com/cta/default/3788790/c6fab6c8-9b3d-4ec3-8672-6e3c71e88828.png"  alt="Watch Now"/></a></span><script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script><script type="text/javascript"> hbspt.cta.load(3788790, 'c6fab6c8-9b3d-4ec3-8672-6e3c71e88828', {}); </script></span><!-- end HubSpot Call-to-Action Code -->
						</p>
					</div>
				</div>

			</div>

			<div class="col-lg-1">
			</div>

			<!--Right column-->
			<div class="col-lg-3">

				<div class="lets-talk-nav">
					<h4>You May Also Like</h4>
					<svg class="nav-lines">
						<line class="nav-blue-ymal" x1="0" y1="1" x2="160" y2="1"/>
						<line class="nav-grey-ymal" x1="160" y1="1" x2="275" y2="1"/>
					</svg>

					<img data-src="ymal1.png" class="img-fluid" alt="Towards Mesh Adaptation with Pointwise" />
					<p>
						<a href="http://info.pointwise.com/webinar-towards-mesh-adaptation-with-pointwise">Towards Mesh Adaptation with Pointwise</a>
					</p>

					<hr />

					<img data-src="ymal2.png" class="img-fluid" alt="Using Automated Meshing for Analysis in Conceptual Design"  />
					<p>
						<a href="http://info.pointwise.com/webinar-automated-meshing-conceptual-design">Using Automated Meshing for Analysis in Conceptual Design</a>
					</p>

					<hr />

					<img data-src="ymal3.png" class="img-fluid" alt="Glyph Scripting with Python in Pointwise"  />
					<p>
						<a href="http://info.pointwise.com/webinar-glyph-scripting-python-pointwise">Glyph Scripting with Python in Pointwise</a>
					</p>
				</div>
			</div>

		</div>
	</div>


<!-- FOOTER -->
<% include ../../partials/footer %>

	<!-- JAVASCRIPT -->
	<% include ../../partials/js-includes %>

</body>
</html>
