<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Analytics -->
    <% include ../../partials/ga-includes %>

    <!-- META SETTINGS -->
    <% include ../../partials/meta-settings.ejs %>

  <!-- PAGE TITLE -->
  <title>Pointwise User Group Meeting 2010</title>

  <!-- OG TAGS -->
  <meta property="og:url" content="https://www.pointwise.com/user-meeting/2010/index.html" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Pointwise User Group Meeting 2010" />
  <meta property="og:description" content="The Pointwise User Group Meeting 2010 was held in Fort Worth, Texas on April 13-14, 2010." />

  <!-- META DATA -->
  <meta name="description" content="The Pointwise User Group Meeting 2010 was held in Fort Worth, Texas on April 13-14, 2010.">
  <meta name="keywords" content="cfd meshing, mesh generation, grid generation, computational fluid dynamics, mesh generator, cfd software, cfd consultants, mesh software, grid software, fluid dynamics modeling" />

  <!-- CSS FILES -->
  <% include ../../partials/css-includes %>

</head>

<body id="page-top">

	<noscript>
		<p>
			In order to view this page JavaScript must be enabled in your browser.
		</p>
	</noscript>

	<!-- TOP NAVIGATION -->
	<% include ../../partials/navbar %>

  <!-- Page Content -->
  <div class="container">
    <div class="row">

      <div class="col-lg-8">

        <img data-src="images/ugm-logo-2010.png" alt="Pointwise User Group Meeting 2010 Logo" class="img-fluid" />

        <h1>Pointwise User Group Meeting 2010</h1>

        <p>
          The Pointwise User Group Meeting 2010 was held in Fort Worth, Texas on April 13-14, 2010. The meeting featured special Pointwise and Gridgen training seminars, presentations by Pointwise staff on new product developments, exhibits by our partners and user presentations, and general mesh generation excitement.
        </p>

        <h2>CFD Gallery & Exhibits</h2>

        <p>
          Special time will be available during the Pointwise User Group Meeting for you to visit with our exhibiting partners and learn more about how Gridgen and Pointwise complement their products offerings.
        </p>

        <div class="row">
          <div class="col-lg-3">
            <img data-src="images/acusim-logo-100x70.png" alt="ACUSIM" class="img-fluid" />
          </div>
          <div class="col-lg-3">
            <img data-src="images/cd-adapco-logo-100x70.png" alt="CD-adapco" class="img-fluid" />
          </div>
          <div class="col-lg-3">
            <img data-src="images/cei-logo-100x70.png" alt="CEI" class="img-fluid" />
          </div>
          <div class="col-lg-3">
            <img data-src="images/craft-logo-100x70.png" alt="CRAFT Tech" class="img-fluid" />
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <img data-src="images/intelligent-light-logo-100x70.png" alt="Intelligent Light" class="img-fluid" />
          </div>
          <div class="col-lg-3">
            <img data-src="images/metacomp-logo-100x48.png" alt="Metacomp Technologies" class="img-fluid" />
          </div>
          <div class="col-lg-3">
            <img data-src="images/tecplot-logo-100x70.png" alt="Tecplot" class="img-fluid" />
          </div>
        </div>

        <h2>Special Pointwise and Gridgen Training Sessions</h2>

        <p>
          Training sessions on Tuesday, April 13, 2010 covered the latest features in both Pointwise and Gridgen. The Gridgen session included new features that you may not be aware of that can save time meshing. An introductory section for Pointwise helped users new to the software pick up some of the basics of the interface. A Pointwise preview session will allow attendees to see the new features coming in the next release of Pointwise. The training sessions also will include hands-on exercises for  attendees to try firsthand the features discussed.
        </p>

        <img data-src="images/ugm-2010-800x531.jpg" alt="Pointwise User Group Meeting 2010" class="img-fluid center-block" />

        <h2>Agenda</h2>

        <div class="table-responsive">
          <table class="table">

            <tr>
              <th colspan="4">Tuesday, April 13 - Training</th>
            </tr>

            <tr>
              <th>Beg.</th>
              <th>End</th>
              <th>Event</th>
              <th>Room</th>
            </tr>

            <tr>
              <td>8:00</td>
              <td>8:30</td>
              <td>Registration &amp;<br /> Continental Breakfast</td>
              <td>Synergy Foyer</td>
            </tr>

            <tr>
              <td>8:30</td>
              <td>10:00</td>
              <td>Training - Solid Modeling and Meshing of a Wing-Pylon-Store Geometry</td>
              <td>Synergy II</td>
            </tr>

            <tr>
              <td>10:00</td>
              <td>10:15</td>
              <td>Break</td>
              <td>Synergy Foyer</td>
            </tr>

            <tr>
              <td>10:15</td>
              <td>12:00</td>
              <td>Training - T-Rex Meshing of a Wing-Pylon-Store Geometry</td>
              <td>Synergy II</td>
            </tr>

            <tr>
              <td>12:00</td>
              <td>1:30</td>
              <td>Buffet Lunch</td>
              <td>Atrium</td>
            </tr>

            <tr>
              <td>1:30</td>
              <td>2:30</td>
              <td>Training - Structured Mesh Generation for the Supersonic Boundary Layer Interaction Workshop</td>
              <td>Synergy II</td>
            </tr>

            <tr>
              <td>2:30</td>
              <td>3:00</td>
              <td>Break</td>
              <td>Synergy Foyer</td>
            </tr>

            <tr>
              <td>3:00</td>
              <td>5:00</td>
              <td>Training - Automating Structured Grid Generation with Glyph</td>
              <td>Synergy II</td>
            </tr>

            <tr>
              <td>6:30</td>
              <td>8:00</td>
              <td>Welcome Reception &amp;<br /> Partner Exhibits</td>
              <td>Synergy Foyer</td>
            </tr>

            <tr>
              <th colspan="4">Wednesday, April 14 - General Session</th>
            </tr>

            <tr>
              <th>Beg.</th>
              <th>End</th>
              <th>Event</th>
              <th>Room</th>
            </tr>

            <tr>
              <td>8:00</td>
              <td>8:30</td>
              <td>Registration,<br />Continental Breakfast &amp; Partner Exhibits</td>
              <td>Synergy Foyer</td>
            </tr>

            <tr>
              <td>8:30</td>
              <td>8:45</td>
              <td>Welcome &amp; Introductions<br />Rick Matus, Vice President, Sales &amp; Marketing, Pointwise</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>8:45</td>
              <td>9:15</td>
              <td><em>Current Status of Pointwise &amp; Gridgen</em>,<br />John Chawner, President, Pointwise</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>9:15</td>
              <td>9:45</td>
              <td><em>Gridgen Capabilities for Integration and Visualization of Overset Grid Generation</em><br />Nick Wyman, Director of Applied Research, Pointwise</td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>9:45</td>
              <td>10:15</td>
              <td>Break &amp; Partner Exhibits</td>
              <td>Synergy Foyer</td>
            </tr>

            <tr>
              <td>10:15</td>
              <td>4:15</td>
              <td>Support Consultations<br />(Sign up at the registration desk)
                <td>Synergy III</td>
              </tr>

              <tr>
                <td>10:15</td>
                <td>10:45</td>
                <td><em>Cascade Thrust Reverser Design using Gridgen and CFD++</em>,<br />Jeremy Zanzig, Analytical Methods, Inc.
                  <td>Synergy I</td>
                </tr>

                <tr>
                  <td>10:45</td>
                  <td>11:15</td>
                  <td><em>The Effect of Fan and Wake Grid Density on the Analysis of a Generic Ducted Fan Vehicle</em>,<br />Kelly Londenberg, AVID LLC</td>
                  <td>Synergy I</td>
                </tr>

                <tr>
                  <td>11:15</td>
                  <td>11:45</td>
                  <td><em>Mesh Topology Studies with Emphasis on Optimization of a Vertical Axis Wind Turbine</em><br />Travis J. Carrigan, University of Texas at Arlington</td>
                  <td>Synergy I</td>
                </tr>

                <tr>
                  <td>11:45</td>
                  <td>12:15</td>
                  <td><em>Generation of Large Grids for the NASA-Glenn Embedded Propulsion Research Project</em><br />Bruce Hilbert, University of Tennessee at Chattanooga</td>
                  <td>Synergy I</td>
                </tr>

                <tr>
                  <td>12:14</td>
                  <td>1:00</td>
                  <td>Lunch</td>
                  <td>Atrium</td>
                </tr>

                <tr>
                  <td>1:00</td>
                  <td>1:30</td>
                  <td><em>Complex Analysis Using a Multi-Physics Simulation Framework</em>,<br />Jeremy D. Shipman, CRAFT Tech</td>
                  <td>Synergy I</td>
                </tr>

                <tr>
                  <td>1:30</td>
                  <td>2:00</td>
                  <td><em>Advanced Unstructured Grid Generation Using Gridgen and Pointwise</em>,<br />Perry Wooden, Lockheed Martin Aeronautics Company</td>
                  <td>Synergy I</td>
                </tr>

                <tr>
                  <td>2:00</td>
                  <td>2:30</td>
                  <td><em>Towards More Efficient Centrifugal Compressors: The Role of Advanced CFD</em>,<br />Mikhail Grigoriev, Cameron, Compression Systems</td>
                  <td>Synergy I</td>
                </tr>

                <tr>
                  <td>2:30</td>
                  <td>3:30</td>
                  <td>CFD Gallery</td>
                  <td>Synergy Foyer</td>
                </tr>

                <tr>
                  <td>3:30</td>
                  <td>4:00</td>
                  <td><em>Investigating Potential Wind Risks Using Structured Meshes From Pointwise</em>,<br />Gregory Oxley, Vestas Wind Systems</td>
                  <td>Synergy I</td>
                </tr>

                <tr>
                  <td>4:00</td>
                  <td>4:30</td>
                  <td><em>The EZprep - Pre-Processor for CFD, Chimera based Aircraft-Store Compatibility Simulations</em>,<br />Maj. Motti Adar, Israeli Air Force</td>
                  <td>Synergy I</td>
                </tr>

                <tr>
                  <td>4:30</td>
                  <td>5:00</td>
                  <td><em>Creation of Multiple Shock Wave Boundary Layer Interaction Geometries Using a Parametric Mesh Generation Script</em>,<br />Rex Chamberlain, Tetra Research Corporation</td>
                  <td>Synergy I</td>
                </tr>

                <tr>
                  <td>5:00</td>
                  <td>5:30</td>
                  <td><em>The Future of Pointwise &amp; Gridgen</em>,<br />John Chawner, President, Pointwise</td>
                  <td>Synergy I</td>
                </tr>

                <tr>
                  <td>5:30</td>
                  <td>6:00</td>
                  <td><em>Panel Discussion</em>,<br />Nick Wyman, Director of Applied Research, Pointwise<br />Pat Baker, Manager of Product Development, Pointwise<br />Carolyn Dear, Manager of Support &amp; Consulting, Pointwise<br />Mike Jefferies, Engineering Specialist, Pointwise</td>
                  <td>Synergy I</td>
                </tr>

                <tr>
                  <td>6:30</td>
                  <td>8:30</td>
                  <td>Pointwise UGM After Party</td>
                  <td>Rick O'Shea's Pub</td>
                </tr>

              </table>
            </div>

          </div>

          <!-- Space between columns -->
          <div class="col-lg-1">
          </div>

      <!-- Column Contents -->
      <div class="col-lg-3">

      <!-- Side Nav -->
      <% include ../../partials/nav-ugm %>
      </div>

    </div>
  </div>

      <!-- FOOTER -->
      <% include ../../partials/footer %>

    <!-- JAVASCRIPT -->
    <% include ../../partials/js-includes %>

</body>
</html>
