<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Analytics -->
    <% include ../../partials/ga-includes %>

    <!-- META SETTINGS -->
    <% include ../../partials/meta-settings.ejs %>

	<!-- PAGE TITLE -->
	<title>Presentations from the Pointwise for Automotive CFD Simulation Workshop</title>

	<meta name="robots" content="noindex">

	<!-- CSS FILES -->
	<% include ../../partials/css-includes %>

</head>

<body id="page-top">

	<!-- TOP NAVIGATION -->
	<% include ../../partials/navbar %>

	<div class="workshop-auto">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="intro-message-pw">
						<h1>Presentations from the Pointwise for Automotive CFD Simulation Workshop</h1>
						<hr class="intro-divider">
					</div>
				</div>
			</div>
		</div>
	</div>

			<div class="container">
				<div class="row">
					<div class="col-lg-8">

						<div class="cta-space">
							<p>
								Thank you for your interest in the presentations from the Pointwise for Automotive CFD Simulation Workshop. Click the download button(s) below to download the presentations you want.
							</p>
							<p>
								If you would like to explore more about Pointwise automotive applications, check out You May Also Like on the right side of this page.
							</p>
						</div>

				<!-- ========== Presentation 1 ========== -->
					<h3>Pointwise Technology Overview</h3>

					<!-- CTA -->
					<!--HubSpot Call-to-Action Code --><span class="hs-cta-wrapper" id="hs-cta-wrapper-dc1fad5a-7f1d-4dba-80ba-858d1d24a3c0"><span class="hs-cta-node hs-cta-dc1fad5a-7f1d-4dba-80ba-858d1d24a3c0" id="hs-cta-dc1fad5a-7f1d-4dba-80ba-858d1d24a3c0"><!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]--><a href="https://cta-redirect.hubspot.com/cta/redirect/3788790/dc1fad5a-7f1d-4dba-80ba-858d1d24a3c0" ><img class="hs-cta-img" id="hs-cta-img-dc1fad5a-7f1d-4dba-80ba-858d1d24a3c0" style="border-width:0px;" src="https://no-cache.hubspot.com/cta/default/3788790/dc1fad5a-7f1d-4dba-80ba-858d1d24a3c0.png"  alt="Download"/></a></span><script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script><script type="text/javascript"> hbspt.cta.load(3788790, 'dc1fad5a-7f1d-4dba-80ba-858d1d24a3c0', {}); </script></span><!-- end HubSpot Call-to-Action Code -->

				<hr />

				<!-- ========== Presentation 2 ========== -->
					<h3>Automotive Test Case, DrivAer Optimization</h3>

					<!-- CTA -->
					<!--HubSpot Call-to-Action Code --><span class="hs-cta-wrapper" id="hs-cta-wrapper-c49e0a7b-ff58-4463-98b8-433084e6de0f"><span class="hs-cta-node hs-cta-c49e0a7b-ff58-4463-98b8-433084e6de0f" id="hs-cta-c49e0a7b-ff58-4463-98b8-433084e6de0f"><!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]--><a href="https://cta-redirect.hubspot.com/cta/redirect/3788790/c49e0a7b-ff58-4463-98b8-433084e6de0f" ><img class="hs-cta-img" id="hs-cta-img-c49e0a7b-ff58-4463-98b8-433084e6de0f" style="border-width:0px;" src="https://no-cache.hubspot.com/cta/default/3788790/c49e0a7b-ff58-4463-98b8-433084e6de0f.png"  alt="Download"/></a></span><script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script><script type="text/javascript"> hbspt.cta.load(3788790, 'c49e0a7b-ff58-4463-98b8-433084e6de0f', {}); </script></span><!-- end HubSpot Call-to-Action Code -->

				<hr />

				<!-- ========== Presentation 3 ========== -->
					<h3>V8 Supercar Design with CFD </h3>

					<!-- CTA -->
					<!--HubSpot Call-to-Action Code --><span class="hs-cta-wrapper" id="hs-cta-wrapper-a38313b6-a43e-4052-a583-f00f867f462c"><span class="hs-cta-node hs-cta-a38313b6-a43e-4052-a583-f00f867f462c" id="hs-cta-a38313b6-a43e-4052-a583-f00f867f462c"><!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]--><a href="https://cta-redirect.hubspot.com/cta/redirect/3788790/a38313b6-a43e-4052-a583-f00f867f462c" ><img class="hs-cta-img" id="hs-cta-img-a38313b6-a43e-4052-a583-f00f867f462c" style="border-width:0px;" src="https://no-cache.hubspot.com/cta/default/3788790/a38313b6-a43e-4052-a583-f00f867f462c.png"  alt="Download"/></a></span><script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script><script type="text/javascript"> hbspt.cta.load(3788790, 'a38313b6-a43e-4052-a583-f00f867f462c', {}); </script></span><!-- end HubSpot Call-to-Action Code -->

				<hr />

			</div>

			<div class="col-lg-1">
			</div>

			<div class="col-lg-3">

				<div class="conn-nav-home">
					<div class="input-group">
						<label for="search"><h4>Search Events</h4>
						<svg class="nav-lines">
							<line class="nav-blue-search" x1="0" y1="1" x2="130" y2="1"/>
							<line class="nav-grey-search" x1="130" y1="1" x2="275" y2="1"/>
						</svg>
					</label>
						<input type="text" id="search" class="form-control st-default-search-input">
					</div>
				</div>

				<div class="lets-talk-nav">
					<h4>You May Also Like</h4>
					<svg class="nav-lines">
						<line class="nav-blue-ymal" x1="0" y1="1" x2="180" y2="1"/>
						<line class="nav-grey-ymal" x1="180" y1="1" x2="275" y2="1"/>
					</svg>

					<img data-src="images/ymal1.png" class="img-fluid" alt="formula race car" />
					<p>
						<a href="../../automotive/index.html">Meshing Solutions for the Automotive Industry</a>
					</p>

					<hr />

					<img data-src="images/ymal2.png" class="img-fluid" alt="voxel mesh" />
					<p>
						<a href="https://info.pointwise.com/new-features-v-18-3">New Features in Pointwise V18.3</a>
					</p>

					<hr />

					<img data-src="images/ymal3.png" class="img-fluid" alt="truck mesh"  />
					<p>
						<a href="https://info.pointwise.com/cfd-help-quantify-benefits-truck-platooning-technologies">Researchers use CFD to Help Quantify the Benefits of Truck Platooning Technologies</a>
					</p>
				</div>

			</div>
		</div>
	</div>


<!-- FOOTER -->
<% include ../../partials/footer %>

	<!-- JAVASCRIPT -->
	<% include ../../partials/js-includes %>

</body>
</html>
