<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Analytics -->
    <% include ../../partials/ga-includes %>

    <!-- META SETTINGS -->
    <% include ../../partials/meta-settings.ejs %>

  <!-- PAGE TITLE -->
  <title>Pointwise for Automotive Workshop</title>

  <!-- OG TAGS -->
  <meta property="og:url" content="https://www.pointwise.com/2019-11-Automotive/" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Pointwise for Automotive Workshop" />
  <meta property="og:description" content="In this workshop we will conduct live, interactive demonstrations of Pointwise meshing the DrivAer automotive test case, and we will present technical background information about the how and why of the meshing techniques developed and honed with many years of experience in Pointwise." />

  <!-- META DATA -->
  <meta name="description" content="In this workshop we will conduct live, interactive demonstrations of Pointwise meshing the DrivAer automotive test case, and we will present technical background information about the how and why of the meshing techniques developed and honed with many years of experience in Pointwise.">
  <meta name="keywords" content="cfd meshing, mesh generation, grid generation, computational fluid dynamics, mesh generator, cfd software, cfd consultants, mesh software, grid software, fluid dynamics modeling" />

  <!-- CSS FILES -->
  <% include ../../partials/css-includes %>

</head>

<body id="page-top">

  <noscript>
      <p>
          In order to view this page JavaScript must be enabled in your browser.
      </p>
  </noscript>

  <!-- TOP NAVIGATION -->
  <% include ../../partials/navbar %>

  <div class="workshop-auto">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-xl-12">
          <div class="intro-message-pw">
            <h1>Pointwise for Automotive Workshop</h1>
            <hr class="intro-divider">
            <h3 class="white">M&uuml;nchen, Germany</h3>
            <br>
            <p>
              Increase automotive simulation accuracy and efficiency with meshing flexibility. Pointwise generates high-quality, high aspect ratio meshes that are key to efficiency for demanding automotive CFD simulations. Interactive demonstrations and background information will show the how and why of the automated mesh generation process in Pointwise.
            </p>

            <div class="list-inline intro-buttons">
                <a href="#overview" class="btn btn-light page-scroll"> <span class="network-name">Overview</span></a>

                <a href="#date" class="btn btn-light page-scroll"> <span class="network-name">Date and Agenda</span></a>

                <a href="#presenters" class="btn btn-light page-scroll"> <span class="network-name">Presenters</span></a>
            </div>
 
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- Page Content -->
    <section id="overview">
      <div class="content-section-a">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-sm-12">
  
              <h2 class="section-heading">Increase Automotive Simulation Accuracy, Efficiency with Pointwise Meshing Flexibility</h2>
              <hr class="section-heading-spacer" />
  
              <div class="clearfix"></div>
  
              <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">

                  <p class="landing-lead para-pad"><strong>
                    The Pointwise for Automotive Workshop is over but you can still download the presentations.
                  </strong></p>
  
                  <p class="cta-space">
                  <!--HubSpot Call-to-Action Code --><span class="hs-cta-wrapper" id="hs-cta-wrapper-bbde346d-4c6e-40bf-b1ff-44b0d87dab79"><span class="hs-cta-node hs-cta-bbde346d-4c6e-40bf-b1ff-44b0d87dab79" id="hs-cta-bbde346d-4c6e-40bf-b1ff-44b0d87dab79"><!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]--><a href="https://cta-redirect.hubspot.com/cta/redirect/3788790/bbde346d-4c6e-40bf-b1ff-44b0d87dab79" ><img class="hs-cta-img" id="hs-cta-img-bbde346d-4c6e-40bf-b1ff-44b0d87dab79" style="border-width:0px;" src="https://no-cache.hubspot.com/cta/default/3788790/bbde346d-4c6e-40bf-b1ff-44b0d87dab79.png"  alt="Learn More"/></a></span><script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script><script type="text/javascript"> hbspt.cta.load(3788790, 'bbde346d-4c6e-40bf-b1ff-44b0d87dab79', {}); </script></span><!-- end HubSpot Call-to-Action Code -->
                  </p>
    
                  <p class="landing-lead para-pad">
                    Pointwise has been used for many years in a variety of industries. In the automotive industry, Pointwise is well suited for cases that demand high accuracy and the flexibility to use different mesh topologies to meet varying requirements in different parts of the flow domain. Examples are external aerodynamics, where automated unstructured grids can be used in complex geometry locations, and structured grids can be used in the remaining areas for more accurate, efficient simulations; and fuel injectors, where narrow passages can be automatically resolved with fewer cells using Pointwise’s T-Rex technique. Using fewer cells leads to quicker turnaround times of CFD simulations.
                  </p>
                  <p class="landing-lead para-pad">
                    Recent work in Pointwise has increasingly automated the mesh generation process so mesh generation turnaround times can be decreased as well. The T-Rex, anisotropic tetrahedral extrusion technique, in particular, automatically generates layers of regular high aspect ratio hexahedral cells to resolve boundary layers while conforming to specified spacing, quality, and interference specifications. The end result is high-quality cells generated quickly in an automated process.
                  </p>
                  <p class="landing-lead para-pad">
                    In the workshop we will conduct live, interactive demonstrations of Pointwise meshing the DrivAer automotive test case, and we will present technical background information about the how and why of the meshing techniques developed and honed with many years of experience in Pointwise.
                  </p>
                  <p class="landing-lead para-pad">
                    This event is free to attend, but registration is required. Attendees do not have to be customers of Pointwise.
                  </p>
                </div>

                <!-- SPACE -->
                <div class="col-lg-1 col-md-1"></div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">

                  <h4>Share This</h4>
                    <svg class="nav-lines">
                      <line class="nav-blue-social" x1="0" y1="1" x2="120" y2="1"/>
                      <line class="nav-grey-social" x1="120" y1="1" x2="275" y2="1"/>
                    </svg>
                  <div class="social-share">
                    <!-- Facebook Like Button -->
                    <a href="http://www.facebook.com/share.php?u=https://www.pointwise.com/workshops/2019-11-Automotive/?utm_campaign=Workshop_Automotive_2019&utm_source=SocialMedia-Sharebar&utm_medium=Workshop_Automotive_2019&title=Pointwise for Automotive Workshop" target="_blank"><img data-src="../images/Round-Facebook-30x30.svg" width="30px" alt="Facebook Icon" class="img-fluid"/></a>
                
                    <!-- Twitter Share Button -->
                    <a href="http://twitter.com/intent/tweet?status=Pointwise for Automotive Workshop+https://www.pointwise.com/workshops/2019-11-Automotive/?utm_campaign=Workshop_Automotive_2019&utm_source=SocialMedia-Sharebar&utm_medium=Workshop_Automotive_2019"><img data-src="../images/Round-Twitter-30x30.svg" width="30px" alt="Twitter Icon" class="img-fluid"/></a>
                
                    <!-- LinkedIn Share Button -->
                    <a href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.pointwise.com/workshops/2019-11-Automotive/?utm_campaign=Workshop_Automotive_2019&utm_source=SocialMedia-Sharebar&utm_medium=Workshop_Automotive_2019&title=Pointwise for Automotive Workshop&source=http://www.pointwise.com"><img data-src="../images/Round-LinkedIn-30x30.svg" width="30px" alt="LinkedIn Icon" class="img-fluid"/></a>
                
                    <!-- Share by Email -->
                    <script type="text/javascript">
                      function shareByEmail() {
                      var link = "mailto:"
                      + "&subject=" + escape(document.title)
                      + "&body=" + escape(window.location) ;
                      window.location.href= link;
                      }
                    </script>
                    <a href="mailto:">
                      <img data-src="../images/Round-Email-30x30.svg" width="30px"
                      alt="email icon" class="img-fluid"
                      onclick="shareByEmail(); return false"/></a>
                  </div>

                </div>
  
              </div>
            </div>
  
          </div>
        </div>
      </div>
    </section>

  <section id="date">
    <div class="content-section-b">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <h2 class="section-heading">Date and Location</h2>
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>

          <p>
            <strong>Date</strong><br>
          </p>

          <p>
            14 November 2019
          </p>

          <p>
            <strong>Location</strong>
          </p>

          <p>
            <a href="https://www.maritim.de/de/hotels/deutschland/hotel-muenchen/unser-hotel#hotel_content" target="_blank" rel="noreferrer noopener">Maritim Hotel M&uuml;nchen</a><br>
            Goethestra&szlig;e 7<br>
            80336 M&uuml;nchen<br>
            Room: TBD
          </p>

        </div>

        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
    
                <h2 class="section-heading">Agenda</h2>
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
    
                <table class="table table-striped">
                  <tr>
                    <th colspan="2">Wednesday, 13 November 2019</th>
                  </tr>
                  <tr>
                    <td class="col-lg-2 col-sm-3 col-xs-3">13:00-17:00</td>
                    <td class="col-lg-10 col-sm-9 col-xs-9">Advance Your Meshing - Consultation Time</td>
                  </tr>
                </table>
    
                <table class="table table-striped">
                  <tr>
                    <th colspan="2">Thursday, 14 November 2019</th>
                  </tr>
                  <tr>
                    <td class="col-lg-2 col-sm-3 col-xs-3">9:30</td>
                    <td class="col-lg-10 col-sm-9 col-xs-9">Registration/Coffee and Snacks</td>
                  </tr>
                  <tr>
                    <td>10:00</td>
                    <td><em>Welcome and Introductions</em><br>
                    Rick Matus, Ph.D., Pointwise, Inc.</td>
                  </tr>
                  <tr>
                    <td>10:15</td>
                    <td><em>Pointwise Technology Overview</em><br>
                    Rick Matus, Ph.D., Pointwise, Inc.</td>
                  </tr>
                  <tr>
                    <td>11:00</td>
                    <td><em>Interactive Pointwise Meshing Demonstration – DrivAer Test Case</em><br>
                    Rick Matus, Ph.D., Pointwise, Inc.</td>
                  </tr>
                  <tr>
                    <td>12:00</td>
                    <td>Lunch</td>
                  </tr>
                  <tr>
                    <td>13:00</td>
                    <td><em>Automotive Test Case, DrivAer Optimization</em><br>
                    Uli Fuchs, CFD Beratung</td>
                  </tr>
                  <tr>
                    <td>13:45</td>
                    <td><em>Interactive Pointwise Meshing Demonstration – Intake Manifold</em><br>
                    Uli Fuchs, CFD Beratung</td>
                  </tr>
                  <tr>
                    <td>14:45</td>
                    <td>Break</td>
                  </tr>
                  <tr>
                    <td>15:00</td>
                    <td><em>Automotive Test Case</em><br>
                    Uli Fuchs, CFD Beratung</td>
                  </tr>
                  <tr>
                    <td>15:45</td>
                    <td>Questions and Answers</td>
                  </tr>
                  <tr>
                    <td>17:00</td>
                    <td>Close</td>
                  </tr>
                </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="presenters">
    <div class="content-section-a">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-sm-12">
            <h2 class="section-heading">Workshop Presenters</h2>
            <hr class="section-heading-spacer" />
    
            <div class="clearfix"></div>
              <div class="row">

                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                  <img data-src="images/rick-matus-1000x1000.jpg" class="img-fluid" alt="Rick Matus Photo" />
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                  <h2>Rick Matus</h2>
                  <p>
                    Rick Matus joined Pointwise during its first year of operation. He leads the sales and marketing activities. Previously, Dr. Matus was product manager for the RAMPANT CFD solver, predecessor of Fluent, at Fluent, Inc. and for several years supervised and performed applied CFD at General Dynamics Fort Worth Division. Dr. Matus earned a B.S. in aerospace engineering from Texas A&M University in 1980, an M.S. in aerospace engineering from Texas A&M in 1981, and a Ph.D. in aerospace engineering from the University of Texas at Arlington in 1986.
                  </p>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                  <img data-src="images/uli-fuchs-1000x1000.jpg" class="img-fluid" alt="Uli Fuchs Photo" />
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                  <h2>Uli Fuchs</h2>
                  <p>
                    Uli Fuchs, the owner of CFD Beratung, studied aerospace engineering at Universität Stuttgart until 1990. After leaving university, he worked at a company with a small CFD group using PHOENICS. Some years later, he joined the newly founded German branch of AEA Technology supporting their CFD codes CFX-4 and CFX-5. Mr. Fuchs co-founded CFD Consultants GmbH to provide CFD services. This venture led him to create CFD Beratung in 2003 and become the Pointwise distributor in Germany, Austria, and Switzerland.
                  </p>
                </div>

              </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- FOOTER -->
  <% include ../../partials/footer %>

  <!-- JAVASCRIPT -->
  <% include ../../partials/js-includes %>

</body>
</html>
