<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Analytics -->
    <% include ../../partials/ga-includes %>

    <!-- META SETTINGS -->
    <% include ../../partials/meta-settings.ejs %>

	<!-- PAGE TITLE -->
	<title>Presentations from the Pointwise for Marine CFD Simulation Workshop</title>

	<meta name="robots" content="noindex">

	<!-- CSS FILES -->
	<% include ../../partials/css-includes %>

</head>

<body id="page-top">

	<!-- TOP NAVIGATION -->
	<% include ../../partials/navbar %>

	<div class="hamburg-workshop-intro">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="intro-message-pw">
						<h1>Presentations from the Pointwise for Marine CFD Simulation Workshop</h1>
						<hr class="intro-divider">
					</div>
				</div>
			</div>
		</div>
	</div>

			<div class="container">
				<div class="row">
					<div class="col-lg-8">

						<div class="cta-space">
							<p>
								Thank you for your interest in the presentations from the Pointwise for Marine CFD Simulation Workshop. Click the download button(s) below to download the presentations you want.
							</p>
							<p>
								If you would like to explore more about Pointwise marine applications, check out You May Also Like on the right side of this page.
							</p>
						</div>

				<!-- ========== Presentation 1 ========== -->
					<h3>Pointwise Technology Overview</h3>

					<!-- CTA -->
					<!--HubSpot Call-to-Action Code --><span class="hs-cta-wrapper" id="hs-cta-wrapper-0051e4c4-d6c2-4cf1-8c81-a64b568266dc"><span class="hs-cta-node hs-cta-0051e4c4-d6c2-4cf1-8c81-a64b568266dc" id="hs-cta-0051e4c4-d6c2-4cf1-8c81-a64b568266dc"><!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]--><a href="https://cta-redirect.hubspot.com/cta/redirect/3788790/0051e4c4-d6c2-4cf1-8c81-a64b568266dc" ><img class="hs-cta-img" id="hs-cta-img-0051e4c4-d6c2-4cf1-8c81-a64b568266dc" style="border-width:0px;" src="https://no-cache.hubspot.com/cta/default/3788790/0051e4c4-d6c2-4cf1-8c81-a64b568266dc.png"  alt="Download"/></a></span><script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script><script type="text/javascript"> hbspt.cta.load(3788790, '0051e4c4-d6c2-4cf1-8c81-a64b568266dc', {}); </script></span><!-- end HubSpot Call-to-Action Code -->

				<hr />

				<!-- ========== Presentation 2 ========== -->
					<h3>KCS Ship and Hex Core Meshing Case Study</h3>

					<!-- CTA -->
					<!--HubSpot Call-to-Action Code --><span class="hs-cta-wrapper" id="hs-cta-wrapper-86887ab9-3322-4223-bf22-4b5dd3751031"><span class="hs-cta-node hs-cta-86887ab9-3322-4223-bf22-4b5dd3751031" id="hs-cta-86887ab9-3322-4223-bf22-4b5dd3751031"><!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]--><a href="https://cta-redirect.hubspot.com/cta/redirect/3788790/86887ab9-3322-4223-bf22-4b5dd3751031" ><img class="hs-cta-img" id="hs-cta-img-86887ab9-3322-4223-bf22-4b5dd3751031" style="border-width:0px;" src="https://no-cache.hubspot.com/cta/default/3788790/86887ab9-3322-4223-bf22-4b5dd3751031.png"  alt="Download"/></a></span><script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script><script type="text/javascript"> hbspt.cta.load(3788790, '86887ab9-3322-4223-bf22-4b5dd3751031', {}); </script></span><!-- end HubSpot Call-to-Action Code -->

				<hr />

				<!-- ========== Presentation 3 ========== -->
						<h3>Mesh Topology Study for the Potsdam Propeller Test Case</h3>

					<!-- CTA -->
					<!--HubSpot Call-to-Action Code --><span class="hs-cta-wrapper" id="hs-cta-wrapper-3f398785-c1db-4d73-b525-b02d2356c278"><span class="hs-cta-node hs-cta-3f398785-c1db-4d73-b525-b02d2356c278" id="hs-cta-3f398785-c1db-4d73-b525-b02d2356c278"><!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]--><a href="https://cta-redirect.hubspot.com/cta/redirect/3788790/3f398785-c1db-4d73-b525-b02d2356c278" ><img class="hs-cta-img" id="hs-cta-img-3f398785-c1db-4d73-b525-b02d2356c278" style="border-width:0px;" src="https://no-cache.hubspot.com/cta/default/3788790/3f398785-c1db-4d73-b525-b02d2356c278.png"  alt="Download"/></a></span><script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script><script type="text/javascript"> hbspt.cta.load(3788790, '3f398785-c1db-4d73-b525-b02d2356c278', {}); </script></span><!-- end HubSpot Call-to-Action Code -->

				<hr />

			</div>

			<div class="col-lg-1">
			</div>

			<div class="col-lg-3">

				<div class="conn-nav-home">
					<div class="input-group">
						<label for="search"><h4>Search Articles</h4>
						<svg class="nav-lines">
							<line class="nav-blue-search" x1="0" y1="1" x2="130" y2="1"/>
							<line class="nav-grey-search" x1="130" y1="1" x2="275" y2="1"/>
						</svg>
					</label>
						<input type="text" id="search" class="form-control st-default-search-input">
					</div>
				</div>

				<div class="lets-talk-nav">
					<h4>You May Also Like</h4>
					<svg class="nav-lines">
						<line class="nav-blue-ymal" x1="0" y1="1" x2="180" y2="1"/>
						<line class="nav-grey-ymal" x1="180" y1="1" x2="275" y2="1"/>
					</svg>

					<img data-src="images/ymal1.png" class="img-fluid" alt="Submarine model" />
					<p>
						<a href="../../marine/">Meshing Solutions for the Marine Industry</a>
					</p>

					<hr />

					<img data-src="images/ymal2.png" class="img-fluid" alt="Voxel mesh" />
					<p>
						<a href="https://info.pointwise.com/new-features-v-18-3">New Features in Pointwise V18.3</a>
					</p>

					<hr />

					<img data-src="images/ymal3.png" class="img-fluid" alt="unstructured mesh"  />
					<p>
						<a href="https://info.pointwise.com/webinar-unstructured-quad-hex-meshing">Unstructured Quad & Hex Meshing Using Pointwise
						</a>
					</p>
				</div>

			</div>
		</div>
	</div>


<!-- FOOTER -->
<% include ../../partials/footer %>

	<!-- JAVASCRIPT -->
	<% include ../../partials/js-includes %>
</body>
</html>
