<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Analytics -->
    <% include ../partials/ga-includes %>

    <!-- META SETTINGS -->
    <% include ../partials/meta-settings.ejs %>

    <!-- PAGE TITLE -->
    <title>Your Privacy at Pointwise</title>

    <!-- OG TAGS -->
    <meta property="og:url" content="https://www.pointwise.com/legal/privacy.html"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Your Privacy at Pointwise"/>
    <meta property="og:description"
          content="We do not collect personal information about you unless you voluntarily provide it to us and we collect, process and use personal information only for performing the relevant service selected by you."/>

    <!-- META DATA -->
    <meta name="description"
          content="We do not collect personal information about you unless you voluntarily provide it to us and we collect, process and use personal information only for performing the relevant service selected by you.">
    <meta name="keywords"
          content="cfd meshing, mesh generation, grid generation, computational fluid dynamics, mesh generator, cfd software, cfd consultants, mesh software, grid software, fluid dynamics modeling"/>

    <!-- CSS FILES -->
    <% include ../partials/css-includes %>

</head>

<body id="page-top">

<noscript>
    <p>
        In order to view this page JavaScript must be enabled in your browser.
    </p>
</noscript>

<!-- TOP NAVIGATION -->
<% include ../partials/navbar %>

<div class="container">
    <div class="row">

        <div class="col-lg-8">

            <h1>Your Privacy at Pointwise</h1>

            <p>
                We do not collect personal information about you unless you voluntarily provide it to us and we collect,
                process and use personal information only for performing the relevant service selected by you. That
                information may be gathered when you come onto our website, speak with us on the telephone, send us a
                fax, contact us by email, or communicate with us orally.
            </p>

            <p>
                The personal information that may be gathered includes your name, fax, telephone number, street address
                and e-mail address. You may also be asked for further information about yourself such as your job
                category and your industry type, your company name and job title, and the number of people in your
                company.
            </p>

            <p>
                When you purchase products we may collect your credit card number, its expiration date and similar
                payment information. For your protection, we hold your information on our specialized systems for use by
                our personnel who assist you in your purchase. We provide your credit card information to the credit
                card processing company to charge you for your purchases. Order fulfillment is performed by us, not an
                external organization.
            </p>

            <p>
                We will use best efforts to not transfer information that personally identifies you to anyone else
                without your knowledge and approval at the time it is collected from you. If you are located in a
                territory served by one of our distributors, we will share your information with them so they may
                follow-up with you directly. You will also have the opportunity then to indicate whether you wish to
                decline to receive promotional or marketing material about other products and services of our company or
                others. Please note, however, that we do intend to contact you about matters that affect your on-going
                use of our products and relationship with our company.
            </p>

            <p>
                Upon your request, we will assist you to review, to delete or to correct or update your personal
                information that you have previously provided. If at any time you believe that we have not adhered to
                our policy with respect to protecting your privacy, or if you have questions regarding the collecting
                and/or use of your personal information or regarding our privacy policy, please contact us. We will use
                all commercially reasonable efforts to promptly address your concern.
            </p>

            <p>
                To unsubscribe from our mailing list, send an email to <a href="mailto:unsubscribe@pointwise.com">unsubscribe@pointwise.com</a>
                with Unsubscribe in the subject line.
            </p>

            <p>
                For all other inquiries and requests regarding your privacy, send an email to <a
                        href="mailto:privacy@pointwise.com">privacy@pointwise.com</a> with Privacy in the subject line.
            </p>
        </div>

        <!-- Space Between Columns -->
        <div class="col-lg-1">
        </div>

        <!--Right column-->
        <div class="col-lg-3">

            <h4>More About Pointwise</h4>
            <svg class="nav-lines">
                <line class="nav-blue-subscribe" x1="0" y1="1" x2="210" y2="1"/>
                <line class="nav-grey-subscribe" x1="200" y1="1" x2="275" y2="1"/>
            </svg>
            <div class="side-nav">
                <p><a href="../news/">News</a></p>
                <p><a href="../events/">Events</a></p>
                <p><a href="../sales/">Sales Offices</a></p>
                <p><a href="../contact/">Contact Us</a></p>
                <p><a href="../about/travel.html">Visit Us</a></p>
                <p><a href="../about/bicocchi.html">Our Century-Old Building</a></p>
                <p><a href="../careers/">Open Positions</a></p>
                <p><a href="../about/staff.html">Staff</a></p>
                <p><a href="../about/partners.html">Partners</a></p>
            </div>

        </div>

    </div>
</div>

<!-- FOOTER -->
<% include ../partials/footer %>

<!-- JAVASCRIPT -->
<% include ../partials/js-includes %>
</body>
</html>
