<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Analytics -->
    <% include ../../partials/ga-includes %>

    <!-- META SETTINGS -->
    <% include ../../partials/meta-settings.ejs %>

	<!-- PAGE TITLE -->
	<title>Webcast | Introduction to Scripting in Pointwise</title>

	<!-- OG TAGS -->
	<meta property="og:url" content="https://www.pointwise.com/webcasts/2015-02/Introduction-Scripting-in-Pointwise.html" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Webcast | Introduction to Scripting in Pointwise" />
	<meta property="og:description" content="In this Let's Talk Meshing video, we present a basic introduction to scripting in Pointwise and lay the framework for customization of the meshing process through scripts." />
	<meta property="og:image" content="https://www.pointwise.com/webcasts/2015-02/Scripting-Image-800x500.png" />

	<!-- META DATA -->
	<meta name="description" content="In this Let's Talk Meshing video, we present a basic introduction to scripting in Pointwise and lay the framework for customization of the meshing process through scripts.">
	<meta name="keywords" content="cfd meshing, mesh generation, grid generation, computational fluid dynamics, mesh generator, cfd software, cfd consultants, mesh software, grid software, fluid dynamics modeling" />

	<!-- CSS FILES -->
	<% include ../../partials/css-includes %>

</head>

<body id="page-top">

	<!-- TOP NAVIGATION -->
	<% include ../../partials/navbar %>

	<div class="container">
		<div class="row">

			<div class="col-lg-8">
				<h1>Introduction to Scripting in Pointwise</h1>

				<!-- 16:9 aspect ratio -->
				<div class="lets-talk-video embed-responsive embed-responsive-16by9">
					<iframe width="560" height="315" title="Introduction to Scripting in Pointwise Video" src="https://www.youtube.com/embed/o-9JtzqDrGY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>

				<div class="table-responsive">
					<h2>Downloads</h2>
					<table class="table table-striped table-bordered">

						<tr>
							<th>Description</th>
							<th>Format</th>
							<th>File Name</th>
							<th>File Size [MB]</th>
						</tr>

						<tr>
							<td>Webcast Video File</td>
							<td>MP4</td>
							<td><a href="Pointwise-Webcast-Introduction-to-Scripting-in-Pointwise.mp4">Pointwise-Webcast-Introduction-to-Scripting-in-Pointwise.mp4</a></td>
							<td>41</td>
						</tr>

						<tr>
							<td>Pointwise Project File</td>
							<td>PW</td>
							<td><a href="Example-Triangle.pw">Example-Triangle.pw</a></td>
							<td>1</td>
						</tr>

						<tr>
							<td>Simple Script</td>
							<td>GLF</td>
							<td><a href="squeezeCon-Simple-Comments.glf">squeezeCon-Simple-Comments.glf</a></td>
							<td>1</td>
						</tr>

						<tr>
							<td>Full Script (via GitHub):</td>
							<td>GLF</td>
							<td><a href="https://github.com/pointwise/SqueezeCon">https://github.com/pointwise/SqueezeCon</a></td>
							<td>1</td>
						</tr>

					</table>
				</div>

				<p>
					[11 Feb 2015] In this Let's Talk Meshing video, we present a basic introduction to scripting in Pointwise and lay the framework for customization of the meshing process through scripts. Scripting in Pointwise is accomplished with Glyph, an extension of Tcl.
				</p>

				<div class="text-center">
					<img data-src="Scripting-Image-800x500.png" alt="Creating a script in Pointwise can be a quick process with the right approach." class="img-fluid center-block"/>
					<figcaption>
						Creating a script in Pointwise can be a quick process with the right approach.
					</figcaption>
				</div>

				<p>
					We present suggested practices for developing scripts, as well as provide references and techniques for determining the relevant scripting commands and syntax. We begin with the basic syntax of both Tcl and Glyph and then dissect a script from Pointwise's journal to demonstrate the ease of getting started with scripting.
				</p>

				<div class="disqus" id="disqus_thread"></div>
				<script>

				/**
				*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
				*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
				/*
				var disqus_config = function () {
				this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
				this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
			};
			*/
			(function() { // DON'T EDIT BELOW THIS LINE
			var d = document, s = d.createElement('script');
			s.src = '//letstalkmeshing.disqus.com/embed.js';
			s.setAttribute('data-timestamp', +new Date());
			(d.head || d.body).appendChild(s);
		})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

</div>


<div class="col-lg-1">
</div>

<div class="col-lg-3">

	<div class="conn-nav-home">
		<div class="input-group">
			<label for="search"><h4>Search Events</h4>
			<svg class="nav-lines">
				<line class="nav-blue-search" x1="0" y1="1" x2="130" y2="1"/>
				<line class="nav-grey-search" x1="130" y1="1" x2="275" y2="1"/>
			</svg>
		</label>
			<input type="text" id="search" class="form-control st-default-search-input">
		</div>
	</div>

	<div class="lets-talk-nav">
		<h4>Share This</h4>
		<svg class="nav-lines">
			<line class="nav-blue-social" x1="0" y1="1" x2="100" y2="1"/>
			<line class="nav-grey-social" x1="100" y1="1" x2="275" y2="1"/>
		</svg>
		<div class="social-share">

			<!-- Facebook Like Button -->
			<a href="http://www.facebook.com/share.php?u=http://pointwise.com/webcasts/2015-02/Introduction-Scripting-in-Pointwise.html&title=Introduction to Scripting in Pointwise" target="_blank" rel="noreferrer noopener"><img data-src="../../solutions/images/Round-Facebook-30x30.svg" width="30px" alt="Facebook Icon" class="img-fluid"/></a>

			<!-- Twitter Share Button -->
			<a href="http://twitter.com/intent/tweet?status=Introduction to Scripting in Pointwise+http://www.pointwise.com/webcasts/2015-02/Introduction-Scripting-in-Pointwise.html"><img data-src="../../solutions/images/Round-Twitter-30x30.svg" width="30px" alt="Twitter Icon" class="img-fluid"/></a>

			<!-- LinkedIn Share Button -->
			<a href="http://www.linkedin.com/shareArticle?mini=true&url=http://www.pointwise.com/webcasts/2015-02/Introduction-Scripting-in-Pointwise.html&title=Introduction to Scripting in Pointwise&source=http://www.pointwise.com"><img data-src="../../solutions/images/Round-LinkedIn-30x30.svg" width="30px" alt="LinkedIn Icon" class="img-fluid"/></a>

			<!-- Share by Email -->
			<script type="text/javascript">
			function shareByEmail() {
				var link = "mailto:"
				+ "&subject=" + escape(document.title)
				+ "&body=" + escape(window.location) ;
				window.location.href= link;
			}
		</script>
		<a href="mailto:">
			<img data-src="../../solutions/images/Round-Email-30x30.svg" width="30px"
			alt="email icon" class="img-fluid"
			onclick="shareByEmail(); return false"/></a>
		</div>
	</div>

	<div class="lets-talk-nav">
		<h4>You May Also Like</h4>
		<svg class="nav-lines">
			<line class="nav-blue-ymal" x1="0" y1="1" x2="180" y2="1"/>
			<line class="nav-grey-ymal" x1="180" y1="1" x2="275" y2="1"/>
		</svg>

		<img data-src="ymal1.png" class="img-fluid" alt="Automating Viscous Meshing for a Transonic Aircraft Model Using Glyph Scripting" />
		<p>
			<a href="http://info.pointwise.com/webinar-automating-viscous-meshing-model-using-glyph-scripting">Automating Viscous Meshing for a Transonic Aircraft Model Using Glyph Scripting</a>
		</p>

		<hr />

		<img data-src="ymal2.png" class="img-fluid" alt="Getting Started with Glyph Scripting" />
		<p>
			<a href="http://info.pointwise.com/webinar-getting-started-glyph-scripting">Getting Started with Glyph Scripting</a>
		</p>

		<hr />

		<img data-src="ymal3.png" class="img-fluid" alt="Glyph Scripting with Python in Pointwise"  />
		<p>
			<a href="http://info.pointwise.com/webinar-glyph-scripting-python-pointwise">Glyph Scripting with Python in Pointwise</a>
		</p>
	</div>


</div>
</div>

</div>

<!-- FOOTER -->
<% include ../../partials/footer %>

	<!-- JAVASCRIPT -->
	<% include ../../partials/js-includes %>

</body>
</html>
