<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Analytics -->
    <% include ../../partials/ga-includes %>

    <!-- META SETTINGS -->
    <% include ../../partials/meta-settings.ejs %>

  <!-- PAGE TITLE -->
  <title>Gridgen User Group Meeting 2005</title>

  <!-- OG TAGS -->
  <meta property="og:url" content="https://www.pointwise.com/user-meeting/2005/index.html" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Gridgen User Group Meeting 2005" />
  <meta property="og:description" content="Pointwise's second Gridgen User Group Meeting was held on April 25-26, 2005 at the Renaissance Worthington Hotel in our hometown of Fort Worth, Texas. " />

  <!-- META DATA -->
  <meta name="description" content="Pointwise's second Gridgen User Group Meeting was held on April 25-26, 2005 at the Renaissance Worthington Hotel in our hometown of Fort Worth, Texas. ">
  <meta name="keywords" content="cfd meshing, mesh generation, grid generation, computational fluid dynamics, mesh generator, cfd software, cfd consultants, mesh software, grid software, fluid dynamics modeling" />

  <!-- CSS FILES -->
  <% include ../../partials/css-includes %>

</head>

<body id="page-top">

	<noscript>
		<p>
			In order to view this page JavaScript must be enabled in your browser.
		</p>
	</noscript>

	<!-- TOP NAVIGATION -->
	<% include ../../partials/navbar %>

  <!-- Page Content -->
  <div class="container">
    <div class="row">

      <div class="col-lg-8">

        <h1>Gridgen User Group Meeting 2005</h1>

        <p>
          Pointwise's second Gridgen User Group Meeting was held on April 25-26, 2005 at the Renaissance Worthington Hotel in our hometown of Fort Worth, Texas. It was a great success and brought together our customers, our partners, and our staff for two days of intense sharing of meshing expertise.
        </p>

        <p>
          Our keynote presentation was titled "Sustainable Improvements in Analysis Throughput - a DOE Perspective" by Dr. Ted Blacker of Sandia National Laboratories. Dr. Blacker currently manages DART, a large portfolio of DOE funded projects aimed at significantly reducing overall design through analysis times. He also spent eight years at Fluent, Inc. where he led a team that developed Fluent's GAMBIT preprocessing product. Dr. Blacker received his PhD in Theoretical and Applied Mechanics from Northwestern University in 1993.
        </p>

        <h2>CFD Gallery & Exhibits</h2>

        <div class="row">
          <div class="col-lg-2">
            <img data-src="images/cd-adapco-logo-100x70.png" alt="CD-adapco Logo" class="img-fluid" />
          </div>
          <div class="col-lg-2">
            <img data-src="images/fluent-logo-100x70.png" alt="Fluent Logo" class="img-fluid" />
          </div>
          <div class="col-lg-2">
            <img data-src="images/fieldview-logo-100x70.png" alt="FIELDVIEW Logo" class="img-fluid" />
          </div>
          <div class="col-lg-2">
            <img data-src="images/optimal-logo-100x95.png" alt="Optimal Solutions Logo" class="img-fluid" />
          </div>
          <div class="col-lg-2">
            <img data-src="images/sgi-logo-88x70.png" alt="sgi Logo" class="img-fluid" />
          </div>
        </div>

        <h2>Agenda</h2>

        <div class="table-responsive">
          <table class="table">

            <tr>
              <th>Day</th>
              <th>Time</th>
              <th>Event</th>
              <th>Room</th>
              <th>Event</th>
              <th>Room</th>
            </tr>

            <tr>
              <td>Mon, April 25</td>
              <td>&nbsp;8:00 - &nbsp;8:30</td>
              <td>Registration &amp;<br /> Continental Breakfast</td>
              <td>Foyer</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>

            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;8:30 - 10:00</td>
              <td>Gridgen V15 New Features</td>
              <td>Trinity Central</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>

            <tr>
              <td>&nbsp;</td>
              <td>10:00 - 10:15</td>
              <td>Break</td>
              <td>West Fork I</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>

            <tr>
              <td>&nbsp;</td>
              <td>10:15 - 12:00</td>
              <td>Glyph Scripting</td>
              <td>Trinity Central</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>

            <tr>
              <td>&nbsp;</td>
              <td>12:00 - &nbsp;1:30</td>
              <td>Buffet Lunch</td>
              <td>West Fork I</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>

            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;1:30 - &nbsp;3:00</td>
              <td>Glyph Scripting cont'</td>
              <td>Trinity Central</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>

            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;3:00 - &nbsp;3:30</td>
              <td>Break for Dessert</td>
              <td>Foyer</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>

            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;3:30 - &nbsp;5:30</td>
              <td>1-on-1 Tech Meetings</td>
              <td>West Fork I</td>
              <td>V16 Advisory Team Mtg.</td>
              <td>West Fork II</td>
            </tr>

            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;6:30 - &nbsp;8:00</td>
              <td>Welcome Reception &amp;<br /> Vendor Exhibits</td>
              <td>Foyer</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>

            <tr>
              <td>Tue, April 26</td>
              <td>&nbsp;8:00 - &nbsp;8:30</td>
              <td colspan="3">Registration,<br />Continental Breakfast, &amp; Vendor Exhibits</td>
              <td>Trinity Central</td>
            </tr>

            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;8:30 - &nbsp;8:45</td>
              <td colspan="3">Welcome &amp; Introductions</td>
              <td>Trinity Central</td>
            </tr>

            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;8:45 - &nbsp;9:30</td>
              <td colspan="3">Current Status of Gridgen</td>
              <td>Trinity Central</td>
            </tr>

            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;9:30 - 10:15</td>
              <td colspan="3">Keynote Speaker<br />Ted Blacker, Sandia National Laboratory<br /><em>Sustainable Improvements in Analysis Throughput - a DOE Perspective</em></td>
              <td>Trinity Central</td>
            </tr>

            <tr>
              <td>&nbsp;</td>
              <td>10:15 - 10:45</td>
              <td colspan="3">Break &amp; Vendor Exhibits</td>
              <td>Trinity Central</td>
            </tr>

            <tr>
              <td>&nbsp;</td>
              <td>10:45 - 11:15</td>
              <td colspan="3">Cindy Rakowski, Pacific Northwest National Laboratory<br /><em>Mesh and Mesh Again: Use and Reuse of Environmental CFD Applications</em></td>
              <td>Trinity Central</td>
            </tr>

            <tr>
              <td>&nbsp;</td>
              <td>11:15 - 11:45</td>
              <td colspan="3">Vineet Ahuja, CRAFT Tech<br /><em>Applications of Automated Grid Generation Using Glyph</em></td>
              <td>Trinity Central</td>
            </tr>

            <tr>
              <td>&nbsp;</td>
              <td>11:45 - &nbsp;1:30</td>
              <td colspan="3">Lunch</td>
              <td>West Fork I &amp; II</td>
            </tr>

            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;1:30 - &nbsp;2:00</td>
              <td colspan="3">David L. Vaughn, Engineous Software<br /><em>Process Integration and Design Optimization with Gridgen and iSIGHT</em></td>
              <td>Trinity Central</td>
            </tr>

            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;2:00 - &nbsp;2:30</td>
              <td colspan="3">Cyrille Br&eacute;ard, Analytical Methods<br /><em>Winglet/Spiroid Design for Commercial Aircraft using NSAERO and GRIDGEN</em></td>
              <td>Trinity Central</td>
            </tr>

            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;2:30 - &nbsp;3:30</td>
              <td colspan="3">CFD Gallery</td>
              <td>Foyer</td>
            </tr>

            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;3:30 - &nbsp;4:00</td>
              <td colspan="3">Ivor Annetts, Advantage CFD<br />
                <em>Design Optimisation with CFD and Mesh Deformation Techniques</em></td>
                <td>Trinity Central</td>
              </tr>

              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;4:00 - &nbsp;4:30</td>
                <td colspan="3">Ashvin Mahajan, Iowa State Univ.<br /><em>Solution and Grid Adaptation Using Direct Methods</em></td>
                <td>Trinity Central</td>
              </tr>

              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;4:30 - &nbsp;5:00</td>
                <td colspan="3">The Future of Gridgen</td>
                <td>Trinity Central</td>
              </tr>

            </table>
          </div>

        </div>

        <!-- Space between columns -->
        <div class="col-lg-1">
        </div>

      <!-- Column Contents -->
      <div class="col-lg-3">
          <!-- Side Nav -->
          <% include ../../partials/nav-ugm %>
      </div>

    </div>
  </div>

    <!-- FOOTER -->
    <% include ../../partials/footer %>

    <!-- JAVASCRIPT -->
    <% include ../../partials/js-includes %>

</body>
</html>