<!DOCTYPE html>
<html lang="en">
<head>

    <!-- PAGE TITLE -->
    <title>Add a New Training Page</title>

    <!-- CSS FILES -->
    <% include ../../partials/css-includes %>

</head>

<body id="page-top">

<!-- TOP NAVIGATION -->
<% include ../../partials/navbar %>

<div class="container">
    <div class="row">

        <div class="col-lg-8">

    <h1>Add a New Training Page/Topic</h1>

    <form action="./" method="POST">

        <div class="form-group">
            <label for="title" class="control-label">Title</label>
            <input name="training[title]" type="text" class="form-control" id="title" placeholder="Page Title" required>
        </div>

        <div class="form-group">
            <label for="slug" class="control-label">Slug</label>
            <input name="training[slug]" type="text" class="form-control" id="slug" placeholder="URL slug">
        </div>

        <div class="form-group">
            <label for="description" class="control-label">Description</label>
            <textarea name="training[description]" type="text" class="form-control" rows="5" required>150 Character Description</textarea>
        </div>

        <div class="form-group">
            <label for="copy" class="control-label">Page Copy</label>
            <textarea name="training[copy]" type="text" class="form-control" placeholder="Full body with HTML markup here" required></textarea>
        </div>

        <button class="btn btn-primary" type="submit">Submit</button>

    </form>
</div>
</div>
</div>

<!-- FOOTER -->
<% include ../../partials/footer %>

<!-- JAVASCRIPT -->
<% include ../../partials/js-includes %>

</body>
</html>
