<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Analytics -->
    <% include ../partials/ga-includes %>

    <!-- META SETTINGS -->
    <% include ../partials/meta-settings.ejs %>

  <!-- PAGE TITLE -->
  <title>Pointwise User Group Meeting 2018 - Agenda</title>

  <!-- OG TAGS -->
  <meta property="og:url" content="https://www.pointwise.com/user-meeting/agenda.html" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Pointwise User Group Meeting 2018 - Agenda" />
  <meta property="og:description" content="Here you will find the Agenda for the Pointwise User Group Meeting 2018." />

  <!-- META DATA -->
  <meta name="description" content="Here you will find the Agenda for the Pointwise User Group Meeting 2018.">
  <meta name="keywords" content="cfd meshing, mesh generation, grid generation, computational fluid dynamics, mesh generator, cfd software, cfd consultants, mesh software, grid software, fluid dynamics modeling" />

  <!-- CSS FILES -->
  <% include ../partials/css-includes %>

</head>

<body id="page-top">

	<noscript>
		<p>
			In order to view this page JavaScript must be enabled in your browser.
		</p>
	</noscript>

	<!-- TOP NAVIGATION -->
	<% include ../partials/navbar %>

  <div class="grey-main">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
          <img data-src="images/ugm-2018-logo-300w.svg" class="img-reponsive" alt="Pointwise User Group Meeting 2018 Logo" />
        </div>

        <div class="col-lg-8 col-md-7 col-sm-6 col-xs-12">
          <h1>Pointwise User Group Meeting 2018<br /> Agenda</h1>
          <p>
            The Pointwise User Group Meeting begins with a full
            day of training seminars on the latest features in the software
            followed by a Welcome Reception. The second day features presentations
            by customers, partners, and Pointwise staff and ends with an After Party.
          </p>
        </div>

      </div>
    </div>
  </div>

  <!-- Page Content -->
  <div class="container">
    <div class="row">

      <div class="col-lg-8">

        <h2>Wednesday, 14 November - Training</h2>

        <div class="table-responsive">
          <table class="table">

            <tr>
              <td>8:00 a.m. </td>
              <td>Registration <br />Continental Breakfast </td>
              <td>Synergy Foyer <br />Synergy Foyer  </td>
            </tr>

            <tr>
              <td>8:30 a.m. </td>
              <td><a href="training.html#automation">User Experience and Meshing Productivity Enhancements</a></td>
              <td>Synergy I </td>
            </tr>

			<tr>
              <td>9:30 a.m. </td>
              <td>Break </td>
              <td>Synergy Foyer </td>
            </tr>
			  
			<tr>
              <td>9:45 a.m. </td>
              <td><a href="training.html#automation">User Experience and Meshing Productivity Enhancements</a></td>
              <td>Synergy I </td>
            </tr>
			  
            <tr>
              <td>10:45 a.m. </td>
              <td>Break </td>
              <td>Synergy Foyer </td>
            </tr>

            <tr>
              <td>11:00 a.m. </td>
              <td><a href="training.html#high-order">Advanced Tools for Viscous and High Order Meshing</a> </td>
              <td>Synergy I </td>
            </tr>

            <tr>
              <td>12:15 p.m. </td>
              <td>Lunch </td>
              <td>Atrium </td>
            </tr>

            <tr>
              <td>1:15 p.m. </td>
              <td><a href="training.html#coordinates">Local Coordinates, Instancing, and Top-Down Meshing</a></td>
              <td>Synergy I </td>
            </tr>

            <tr>
              <td>3:00 p.m. </td>
              <td>Break </td>
              <td>Synergy Foyer </td>
            </tr>

            <tr>
              <td>3:15 p.m. </td>
              <td><a href="training.html#refinement">Advanced Mesh Diagnostics and Refinement</a></td>
              <td>Synergy I  </td>
            </tr>

            <tr>
              <td>5:00 p.m. </td>
              <td>Break </td>
              <td>Synergy Foyer </td>
            </tr>

            <tr>
              <td>6:30 p.m. </td>
              <td>Welcome Reception/Partner Exhibits </td>
              <td>Synergy Foyer</td>
            </tr>

          </table>
        </div>

        <h2>Thursday, 15 November - General Session</h2>

        <div class="table-responsive">
          <table class="table">

            <tr>
              <td>8:00 a.m. </td>
              <td>Registration <br />Continental Breakfast/Partner Exhibits </td>
              <td>Synergy Foyer  </td>
            </tr>

            <tr>
              <td>8:30 a.m. </td>
              <td><em>Welcome & Introduction</em> <br />Rick Matus, Ph.D., Pointwise, Inc. </td>
              <td>Synergy I </td>
            </tr>

            <tr>
              <td>8:45 a.m. </td>
              <td><em><a id="bottcher" class="anchor"></a>Development of a CFD Wrapped Wire Rod Bundle Model in Sodium Flow</em> <br /><a href="presenters.html#bottcher">Michael B&#246;ttcher, Ph.D.</a>, Karlsruhe Institute for Technology (KIT)  </td>
              <td>Synergy I </td>
            </tr>

            <tr>
              <td>9:15 a.m. </td>
              <td><em><a id="glasby" class="anchor"></a>HPCMP CREATE(TM)-AV Kestrel Higher-Order CFD Solutions Generated with Pointwise Meshes</em> <br /><a href="presenters.html#glasby">Ryan Glasby, Ph.D.</a>, National Aerospace Solutions  </td>
              <td>Synergy I </td>
            </tr>

            <tr>
              <td>9:45  a.m. </td>
              <td>Break/Partner Exhibits</td>
              <td>Synergy Foyer </td>
            </tr>

            <tr>
              <td>10:15 a.m. - 4:15 p.m.</td>
              <td>Support Consultations (signup at the registration desk) </td>
              <td>Synergy II & III </td>
            </tr>

            <tr>
              <td>10:15 a.m. </td>
              <td><em><a id="combest" class="anchor"></a>Topology Optimization with Pointwise and HELYX-Adjoint</em> <br /><a href="presenters.html#combest">Daniel P. Combest, Ph.D.</a>, ENGYS LLC</td>
              <td>Synergy I </td>
            </tr>

            <tr>
              <td>10:45 a.m. </td>
              <td><em><a id="bagheri" class="anchor"></a>Aircraft Aerodynamic Design Using Pointwise</em> <br /><a href="presenters.html#bagheri">Faranggis Bagheri</a>, neptech </td>
              <td>Synergy I </td>
            </tr>

            <tr>
              <td>11:15 a.m. </td>
              <td><em><a id="eggers" class="anchor"></a>Design of a High Quality Boundary Layer Mesh to Predict the Flow Around Low Drag Vehicles</em> <br /><a href="presenters.html#eggers">Arne Eggers</a>, KU Leuven </td>
              <td>Synergy I </td>
            </tr>

            <tr>
              <td>11:45 a.m. </td>
              <td><em><a id="shipman" class="anchor"></a>Simulation of Real-Fluid Thermodynamics for Application to Supercritical CO2 Power Cycles </em> <br /><a href="presenters.html#shipman">Jeremy Shipman</a>, CRAFT Tech </td>
              <td>Synergy I </td>
            </tr>

            <tr>
              <td>12:15 p.m. </td>
              <td>Lunch </td>
              <td>Atrium </td>
            </tr>

            <tr>
              <td>1:00 p.m. </td>
              <td><em><a id="haimes" class="anchor"></a>The Engineering Sketch Pad</em> <br /><a href="presenters.html#haimes">Bob Haimes</a>, Massachusetts Institute of Technology </td>
              <td>Synergy I </td>
            </tr>

            <tr>
              <td>1:30 p.m. </td>
              <td><em><a id="karman" class="anchor"></a>Automatic Unstructured Mesh Generation with Geometry Attribution</em> <br /><a href="presenters.html#karman">Steve Karman, Ph.D.</a>, Pointwise, Inc. </td>
              <td>Synergy I </td>
            </tr>

            <tr>
              <td>2:00 p.m. </td>
              <td>Meshy Award Winner Announced /Exhibitor Presentations</td>
              <td>Synergy I </td>
            </tr>

            <tr>
              <td>2:30 p.m. </td>
              <td>CFD Gallery</td>
              <td>Synergy Foyer </td>
            </tr>

            <tr>
              <td>3:00 p.m. </td>
              <td><em><a id="hilbert" class="anchor"></a>An Update on Branch Technology’s Progress Utilizing Structured Grids Created with Pointwise </em> <br /><a href="presenters.html#hilbert">C. Bruce Hilbert, Ph.D.</a>, Branch Technology, Inc. </td>
              <td>Synergy I </td>
            </tr>

            <tr>
              <td>3:30 p.m. </td>
              <td><em><a id="wurtzler" class="anchor"></a>Overset Grid Analyses using Pointwise and Cobalt </em> <br /><a href="presenters.html#wurtzler">Ken Wurtzler</a>, Cobalt Solutions, LLC. </td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>4:00 p.m. </td>
              <td><em><a id="dannenhoffer" class="anchor"></a>Converting Cloud of Points to a Boundary Representation (SLUGS)</em> <br /><a href="presenters.html#dannenhoffer">John F. Dannenhoffer, III, Sc.D.</a>, Syracuse University </td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>4:30 p.m. </td>
              <td><em><a id="wyman" class="anchor"></a>Recent Developments in Pointwise Applied Research </em> <br /><a href="presenters.html#wyman">Nick Wyman</a>, Pointwise, Inc. </td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>5:00 p.m. </td>
              <td><em>The Future of Pointwise</em> <br />John Chawner, Pointwise, Inc. </td>
              <td>Synergy I</td>
            </tr>

            <tr>
              <td>6:30 p.m. </td>
              <td>Pointwise User Group Meeting After Party </td>
              <td>T&P Tavern</td>
            </tr>

          </table>
        </div>

        <p>
          <small>Agenda subject to change without notice.</small>
        </p>

      </div>

      <!-- Space between columns -->
      <div class="col-lg-1">
      </div>

      <!-- Column Contents -->
      <div class="col-lg-3">
        <p class="cta-space"></p>
        <h4>User Group Meeting</h4>
        <svg class="nav-lines">
          <line class="nav-blue-subscribe" x1="0" y1="1" x2="210" y2="1"/>
          <line class="nav-grey-subscribe" x1="200" y1="1" x2="275" y2="1"/>
        </svg>
        <div class="side-nav">
          <p><a href="index.html">Main</a></p>
          <p><a href="agenda.html">Agenda</a></p>
          <p><a href="presenters.html">Presenters</a></p>
          <p><a href="training.html">Training Courses</a></p>
          <p><a href="exhibitor-registration.html">Exhibitors</a></p>
          <p><a href="cfd-gallery.html">CFD Gallery</a></p>
          <p><a href="hotel.html">Hotel and Travel</a></p>
          <p><a href="meshy-award.html">Meshy Award Contest</a></p>
        </div>

        <p class="cta-space"></p>
        <h4>Previous Years</h4>
        <svg class="nav-lines">
          <line class="nav-blue-subscribe" x1="0" y1="1" x2="160" y2="1"/>
          <line class="nav-grey-subscribe" x1="160" y1="1" x2="275" y2="1"/>
        </svg>
        <p><a class="drop collapsed help-items" data-toggle="collapse" data-target="#years">Archive</a></p>
        <div id="years" class="collapse side-nav">
          <p><a href="archive.html">Main</a></p>
          <p><a href="2016/index.html">2016</a></p>
          <p><a href="2014/index.html">2014</a></p>
          <p><a href="2013/index.html">2013</a></p>
          <p><a href="2011/index.html">2011</a></p>
          <p><a href="2010/index.html">2010</a></p>
          <p><a href="2008/index.html">2008</a></p>
          <p><a href="2006/index.html">2006</a></p>
          <p><a href="2005/index.html">2005</a></p>
          <p><a href="2004/index.html">2004</a></p>
        </div>
      </div>

    </div>
  </div>

  <!-- FOOTER -->
  <% include ../partials/footer %>

    <!-- JAVASCRIPT -->
    <% include ../partials/js-includes %>

</body>
</html>