<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Analytics -->
    <% include ../partials/ga-includes %>

    <!-- META SETTINGS -->
    <% include ../partials/meta-settings.ejs %>

  <!-- PAGE TITLE -->
  <title>Pointwise User Group Meetings</title>

  <!-- OG TAGS -->
  <meta property="og:url" content="https://www.pointwise.com/user-meeting/archive.html" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Pointwise User Group Meetings" />
  <meta property="og:description" content="The Pointwise User Group Meeting is a great opportunity to share best practices, successes, and expertise on meshing and CFD." />

  <!-- META DATA -->
  <meta name="description" content="The Pointwise User Group Meeting is a great opportunity to share best practices, successes, and expertise on meshing and CFD.">
  <meta name="keywords" content="cfd meshing, mesh generation, grid generation, computational fluid dynamics, mesh generator, cfd software, cfd consultants, mesh software, grid software, fluid dynamics modeling" />

  <!-- CSS FILES -->
  <% include ../partials/css-includes %>

</head>

<body id="page-top">

	<noscript>
		<p>
			In order to view this page JavaScript must be enabled in your browser.
		</p>
	</noscript>

	<!-- TOP NAVIGATION -->
	<% include ../partials/navbar %>

  <div class="grey-main">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
          <img data-src="images/ugm-archive-main-400x240.jpg" class="img-fluid" alt="Pointwise User Group Meeting Lecture" />
        </div>

        <div class="col-lg-8 col-md-7 col-sm-6 col-xs-12">
          <h1>Pointwise User Group Meetings</h1>
          <p>
            The Pointwise User Group Meeting is a great opportunity to gather together for several days of sharing best practices, success stories, and expertise on mesh generation and computational fluid dynamics. It is an opportunity to meet virtually everyone at Pointwise to get their insight on meshing technology. We also get to learn from you the challenges you face in the daily application of CFD to real-world problems.
          </p>
        </div>

      </div>
    </div>
  </div>

  <!-- Page Content -->
  <div class="container">
    <div class="row">

      <div class="col-lg-8">

        <!-- 2018 -->
        <div class="row">

          <div class="col-lg-3">
            <img data-src="2018/images/badge-UGM-2018-Logo.png" class="pull-left img-fluid" alt="Pointwise User Group Meeting 2018 logo"/>
          </div>

          <div class="col-lg-9">
            <h2><a href="2018/index.html">Pointwise User Group Meeting 2018</a></h2>

            <p>
              The Pointwise User Group Meeting 2018 held in Fort Worth, Texas, on 14-15 November drew mesh generation experts from around the world. The two-day event included hands-on training in Pointwise, best practices discussions with our meshing experts, presentations on leading-edge applications of meshing and CFD from practitioners, conversations with CFD software providers whose products complement Pointwise, and the presentation of the Meshy Award.
            </p>

            <p>
              <a href="2018/index.html" class="btn btn-primary" role="button">See Overview</a>
            </p>
          </div>
        </div>

        <hr />

        <!-- 2016 -->
        <div class="row">

          <div class="col-lg-3">
            <img data-src="2016/images/badge-2016-ugm-150x150.png" class="pull-left img-fluid" alt="Pointwise User Group Meeting 2016 logo"/>
          </div>

          <div class="col-lg-9">
            <h2><a href="2016/index.html">Pointwise User Group Meeting 2016</a></h2>

            <p>
              The Pointwise User Group Meeting 2016 held in Fort Worth, Texas on 21-22 September drew attendees from around the world and included technical presentations on subjects ranging from aircraft and race car aerodynamics to construction of 3-D printed sculptures. The meeting also featured hands-on Pointwise V18 training, a short-course entitled “Advanced Geometry Cleanup,” and the presentation of the Meshy Award.
            </p>

            <p>
              <a href="2016/index.html" class="btn btn-primary" role="button">See Overview</a>
            </p>
          </div>
        </div>

        <hr />

        <!-- 2014 -->
        <div class="row">

          <div class="col-lg-3">
            <img data-src="2014/images/ugm2014-badge-date-150x150.png" class="pull-left img-fluid" alt="Pointwise User Group Meeting 2014 logo"/>
          </div>

          <div class="col-lg-9">
            <h2><a href="2014/index.html">Pointwise User Group Meeting 2014</a></h2>

            <p>
              Pointwise celebrated its 20th anniversary in 2014, and we topped off the festivities with a special edition of our Pointwise User Group Meeting on 29-30 October 2014 in Anaheim, California.
            </p>

            <p>
              <a href="2014/index.html" class="btn btn-primary" role="button">See Overview</a>
            </p>
          </div>
        </div>

        <hr />

        <!-- 2013 -->
        <div class="row">

          <div class="col-lg-3">
            <img data-src="2013/images/badge-ugm-2013.png" class="pull-left img-fluid" alt="Pointwise User Group Meeting 2013 logo"/>
          </div>

          <div class="col-lg-9">
            <h2><a href="2013/index.html">Pointwise User Group Meeting 2013</a></h2>

            <p>
              The Pointwise User Group Meeting 2013 was held in Fort Worth, Texas on 19-20 March. The meeting featured hands-on training in the Pointwise software, presentations from customers from around the world, a user-chosen short-course titled &ldquo;Meshing Forensics,&rdquo; and the presentation of the Meshy Award.
            </p>

            <p>
              <a href="2013/index.html" class="btn btn-primary" role="button">See Overview</a>
            </p>
          </div>
        </div>

        <hr />

        <!-- 2011 -->
        <div class="row">

          <div class="col-lg-3">
            <img data-src="2011/images/badge-ugm-2011.png" class="pull-left img-fluid" alt="Pointwise User Group Meeting 2011 logo"/>
          </div>

          <div class="col-lg-9">
            <h2><a href="2011/index.html">Pointwise User Group Meeting 2011</a></h2>

            <p>
              The Pointwise User Group Meeting 2011 held in Fort Worth, Texas on 8-9 November drew the largest attendance in the history of the company's user conference. The meeting featured hands-on training in Pointwise V17, presentations from customers from around the world, a short-course entitled &ldquo;T-Rex in the Real World,&rdquo; and the presentation of the Meshy Award.
            </p>

            <p>
              <a href="2011/index.html" class="btn btn-primary" role="button">See Overview</a>
            </p>
          </div>
        </div>

        <hr />

        <!-- 2010 -->
        <div class="row">

          <div class="col-lg-3">
            <img data-src="2010/images/badge-ugm-2010.png" class="pull-left img-fluid" alt="Pointwise User Group Meeting 2010 logo"/>
          </div>

          <div class="col-lg-9">
            <h2><a href="2010/index.html">Pointwise User Group Meeting 2010</a></h2>

            <p>
              The Pointwise User Group Meeting 2010 was held in Fort Worth, Texas on April 13-14, 2010. The meeting featured special Pointwise and Gridgen training seminars, presentations by Pointwise staff on new product developments, exhibits by our partners and user presentations, and general mesh generation excitement.
            </p>

            <p>
              <a href="2010/index.html" class="btn btn-primary" role="button">See Overview</a>
            </p>
          </div>
        </div>

        <hr />

        <!-- 2008 -->
        <div class="row">

          <div class="col-lg-3">
            <img data-src="2008/images/badge-ugm-2008.png" class="pull-left img-fluid" alt="Pointwise User Group Meeting 2008 logo"/>
          </div>

          <div class="col-lg-9">
            <h2><a href="2008/index.html">Pointwise User Group Meeting 2008</a></h2>

            <p>
              The Pointwise User Group Meeting 2008 was held in Fort Worth, Texas on November 5-6, 2008. Events included special Pointwise and Gridgen training seminars, presentations by Pointwise staff on new product developments, exhibits by our partners, and user presentations.
            </p>

            <p>
              <a href="2008/index.html" class="btn btn-primary" role="button">See Overview</a>
            </p>
          </div>
        </div>

        <hr />

        <!-- 2006 -->
        <div class="row">

          <h2><a href="2006/index.html">Pointwise User Group Meeting 2006</a></h2>

          <p>
            The third annual Gridgen User Group Meeting was held at the Sheraton Grand Hotel at Dallas/Fort Worth Airport in Irving, Texas on April 24-25, 2006. The meeting included special Gridgen training seminars, presentations by Pointwise staff on new Gridgen developments, exhibits by our partners, and user presentations. This year, attendees also had an opportunity to "kick the tires" of our next generation meshing software at the V16 Test Drive.
          </p>

          <p>
            <a href="2006/index.html" class="btn btn-primary" role="button">See Overview</a>
          </p>
        </div>

        <hr />

        <!-- 2005 -->
        <div class="row">

          <h2><a href="2005/index.html">Pointwise User Group Meeting 2005</a></h2>

          <p>
            Pointwise's second Gridgen User Group Meeting was held on April 25-26, 2005 at the Renaissance Worthington Hotel in our hometown of Fort Worth, Texas. It was a great success and brought together our customers, our partners, and our staff for two days of intense sharing of meshing expertise.
          </p>

          <p>
            <a href="2005/index.html" class="btn btn-primary" role="button">See Overview</a>
          </p>
        </div>

        <hr />

        <!-- 2004 -->
        <div class="row">

          <h2><a href="2004/index.html">Pointwise User Group Meeting 2004</a></h2>

          <p>
            Pointwise's inaugural Gridgen User Group Meeting was held on April 5-6, 2004 at the Renaissance Worthington Hotel here in our hometown of Fort Worth, Texas. It was a great success and brought together our customers, our partners, and our staff for two days of intense sharing of meshing expertise. Our keynote speaker was Prof. David Whitfield from the University of Tennessee at Chattanooga.
          </p>

          <p>
            <a href="2004/index.html" class="btn btn-primary" role="button">See Overview</a>
          </p>
        </div>

      </div>

      <!-- Space between columns -->
      <div class="col-lg-1">
      </div>

      <!-- Column Contents -->
      <div class="col-lg-3">
          <!-- Side Nav -->
          <% include ../partials/nav-ugm %>
      </div>

    </div>
  </div>

  <!-- FOOTER -->
  <% include ../partials/footer %>

    <!-- JAVASCRIPT -->
    <% include ../partials/js-includes %>

</body>
</html>
