<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Analytics -->
    <% include ../partials/ga-includes %>

    <!-- META SETTINGS -->
    <% include ../partials/meta-settings.ejs %>

  <!-- PAGE TITLE -->
  <title>Pointwise User Group Meeting | Call For Papers</title>

  <!-- OG TAGS -->

  <meta property="og:url" content="https://www.pointwise.com/user-meeting/call-for-papers.html" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Pointwise User Group Meeting – Call For Papers" />
  <meta property="og:description" content="We invite you to submit your abstract describing CFD applications with an emphasis on the use of Pointwise for mesh generation. " />

  <!-- META DATA -->
  <meta name="description" content="We invite you to submit your abstract describing CFD applications with an emphasis on the use of Pointwise for mesh generation. ">
  <meta name="keywords" content="cfd meshing, mesh generation, grid generation, computational fluid dynamics, mesh generator, cfd software, cfd consultants, mesh software, grid software, fluid dynamics modeling" />

  <!-- CSS FILES -->
  <% include ../partials/css-includes %>

</head>

<body id="page-top">

	<noscript>
		<p>
			In order to view this page JavaScript must be enabled in your browser.
		</p>
	</noscript>

	<!-- TOP NAVIGATION -->
	<% include ../partials/navbar %>

  <div class="grey-main">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
          <img data-src="images/ugm-2018-logo-300w.svg" class="img-reponsive" alt="Pointwise User Group Meeting 2018 Logo" />
        </div>

        <div class="col-lg-8 col-md-7 col-sm-6 col-xs-12">
          <h1>Pointwise User Group Meeting 2018<br /> Call For Papers</h1>
          <p>
            We invite you to submit your abstract describing CFD applications with an emphasis on the use of Pointwise for mesh generation.
          </p>
        </div>

      </div>
    </div>
  </div>

  <!-- Page Content -->
  <div class="container">
    <div class="row">

      <div class="col-lg-8">

        <h2>Call for Papers</h2>

        <p>
          <strong>The Call for Papers for the Pointwise User Group Meeting 2018 has now ended.</strong>
        </p>
        <!--
        <h3>Abstracts due: 13 July 2018</h3>

        <p>
          Email abstracts to: <a href="mailto:ugm@pointwise.com">ugm@pointwise.com</a>.
        </p>

      -->
        <p>
          Pointwise is now accepting abstracts for technical presentations to be given at the Pointwise User Group Meeting 2018.
        </p>

        <p>
          Presentations will be 30 minutes long, including the time for questions and answers. We do not require a formal written paper. All we ask for is a copy of your presentation material.
        </p>

        <p>
          Previous presentations have shared leading edge applications and new developments in CFD with a special emphasis on mesh generation including unique applications of Pointwise, advanced scripting for Pointwise automation and meshing research incorporating Pointwise.
        </p>

        <h3>Call for Papers Details</h3>

        <ul>

          <li>
            500 words or less abstract describing Pointwise meshing for CFD or similar computation work.
          </li>

          <li>
            The presentation should include tips, tricks, techniques, and best practices used when generating your meshes
          </li>

          <li>
            Formatted in plain text  or as a Microsoft Word document
          </li>

          <li>
            Images
          <ul>
            <li>
              High resolution – minimum 1920 px wide
            </li>
            <li>
              Format: PNG
            </li>
          </ul>
          </li>

          <li>
            Emailed to <a href="mailto:ugm@pointwise.com">ugm@pointwise.com</a>
          </li>

          <li>
            Include your contact information in the email
          </li>
        </ul>

      </div>

      <!-- Space between columns -->
      <div class="col-lg-1">
      </div>

      <!-- Column Contents -->
      <div class="col-lg-3">
        <p class="cta-space"></p>
        <h4>User Group Meeting</h4>
        <svg class="nav-lines">
          <line class="nav-blue-subscribe" x1="0" y1="1" x2="210" y2="1"/>
          <line class="nav-grey-subscribe" x1="200" y1="1" x2="275" y2="1"/>
        </svg>
        <div class="side-nav">
          <p><a href="index.html">Main</a></p>
          <p><a href="agenda.html">Agenda</a></p>
          <p><a href="presenters.html">Presenters</a></p>
          <p><a href="training.html">Training Courses</a></p>
          <p><a href="exhibitor-registration.html">Exhibitors</a></p>
          <p><a href="cfd-gallery.html">CFD Gallery</a></p>
          <p><a href="hotel.html">Hotel and Travel</a></p>
          <p><a href="meshy-award.html">Meshy Award Contest</a></p>
        </div>

        <p class="cta-space"></p>
        <h4>Previous Years</h4>
        <svg class="nav-lines">
          <line class="nav-blue-subscribe" x1="0" y1="1" x2="160" y2="1"/>
          <line class="nav-grey-subscribe" x1="160" y1="1" x2="275" y2="1"/>
        </svg>
        <p><a class="drop collapsed help-items" data-toggle="collapse" data-target="#years">Archive</a></p>
        <div id="years" class="collapse side-nav">
          <p><a href="archive.html">Main</a></p>
          <p><a href="2016/index.html">2016</a></p>
          <p><a href="2014/index.html">2014</a></p>
          <p><a href="2013/index.html">2013</a></p>
          <p><a href="2011/index.html">2011</a></p>
          <p><a href="2010/index.html">2010</a></p>
          <p><a href="2008/index.html">2008</a></p>
          <p><a href="2006/index.html">2006</a></p>
          <p><a href="2005/index.html">2005</a></p>
          <p><a href="2004/index.html">2004</a></p>
        </div>
      </div>

    </div>
  </div>

<!-- FOOTER -->
<% include ../partials/footer %>

    <!-- JAVASCRIPT -->
    <% include ../partials/js-includes %>

</body>
</html>
