<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Analytics -->
    <% include ../partials/ga-includes %>

    <!-- META SETTINGS -->
    <% include ../partials/meta-settings.ejs %>

  <!-- PAGE TITLE -->
  <title>Pointwise User Group Meeting | CFD Gallery</title>

  <!-- OG TAGS -->
  <meta property="og:url" content="https://www.pointwise.com/user-meeting/cfd-gallery.html" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Pointwise User Group Meeting – CFD Gallery" />
  <meta property="og:description" content="At the CFD Gallery you can meet face-to-face with CAE software developers to learn more about their products and services. " />

  <!-- META DATA -->
  <meta name="description" content="At the CFD Gallery you can meet face-to-face with CAE software developers to learn more about their products and services. ">
  <meta name="keywords" content="cfd meshing, mesh generation, grid generation, computational fluid dynamics, mesh generator, cfd software, cfd consultants, mesh software, grid software, fluid dynamics modeling" />

    <!-- CSS FILES -->
    <% include ../partials/css-includes %>

</head>

<body id="page-top">

	<noscript>
		<p>
			In order to view this page JavaScript must be enabled in your browser.
		</p>
	</noscript>

	<!-- TOP NAVIGATION -->
	<% include ../partials/navbar %>

  <div class="grey-main">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
          <img data-src="images/ugm-2018-logo-300w.svg" class="img-reponsive" alt="Pointwise User Group Meeting 2018 Logo" />
        </div>

        <div class="col-lg-8 col-md-7 col-sm-6 col-xs-12">
          <h1>Pointwise User Group Meeting 2018<br />CFD Gallery</h1>
          <p>
            At the CFD Gallery you can meet face-to-face with CAE software developers to learn more about their products and services. If you are already using their software they can give you immediate help with any questions you have.
          </p>
        </div>

      </div>
    </div>
  </div>

  <!-- Page Content -->
  <div class="container">
    <div class="row">

      <div class="col-lg-8">

        <h2>Wednesday, 14 November</h2>

        <div class="row">
          <div class="col-lg-3">
            6:30-8 p.m.
          </div>
          <div class="col-lg-9">
            Welcome Reception
          </div>
        </div>

        <h2>Thursday, 15 November</h2>

        <div class="row">
          <div class="col-lg-3">
            8-8:30 a.m.
          </div>
          <div class="col-lg-9">
            Registration
          </div>
        </div>

        <div class="row">
          <div class="col-lg-3">
            9:45-10:15 a.m.
          </div>
          <div class="col-lg-9">
            Morning Breaks
          </div>
        </div>

        <div class="row">
          <div class="col-lg-3">
            2:30-3:30 p.m.
          </div>
          <div class="col-lg-9">
            CFD Gallery
          </div>
        </div>

        <h2>Exhibitors</h2>

        <p>
          <a href="#engys" class="page-scroll">ENGYS</a> | 
          <a href="#intelligent" class="page-scroll">Intelligent Light</a> | 
          <a href="#metacomp" class="page-scroll">Metacomp Technologies</a> | 
          <a href="#tecplot" class="page-scroll">Tecplot</a>
        </p>

        <hr />

        <a id="engys" class="anchor"></a>
        <div class="row">
          <div class="col-lg-3">
            <img class="img-fluid"
            data-src="2018/images/engys-logo-400x200.png" alt="ENGYS will be exhibiting at the Pointwise User Group Meeting 2018" />
          </div>
          <div class="col-lg-9">
            <p>
              ENGYS develops, supports, and delivers best-in-class CAE software solutions based on proven open-source technologies, offering a variety of expert engineering simulation products and services focused around the OPENFOAM® library for CFD and DAKOTA for MDO. ENGYS' personnel have been involved with FOAM and OPENFOAM® since 1999, providing unparalleled knowledge and experience in the development and support of this platform to create and deliver our own comprehensive range of professional open-source based CFD products, featuring HELYX®, HELYX-OS, HELYX® Add-Ons, and ELEMENTS. The company operates globally through a network of offices in the UK, Germany, Italy, USA, and Australia, with local distributors in several countries worldwide. For further details about ENGYS' products and services or to learn how to become a local distributor, please visit <a href="http://engys.com" target="_blank" rel="noreferrer noopener">http://engys.com</a> or email <a href="mailto:info@engys.com">info@engys.com</a>.
            </p>
          </div>
        </div>

        <hr />

        <a id="intelligent" class="anchor"></a>
        <div class="row">
          <div class="col-lg-3">
            <img class="img-fluid"
            data-src="2018/images/intelligent-light-logo-400x116.png" alt="Intelligent Light will be exhibiting at the Pointwise User Group Meeting 2018" />
          </div>
          <div class="col-lg-9">
            <p>
              Intelligent Light provides post-processing, data science and big data visualization capability for CFD. Thousands of users rely on the industry leading FieldView software and our custom engineering services to maximize their productivity and effectiveness. Let us help you eliminate bottlenecks and achieve breakthrough results. <a href="http://www.ilight.com/en/" target="_blank" rel="noreferrer noopener">www.ilight.com</a>
            </p>
          </div>
        </div>

        <hr />

        <a id="metacomp" class="anchor"></a>
        <div class="row">
          <div class="col-lg-3">
            <img class="img-fluid"
            data-src="2018/images/metacomp-logo-400x141.png" alt="Metacomp Technologies will be exhibiting at the Pointwise User Group Meeting 2018" />
          </div>
          <div class="col-lg-9">
            <p>
              <a href="http://www.metacomptech.com/" target="_blank" rel="noreferrer noopener">Metacomp Technologies</a> is a leading provider of physics based simulation software and services in multiple physics areas including fluid dynamics, aero and hydro acoustics, structural mechanics and electrostatic paint deposition. Our technology focus is devoid of hype but offers significantly broad and deep capabilities in many application areas of interest to scientists, engineers, technologists and educators. Metacomp Technologies has the independence, conviction and value system for a sustainable and satisfying relationship with our customers. Metacomp Technologies’ software products set the pace in the CFD marketplace with their unique combination of: Accuracy, Reliability, Performance and Versatility. Metacomp Technologies is a leading provider of software tools for major aerospace, defense, and automobile manufacturers, many US government labs, research organizations and companies that require complex modeling during research and development.
            </p>
          </div>
        </div>

        <hr />

        <a id="tecplot" class="anchor"></a>
        <div class="row">
          <div class="col-lg-3">
            <img class="img-fluid"
            data-src="2018/images/tecplot-logo-400x164.png" alt="Tecplot will be exhibiting at the Pointwise User Group Meeting 2018" />
          </div>
          <div class="col-lg-9">
            <p>
              <a href="https://www.tecplot.com/" target="_blank" rel="noreferrer noopener">Tecplot</a> specializes in visualizing and analyzing results from CFD, other simulation and experimental results. The insights gained can be critical in pinpointing and solving problems, optimizing designs, and explaining physical observations. Tecplot is fast, reliable, easy-to-use and memory efficient. It integrates into your existing workflows and can boost your productivity. With professional images and animations, Tecplot also helps you communicate your results to colleagues and management.
            </p>
          </div>
        </div>

      </div>

      <!-- Space between columns -->
      <div class="col-lg-1">
      </div>

        <!-- Column Contents -->
        <div class="col-lg-3">
            <p class="cta-space"></p>
            <h4>User Group Meeting</h4>
            <svg class="nav-lines">
                <line class="nav-blue-subscribe" x1="0" y1="1" x2="210" y2="1"/>
                <line class="nav-grey-subscribe" x1="200" y1="1" x2="275" y2="1"/>
            </svg>
            <div class="side-nav">
                <p><a href="index.html">Main</a></p>
                <p><a href="agenda.html">Agenda</a></p>
                <p><a href="presenters.html">Presenters</a></p>
                <p><a href="training.html">Training Courses</a></p>
                <p><a href="exhibitor-registration.html">Exhibitors</a></p>
                <p><a href="cfd-gallery.html">CFD Gallery</a></p>
                <p><a href="hotel.html">Hotel and Travel</a></p>
                <p><a href="meshy-award.html">Meshy Award Contest</a></p>
            </div>

            <p class="cta-space"></p>
            <h4>Previous Years</h4>
            <svg class="nav-lines">
                <line class="nav-blue-subscribe" x1="0" y1="1" x2="160" y2="1"/>
                <line class="nav-grey-subscribe" x1="160" y1="1" x2="275" y2="1"/>
            </svg>
            <p><a class="drop collapsed help-items" data-toggle="collapse" data-target="#years">Archive</a></p>
            <div id="years" class="collapse side-nav">
                <p><a href="archive.html">Main</a></p>
                <p><a href="2016/index.html">2016</a></p>
                <p><a href="2014/index.html">2014</a></p>
                <p><a href="2013/index.html">2013</a></p>
                <p><a href="2011/index.html">2011</a></p>
                <p><a href="2010/index.html">2010</a></p>
                <p><a href="2008/index.html">2008</a></p>
                <p><a href="2006/index.html">2006</a></p>
                <p><a href="2005/index.html">2005</a></p>
                <p><a href="2004/index.html">2004</a></p>
            </div>
        </div>

    </div>
  </div>

<!-- FOOTER -->
<% include ../partials/footer %>

    <!-- JAVASCRIPT -->
    <% include ../partials/js-includes %>

</body>
</html>
