<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Google Analytics -->
  <% include ../partials/ga-includes %>

  <!-- META SETTINGS -->
  <% include ../partials/meta-settings.ejs %>

  <!-- PAGE TITLE -->
  <title>Become an Exhibitor at the Pointwise User Group Meeting</title>

  <!-- OG TAGS -->
  <meta property="og:url" content="https://www.pointwise.com/user-meeting/exhibitor-registration.html" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Become an Exhibitor at the Pointwise User Group Meeting" />
  <meta property="og:description" content="We invite you to join us as an exhibitor at the Pointwise User Group Meeting in Fort Worth, Texas, on 14-15 November 2018." />

  <!-- META DATA -->
  <meta name="description" content="We invite you to join us as an exhibitor at the Pointwise User Group Meeting in Fort Worth, Texas, on 14-15 November 2018.">
  <meta name="keywords" content="cfd meshing, mesh generation, grid generation, computational fluid dynamics, mesh generator, cfd software, cfd consultants, mesh software, grid software, fluid dynamics modeling" />

    <!-- CSS FILES -->
    <% include ../partials/css-includes %>

  <!-- RECAPTCHA -->
  <script src='https://www.google.com/recaptcha/api.js'></script>

</head>

<body id="page-top">

  <!-- TOP NAVIGATION -->
	<noscript>
		<p>
			In order to view this page JavaScript must be enabled in your browser.
		</p>
	</noscript>

	<!-- TOP NAVIGATION -->
	<% include ../partials/navbar %>

  <div class="grey-main">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
          <img data-src="images/ugm-2018-logo-300w.svg" class="img-reponsive" alt="Pointwise User Group Meeting 2018 logo" />
        </div>

        <div class="col-lg-8 col-md-7 col-sm-6 col-xs-12">
          <h1>Become an Exhibitor at the Pointwise User Group&nbsp;Meeting</h1>
          <p>
            We invite you to join us as an exhibitor at the Pointwise User Group Meeting in Fort Worth, Texas, on 14-15 November 2018. Showcase your products to some of the top CFD power users from around the world.
          </p>
        </div>

      </div>
    </div>
  </div>

  <!-- Page Content -->
  <div class="container">
    <div class="row">

      <div class="col-lg-8">

        <h2>What to Expect</h2>

        <p>
          This event has been designed to ensure a dynamic exchange of information, not only among Pointwise staff and our customers but also among our customers and partners.
        </p>

        <p>
          Our exhibit area is strategically placed so everyone attending the meeting will spend time there throughout the event. All snack and drink service will be provided in the exhibit area.
        </p>

        <p>
          Wednesday evening’s Welcome Reception will be held in the exhibit area, and will provide an opportunity to introduce yourself to our customers in a relaxed, informal setting.
        </p>

        <p>
          On Thursday afternoon, dedicated time for the CFD Gallery is scheduled to encourage attendees to visit with our exhibiting partners.
        </p>

        <p>
          Your five-minute presentation gives you the opportunity to introduce your company and products. It will be limited to one slide. Exhibitor presentations will be shortly before the CFD Gallery event.
        </p>

        <p>
          You are also invited to submit an abstract on a technical topic for presentation during our technical program. Joint presentations with customers using Pointwise along with a vendor product have been popular in the past.
        </p>

        <h2>What You Get</h2>
        <ul>
          <li>
            Five minutes for a brief presentation about your company and your product
          </li>
          <li>
            Draped table
          </li>
          <li>
            Two chairs
          </li>
          <li>
            Electrical outlet
          </li>
          <li>
            Conference registration for two people
          </li>
          <li>
            Company logo, website link and company description on the Pointwise User Group Meeting website's CFD Gallery &amp; Exhibits page
          </li>
          <li>
            The opportunity for you to include a 10MB or less corporate marketing PDF with the Pointwise User Group Meeting attendee downloadable files.
          </li>
          <li>
            Attendee list (post meeting)
          </li>
        </ul>

        <h2>Exhibitor Information</h2>

        <p>
          <a href="2018/Exhibitor-Quick-Facts.pdf">Download the Exhibitor Quick Facts for exhibit and shipping information.</a>
        </p>

        <p>
          Have questions? Email us at <a href="mailto:ugm@pointwise.com">ugm@pointwise.com</a> or call +1-817-377-2807 and ask for Heather or Andrea.
        </p>

        <h2>Sign-Up Today</h2>

        <p>
          The price for exhibiting at the Pointwise User Group Meeting is $1,000. Please help us by providing information in all the fields marked with an asterisk <span class="red">*</span>
        </p>

        <form data-toggle="validator"
        role="form"
        method="POST"
        name="WEB2LEAD"
        id="WEB2LEAD"
        OnSubmit="return formValidateCreateLead()">

        <input type="hidden" name="myFormName" id="myFormName" value="ugmExhibitorRegistration" />

        <div class="form-group">
          <h2>Exhibitor Coordinator</h2>
        </div>

        <div class="row">
          <div class="form-group col-lg-3">
            <label for="lead_personsalutation" class="control-label">Salutation </label>
            <select class="form-control" id="lead_personsalutation" name="lead_personsalutation"  >
              <option>   </option>
              <option value="Dr.">Dr.</option>
              <option value="Miss">Miss </option>
              <option value="Mr.">Mr.  </option>
              <option value="Mrs.">Mrs.  </option>
              <option value="Ms.">Ms.  </option>
              <option value="Prof.">Prof.  </option>
            </select>
          </div>

          <div class="form-group col-lg-4">
            <label for="lead_personfirstname" class="control-label">Given Name <span class="red">*</span></label>
            <input type="text" class="form-control" id="lead_personfirstname" name="lead_personfirstname" data-error="Please fill out this field." required>
            <div class="help-block with-errors"></div>
          </div>

          <div class="form-group col-lg-5">
            <label for="Surname" class="control-label">Surname <span class="red">*</span></label>
            <input type="text" class="form-control" id="lead_personlastname" name="lead_personlastname" data-error="Please fill out this field." required>
            <div class="help-block with-errors"></div>
          </div>
        </div>

        <div class="form-group">
          <label for="lead_persontitle" class="control-label">Title <span class="red">*</span> </label>
          <input type="text" class="form-control" id="lead_persontitle" name="lead_persontitle" data-error="Please fill out this field." required>
          <div class="help-block with-errors"></div>
        </div>

        <div class="form-group">
          <label for="lead_companyname" class="control-label">Company Name <span class="red">*</span></label>
          <input type="text" class="form-control" id="lead_companyname" name="lead_companyname" data-error="Please fill out this field." required>
          <div class="help-block with-errors"></div>
        </div>

        <div class="form-group">
          <label for="lead_companydepartment" class="control-label">Department </label>
          <input type="text" class="form-control" id="lead_companydepartment" name="lead_companydepartment">
        </div>

        <div class="form-group">
          <label for="lead_companycountry" class="control-label">Country <span class="red">*</span></label>
          <select class="form-control" id="lead_companycountry" name="lead_companycountry" onchange="formUpdateForCountry();" data-error="Please select one." required>
            <option> </option>
            <option Value="US">United States</option>
            <option Value="AF">Afghanistan </option>
            <option Value="AL">Albania </option>
            <option Value="DZ">Algeria </option>
            <option Value="AS">American Samoa </option>
            <option Value="AD">Andorra </option>
            <option Value="AO">Angola </option>
            <option Value="AI">Anguilla </option>
            <option Value="AQ">Antarctica </option>
            <option Value="AG">Antigua and Barbuda </option>
            <option Value="AR">Argentina </option>
            <option Value="AM">Armenia </option>
            <option Value="AW">Aruba </option>
            <option Value="AU">Australia </option>
            <option Value="AT">Austria </option>
            <option Value="AZ">Azerbaijan </option>
            <option Value="BS">Bahamas </option>
            <option Value="BH">Bahrain </option>
            <option Value="BD">Bangladesh </option>
            <option Value="BB">Barbados </option>
            <option Value="BY">Belarus </option>
            <option Value="BE">Belgium </option>
            <option Value="BZ">Belize </option>
            <option Value="BJ">Benin </option>
            <option Value="BM">Bermuda </option>
            <option Value="BT">Bhutan </option>
            <option Value="BO">Bolivia </option>
            <option Value="BA">Bosnia-Herzegovina </option>
            <option Value="BW">Botswana </option>
            <option Value="BV">Bouvet Island </option>
            <option Value="BR">Brazil </option>
            <option Value="IO">British Indian Ocean Terr.  </option>
            <option Value="BN">Brunei Darussalam </option>
            <option Value="BG">Bulgaria </option>
            <option Value="BF">Burkina Faso </option>
            <option Value="BI">Burundi </option>
            <option Value="KH">Cambodia, Kingdom of </option>
            <option Value="CM">Cameroon </option>
            <option Value="CA">Canada </option>
            <option Value="CV">Cape Verde </option>
            <option Value="KY">Cayman Islands </option>
            <option Value="CF">Central African Republic </option>
            <option Value="TD">Chad </option>
            <option Value="CL">Chile </option>
            <option Value="CN">China </option>
            <option Value="CX">Christmas Island </option>
            <option Value="CC">Cocos (Keeling) Islands </option>
            <option Value="CO">Colombia </option>
            <option Value="KM">Comoros </option>
            <option Value="CG">Congo </option>
            <option Value="CD">Congo, Democratic Republic </option>
            <option Value="CK">Cook Islands </option>
            <option Value="CR">Costa Rica </option>
            <option Value="HR">Croatia </option>
            <option Value="CY">Cyprus </option>
            <option Value="CZ">Czech Republic </option>
            <option Value="DK">Denmark </option>
            <option Value="DJ">Djibouti </option>
            <option Value="DM">Dominica </option>
            <option Value="DO">Dominican Republic </option>
            <option Value="TP">East Timor </option>
            <option Value="EC">Ecuador </option>
            <option Value="EG">Egypt </option>
            <option Value="SV">El Salvador </option>
            <option Value="GQ">Equatorial Guinea </option>
            <option Value="ER">Eritrea </option>
            <option Value="EE">Estonia </option>
            <option Value="ET">Ethiopia </option>
            <option Value="FK">Falkland Islands </option>
            <option Value="FO">Faroe Islands </option>
            <option Value="FJ">Fiji </option>
            <option Value="FI">Finland </option>
            <option Value="FR">France </option>
            <option Value="GF">French Guyana </option>
            <option Value="TF">French Southern Territories </option>
            <option Value="GA">Gabon </option>
            <option Value="GM">Gambia </option>
            <option Value="GE">Georgia </option>
            <option Value="DE">Germany </option>
            <option Value="GH">Ghana </option>
            <option Value="GI">Gibraltar </option>
            <option Value="GB">Great Britain </option>
            <option Value="GR">Greece </option>
            <option Value="GL">Greenland </option>
            <option Value="GD">Grenada </option>
            <option Value="GP">Guadeloupe (French) </option>
            <option Value="GU">Guam (USA) </option>
            <option Value="GT">Guatemala </option>
            <option Value="GN">Guinea </option>
            <option Value="GW">Guinea Bissau </option>
            <option Value="GY">Guyana </option>
            <option Value="HT">Haiti </option>
            <option Value="HM">Heard and McDonald Islands </option>
            <option Value="VA">Holy See (Vatican City) </option>
            <option Value="HN">Honduras </option>
            <option Value="HK">Hong Kong </option>
            <option Value="HU">Hungary </option>
            <option Value="IS">Iceland </option>
            <option Value="IN">India </option>
            <option Value="IND">Indonesia </option>
            <option Value="IQ">Iraq </option>
            <option Value="IE">Ireland </option>
            <option Value="IL">Israel </option>
            <option Value="IT">Italy </option>
            <option Value="CI">Ivory Coast </option>
            <option Value="JM">Jamaica </option>
            <option Value="JP">Japan </option>
            <option Value="JO">Jordan </option>
            <option Value="KZ">Kazakhstan </option>
            <option Value="KE">Kenya </option>
            <option Value="KI">Kiribati </option>
            <option Value="KW">Kuwait </option>
            <option Value="KG">Kyrgyzstan </option>
            <option Value="LA">Laos </option>
            <option Value="LV">Latvia </option>
            <option Value="LB">Lebanon </option>
            <option Value="LS">Lesotho </option>
            <option Value="LR">Liberia </option>
            <option Value="LY">Libya </option>
            <option Value="LI">Liechtenstein </option>
            <option Value="LT">Lithuania </option>
            <option Value="LU">Luxembourg </option>
            <option Value="MO">Macau </option>
            <option Value="MK">Macedonia </option>
            <option Value="MG">Madagascar </option>
            <option Value="MW">Malawi </option>
            <option Value="MY">Malaysia </option>
            <option Value="MV">Maldives </option>
            <option Value="ML">Mali </option>
            <option Value="MT">Malta </option>
            <option Value="MH">Marshall Islands </option>
            <option Value="MQ">Martinique (French) </option>
            <option Value="MR">Mauritania </option>
            <option Value="MU">Mauritius </option>
            <option Value="YT">Mayotte </option>
            <option Value="MX">Mexico </option>
            <option Value="FM">Micronesia </option>
            <option Value="MD">Moldavia </option>
            <option Value="MC">Monaco </option>
            <option Value="MN">Mongolia </option>
            <option Value="ME">Montenegro </option>
            <option Value="MS">Montserrat </option>
            <option Value="MA">Morocco </option>
            <option Value="MZ">Mozambique </option>
            <option Value="MM">Myanmar </option>
            <option Value="NA">Namibia </option>
            <option Value="NR">Nauru </option>
            <option Value="NP">Nepal </option>
            <option Value="NL">Netherlands </option>
            <option Value="AN">Netherlands Antilles </option>
            <option Value="NC">New Caledonia (French) </option>
            <option Value="NZ">New Zealand </option>
            <option Value="NI">Nicaragua </option>
            <option Value="NE">Niger </option>
            <option Value="NG">Nigeria </option>
            <option Value="NU">Niue </option>
            <option Value="NF">Norfolk Island </option>
            <option Value="MP">Northern Mariana Islands </option>
            <option Value="NO">Norway </option>
            <option Value="OM">Oman </option>
            <option Value="PK">Pakistan </option>
            <option Value="PW">Palau </option>
            <option Value="PA">Panama </option>
            <option Value="PG">Papua New Guinea </option>
            <option Value="PY">Paraguay </option>
            <option Value="PE">Peru </option>
            <option Value="PH">Philippines </option>
            <option Value="PN">Pitcairn Island </option>
            <option Value="PL">Poland </option>
            <option Value="PF">Polynesia (French) </option>
            <option Value="PT">Portugal </option>
            <option Value="PR">Puerto Rico </option>
            <option Value="QA">Qatar </option>
            <option Value="RE">Reunion (French) </option>
            <option Value="RO">Romania </option>
            <option Value="RW">Rwanda </option>
            <option Value="GS">S. Georgia S. Sandwich Is. </option>
            <option Value="SH">Saint Helena </option>
            <option Value="KN">Saint Kitts Nevis Anguilla </option>
            <option Value="LC">Saint Lucia </option>
            <option Value="PM">Saint Pierre and Miquelon </option>
            <option Value="ST">Saint Tome (Sao Tome) </option>
            <option Value="VC">Saint Vincent Grenadines </option>
            <option Value="WS">Samoa </option>
            <option Value="SM">San Marino </option>
            <option Value="SA">Saudi Arabia </option>
            <option Value="SN">Senegal </option>
            <option Value="SC">Seychelles </option>
            <option Value="SL">Sierra Leone </option>
            <option Value="SG">Singapore </option>
            <option Value="SK">Slovak Republic </option>
            <option Value="SI">Slovenia </option>
            <option Value="SB">Solomon Islands </option>
            <option Value="SO">Somalia </option>
            <option Value="ZA">South Africa </option>
            <option Value="KR">South Korea </option>
            <option Value="ES">Spain </option>
            <option Value="LK">Sri Lanka </option>
            <option Value="SD">Sudan</option>
            <option Value="SR">Suriname </option>
            <option Value="SJ">Svalbard and Jan Mayen Is.  </option>
            <option Value="SZ">Swaziland </option>
            <option Value="SE">Sweden </option>
            <option Value="CH">Switzerland </option>
            <option Value="TJ">Tadjikistan </option>
            <option Value="TW">Taiwan </option>
            <option Value="TZ">Tanzania </option>
            <option Value="TH">Thailand </option>
            <option Value="TG">Togo </option>
            <option Value="TK">Tokelau </option>
            <option Value="TO">Tonga </option>
            <option Value="TT">Trinidad and Tobago </option>
            <option Value="TN">Tunisia </option>
            <option Value="TR">Turkey </option>
            <option Value="TM">Turkmenistan </option>
            <option Value="TC">Turks and Caicos Islands </option>
            <option Value="TV">Tuvalu </option>
            <option Value="UG">Uganda </option>
            <option Value="AE">United Arab Emirates </option>
            <option Value="UK">United Kingdom </option>
            <option Value="UY">Uruguay </option>
            <option Value="UM">USA Minor Outlying Islands </option>
            <option Value="UZ">Uzbekistan </option>
            <option Value="VU">Vanuatu </option>
            <option Value="VE">Venezuela </option>
            <option Value="VN">Vietnam </option>
            <option Value="VG">Virgin Islands (British) </option>
            <option Value="VI">Virgin Islands (USA) </option>
            <option Value="WF">Wallis and Futuna Islands </option>
            <option Value="EH">Western Sahara </option>
            <option Value="YE">Yemen </option>
            <option Value="YU">Yugoslavia </option>
            <option Value="ZR">Zaire </option>
            <option Value="ZM">Zambia </option>
            <option Value="ZW">Zimbabwe </option>
          </select>
          <div class="help-block with-errors"></div>
        </div>

        <div class="form-group">
          <label for="lead_companyaddress1" class="control-label">Address 1 <span class="red">*</span></label>
          <input type="text" class="form-control" id="lead_companyaddress1" name="lead_companyaddress1" data-error="Please fill out this field." required>
          <div class="help-block with-errors"></div>
        </div>

        <div class="form-group">
          <label for="lead_companyaddress2" class="control-label">Address 2 </label>
          <input type="text" class="form-control" id="lead_companyaddress2" name="lead_companyaddress2">
        </div>

        <div class="form-group">
          <label for="lead_companycity" class="control-label">City <span class="red">*</span></label>
          <input type="text" class="form-control" id="lead_companycity" name="lead_companycity" data-error="Please fill out this field." required>
          <div class="help-block with-errors"></div>
        </div>

        <div class="form-group" id="stateUSA">
          <label for="lead_companystate" class="control-label"> State </label>
          <select class="form-control" id="state-select" name="">
            <option> </option>
            <option value="AL">Alabama</option>
            <option value="AK">Alaska</option>
            <option value="AZ">Arizona</option>
            <option value="AR">Arkansas</option>
            <option value="CA">California</option>
            <option value="CO">Colorado</option>
            <option value="CT">Connecticut</option>
            <option value="DE">Delaware</option>
            <option value="DC">District of Columbia</option>
            <option value="FL">Florida</option>
            <option value="GA">Georgia</option>
            <option value="HI">Hawaii</option>
            <option value="ID">Idaho</option>
            <option value="IL">Illinois</option>
            <option value="IN">Indiana</option>
            <option value="IA">Iowa</option>
            <option value="KS">Kansas</option>
            <option value="KY">Kentucky</option>
            <option value="LA">Louisiana</option>
            <option value="ME">Maine</option>
            <option value="MD">Maryland</option>
            <option value="MA">Massachusetts</option>
            <option value="MI">Michigan</option>
            <option value="MN">Minnesota</option>
            <option value="MS">Mississippi</option>
            <option value="MO">Missouri</option>
            <option value="MT">Montana</option>
            <option value="NE">Nebraska</option>
            <option value="NV">Nevada</option>
            <option value="NH">New Hampshire</option>
            <option value="NJ">New Jersey</option>
            <option value="NM">New Mexico</option>
            <option value="NY">New York</option>
            <option value="NC">North Carolina</option>
            <option value="ND">North Dakota</option>
            <option value="OH">Ohio</option>
            <option value="OK">Oklahoma</option>
            <option value="OR">Oregon</option>
            <option value="PA">Pennsylvania</option>
            <option value="RI">Rhode Island</option>
            <option value="SC">South Carolina</option>
            <option value="SD">South Dakota</option>
            <option value="TN">Tennessee</option>
            <option value="TX">Texas</option>
            <option value="UT">Utah</option>
            <option value="VT">Vermont</option>
            <option value="VA">Virginia</option>
            <option value="WA">Washington</option>
            <option value="WV">West Virginia</option>
            <option value="WI">Wisconsin</option>
            <option value="WY">Wyoming</option>
          </select>
        </div>

        <div class="form-group form-hidden" id="NotUSA">
          <label for="lead_companystate" class="control-label"> State/Province </label>
          <input type="text" class="form-control" id="state-text" name="" >
        </div>

        <div class="form-group">
          <label for="lead_companypostcode" class="control-label">Postal Code <span class="red">*</span></label>
          <input type="text" class="form-control" id="lead_companypostcode" name="lead_companypostcode" data-error="Please fill out this field." required>
          <div class="help-block with-errors"></div>
        </div>

        <div class="row">
          <div class="form-group col-lg-3">
            <label for="lead_personphonecountrycode" class="control-label">Country Code </label>
            <input type="number" class="form-control" id="lead_personphonecountrycode" name="lead_personphonecountrycode" >
          </div>

          <div class="form-group col-lg-3">
            <label for="lead_personphoneareacode" class="control-label">Area Code </label>
            <input type="number" class="form-control" id="lead_personphoneareacode" name="lead_personphoneareacode">
          </div>

          <div class="form-group col-lg-6">
            <label for="lead_personphonenumber" class="control-label">Phone Number <span class="red">*</span></label>
            <input type="tel" class="form-control" id="lead_personphonenumber" name="lead_personphonenumber" maxlength="10" data-error="Please fill out this field." required>
            <div class="help-block with-errors"></div>
          </div>
        </div>

        <div class="form-group">
          <label for="E-Mail" class="control-label">E-Mail <span class="red">*</span></label>
          <input type="email" class="form-control" id="lead_personemail" name="lead_personemail" data-error="Please provide a valid email address." required>
          <div class="help-block with-errors"></div>
        </div>

        <div class="form-group">
          <label class="control-label">Comments</label>
          <textarea class="form-control" rows="5" id="lead_details" name="lead_details"></textarea>
        </div>

        <h2>Sign me up to exhibit at the Pointwise User Group Meeting</h2>

        <div class="form-group">
          <div class="g-recaptcha" data-callback="verifyRecaptchaCallback" data-expired-callback="expiredRecaptchaCallback" data-sitekey="6Lc5PjMUAAAAAPYyLp5pAMZgdwIgFzlww8iLyVWs"></div>
          <input type="hidden" class="form-control" data-recaptcha="true" required>
          <div class="help-block with-errors"></div>
        </div>

        <div class="form-group">
          <input type="submit" class="btn btn-primary"></input>
        </div>

        <input type="hidden"
        name="_HIDDENlead_personconsent"
        id="_HIDDENlead_personconsent"
        value=""
        entryType="45" />

        <input type="checkbox"
        name="lead_personconsent"
        id="_IDlead_personconsent"
        checked="checked"
        style="display:none;" />

        <input type="hidden"
        size="1"
        name="lead_personconsentdate"
        id="lead_personconsentdate"
        value="" />

        <input type="hidden"
        size="1"
        name="lead_description"
        id="lead_description"
        value="PUGM" />

        <input type="hidden"
        size="1"
        name="lead_pweventid"
        id="lead_pweventid"
        value="6036" />

        <input type="hidden"
        size="1"
        name="lead_assigneduserid"
        id="lead_assigneduserid"
        value="52" />

        <input type="hidden"
        name="lead_status"
        id="lead_status"
        value="In Progress" />

        <input type="hidden"
        name="lead_stage"
        id="lead_stage"
        value="Assigned" />

        <input type="hidden"
        name="_HIDDENlead_source"
        value="Web" />

        <input type=hidden
        name="lead_pwtype"
        id="lead_pwtype"
        value="ExhibitorCoor" />

        <input type="hidden"
        name="RuleID"
        id="RuleID"
        value="" />

      </form>

      <p>
        <small>
          Pointwise, Inc. is committed to protecting your privacy. You can review our privacy policy at <a href="../../legal/privacy.html">www.pointwise.com/legal/privacy.html</a>.
        </small>
      </p>
    </div>

    <!-- Space between columns -->
    <div class="col-lg-1">
    </div>

      <!-- Column Contents -->
      <div class="col-lg-3">
        <p class="cta-space"></p>
        <h4>User Group Meeting</h4>
        <svg class="nav-lines">
          <line class="nav-blue-subscribe" x1="0" y1="1" x2="210" y2="1"/>
          <line class="nav-grey-subscribe" x1="200" y1="1" x2="275" y2="1"/>
        </svg>
        <div class="side-nav">
          <p><a href="index.html">Main</a></p>
          <p><a href="agenda.html">Agenda</a></p>
          <p><a href="presenters.html">Presenters</a></p>
          <p><a href="training.html">Training Courses</a></p>
          <p><a href="exhibitor-registration.html">Exhibitors</a></p>
          <p><a href="cfd-gallery.html">CFD Gallery</a></p>
          <p><a href="hotel.html">Hotel and Travel</a></p>
          <p><a href="meshy-award.html">Meshy Award Contest</a></p>
        </div>

        <p class="cta-space"></p>
        <h4>Previous Years</h4>
        <svg class="nav-lines">
          <line class="nav-blue-subscribe" x1="0" y1="1" x2="160" y2="1"/>
          <line class="nav-grey-subscribe" x1="160" y1="1" x2="275" y2="1"/>
        </svg>
        <p><a class="drop collapsed help-items" data-toggle="collapse" data-target="#years">Archive</a></p>
        <div id="years" class="collapse side-nav">
          <p><a href="archive.html">Main</a></p>
          <p><a href="2016/index.html">2016</a></p>
          <p><a href="2014/index.html">2014</a></p>
          <p><a href="2013/index.html">2013</a></p>
          <p><a href="2011/index.html">2011</a></p>
          <p><a href="2010/index.html">2010</a></p>
          <p><a href="2008/index.html">2008</a></p>
          <p><a href="2006/index.html">2006</a></p>
          <p><a href="2005/index.html">2005</a></p>
          <p><a href="2004/index.html">2004</a></p>
        </div>
      </div>

    </div>
  </div>

<!-- FOOTER -->
<% include ../partials/footer %>

  <!-- JAVASCRIPT -->
  <% include ../partials/js-includes %>

</body>
</html>
