<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Analytics -->
    <% include ../partials/ga-includes %>

    <!-- META SETTINGS -->
    <% include ../partials/meta-settings.ejs %>

  <!-- PAGE TITLE -->
  <title>Pointwise User Group Meeting - Hotel and Travel Information</title>

  <!-- OG TAGS -->
  <meta property="og:url" content="https://www.pointwise.com/user-meeting/hotel.html" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Pointwise User Group Meeting - Hotel and Travel Information" />
  <meta property="og:description" content="While at the Pointwise User Group Meeting, take in all the sites and culture that Fort Worth has to offer." />

  <!-- META DATA -->
  <meta name="description" content="While at the Pointwise User Group Meeting, take in all the sites and culture that Fort Worth has to offer.">
  <meta name="keywords" content="cfd meshing, mesh generation, grid generation, computational fluid dynamics, mesh generator, cfd software, cfd consultants, mesh software, grid software, fluid dynamics modeling" />

  <!-- CSS FILES -->
  <% include ../partials/css-includes %>

</head>

<body id="page-top">

	<noscript>
		<p>
			In order to view this page JavaScript must be enabled in your browser.
		</p>
	</noscript>

	<!-- TOP NAVIGATION -->
	<% include ../partials/navbar %>

  <div class="grey-main">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
          <img data-src="images/ugm-2018-logo-300w.svg" class="img-reponsive" alt="Pointwise User Group Meeting 2018 Logo" />
        </div>

        <div class="col-lg-8 col-md-7 col-sm-6 col-xs-12">
          <h1>Pointwise User Group Meeting 2018<br /> Hotel and Travel Information</h1>
          <p>
            While at the Pointwise User Group Meeting, take in all the sights and culture that Fort Worth has to offer.
          </p>
        </div>

      </div>
    </div>
  </div>

  <!-- Page Content -->
  <div class="container">
    <div class="row">

      <div class="col-lg-8">

        <h2>Embassy Suites Fort Worth Downtown</h2>

        <p>
          The Pointwise User Group Meeting will be held at the <a href="http://embassysuites3.hilton.com/en/hotels/texas/embassy-suites-by-hilton-fort-worth-downtown-FTWESES/index.html" target="_blank" rel="noreferrer noopener">Embassy Suites Fort Worth - Downtown</a> in Fort Worth, Texas.
        </p>

        <div class="col-lg-6">
          <h3>
            600 Commerce Street<br />
            Fort Worth, Texas 76102<br />
            817-332-6900<br />
          </h3>
        </div>

        <div class="col-lg-6">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3355.449042470743!2d-97.33219948481859!3d32.75381758097907!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864e714077d47ac5%3A0x3f16ec77db75d2c5!2s600+Commerce+St%2C+Fort+Worth%2C+TX+76102!5e0!3m2!1sen!2sus!4v1521757072260" width="320" height="170" frameborder="0" style="border:0" allowfullscreen title="Google Map to Embassy Suites"></iframe>
        </div>

        <h2>Reservation</h2>

        <p>
          The Embassy Suites is holding a block of rooms for the Pointwise User Group Meeting at the special group rate of $189 per night. The special room rate will be available until 13 October 2018 or until the group block is sold-out, whichever comes first.
        </p>

        <p>
          To reserve by phone: Call 817-332-6900 and reference &ldquo;Pointwise User Group Meeting&rdquo;.
        </p>

        <p>
          To reserve online: Go to the Pointwise User Group Meeting <a href="https://embassysuites.hilton.com/en/es/groups/personalized/F/FTWESES-PNT-20181111/index.jhtml?WT.mc_id=POG" target="_blank" rel="noreferrer noopener">preferred rate link</a>.
        </p>

        <h2>Traveling to and Visiting Fort Worth</h2>

        <p>
          Fort Worth is located approximately 30 minutes from <a href="https://www.dfwairport.com/" target="_blank" rel="noreferrer noopener">Dallas-Fort Worth International Airport (DFW)</a> and 45 minutes from <a href="http://www.dallas-lovefield.com/" target="_blank" rel="noreferrer noopener">Dallas Love Field (DAL)</a>.
        </p>

        <h2>Things to See and Do in Fort Worth</h2>

        <p>
          For information on what to see and do in Fort Worth, go to <a href="https://www.fortworth.com/" target="_blank" rel="noreferrer noopener">www.fortworth.com</a>.
        </p>

        <p>
          For maps of Fort Worth go to <a href="https://www.fortworth.com/about/maps/" target="_blank" rel="noreferrer noopener">www.fortworth.com/about/maps/</a>.
        </p>

        <ul>

          <li><a href="http://www.cartermuseum.org" target="_blank" rel="noreferrer noopener">Amon Carter Museum</a></li>

          <li><a href="http://www.basshall.com" target="_blank" rel="noreferrer noopener">Bass Performance Hall</a></li>

          <li><a href="http://www.billybobstexas.com" target="_blank" rel="noreferrer noopener">Billy Bob's Texas</a></li>

          <li><a href="http://www.fortworthgov.org/" target="_blank" rel="noreferrer noopener">Fort Worth, City of</a></li>

          <li><a href="http://www.fwmuseum.org" target="_blank" rel="noreferrer noopener">Fort Worth Museum of Science and History</a></li>

          <li><a href="http://www.fortworthsouth.org" target="_blank" rel="noreferrer noopener">Near Southside</a></li>

          <li><a href="http://www.fortworthstockyards.org" target="_blank" rel="noreferrer noopener">Fort Worth Stockyards National Historic District</a></li>

          <li><a href="http://www.fortworthzoo.org" target="_blank" rel="noreferrer noopener">Fort Worth Zoo</a></li>

          <li><a href="http://www.kimbellart.org" target="_blank" rel="noreferrer noopener">Kimbell Art Museum</a></li>

          <li><a href="http://www.themodern.org" target="_blank" rel="noreferrer noopener">Modern Art Museum of Fort Worth</a></li>

          <li><a href="http://www.sundancesquare.com" target="_blank" rel="noreferrer noopener">Sundance Square</a></li>

          <li><a href="https://www.sidrichardsonmuseum.org/index.php" target="_blank" rel="noreferrer noopener">Sid Richardson Museum</a></li>

        </ul>

      </div>

      <!-- Space between columns -->
      <div class="col-lg-1">
      </div>

      <!-- Column Contents -->
      <div class="col-lg-3">
        <p class="cta-space"></p>
        <h4>User Group Meeting</h4>
        <svg class="nav-lines">
          <line class="nav-blue-subscribe" x1="0" y1="1" x2="210" y2="1"/>
          <line class="nav-grey-subscribe" x1="200" y1="1" x2="275" y2="1"/>
        </svg>
        <div class="side-nav">
          <p><a href="index.html">Main</a></p>
          <p><a href="agenda.html">Agenda</a></p>
          <p><a href="presenters.html">Presenters</a></p>
          <p><a href="training.html">Training Courses</a></p>
          <p><a href="exhibitor-registration.html">Exhibitors</a></p>
          <p><a href="cfd-gallery.html">CFD Gallery</a></p>
          <p><a href="hotel.html">Hotel and Travel</a></p>
          <p><a href="meshy-award.html">Meshy Award Contest</a></p>
        </div>

        <p class="cta-space"></p>
        <h4>Previous Years</h4>
        <svg class="nav-lines">
          <line class="nav-blue-subscribe" x1="0" y1="1" x2="160" y2="1"/>
          <line class="nav-grey-subscribe" x1="160" y1="1" x2="275" y2="1"/>
        </svg>
        <p><a class="drop collapsed help-items" data-toggle="collapse" data-target="#years">Archive</a></p>
        <div id="years" class="collapse side-nav">
          <p><a href="archive.html">Main</a></p>
          <p><a href="2016/index.html">2016</a></p>
          <p><a href="2014/index.html">2014</a></p>
          <p><a href="2013/index.html">2013</a></p>
          <p><a href="2011/index.html">2011</a></p>
          <p><a href="2010/index.html">2010</a></p>
          <p><a href="2008/index.html">2008</a></p>
          <p><a href="2006/index.html">2006</a></p>
          <p><a href="2005/index.html">2005</a></p>
          <p><a href="2004/index.html">2004</a></p>
        </div>
      </div>

    </div>
  </div>

  <!-- FOOTER -->
  <% include ../partials/footer %>

    <!-- JAVASCRIPT -->
    <% include ../partials/js-includes %>

</body>
</html>
