<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Google Analytics -->
    <% include ../partials/ga-includes %>

    <!-- META SETTINGS -->
    <% include ../partials/meta-settings.ejs %>

  <!-- PAGE TITLE -->
  <title>Meshy Award Contest | Pointwise User Group Meeting 2018</title>

  <!-- OG TAGS -->
  <meta property="og:url" content="https://www.pointwise.com/user-meeting/meshy-award.html" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Meshy Award Contest | Pointwise User Group Meeting 2018" />
  <meta property="og:description" content="At the Pointwise User Group Meeting 2018, we will honor one grid generated in Pointwise with the coveted Meshy Award." />

  <!-- META DATA -->
  <meta name="description" content="At the Pointwise User Group Meeting 2018, we will honor one grid generated in Pointwise with the coveted Meshy Award.">
  <meta name="keywords" content="cfd meshing, mesh generation, grid generation, computational fluid dynamics, mesh generator, cfd software, cfd consultants, mesh software, grid software, fluid dynamics modeling" />

  <!-- CSS FILES -->
  <% include ../partials/css-includes %>

</head>

<body id="page-top">

	<noscript>
		<p>
			In order to view this page JavaScript must be enabled in your browser.
		</p>
	</noscript>

	<!-- TOP NAVIGATION -->
	<% include ../partials/navbar %>

  <div class="grey-main">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
          <img data-src="images/ugm-2018-logo-300w.svg" class="img-reponsive" alt="Pointwise User Group Meeting 2018 Logo" />
        </div>

        <div class="col-lg-8 col-md-7 col-sm-6 col-xs-12">
          <h1>Pointwise User Group Meeting 2018 Meshy Award Contest</h1>
          <p>
            At Pointwise we appreciate the beauty and intricacies of a masterfully designed mesh. We understand the knowledge and engineering insight it takes to create such a masterpiece. We want the world to see the best of the best.
          </p>
        </div>

      </div>
    </div>
  </div>

  <!-- Page Content -->
  <div class="container">
    <div class="row">

      <div class="col-lg-8">

        <h2>Winner of the Pointwise Meshy Award Contest</h2>
        <hr />
        <br />
        <img data-src="2018/images/MeshyWinner.png" class="img-fluid" alt="Mixed-Element unstructured grid created by Tim Weathers"/>
        <br />
        <h2>Other 2018 Meshy Award Entries</h2>
        <hr />
        <br />
        <img data-src="2018/images/Meshy2.png" class="img-fluid" alt="Mesh of 19 wrapped-wire bundle in hexagonal arrangment created by Dr. Michael Bottcher"/>

        <img data-src="2018/images/Meshy3.png" class="img-fluid" alt="A multiblock structured grid for a blended wing-body geometry created by Faranggis Bagheri"/>

        <img data-src="2018/images/Meshy4.png" class="img-fluid" alt="Mesh of a cowboy hat created by Spencer Owen"/>
        <!--
        <p><strong>
          We are no longer accepting entries for the Meshy Award.
        </strong></p>

        <img src="images/Meshy-Award-Trophy.jpg" alt="Pointwise Meshy Award" class="img-fluid pull-right" />

        <p>
          At the Pointwise User Group Meeting 2018, we will honor one grid generated in Pointwise with the coveted Meshy Award. The winning grid will be the featured artwork on a T-shirt to be distributed at the user group meeting.
        </p>

        <p>
          Meshes will be judged on visual appeal, originality and uniqueness.
        </p>

        <p>
          Send us your best mesh and enter the Meshy Award contest today.
        </p>

        <h2>How to Enter</h2>

        <ul>
          <li>
            Read the contest’s <a href="assets/Meshy_Award_Terms_Conditions.pdf">Terms and Conditions</a>
          </li>
          <li>
            Email the following items to <a href="mailto:ugm@pointwise.com">ugm@pointwise.com</a>
          </li>
          <ul>
            <li>
              <a href="assets/Meshy_Award_Entry_Form.pdf">Entry/copyright form (PDF)</a>
            </li>
            <li>
              2-3 grid images (minimum width of 2000 pixels)
            </li>
          </ul>
          <li>
            Submit everything above by the deadline of 26 September 2018
          </li>
        </ul>

        <h2>2018 Contest Entries</h2>

        <p>
          Entries for the Meshy Award 2018 will be posted to our Facebook Photo Album after 26 September 2018.
        </p>
      -->
        <br />
        <h2>Previous Winners</h2>
        <hr />

        <a id="2016" class="anchor"></a>
        <div class="row">
          <div class="col-lg-6">
            <img data-src="images/2016-meshy-winner-400x235.png" alt="2016 Meshy Award Winner - Grid created for the purpose of 3-D printing a pavilion created by C. Bruce Hilbert" class="img-fluid" />
          </div>

          <div class="col-lg-6">
            <br />
            <p>
              C. Bruce Hilbert and Melody Rees, Branch Technology
            </p>

            <p>
              From CAD to Grid to Reality. The grid was created for the purpose of 3-D printing a pavilion that is on display in Cheekwood Gardens in Nashville, Tennessee.
            </p>

            <p>
              <a href="https://www.facebook.com/media/set/?set=a.10154185264342418.1073741884.360943992417&type=1&l=52283b3da5" target="_blank" rel="noreferrer noopener">The Meshy Award 2016 Album</a>
            </p>
          </div>
        </div>

        <hr />

        <a id="2014" class="anchor"></a>
        <div class="row">
          <div class="col-lg-6">
            <img data-src="images/2014-meshy-winner-400x248.png" alt="2014 Meshy Award Winner - Surface mesh of a full aft ship region created by Rickard Bensow" class="img-fluid" />
          </div>

          <div class="col-lg-6">
            <br />
            <p>
              Rickard Bensow, Chalmers University of Technology
            </p>

            <p>
              Surface mesh of the full aft ship region, view II.
            </p>

            <p>
              <a href="https://www.facebook.com/media/set/?set=a.10152504824942418.1073741856.360943992417&type=1&l=83a313d57f" target="_blank" rel="noreferrer noopener">The Meshy Award 2014 Album</a>
            </p>
          </div>
        </div>

        <hr />

        <a id="2013" class="anchor"></a>
        <div class="row">
          <div class="col-lg-6">
            <img data-src="images/2013-meshy-winner-400x250.png" alt="2013 Meshy Award Winner - A low head safety injection pump created by Dr. Vineet Ahuja, James Chenoweth, Don Kenzakowski, and Zisen Liu" class="img-fluid" />
          </div>

          <div class="col-lg-6">
            <br />
            <p>
              CRAFT Tech engineers – Dr. Vineet Ahuja, James Chenoweth, Don Kenzakowski and Zisen Liu
            </p>

            <p>
              A low head safety injection (LHSI) pump for nuclear power plants.
            </p>

            <p>
              <a href="https://www.facebook.com/media/set/?set=a.10151260250262418.488988.360943992417&type=1&l=4e3f627fb7" target="_blank" rel="noreferrer noopener">The Meshy Award 2013 Album</a>
            </p>
          </div>
        </div>

        <hr />

        <a id="2011" class="anchor"></a>
        <div class="row">
          <div class="col-lg-6">
            <img data-src="images/2011-meshy-winner-400x244.png" alt="2011 Meshy Award Winner - Mesh of a reactor pressure vessel created by Dr. Michael Bottcher" class="img-fluid" />
          </div>

          <div class="col-lg-6">
            <br />
            <p>
              Dr. Michael Böttcher of Karlsruhe Institute of Technology
            </p>

            <p>
              Mesh of a reactor pressure vessel showing the coolant flows, control rod guides, and perforated walls.
            </p>

            <p>
              <a href="https://www.facebook.com/media/set/?set=a.10151260250262418.488988.360943992417&type=1&l=4e3f627fb7" target="_blank" rel="noreferrer noopener">The Meshy Award 2011 Album</a>
            </p>
          </div>
        </div>

      </div>

      <!-- Space between columns -->
      <div class="col-lg-1">
      </div>

      <!-- Column Contents -->
      <div class="col-lg-3">
        <p class="cta-space"></p>
        <h4>User Group Meeting</h4>
        <svg class="nav-lines">
          <line class="nav-blue-subscribe" x1="0" y1="1" x2="210" y2="1"/>
          <line class="nav-grey-subscribe" x1="200" y1="1" x2="275" y2="1"/>
        </svg>
        <div class="side-nav">
          <p><a href="index.html">Main</a></p>
          <p><a href="agenda.html">Agenda</a></p>
          <p><a href="presenters.html">Presenters</a></p>
          <p><a href="training.html">Training Courses</a></p>
          <p><a href="exhibitor-registration.html">Exhibitors</a></p>
          <p><a href="cfd-gallery.html">CFD Gallery</a></p>
          <p><a href="hotel.html">Hotel and Travel</a></p>
          <p><a href="meshy-award.html">Meshy Award Contest</a></p>
        </div>

        <p class="cta-space"></p>
        <h4>Previous Years</h4>
        <svg class="nav-lines">
          <line class="nav-blue-subscribe" x1="0" y1="1" x2="160" y2="1"/>
          <line class="nav-grey-subscribe" x1="160" y1="1" x2="275" y2="1"/>
        </svg>
        <p><a class="drop collapsed help-items" data-toggle="collapse" data-target="#years">Archive</a></p>
        <div id="years" class="collapse side-nav">
          <p><a href="archive.html">Main</a></p>
          <p><a href="2016/index.html">2016</a></p>
          <p><a href="2014/index.html">2014</a></p>
          <p><a href="2013/index.html">2013</a></p>
          <p><a href="2011/index.html">2011</a></p>
          <p><a href="2010/index.html">2010</a></p>
          <p><a href="2008/index.html">2008</a></p>
          <p><a href="2006/index.html">2006</a></p>
          <p><a href="2005/index.html">2005</a></p>
          <p><a href="2004/index.html">2004</a></p>
        </div>
      </div>

    </div>
  </div>

  <!-- FOOTER -->
  <% include ../partials/footer %>

    <!-- JAVASCRIPT -->
    <% include ../partials/js-includes %>

</body>
</html>