<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Analytics -->
    <% include ../partials/ga-includes %>

    <!-- META SETTINGS -->
    <% include ../partials/meta-settings.ejs %>

  <!-- PAGE TITLE -->
  <title>Pointwise User Group Meeting 2018</title>

  <!-- OG TAGS -->
  <meta property="og:url" content="https://www.pointwise.com/user-meeting/index.html" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Pointwise User Group Meeting 2018" />
  <meta property="og:description" content="Join some of the world’s top CFD engineers at the Pointwise User Group Meeting 2018 and learn why they have made Pointwise their choice for CFD meshing." />

  <!-- META DATA -->
  <meta name="description" content="Join some of the world’s top CFD engineers at the Pointwise User Group Meeting 2018 and learn why they have made Pointwise their choice for CFD meshing.">
  <meta name="keywords" content="cfd meshing, mesh generation, grid generation, computational fluid dynamics, mesh generator, cfd software, cfd consultants, mesh software, grid software, fluid dynamics modeling" />

  <!-- CSS FILES -->
  <% include ../partials/css-includes %>

</head>

<body id="page-top">

	<noscript>
		<p>
			In order to view this page JavaScript must be enabled in your browser.
		</p>
	</noscript>

	<!-- TOP NAVIGATION -->
	<% include ../partials/navbar %>

  <div class="grey-main">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
          <img data-src="images/ugm-2018-logo-300w.svg" class="img-reponsive" alt="Pointwise User Group Meeting 2018 Logo" />
        </div>

        <div class="col-lg-8 col-md-7 col-sm-6 col-xs-12">
          <h1>Pointwise User Group Meeting 2018 Presenters</h1>
          <p>
            Interact with Pointwise User Group Meeting 2018 presenters to learn how they are solving a wide variety of engineering problems and using Pointwise to make CFD analysis processes more efficient and reliable.
          </p>
        </div>

      </div>
    </div>
  </div>

  <!-- Page Content -->
  <div class="container">
    <div class="row">

      <div class="col-lg-8">

        <a id="bagheri" class="anchor"></a>
        <h2>Bagheri, Faranggis</h2>
        <h3 class="presenter-heading"><em><a href="agenda.html#bagheri">Aircraft Aerodynamic Design Using Pointwise</a></em></h3>
        <p>
          Faranggis Bagheri is the managing director of neptech AB, Scandinavian distributor of the grid generation tool, Pointwise. Founded in 2018, neptech also provides Computational Fluid Dynamics (CFD) consulting services. Before neptech, Ms. Bagheri was the software support manager at Go Virtual Nordic AB, providing technical support for Pointwise and other CFD-related tools. Before that she worked as a CFD engineer at FS Dynamics Sweden AB, performing CFD simulations for different customers in different industries. Ms. Bagheri received her master’s degree in 2010 in Engineering Mechanics from the Royal Institute of Technology (KTH) in Stockholm.
        </p>

        <a id="bottcher" class="anchor"></a>
        <h2>B&#246;ttcher, Michael</h2>
        <h3 class="presenter-heading"><em><a href="agenda.html#bottcher">Development of a CFD Wrapped Wire Rod Bundle Model in Sodium Flow</a></em></h3>

        <p>
          Dr. Michael B&#246;ttcher, is a scientist at Karlsruhe Institute of Technology (KIT), formerly Research Center Karlsruhe. Since 2001, he has worked on various projects such as modeling of chemical reactors, nuclear-pressurized water reactors (VVER1000), liquid metal flows (lead and LBE cooled systems), and multiphase flow phenomena in various fluids. Winner of the very first Meshy Award from Pointwise in 2011, Dr. B&#246;ttcher completed his studies of physical engineering at Technische Universitӓt Berlin (1978-1984). He earned a Ph.D. in 1990, studying numerical simulations of a turbulent shear layer using a discrete vortex method. He researched ozone transport phenomena in the stratosphere at the Meteorological Institute of Freie Universit&#228;t Berlin from 1991 to 1995. He has been at KIT since 1996.
        </p>

        <a id="combest" class="anchor"></a>
        <h2>Combest, Dan</h2>
        <h3 class="presenter-heading"><em><a href="agenda.html#combest">Topology Optimization with Pointwise and HELYX-Adjoint</a></em></h3>

        <p>
          Dr. Dan Combest, holds a Ph.D. from Washington University in Saint Louis, Missouri in Energy, Environmental and Chemical Engineering. He is a reaction engineer by training and an expert in turbulent reacting flows in complex geometries. Outside of academia, Dr. Combest has a history of business and engineering consulting experience to complement his research and development work in various organizations. His roles at ENGYS include trainer, developer, product tester, and consultant across different industry sectors with an emphasis in external aerodynamics simulation and optimization in the automotive industry.
        </p>

        <a id="dannenhoffer" class="anchor"></a>
        <h2>Dannenhoffer, John</h2>
        <h3 class="presenter-heading"><em><a href="agenda.html#dannenhoffer">Converting Cloud of Points to a Boundary Representation (SLUGS)</a></em></h3>

        <p>
          Dr. John Dannenhoffer, is a principal author of the Engineering Sketch Pad system and many of its associated programs. He has been an associate professor of Mechanical and Aerospace Engineering at Syracuse University since 2001. Before that, he spent nearly 25 years in industry with Pratt & Whitney, the United Technologies Research Center, and Carrier. He earned BS and ME degrees in Aerospace from Rensselaer Polytechnic Institute and an Sc.D. in Computational Fluid Dynamics from the Massachusetts Institute of Technology. His active research areas include applied computational geometry, grid generation methods, indoor airflows, collaborative engineering and computer-based instructional methods.
        </p>

        <a id="eggers" class="anchor"></a>
        <h2>Eggers, Arne </h2>
        <h3 class="presenter-heading"><em><a href="agenda.html#eggers">Design of a High-Quality Boundary Layer Mesh to Predict the Flow around Low-Drag Vehicles</a></em></h3>

        <p>
          Arne Eggers is a graduate student at the KU Leuven since. Mr. Eggers specializes in CFD for applied hydrodynamics and aerodynamics. Among other projects, he conducted optimization studies of flow based recycling machines, predictions of the hydrodynamic drag on ships, and aerodynamic drag on cars. Before starting at the KU Leuven, he completed his master’s degree in Computational Engineering at the Technical University of Darmstadt. After that, he worked as a researcher in combustion modeling at the Institute for Energy and Power Plants at the Technical University of Darmstadt.
        </p>

        <a id="glasby" class="anchor"></a>
        <h2>Glasby, Ryan </h2>
        <h3 class="presenter-heading"><em><a href="agenda.html#glasby">HPCMP CREATE(TM)-AV Kestrel Higher-Order CFD Solutions Generated with Pointwise Meshes</a></em></h3>

        <p>
          Dr. Ryan S. Glasby, is a computational engineer at the University of Tennessee Joint Institute for Computational Sciences (JICS) located at Oak Ridge National Laboratory (ORNL). Dr. Glasby received his Ph. D. in Computational Engineering in 2011 from the University of Tennessee at Chattanooga National Center for Computational Engineering. Dr. Glasby’s research advisor is Dr. W. Kyle Anderson. Dr. Glasby’s research interests include algorithm development for higher-order unstructured CFD applications, modern software engineering methodologies, and higher-order mesh generation. Dr. Glasby is currently a developer for the HPCMP CREATETM-AV next-generation flow solver initiative within Kestrel. The purpose of this initiative is to generate higher-order accurate, robust, physics-based software while applying state of the art software engineering methodologies that provide high-fidelity numerical solutions to CFD applications of relevance to the Department of Defense (DoD).
        </p>

        <a id="haimes" class="anchor"></a>
        <h2>Haimes, Bob </h2>
        <h3 class="presenter-heading"><em><a href="agenda.html#haimes">The Engineering Sketch Pad</a></em></h3>

        <p>
          Bob Haimes is a principal research engineer in the Aerospace Computational Design Laboratory of the Department of Aeronautics & Astronautics at the Massachusetts Institute of Technology. Mr. Haimes' primary research focuses have been CFD, scientific visualization for the results from CFD simulations, distributed and high-performance computing, applied computational geometry (analytic and discrete) and the use of geometry from conceptual through final design. Bob has had many projects in these areas funded by NASA, DoD, and industry. The research is usually expressed by publication and software (made generally available) that implements the ideas articulated in the papers.
        </p>

        <a id="hilbert" class="anchor"></a>
        <h2>Hilbert, Bruce </h2>
        <h3 class="presenter-heading"><em><a href="agenda.html#hilbert">An Update on Branch Technology’s Progress Utilizing Structured Grids Created with Pointwise</a></em></h3>

        <p>
          Dr. Bruce Hilbert, is currently the lead computational researcher at Branch Technology, Inc., a Chattanooga, Tennessee based startup that has developed the largest freeform 3-D printer in the world. He earned his Ph.D. in Computational Engineering from the University of Tennessee at Chattanooga under the tutelage of Pointwise’s Dr. Steve Karman. Dr. Hilbert was previously a research associate at the University of Tennessee Chattanooga SimCenter and was the primary grid generator there for almost six years, working on traditional aircraft, turbomachinery, watercraft, fuel cells, waveguides and other projects. His Ph.D. research was in the field of tetrahedral meshing, and he is currently researching grid sequencing for Branch’s 3-D printing process.
        </p>

        <a id="karman" class="anchor"></a>
        <h2>Karman, Steve </h2>
        <h3 class="presenter-heading"><em><a href="agenda.html#karman">Automatic Unstructured Mesh Generation with Geometry Attribution</a></em></h3>

        <p>
          Dr. Steve Karman, joined Pointwise's Applied Research Team in 2014. He was previously a tenured professor in the Graduate School of Computational Engineering, University of Tennessee at Chattanooga. Dr. Karman, an associate fellow of the American Institute of Aeronautics and Astronautics, has served as chairman of the Meshing, Visualization and Computational Environments Technical Committee. He earned B.S. and M.Eng. degrees in aerospace engineering from Texas A&M University and a Ph.D. in aerospace engineering from the University of Texas at Arlington in 1991. At General Dynamics/Lockheed Martin, Dr. Karman developed CFD tools in support of the F-16, F-22 and F-35 programs.
        </p>

        <a id="shipman" class="anchor"></a>
        <h2>Shipman, Jeremy </h2>
        <h3 class="presenter-heading"><em><a href="agenda.html#shipman">Simulation of Real-Fluid Thermodynamics for Application to Supercritical CO2 Power Cycles</a></em></h3>

        <p>
          Jeremy Shipman has been using Pointwise software for mesh generation since 1998 when he joined the team at CRAFT Tech. He has been involved with CFD studies of a broad range of applications including turbomachinery, hypersonic flows, chemically reacting and particle-laden flows, aeroacoustics, and turbulent ship airwake/aircraft interactions using CRAFT Tech’s structured and unstructured solvers.
        </p>

        <a id="wurtzler" class="anchor"></a>
        <h2>Wurtzler, Ken </h2>
        <h3 class="presenter-heading"><em><a href="agenda.html#wurtzler">Overset Grid Analyses using Pointwise and Cobalt</a></em></h3>

        <p>
          Ken Wurtzler has been with Cobalt Solutions, LLC since 2001 performing project work and providing grid generation expertise for the development of Cobalt. Before that, he worked for 13 years at the Air Force Research Laboratory at Wright-Patterson Air Force Base. In his capacity there, he worked in the applied CFD group, developing software tools both through contracts and in-house research. Mr. Wurtzler worked on the initial development of Gridgen in the late 1980s/early 1990s. He received a Masters in Aerospace Engineering from the University of Dayton in 1990 and a bachelor’s in Aerospace Engineering from the University of Michigan in 1986.
        </p>

        <a id="wyman" class="anchor"></a>
        <h2>Wyman, Nick</h2>
        <h3 class="presenter-heading"><em><a href="agenda.html#wyman">Recent Developments in Pointwise Applied Research</a></em></h3>

        <p>
          Nick Wyman directs Pointwise's research efforts, focusing contracted software development on solving problems faced by our customers. He joined Pointwise in 1998 as a Gridgen developer and became manager of the entire Development Team. He received a B.S. in aerospace engineering and an M.S. in mechanical engineering from Texas A&M University in 1992 and 1994. Before joining Pointwise, he worked for Advanced Scientific Computing (later AEA Technology), performing CFD applications work and developing grid generation software for turbomachinery. Mr. Wyman is an associate fellow of the American Institute of Aeronautics and Astronautics.
        </p>

      </div>

      <!-- Space between columns -->
      <div class="col-lg-1">
      </div>

      <!-- Column Contents -->
      <div class="col-lg-3">
        <p class="cta-space"></p>
        <h4>User Group Meeting</h4>
        <svg class="nav-lines">
          <line class="nav-blue-subscribe" x1="0" y1="1" x2="210" y2="1"/>
          <line class="nav-grey-subscribe" x1="200" y1="1" x2="275" y2="1"/>
        </svg>
        <div class="side-nav">
          <p><a href="index.html">Main</a></p>
          <p><a href="agenda.html">Agenda</a></p>
          <p><a href="presenters.html">Presenters</a></p>
          <p><a href="training.html">Training Courses</a></p>
          <p><a href="exhibitor-registration.html">Exhibitors</a></p>
          <p><a href="cfd-gallery.html">CFD Gallery</a></p>
          <p><a href="hotel.html">Hotel and Travel</a></p>
          <p><a href="meshy-award.html">Meshy Award Contest</a></p>
        </div>

        <p class="cta-space"></p>
        <h4>Previous Years</h4>
        <svg class="nav-lines">
          <line class="nav-blue-subscribe" x1="0" y1="1" x2="160" y2="1"/>
          <line class="nav-grey-subscribe" x1="160" y1="1" x2="275" y2="1"/>
        </svg>
        <p><a class="drop collapsed help-items" data-toggle="collapse" data-target="#years">Archive</a></p>
        <div id="years" class="collapse side-nav">
          <p><a href="archive.html">Main</a></p>
          <p><a href="2016/index.html">2016</a></p>
          <p><a href="2014/index.html">2014</a></p>
          <p><a href="2013/index.html">2013</a></p>
          <p><a href="2011/index.html">2011</a></p>
          <p><a href="2010/index.html">2010</a></p>
          <p><a href="2008/index.html">2008</a></p>
          <p><a href="2006/index.html">2006</a></p>
          <p><a href="2005/index.html">2005</a></p>
          <p><a href="2004/index.html">2004</a></p>
        </div>
      </div>

    </div>
  </div>

  <!-- FOOTER -->
  <% include ../partials/footer %>

    <!-- JAVASCRIPT -->
    <% include ../partials/js-includes %>

</body>
</html>
