<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Analytics -->
    <% include ../partials/ga-includes %>

    <!-- META SETTINGS -->
    <% include ../partials/meta-settings.ejs %>

  <!-- PAGE TITLE -->
  <title>Pointwise User Group Meeting | Training Syllabus</title>

  <!-- OG TAGS -->
  <meta property="og:url" content="https://www.pointwise.com/user-meeting/training.html" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Pointwise User Group Meeting | Training Syllabus" />
  <meta property="og:description" content="Attend the Pointwise User Group Meeting to receive hands-on training in the newest features." />

  <!-- META DATA -->
  <meta name="description" content="Attend the Pointwise User Group Meeting to receive hands-on training in the newest features.">
  <meta name="keywords" content="cfd meshing, mesh generation, grid generation, computational fluid dynamics, mesh generator, cfd software, cfd consultants, mesh software, grid software, fluid dynamics modeling" />

  <!-- CSS FILES -->
  <% include ../partials/css-includes %>

</head>

<body id="page-top">

	<noscript>
		<p>
			In order to view this page JavaScript must be enabled in your browser.
		</p>
	</noscript>

	<!-- TOP NAVIGATION -->
	<% include ../partials/navbar %>

  <div class="grey-main">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
          <img data-src="images/ugm-2018-logo-300w.svg" class="img-reponsive" alt="Pointwise User Group Meeting 2018 Logo" />
        </div>

        <div class="col-lg-8 col-md-7 col-sm-6 col-xs-12">
          <h1>Pointwise User Group Meeting 2018<br />Training Syllabus</h1>
          <p>
            Attend the Pointwise User Group Meeting 2018 to receive hands-on training in the newest features in Pointwise. Take advantage of having easy access to technical support staff throughout the course, not only to help with the training, but also to answer questions specific to your work.
          </p>
        </div>

      </div>
    </div>
  </div>

  <!-- Page Content -->
  <div class="container">
    <div class="row">

      <div class="col-lg-8">

        <a id="automation" class="anchor"></a>
        <h2>User Experience and Meshing Productivity Enhancements</h2>
        <p>
          Learn about the new user interface tools for view manipulation and command navigation as well as many other additions to help generate meshes more quickly and efficiently.
        </p>
        <ul>
          <li>
            Achieve quick access to the views and commands you need with the View Manipulator and expanded right-click Context Menu.
          </li>
          <li>
            Learn about the new online user manual for in-depth descriptions, videos, and examples of Pointwise’s commands.
          </li>
          <li>
            Master a suite of new commands created to accelerate the modification of connectors as well as the syncing and grouping of their associated spacing constraints.
          </li>
          <li>
            See how to use new diagnostic functions to find problematic cells and mesh intersections.
          </li>
          <li>
            Gain experience with the new Build Blocks command to rapidly create farfield blocks based on existing topology.
          </li>
        </ul>


        <img data-src="2018/images/ugm-training-800x365.png"
        alt="Overset data is displayed on a Persistent Cut for the ESAV." class="img-fluid center-block" />
        <figcaption>
          A farfield block and T-Rex layers are shown generated off the full DrivAer model.
        </figcaption>

        <a id="high-order" class="anchor"></a>
        <h2>Advanced Tools for Viscous and High Order Meshing</h2>
        <p>
          Get hands-on experience with these new features:
        </p>
        <ul>
          <li>
            Create high order volume meshes (up to 4th degree) for all supported cell types.
          </li>
          <li>
            Quick top-down creation of new grid topology with Draw Shapes.
          </li>
          <li>
            Choose how anisotropic T-Rex (anisotropic tetrahedral extrusion) cells transition to isotropy to reduce pyramid counts in T-Rex blocks.
          </li>
          <li>
            Automatically apply 2-D T-Rex to unstructured domains.
          </li>
          <li>
            Control the final isotropic height of T-Rex layers for smooth transitions in difficult concave regions.
          </li>
          <li>
            Growth profiles that enable the automatic creation of laminar, turbulent, or customized boundary layer meshes.
          </li>
          <li>
            Grid import plugin SDK and other I/O improvements.
          </li>
        </ul>

        <img data-src="images/ugm-training-800x393.png"
        alt="Overset data is displayed on a Persistent Cut for the ESAV." class="img-fluid center-block" />
        <figcaption>
          Overset data is displayed on a Persistent Cut for the ESAV.
        </figcaption>

        <a id="coordinates" class="anchor"></a>
        <h2>Local Coordinates, Instancing, and Top-Down Meshing</h2>
        <p>
          Learn how to create mesh topology quickly and how to manage multibody overset meshes easily in independent meshing frameworks with these techniques:
        </p>
        <ul>
          <li>
            Top-down block creation, including the new voxel block type, using Build Blocks for rapid refinement grid generation.
          </li>
          <li>
            Manage complex overset meshes with Frameworks and associated tools.
          </li>
          <li>
            Use attachment points to easily transform frameworks with respect to each other.
          </li>
          <li>
            Adapt block volumes and boundaries based on sources and grid entities.
          </li>
          <li>
            Split unstructured blocks based on distance or layer number.
          </li>
          <li>
            Use curve sources to align surface domain cells in critical regions.
          </li>
        </ul>

        <a id="refinement" class="anchor"></a>
        <h2>Advanced Mesh Diagnostics and Refinement</h2>
        <p>
          Get up to speed on all of the new Examine capabilities intended to facilitate your interrogation and management of complex overset grids:
        </p>
        <ul>
          <li>
            Monitor key diagnostics with the widely requested new Examine persistent cuts feature.
          </li>
          <li>
            Use the new Examine Filters to isolate diagnostic ranges and picking cut locations.
          </li>
          <li>
            Obtain extensive overset object data via the enhanced cell/point probe.
          </li>
          <li>
            Generate cloud sources to refine your overset blocks exactly where you need.
          </li>
          <li>
            Learn how Pointwise integrates with popular mesh assemblers.
          </li>
        </ul>

      </div>

      <!-- Space between columns -->
      <div class="col-lg-1">
      </div>

      <!-- Column Contents -->
      <!-- Column Contents -->
      <div class="col-lg-3">
        <p class="cta-space"></p>
        <h4>User Group Meeting</h4>
        <svg class="nav-lines">
          <line class="nav-blue-subscribe" x1="0" y1="1" x2="210" y2="1"/>
          <line class="nav-grey-subscribe" x1="200" y1="1" x2="275" y2="1"/>
        </svg>
        <div class="side-nav">
          <p><a href="index.html">Main</a></p>
          <p><a href="agenda.html">Agenda</a></p>
          <p><a href="presenters.html">Presenters</a></p>
          <p><a href="training.html">Training Courses</a></p>
          <p><a href="exhibitor-registration.html">Exhibitors</a></p>
          <p><a href="cfd-gallery.html">CFD Gallery</a></p>
          <p><a href="hotel.html">Hotel and Travel</a></p>
          <p><a href="meshy-award.html">Meshy Award Contest</a></p>
        </div>

        <p class="cta-space"></p>
        <h4>Previous Years</h4>
        <svg class="nav-lines">
          <line class="nav-blue-subscribe" x1="0" y1="1" x2="160" y2="1"/>
          <line class="nav-grey-subscribe" x1="160" y1="1" x2="275" y2="1"/>
        </svg>
        <p><a class="drop collapsed help-items" data-toggle="collapse" data-target="#years">Archive</a></p>
        <div id="years" class="collapse side-nav">
          <p><a href="archive.html">Main</a></p>
          <p><a href="2016/index.html">2016</a></p>
          <p><a href="2014/index.html">2014</a></p>
          <p><a href="2013/index.html">2013</a></p>
          <p><a href="2011/index.html">2011</a></p>
          <p><a href="2010/index.html">2010</a></p>
          <p><a href="2008/index.html">2008</a></p>
          <p><a href="2006/index.html">2006</a></p>
          <p><a href="2005/index.html">2005</a></p>
          <p><a href="2004/index.html">2004</a></p>
        </div>
      </div>

    </div>
  </div>

    <!-- FOOTER -->
    <% include ../partials/footer %>

    <!-- JAVASCRIPT -->
    <% include ../partials/js-includes %>

</body>
</html>
