<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Analytics -->
    <% include ../../partials/ga-includes %>

    <!-- META SETTINGS -->
    <% include ../../partials/meta-settings.ejs %>

  <!-- PAGE TITLE -->
  <title>Pointwise Marine and Wind Energy Workshop</title>

  <!-- OG TAGS -->
  <meta property="og:url" content="https://www.pointwise.com/workshops/2018-09-September/" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Pointwise Marine and Wind Energy Workshop" />
  <meta property="og:description" content="Explore how Pointwise helps engineers in the marine and wind energy industries attain reliable CFD predictions when you attend the Pointwise Marine and Wind Energy Workshop on 18 September in Hamburg, Germany." />

  <!-- META DATA -->
  <meta name="description" content="Explore how Pointwise helps engineers in the marine and wind energy industries attain reliable CFD predictions when you attend the Pointwise Marine and Wind Energy Workshop on 18 September in Hamburg, Germany.">
  <meta name="keywords" content="cfd meshing, mesh generation, grid generation, computational fluid dynamics, mesh generator, cfd software, cfd consultants, mesh software, grid software, fluid dynamics modeling" />

  <!-- CSS FILES -->
  <% include ../../partials/css-includes %>

</head>

<body id="page-top">

	<noscript>
		<p>
			In order to view this page JavaScript must be enabled in your browser.
		</p>
	</noscript>

	<!-- TOP NAVIGATION -->
	<% include ../../partials/navbar %>

  <div class="grey-main">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
          <img data-src="workshop-hamburg-400x240.png" class="img-fluid" alt="Pointwise Marine and Wind Energy Workshop" />
        </div>

        <div class="col-lg-8 col-md-7 col-sm-6 col-xs-12">
          <h1>Pointwise Marine and Wind Energy Workshop</h1>
          <p>
            Attend this workshop to explore the ways Pointwise helps engineers in the marine and wind energy industries reliably make CFD predictions by simplifying creation of high-aspect ratio, hybrid hexahedral- tetrahedral meshes and direct interfaces to Fluent, CFX, OpenFOAM and more.
          </p>
        </div>

      </div>
    </div>
  </div>

  <!-- Page Content -->
  <div class="container">
    <div class="row">

      <div class="col-lg-8">

        <br />

        <p>
          At the Pointwise Marine and Wind Energy Workshop, we discussed how Pointwise helps to make CFD analyses in the marine and wind energy industries more efficient and reliable. We also discussed details of how Pointwise works and the techniques you can use to make CFD solutions faster and more accurate. If there are any other topics for which you would like additional information, please contact either of the workshop presenters, Rick Matus (<a href="mailto:rmatus@pointwise.com">rmatus@pointwise.com</a>) or Uli Fuchs (<a href="mailto:uf@cfd-beratung.de">uf@cfd-beratung.de)</a>.
        </p>

        <p><strong>
          The Pointwise Marine and Wind Energy Workshop is over but you can still download the presentations.
        </strong></p>

        <!--HubSpot Call-to-Action Code --><span class="hs-cta-wrapper" id="hs-cta-wrapper-83e9011e-7dd7-4898-ab86-046af9ad787d"><span class="hs-cta-node hs-cta-83e9011e-7dd7-4898-ab86-046af9ad787d" id="hs-cta-83e9011e-7dd7-4898-ab86-046af9ad787d"><!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]--><a href="https://cta-redirect.hubspot.com/cta/redirect/3788790/83e9011e-7dd7-4898-ab86-046af9ad787d" ><img class="hs-cta-img" id="hs-cta-img-83e9011e-7dd7-4898-ab86-046af9ad787d" style="border-width:0px;" src="https://no-cache.hubspot.com/cta/default/3788790/83e9011e-7dd7-4898-ab86-046af9ad787d.png"  alt="Learn More"/></a></span><script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script><script type="text/javascript"> hbspt.cta.load(3788790, '83e9011e-7dd7-4898-ab86-046af9ad787d', {}); </script></span><!-- end HubSpot Call-to-Action Code -->

        <h3>Date</h3>

        <p>
          18 September 2018
        </p>

        <h3>Location</h3>

        <p>
          <a href="https://www.radissonhotels.com/en-us/hotels/radisson-blu-hamburg" target="_blank" rel="noreferrer noopener">Radisson Blu Hotel in Hamburg</a><br />
          Marseiller Strasse 2 D-20355<br />
          Hamburg Germany<br />
          Room: Philadelphia<br />
        </p>

        <h2>Preliminary Agenda</h2>

        <h3>17 September 2018</h3>

        <div class="table-responsive">
          <table class="table">

            <tr>
              <td>13:00 – 18:00 </td>
              <td>Advance Your Meshing - Consultation Times </td>
            </tr>

          </table>
        </div>

        <h3>18 September 2018</h3>

        <div class="table-responsive">
          <table class="table">

            <tr>
              <td>9:30 </td>
              <td>Registration/Coffee and Snacks </td>
            </tr>

            <tr>
              <td>10:00 </td>
              <td>Welcome and Introductions </td>
            </tr>

            <tr>
              <td>10:15 </td>
              <td>Pointwise Technology Overview </td>
            </tr>

            <tr>
              <td>11:00 </td>
              <td>Interactive Pointwise Meshing Demonstration </td>
            </tr>

            <tr>
              <td>12:00 </td>
              <td>Lunch </td>
            </tr>

            <tr>
              <td>13:00 </td>
              <td>Mesh Topology Study for the Potsdam Propeller Test Case </td>
            </tr>

            <tr>
              <td>13:45 </td>
              <td>Automating Wind Turbine Siting with Glyph Scripting </td>
            </tr>

            <tr>
              <td>14:30 </td>
              <td>Break </td>
            </tr>

            <tr>
              <td>15:00 </td>
              <td>High-Fidelity Hybrid Wind Turbine Blade Meshing with T-Rex</td>
            </tr>

            <tr>
              <td>15:45 </td>
              <td>Questions and Answers </td>
            </tr>

            <tr>
              <td>17:00 </td>
              <td>Close </td>
            </tr>

          </table>
        </div>

      </div>

      <!-- Space between columns -->
      <div class="col-lg-1">
      </div>

      <!-- Column Contents -->
      <div class="col-lg-3">

      <h4>Share This</h4>
      <svg class="nav-lines">
        <line class="nav-blue-social" x1="0" y1="1" x2="120" y2="1"/>
        <line class="nav-grey-social" x1="120" y1="1" x2="265" y2="1"/>
      </svg>
      <div class="social-share">

        <!-- Facebook Like Button -->
        <a href="http://www.facebook.com/share.php?u=https://pointwise.com/workshops/2018-09-Germany/&title=Pointwise Marine and Wind Energy Workshop" target="_blank"><img data-src="../images/Round-Facebook-30x30.svg" width="30px" alt="Facebook Icon" class="img-fluid"/></a>

        <!-- Twitter Share Button -->
        <a href="http://twitter.com/intent/tweet?status=Pointwise Marine and Wind Energy Workshop+https://www.pointwise.com/workshops/2018-09-Germany/"><img data-src="../images/Round-Twitter-30x30.svg" width="30px" alt="Twitter Icon" class="img-fluid"/></a>

        <!-- LinkedIn Share Button -->
        <a href="http://www.linkedin.com/shareArticle?mini=true&url=http://www.pointwise.com/workshops/2018-09-Germany/&title=Pointwise Marine and Wind Energy Workshop&source=http://www.pointwise.com"><img data-src="../images/Round-LinkedIn-30x30.svg" width="30px" alt="LinkedIn Icon" class="img-fluid"/></a>

        <!-- Share by Email -->
        <script type="text/javascript">
        function shareByEmail() {
          var link = "mailto:"
          + "&subject=" + escape(document.title)
          + "&body=" + escape(window.location) ;
          window.location.href= link;
        }
      </script>
      <a href="mailto:">
        <img data-src="../images/Round-Email-30x30.svg" width="30px"
        alt="Email Icon" class="img-fluid"
        onclick="shareByEmail(); return false"/></a>
      </div>
    </div>

      </div>

    </div>

  <!-- FOOTER -->
  <% include ../../partials/footer %>

    <!-- JAVASCRIPT -->
    <% include ../../partials/js-includes %>

</body>
</html>
