<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Analytics -->
    <% include ../../partials/ga-includes %>

    <!-- META SETTINGS -->
    <% include ../../partials/meta-settings.ejs %>

  <!-- PAGE TITLE -->
  <title>Workshop | Pointwise Meshing Technology Conference</title>

  <!-- OG TAGS -->
  <meta property="og:url" content="https://www.pointwise.com/workshops/2017-12-Germany/Pointwise-Meshing-Technology-Conference.html" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Workshop | Pointwise Meshing Technology Conference" />
  <meta property="og:description" content="At this conference we will discuss the technology behind Pointwise, why certain methods were developed, and the best ways to use them to efficiently produce meshes for accurate CFD simulations." />
  <meta property="og:image" content="https://www.pointwise.com/workshops/2017-12-Germany/High-Order-Meshing.png" />

  <!-- META DATA -->
  <meta name="description" content="At this conference we will discuss the technology behind Pointwise, why certain methods were developed, and the best ways to use them to efficiently produce meshes for accurate CFD simulations.">
  <meta name="keywords" content="cfd meshing, mesh generation, grid generation, computational fluid dynamics, mesh generator, cfd software, cfd consultants, mesh software, grid software, fluid dynamics modeling" />

  <!-- CSS FILES -->
  <% include ../../partials/css-includes %>

</head>

<body id="page-top">

	<noscript>
		<p>
			In order to view this page JavaScript must be enabled in your browser.
		</p>
	</noscript>

	<!-- TOP NAVIGATION -->
	<% include ../../partials/navbar %>

  <div class="container">
    <div class="row">

      <div class="col-lg-8">
        <h1>Pointwise Meshing Technology Conference</h1>

        <p>
          Pointwise engineers have been developing CFD meshing software for over 30 years. At this conference we will discuss the technology behind Pointwise, why certain methods were developed, and the best ways to use them to efficiently produce meshes for accurate CFD simulations. Attend this free conference and explore the many ways Pointwise has become a worldwide leader in CFD preprocessing.
        </p>

        <ul>
          <li>See how Pointwise increases the accuracy, speed, and reliability of CFD analysis. </li>
          <li>Discover techniques for dealing with difficult CAD files and preparing them for meshing.</li>
          <li>Learn from our experience with CFD workshops and benchmarks.</li>
          <li>Review how others use Pointwise for demanding CFD applications.</li>
          <li>See future plans for Pointwise to improve CFD analyses even more.</li>
        </ul>

        <h2>Date</h2>

        <p>
          4-5 December 2017
        </p>

        <h2>Location</h2>

        <p>
          Maritim Hotel Stuttgart<br />
          Salon Koln<br />
          Seidenstraße 34<br />
          70174 Stuttgart<br />
          Germany<br />
          <a href="https://www.maritim.com/en/hotels/germany/hotel-stuttgart/maps-transportation" target="_blank" rel="noreferrer noopener">Map</a>
        </p>

        <h2>Agenda</h2>

        <p>
          <strong>Monday, 4 December</strong>
        </p>

        <div class="table-responsive">
          <table class="table">

            <tr>
              <th><strong>Time</strong></th>
              <th><strong>Topic</strong></th>
            </tr>

            <tr>
              <td>13:30</td>
              <td>Registration</td>
            </tr>

            <tr>
              <td>14:00</td>
              <td>Opening Remarks<br />Heather McCoy, Pointwise, Inc</td>
            </tr>

            <tr>
              <td>14:10</td>
              <td><em>Pointwise Overview</em><br />Rick Matus, Pointwise, Inc. </td>
            </tr>

            <tr>
              <td>15:00</td>
              <td><em>Higher Order CFD Meshing Methods</em><br />Nick Wyman, Pointwise, Inc.</td>
            </tr>

            <tr>
              <td>15:30</td>
              <td>Break</td>
            </tr>

            <tr>
              <td>16:00</td>
              <td><em>High-Quality Scalable Meshes – A Prerequisite for Quantification of Solution Errors and Uncertainties</em><br />Georg Scheuerer, ISimQ</td>
            </tr>

            <tr>
              <td>16:30</td>
              <td><em>Mastering Geometry Cleanup in Pointwise</em><br />Zach Davis, Pointwise, Inc.</td>
            </tr>

            <tr>
              <td>17:30</td>
              <td>Break before dinner</td>
            </tr>

            <tr>
              <td>19:00</td>
              <td>Restaurant R&ocirc;tisserie</td>
            </tr>

          </table>
        </div>

        <p>
          <strong>Tuesday, 5 December</strong>
        </p>

        <div class="table-responsive">
          <table class="table">

            <tr>
              <th><strong>Time</strong></th>
              <th><strong>Topic</strong></th>
            </tr>

            <tr>
              <td>08:30</td>
              <td>Registration/Light Breakfast (included)	</td>
            </tr>

            <tr>
              <td>09:00</td>
              <td><em>Lessons Learned from the 1st AIAA Geometry and Mesh Generation Workshop</em><br />Carolyn Woeber, Pointwise, Inc.</td>
            </tr>

            <tr>
              <td>10:00</td>
              <td><em>Mesh Topology Comparisons for Marine Propeller Simulations</em><br />Travis Carrigan, Pointwise, Inc.</td>
            </tr>

            <tr>
              <td>10:50</td>
              <td>Break</td>
            </tr>

            <tr>
              <td>11:15</td>
              <td><em>Techniques for Constructing High-Quality Structured Meshes</em><br />Uli Fuchs, CFD Beratung</td>
            </tr>

            <tr>
              <td>12:30</td>
              <td>Lunch (included)</td>
            </tr>

            <tr>
              <td>13:30</td>
              <td><em>IFCPT S-Duct Grid-Adapted FUN3D Computations for the 3rd Propulsion Aerodynamics Workshop</em><br />Zach Davis, Pointwise, Inc.</td>
            </tr>

            <tr>
              <td>14:15</td>
              <td><em>Techniques for Constructing High-Quality Unstructured Hexahedral Meshes </em><br />Nick Wyman, Pointwise, Inc.</td>
            </tr>

            <tr>
              <td>15:00</td>
              <td><em>Pointwise Road Map</em><br />Rick Matus, Pointwise, Inc.</td>
            </tr>

            <tr>
              <td>15:30</td>
              <td>Closing Remarks</td>
            </tr>

          </table>
        </div>

        <p>
          *Agenda subject to change without notice.
        </p>

        <h2>Syllabus</h2>

        <h2>Pointwise Overview</h2>

        <p>
          We will start with a brief history of Pointwise, Inc. and key developments over the years, followed by an introduction to the Pointwise software. Focus areas will include its unparalleled structured meshing techniques, more recently developed unique capabilities like T-Rex anisotropic extrusion, methods for dealing with CAD and discrete geometry, and ways to automate meshing with Glyph scripts.
        </p>

        <h2>Higher Order CFD Meshing Methods</h2>

        <img data-src="High-Order-Meshing.png" alt="High-Quality Unstructured Hexahedral Meshes" class="img-fluid center-block" />

        <p>
          In recent years, high order CFD methods have been an area of active research due to the potential of improved simulation accuracy at lower computational cost. A number of AIAA workshops have demonstrated that high order meshing for CFD remains a significant obstacle to widespread adoption of high order technology. Pointwise is taking an active role in the field of high order meshing, with a focus on practical meshing of real-world configurations. We will present the current status of Pointwise high order meshing, including examples on complex configurations.
        </p>

        <h2>High-Quality Scalable Meshes – A Prerequisite for Quantification of Solution Errors and Uncertainties</h2>

        <p>
          CFD results are increasingly used in early development stages to build, manufacture, and optimize virtual products before assembling physical prototypes. The success of such “digital” development strategies depends on the quality and reliability of the CFD results, and these, in turn, are largely controlled by the quality of the numerical grids.
        </p>

        <p>
          This presentation will highlight methods for quantifying the numerical errors and uncertainties of CFD results, increasing their reliability in product design. These methods require a sequence of numerical grids, with grid quality independent of mesh count, in order to work. The lecture will demonstrate a practical example of how this objective can be achieved using Pointwise meshing software.
        </p>

        <h2>Mastering Geometry Cleanup in Pointwise</h2>

        <img data-src="Matering-Geometry-Cleanup.png" alt="Mastering Geometry Cleanup in Pointwise" class="img-fluid center-block" />

        <p>
          Using imported CAD geometry as the basis for CFD meshing can be fraught with problems. This presentation demonstrates the suite of tools available in Pointwise to speed the CAD cleanup process. Complex, practical CAD examples will demonstrate how to visualize model tolerances, identify and heal gaps in geometry, apply strategies to identify and recreate missing surfaces, and determine the suitability of your CAD models prior to meshing.
        </p>

        <h2>Lessons Learned from the 1st AIAA Geometry and Mesh Generation Workshop</h2>

        <img data-src="Sym-Plane-Cut.png" alt="Lessons Learned from the 1st AIAA Geometry and Mesh Generation Workshop" class="img-fluid center-block" />

        <p>
          This presentation features an overview of the results and lessons learned from the 1st AIAA Geometry and Mesh Generation Workshop (GMGW). The 1st GMGW, held in conjunction with the 3rd AIAA CFD High Lift Prediction Workshop, provided a forum for participants across industry, academia, and government to meet and discuss their trade. Their collaboration allowed them to share the results and best practices related to CFD mesh generation techniques and processes. A group of 18 participants created mesh families for the NASA High Lift Common Research Model (HL-CRM), using both traditional and leading-edge techniques. The processes, resources, and challenges encountered were documented by participants, and addressed in a compilation of the results by workshop organizers.
        </p>

        <h2>Mesh Topology Comparisons for Marine Propeller Simulations</h2>

        <img data-src="Marine-Propeller.png" alt="Mesh Topology Comparisons for Marine Propeller Simulations" class="img-fluid center-block" />

        <p>
          This presentation will focus on simulation efficiency and its dependence on the mesh generation process. The aim is to better understand the relative merits and drawbacks of various meshing strategies, using a marine propeller as a model. The considered meshing strategies include hybrid and structured overset, introducing an approach for computing simulation efficiency, and exploring the process for generating each mesh. Best practices are highlighted with an emphasis on mesh quality, and the ease of surface and volumetric refinement. Each mesh is evaluated against the amount of time required to create the mesh, its cell count and quality, the accuracy of the results, and the time needed to run the simulation to a prescribed convergence threshold.
        </p>

        <h2>Techniques for Constructing High-Quality Structured Hexahedral Meshes</h2>

        <p>
          A good quality mesh leads in general to faster convergence and more accurate results. Pointwise offers various tools to create different types of meshes (structured, unstructured and hybrid). This presentation will focus on techniques for creating structured quadrilateral meshes in 2-D and hexahedral meshes in 3-D. The advantages of hexahedral elements over tetrahedral elements from a numerical point of view will be illustrated, along with ways to efficiently create multi-block structured meshes using either block assembly or extrusion. We will also cover block topologies that can be used to generate high-quality structured meshes for different geometries and how to use the elliptic solver to help improve mesh quality.
        </p>

        <h2>IFCPT S-Duct Grid-Adapted FUN3D Computations for the 3rd Propulsion Aerodynamics Workshop</h2>

        <img data-src="PAWS-F4-Structured.png" alt="IFCPT S-Duct Grid-Adapted FUN3D Computations for the 3rd Propulsion Aerodynamics Workshop" class="img-fluid center-block" />

        <p>
          FUN3D, the unstructured Reynolds-averaged Navier-Stokes code, has made strong contributions to the 3rd AIAA Propulsion Aerodynamics Workshop. Focusing on three diffusing IFCPT S-Duct cases, we examine the effect of output-based, off-body grid adaptation as a key enabler for improved CFD predictions. Using workshop-supplied grids, comparisons can be drawn between the baseline results for the S-Duct, the S-Duct with Aerodynamic Interface Plane (AIP) rake assembly, and the S-Duct with flow control devices, and results of the test data computed in FUN3D.
        </p>

        <h2>Techniques for Constructing High-Quality Unstructured Hexahedral Meshes</h2>

        <img data-src="Unstructured-Hex.png" alt="Techniques for Constructing High-Quality Unstructured Hexahedral Meshes" class="img-fluid center-block" />

        <p>
          Pointwise Version 18 includes new features enabling unstructured quad-dominant surface meshing and hex-dominant viscous layer meshing. This presentation describes techniques for efficient utilization of the new meshing features. We will discuss the methodology behind the new tools, and demonstrate unstructured hexahedral meshing on complex configurations.
        </p>

        <h2>Pointwise Road Map</h2>

        <p>
          Engineers at Pointwise have been developing CFD meshing software since the early 1980’s, but there is still much work to be done. This presentation will address both near term and long term development plans, focusing on the immediate problems that must be solved and longer range needs. We will discuss pertinent issues, such as higher-order CFD meshing, and mesh adaptation as outlined in the NASA CFD Vision 2030 study.
        </p>

        <div class="disqus" id="disqus_thread"></div>
        <script>

        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
        /*
        var disqus_config = function () {
        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };
      */
      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = '//letstalkmeshing.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

</div>

<div class="col-lg-1">
</div>

<div class="col-lg-3">

    <div class="input-group">
      <label for="search"><h4>Search Events</h4>
      <svg class="nav-lines">
        <line class="nav-blue-search" x1="0" y1="1" x2="130" y2="1"/>
        <line class="nav-grey-search" x1="130" y1="1" x2="275" y2="1"/>
      </svg>
    </label>
      <input type="text" id="search" class="form-control st-default-search-input">
    </div>

  <div class="lets-talk-nav">
    <h4>Share This</h4>
    <svg class="nav-lines">
      <line class="nav-blue-social" x1="0" y1="1" x2="100" y2="1"/>
      <line class="nav-grey-social" x1="100" y1="1" x2="275" y2="1"/>
    </svg>
    <div class="social-share">

      <!-- Facebook Share Button -->
      <a href="http://www.facebook.com/share.php?u=http://pointwise.com/workshops/2017-12-Germany/Pointwise-Meshing-Technology-Conference.html&title=Pointwise Meshing Technology Conference" target="_blank"><img data-src="../../solutions/images/Round-Facebook-30x30.svg" width="30px" alt="Facebook Icon" /></a>

      <!-- Twitter Share Button -->
      <a href="http://twitter.com/intent/tweet?status=Pointwise Meshing Technology Conference+http://www.pointwise.com/workshops/2017-12-Germany/Pointwise-Meshing-Technology-Conference.html"><img data-src="../../solutions/images/Round-Twitter-30x30.svg" width="30px" alt="Twitter Icon" /></a>

      <!-- LinkedIn Share Button -->
      <a href="http://www.linkedin.com/shareArticle?mini=true&url=http://www.pointwise.com/workshops/2017-12-Germany/Pointwise-Meshing-Technology-Conference.html&title=Pointwise Meshing Technology Conference&source=http://www.pointwise.com"><img data-src="../../solutions/images/Round-LinkedIn-30x30.svg" width="30px" alt="LinkedIn Icon"/></a>

      <!-- Share by Email -->
      <script type="text/javascript">
      function shareByEmail() {
        var link = "mailto:"
        + "&subject=" + escape(document.title)
        + "&body=" + escape(window.location) ;
        window.location.href= link;
      }
    </script>
    <a href="mailto:">
      <img data-src="../../solutions/images/Round-Email-30x30.svg" width="30px"
      alt="Email Icon"
      onclick="shareByEmail(); return false"/></a>
    </div>

  </div>

</div>
</div>

</div>

<!-- FOOTER -->
<% include ../../partials/footer %>

    <!-- JAVASCRIPT -->
    <% include ../../partials/js-includes %>

</body>
</html>
