<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Analytics -->
    <% include ../../partials/ga-includes %>

    <!-- META SETTINGS -->
    <% include ../../partials/meta-settings.ejs %>

  <!-- PAGE TITLE -->
  <title>Presentations from the Pointwise Meshing Technology Conference</title>

  <meta name="robots" content="noindex">

  <!-- CSS FILES -->
  <% include ../../partials/css-includes %>

</head>

<body id="page-top">

	<!-- TOP NAVIGATION -->
	<% include ../../partials/navbar %>

  <div class="container">
    <div class="row">

      <div class="col-lg-8">
        <h1>Presentations from the Pointwise Meshing Technology Conference</h1>

        <p>
          Thank you for your interest in the presentations from the Pointwise Meshing Technology Conference held in Stuttgart on 4-5 December 2017.
        </p>

        <hr />

        <!-- ========== Presentation 1 ========== -->
        <div class="row">
          <div class="col-lg-12 staff-block">
            <div class="pull-left staff-image">
              <h3 class="presentation-heading">Pointwise Overview</h3>
              <img class="media-object img-fluid" data-src="images/1-Overview.png" alt="Pointwise Overview">
            </div>
            <div>
              <p>
                We will start with a brief history of Pointwise, Inc. and key developments over the years, followed by an introduction to the Pointwise software. Focus areas will include its unparalleled structured meshing techniques, more recently developed unique capabilities like T-Rex anisotropic extrusion, methods for dealing with CAD and discrete geometry, and ways to automate meshing with Glyph scripts.
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <!-- CTA -->
          <div class="text-center cta-space">
            <a class="cta" href="assets/1-Pointwise-Overview.pdf" download>Download <span class="glyphicon glyphicon-save"></span></a>
          </div>
        </div>

        <hr />
        <!-- ========== Presentation 2 ========== -->
        <div class="row">
          <div class="col-lg-12 staff-block">
            <div class="pull-left staff-image">
              <h3 class="presentation-heading">Higher Order CFD Meshing Methods</h3>
              <img class="media-object img-fluid" data-src="images/2-High-Order.png" alt="Higher Order CFD Meshing Methods">
            </div>
            <div>
              <p>
                In recent years, high order CFD methods have been an area of active research due to the potential of improved simulation accuracy at lower computational cost. A number of AIAA workshops have demonstrated that high order meshing for CFD remains a significant obstacle to widespread adoption of high order technology. Pointwise is taking an active role in the field of high order meshing, with a focus on practical meshing of real-world configurations. We will present the current status of Pointwise high order meshing, including examples on complex configurations.
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <!-- CTA -->
          <div class="text-center cta-space">
            <a class="cta" href="assets/2-Pointwise-High-Order-Meshing.pdf" download>Download <span class="glyphicon glyphicon-save"></span></a>
          </div>
        </div>

        <hr />
        <!-- ========== Presentation 3 ========== -->
        <div class="row">
          <div class="col-lg-12 staff-block">
            <div class="pull-left staff-image">
              <h3 class="presentation-heading">High-Quality Scalable Meshes &ndash; A Prerequisite for Quantification of Solution Errors and Uncertainties</h3>
              <img class="media-object img-fluid" data-src="images/3-Quality.png" alt="High-Quality Scalable Meshes">
            </div>
            <div>
              <p>
                CFD results are increasingly used in early development stages to build, manufacture, and optimize virtual products before assembling physical prototypes. The success of such &ldquo;digital&rdquo; development strategies depends on the quality and reliability of the CFD results, and these, in turn, are largely controlled by the quality of the numerical grids.
              </p>
              <p>
                This presentation will highlight methods for quantifying the numerical errors and uncertainties of CFD results, increasing their reliability in product design. These methods require a sequence of numerical grids, with grid quality independent of mesh count, in order to work. The lecture will demonstrate a practical example of how this objective can be achieved using Pointwise meshing software.
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <!-- CTA -->
          <div class="text-center cta-space">
            <a class="cta" href="assets/3-Pointwise-Grid-Quality.pdf" download>Download <span class="glyphicon glyphicon-save"></span></a>
          </div>
        </div>

        <hr />
        <!-- ========== Presentation 4 ========== -->
        <div class="row">
          <div class="col-lg-12 staff-block">
            <div class="pull-left staff-image">
              <h3 class="presentation-heading">Mastering Geometry Cleanup in Pointwise</h3>
              <img class="media-object img-fluid" data-src="images/4-Geometry.png" alt="Mastering Geometry Cleanup in Pointwise">
            </div>
            <div>
              <p>
                Using imported CAD geometry as the basis for CFD meshing can be fraught with problems. This presentation demonstrates the suite of tools available in Pointwise to speed the CAD cleanup process. Complex, practical CAD examples will demonstrate how to visualize model tolerances, identify and heal gaps in geometry, apply strategies to identify and recreate missing surfaces, and determine the suitability of your CAD models prior to meshing.
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <!-- CTA -->
          <div class="text-center cta-space">
            <a class="cta" href="assets/4-Pointwise-Geometry-Cleanup.pdf" download>Download <span class="glyphicon glyphicon-save"></span></a>
          </div>
        </div>

        <hr />
        <!-- ========== Presentation 5 ========== -->
        <div class="row">
          <div class="col-lg-12 staff-block">
            <div class="pull-left staff-image">
              <h3 class="presentation-heading">Lessons Learned from the 1st AIAA Geometry and Mesh Generation Workshop</h3>
              <img class="media-object img-fluid" data-src="images/5-GMGW1.png" alt="Lessons Learned from the 1st AIAA Geometry and Mesh Generation Workshop">
            </div>
            <div>
              <p>
                This presentation features an overview of the results and lessons learned from the 1st AIAA Geometry and Mesh Generation Workshop (GMGW). The 1st GMGW, held in conjunction with the 3rd AIAA CFD High Lift Prediction Workshop, provided a forum for participants across industry, academia, and government to meet and discuss their trade. Their collaboration allowed them to share the results and best practices related to CFD mesh generation techniques and processes. A group of 18 participants created mesh families for the NASA High Lift Common Research Model (HL-CRM), using both traditional and leading-edge techniques. The processes, resources, and challenges encountered were documented by participants, and addressed in a compilation of the results by workshop organizers.
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <!-- CTA -->
          <div class="text-center cta-space">
            <a class="cta" href="assets/5-Pointwise-Lessons-Learned-GMGW1.pdf" download>Download <span class="glyphicon glyphicon-save"></span></a>
          </div>
        </div>

        <hr />
        <!-- ========== Presentation 6 ========== -->
        <div class="row">
          <div class="col-lg-12 staff-block">
            <div class="pull-left staff-image">
              <h3 class="presentation-heading">Mesh Topology Comparisons for Marine Propeller Simulations</h3>
              <img class="media-object img-fluid" data-src="images/6-Marine.png" alt="Mesh Topology Comparisons for Marine Propeller Simulations">
            </div>
            <div>
              <p>
                This presentation will focus on simulation efficiency and its dependence on the mesh generation process. The aim is to better understand the relative merits and drawbacks of various meshing strategies, using a marine propeller as a model. The considered meshing strategies include hybrid and structured overset, introducing an approach for computing simulation efficiency, and exploring the process for generating each mesh. Best practices are highlighted with an emphasis on mesh quality, and the ease of surface and volumetric refinement. Each mesh is evaluated against the amount of time required to create the mesh, its cell count and quality, the accuracy of the results, and the time needed to run the simulation to a prescribed convergence threshold.
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <!-- CTA -->
          <div class="text-center cta-space">
            <a class="cta" href="assets/6-Pointwise-Marine-Propeller-Meshing-Strategies.pdf" download>Download <span class="glyphicon glyphicon-save"></span></a>
          </div>
        </div>

        <hr />
        <!-- ========== Presentation 7 ========== -->
        <div class="row">
          <div class="col-lg-12 staff-block">
            <div class="pull-left staff-image">
              <h3 class="presentation-heading">Techniques for Constructing High-Quality Structured Hexahedral Meshes</h3>
              <img class="media-object img-fluid" data-src="images/7-Structured.png" alt="Techniques for Constructing High-Quality Structured Hexahedral Meshes">
            </div>
            <div>
              <p>
                A good quality mesh leads in general to faster convergence and more accurate results. Pointwise offers various tools to create different types of meshes (structured, unstructured and hybrid). This presentation will focus on techniques for creating structured quadrilateral meshes in 2-D and hexahedral meshes in 3-D. The advantages of hexahedral elements over tetrahedral elements from a numerical point of view will be illustrated, along with ways to efficiently create multi-block structured meshes using either block assembly or extrusion. We will also cover block topologies that can be used to generate high-quality structured meshes for different geometries and how to use the elliptic solver to help improve mesh quality.
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <!-- CTA -->
          <div class="text-center cta-space">
            <a class="cta" href="assets/7-Pointwise-Structured-Meshing.pdf" download>Download <span class="glyphicon glyphicon-save"></span></a>
          </div>
        </div>

        <hr />
        <!-- ========== Presentation 8 ========== -->
        <div class="row">
          <div class="col-lg-12 staff-block">
            <div class="pull-left staff-image">
              <h3 class="presentation-heading">IFCPT S-Duct Grid-Adapted FUN3D Computations for the 3rd Propulsion  Aerodynamics Workshop</h3>
              <img class="media-object img-fluid" data-src="images/8-Duct.png" alt="IFCPT S-Duct Grid-Adapted FUN3D Computations for the 3rd Propulsion  Aerodynamics Workshop">
            </div>
            <div>
              <p>
                FUN3D, the unstructured Reynolds-averaged Navier-Stokes code, has made strong contributions to the 3rd AIAA Propulsion Aerodynamics Workshop. Focusing on three diffusing IFCPT S-Duct cases, we examine the effect of output-based, off-body grid adaptation as a key enabler for improved CFD predictions. Using workshop-supplied grids, comparisons can be drawn between the baseline results for the S-Duct, the S-Duct with Aerodynamic Interface Plane (AIP) rake assembly, and the S-Duct with flow control devices, and results of the test data computed in FUN3D.
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <!-- CTA -->
          <div class="text-center cta-space">
            <a class="cta" href="assets/8-Pointwise-Mesh-Adaptation.pdf" download>Download <span class="glyphicon glyphicon-save"></span></a>
          </div>
        </div>

        <hr />
        <!-- ========== Presentation 8 ========== -->
        <div class="row">
          <div class="col-lg-12 staff-block">
            <div class="pull-left staff-image">
              <h3 class="presentation-heading">Techniques for Constructing High-Quality Unstructured Hexahedral Meshes</h3>
              <img class="media-object img-fluid" data-src="images/9-DrivAer.png" alt="Techniques for Constructing High-Quality Unstructured Hexahedral Meshes">
            </div>
            <div>
              <p>
                Pointwise Version 18 includes new features enabling unstructured quad-dominant surface meshing and hex-dominant viscous layer meshing. This presentation describes techniques for efficient utilization of the new meshing features. We will discuss the methodology behind the new tools, and demonstrate unstructured hexahedral meshing on complex
                configurations.
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <!-- CTA -->
          <div class="text-center cta-space">
            <a class="cta" href="assets/9-DrivAer.pdf" download>Download <span class="glyphicon glyphicon-save"></span></a>
          </div>
        </div>

      </div>

      <div class="col-lg-1">
      </div>

      <div class="col-lg-3">

        <div class="conn-nav-home">
          <div class="input-group">
            <label for="search"><h4>Search Events</h4>
            <svg class="nav-lines">
              <line class="nav-blue-search" x1="0" y1="1" x2="130" y2="1"/>
              <line class="nav-grey-search" x1="130" y1="1" x2="275" y2="1"/>
            </svg>
          </label>
            <input type="text" id="search" class="form-control st-default-search-input">
          </div>
        </div>

    </div>
  </div>

</div>

<!-- FOOTER -->
<% include ../../partials/footer %>

    <!-- JAVASCRIPT -->
    <% include ../../partials/js-includes %>
</body>
</html>
